<div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1 uptop">
 <div class="row">
 	<h2>Update Profile</h2>
 </div>
 <hr>
 <div class="updatepro"> 
  <div class="pictitle">
   <h4>Update Your Image</h4>
   <div>
     <img src="assets/images/people.png" alt="Avatar" class="avatar" *ngIf = "!profi">
     <img src="{{profi}}" alt="no pic" *ngIf = "profi" style="border-radius: 50%; width:150px; height:150px;">
     <input type="file" (change)="onFileUploaded($event)">
   </div>
    <!-- <img src="assets/images/people.png" alt="Avatar" class="avatar"> -->
	 <!-- <div class="avatar-edit" style="margin-left: 9px;height: 35px;width: 45%;">
       <label for="cameraicon" class="share-media-button__label mvA share-media-button__label--square">
       <input type="file" class="imgup" id="imageUpload" accept=".png, .jpg, .jpeg" (change)="onFileUploaded($event)">
       <svg viewBox="0 0 24 24" style="margin-left:18px; margin-top:0px;" class="vide" color="#3770a0" width="30px" height="30px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon" focusable="false">
       <path d="M21,6H18L16.5,3h-9L6,6H3A1,1,0,0,0,2,7V19a1,1,0,0,0,1,1H21a1,1,0,0,0,1-1V7A1,1,0,0,0,21,6ZM7.36,8l1.5-3h6.28l1.5,3H20v2H16.58a5,5,0,0,0-9.16,0H4V8H7.36Zm7.76,4A3.13,3.13,0,1,1,12,8.88,3.13,3.13,0,0,1,15.13,12ZM4,18V11H7.1a5,5,0,1,0,9.8,0H20v7H4Z" class="large-icon" style="fill: currentColor"></path>
       </svg>
       </label>
      </div> -->
   </div>
 </div>
<hr>
<div class="row">
<mat-dialog-content>
  <form [formGroup]="ownerUpdateProfile">
   <ng-template matStepLabel>Personal Details</ng-template>
     <div class="row frmcls">
        <div class="col-md-4">
          <div class="tabheader"> Basic Details</div>
          <div class="example-container">
            <mat-form-field class = "algncenter">
              <input matInput placeholder="FIrstName" formControlName = "first_name">
            </mat-form-field>
            <br>
            <mat-form-field class = "algncenter">
              <input matInput placeholder="LastName" formControlName = "last_name">
            </mat-form-field>
            <br>
            <mat-form-field class = "algncenter">
              <input matInput placeholder="Gender" formControlName = "gender">
            </mat-form-field>
            <br>
            <mat-form-field class = "algncenter">
              <input matInput placeholder="DateofBirth" formControlName = "dob">
            </mat-form-field>
            <br>
            <mat-form-field class = "algncenter">
              <input matInput placeholder="EmailId" formControlName = "emailid">
            </mat-form-field>
            <br>
            <mat-form-field class = "algncenter">
              <input matInput placeholder="Mobile Number" formControlName = "mobile">
            </mat-form-field>
            <br>
        </div>
    </div>
    <div class="col-md-4 ">
          <div class="tabheader"> Present Address</div>
          <div class="example-container">
            <mat-form-field class = "algncenter">
              <input matInput placeholder="Address Line1" formControlName = "Address1">
            </mat-form-field>
            <br>
            <mat-form-field class = "algncenter">
              <input matInput placeholder="Address Line2" formControlName = "Address2">
            </mat-form-field>
            <br>
            <mat-form-field class = "algncenter">
              <input matInput placeholder="State" formControlName = "state">
            </mat-form-field>
            <br>
            <mat-form-field class = "algncenter">
              <input matInput placeholder="District" formControlName = "district">
            </mat-form-field>
            <br>
            <mat-form-field class = "algncenter">
              <input matInput placeholder="City" formControlName = "city">
            </mat-form-field>
            <br>
            <mat-form-field class = "algncenter">
              <input matInput placeholder="Pincode" formControlName = "pincode">
            </mat-form-field>
            <br>
        </div>
    </div>
    <div class="col-md-4 ">
          <div class="tabheader"> Permanent Address</div>
          <div class="example-container">
            <mat-form-field class = "algncenter">
              <input matInput placeholder="Address Line1" formControlName = "Address11">
            </mat-form-field>
            <br>
            <mat-form-field class = "algncenter">
              <input matInput placeholder="Address Line2" formControlName = "Address12">
            </mat-form-field>
            <br>
            <mat-form-field class = "algncenter">
              <input matInput placeholder="State" formControlName = "state1">
            </mat-form-field>
            <br>
            <mat-form-field class = "algncenter">
              <input matInput placeholder="District" formControlName = "district1">
            </mat-form-field>
            <br>
            <mat-form-field class = "algncenter">
              <input matInput placeholder="City" formControlName = "city1">
            </mat-form-field>
            <br>
            <mat-form-field class = "algncenter">
              <input matInput placeholder="Pincode" formControlName = "pincode1">
            </mat-form-field>
            <br>
        </div>
    </div>
</div>
</form>
</mat-dialog-content>
</div>
</div>
