<div class="col-md-10 col-md-offset-1 pagtop">
	<mat-accordion *ngFor="let data of detailsdata">
	  <mat-expansion-panel>
	    <mat-expansion-panel-header>
	      <mat-panel-title class="col-md-4">
		      <img src="../../assets/images/people.png" class="proffiicon-img" *ngIf="!data.owner_propic">
		      <img src="{{data.owner_propic}}" class="proffi-img" *ngIf="data.owner_propic">
	      </mat-panel-title>	      
	      <mat-panel-description class="col-md-4 tpmargn">
	        {{data.full_name}}
	      </mat-panel-description>
	      <mat-panel-description class="col-md-4 tpmargn">
	        {{data.mobile_number}}
	      </mat-panel-description>
	       <mat-panel-description class="col-md-4 tpmargn">
	        {{data.email_id}}
	      </mat-panel-description>
	    </mat-expansion-panel-header>
	    <div *ngFor="let data1 of data.verifiers">
	    <div class="col-md-4">
	    	<p>Verifier Name: {{data1.verifier_name}}</p>
	    </div>
	    <div class="col-md-4">
	    	<p>Contact Email Id: {{data1.verifierEmailId}} </p>
	    </div>
	    <div class="col-md-4">
	    	<p>Contact Mobile Number: {{data1.verifierMobile}} </p>
	    </div>
	</div>
	  </mat-expansion-panel>
	  <mat-expansion-panel (opened)="panelOpenState = true"
	                       (closed)="panelOpenState = false">
	  </mat-expansion-panel>
	  <div style="margin-top: 10px;"></div>
	</mat-accordion>
</div>

