input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  margin-left: 10px;
  background-color: transparent;
  padding: 12px 20px 12px 20px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 80%;
}
.sele{
	color: white;
	background-color: transparent;
	width: 155px;
	height: 47px;
	border-radius: 4px;

}
.sele option{
	background-color: black;
	font-size: 18px;
}

.proffi-img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
}

.proffiicon-img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
}
.tpmargn{
  margin-top: 15px;
}