<div class="col-md-10 col-md-offset-1 ownerprofi">
	<div class="row divbg">
		<div class="col-md-3 rmcolpad">
			<div *ngIf="ownerDetails.profile_pic == 'nopic'">
		      <img src="../../assets/images/people.png" class="dataowner-img-seek">
		    </div>
		    <div *ngIf="ownerDetails.profile_pic != 'nopic'">
		      <img src="{{ownerDetails.profile_pic}}" class="dataowner-img-seek">
		    </div>
		</div>
		<div class="col-md-3 rmcolpad topspace">
			<p><u>Name</u></p>
			<h4>{{ownerDetails.First_name}} {{ownerDetails.Last_name}}</h4>
		</div>
		<div class="col-md-3 rmcolpad topspace">
			<p><u>Mobile Number</u></p>
			<h4>{{ownerDetails.mobile_number}}</h4>
		</div>
		<div class="col-md-3 rmcolpad topspace">
			<p><u>Email</u></p>
			<h4>{{ownerDetails.email_id}}</h4>
		</div>
	</div>
	<div *ngFor ="let depdocs of userAllDocs, let i = index" >
		<div class="row divbg divpad">
			<div *ngIf="depdocs.length == 0">
				<h4 style="text-align: left">{{docCategs[i]}}</h4>
				<p>No Documents Available</p>
			</div>
			<div *ngIf="depdocs.length != 0">
				<div class="row hidshowtab" (click)="showtable(depdocs)">
					<h4 class="catrgcs">{{docCategs[i]}}</h4>
					<div class="col-md-4 col-md-offset-4"><h4>Total Documnets : {{depdocs.length}}</h4></div>
					<div class="col-md-4">
						<i class="material-icons viewicon">{{iconName}}</i>
					</div>
				</div>
				<table class="table" *ngIf="selectedd == depdocs[0]['documentType']">
					<thead>
						<tr>
							<th>Document Name</th>
							<th>Document</th>
							<th>Uploaded Date</th> 
							<th>Verifier Status</th>
							<th>Pehachain Status</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let depdoc of depdocs">
							<td>{{depdoc.docName}}</td>
							<td>
								<img src="{{depdoc.document}}" class="docimg" (click)="viewDocumnet(depdoc)">
							</td>
							<td>{{depdoc.UploadedDateTime | slice:0:-30}}</td>
							<td>
								<span class="glyphicon glyphicon-exclamation-sign status-icon-pending"
					                  *ngIf="depdoc.verifierStatus == 'PENDING'"></span>
					            <span class="glyphicon glyphicon-ok-sign status-icon-approved"
					              *ngIf="depdoc.verifierStatus == 'APPROVED'"></span>
					            <span class="glyphicon glyphicon-remove-sign status-icon-declined"
					              *ngIf="depdoc.verifierStatus == 'DECLINED'"></span>
								{{depdoc.verifierStatus}}
								<span *ngIf="depdoc.verifierStatus != 'PENDING'" class="dtimecs">{{depdoc.verifierVerifiedDateTime | slice:0:-30}}</span>
								<span *ngIf="depdoc.verifierStatus == 'PENDING'" class="dtimecs">&nbsp;</span>
							</td>
							<td>
								<span class="glyphicon glyphicon-exclamation-sign status-icon-pending"
					                  *ngIf="depdoc.adminVerifyStatus == 'PENDING'"></span>
					            <span class="glyphicon glyphicon-ok-sign status-icon-approved"
					              *ngIf="depdoc.adminVerifyStatus == 'APPROVED'"></span>
					            <span class="glyphicon glyphicon-remove-sign status-icon-declined"
					              *ngIf="depdoc.adminVerifyStatus == 'DECLINED'"></span>
								{{depdoc.adminVerifyStatus}}
								<span *ngIf="depdoc.adminVerifyStatus != 'PENDING'" class="dtimecs">{{depdoc.adminVerifiedDateTime | slice:0:-30}}</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="row acbtn">
		<button class="btn btn-primary" routerLink="/DataAccessor/Seeker">Back</button>
	</div>
</div>

<style type="text/css">
	.rmcolpad{
		padding: 0px;
	}
	.ownerprofi{
		text-align: center;
		color: white;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.divbg{
		box-shadow: 0px 0px 2px 0px #e6e6e6;
		margin-top: 20px;
		background-color: rgba(80, 77, 77, 0.47);
		padding-bottom: 5px;
	}
	.docimg{
		width: 20px;
		height: 20px;
	}
	.dtimecs{
		display: block;
		font-size: 12px;
		color:#a29f9f;
	}
	.status-icon-approved{
		color:#5cb85c;
	}
	.status-icon-pending{
		color:yellow;
	}
	.status-icon-declined{
		color:#f7625e;
	}
	.divpad{
		padding:0px 15px;
	}
	
	.hidshowtab{
		cursor: pointer;
	}
	.viewicon{
		margin-top: 4px;
		font-size: 30px;
	}
	.dataowner-img-seek{
		width: 70px;
		height: 70px;
		border-radius: 50%;
	}
	.topspace{
		margin-top: 10px;
	}
	.catrgcs{
		text-align: left;
		margin-bottom: 0px;
		margin-left: 15px;
	}
	.acbtn{
		text-align: left;
		margin-top:20px;
	}

</style>