<div class="col-md-12">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 routingdivsbrdr">
    <div id="myDIV" class="row">		
		<div class="col-md-2 col-sm-12 col-xs-12 xcolmdcss">
			 <h4 class="btncls active" (click)="newreqfun()" id="newreq">New Permissions</h4>
		</div>
		<div class="col-md-2 col-sm-12 col-xs-12 xcolmdcss">
			<h4 class="btncls" (click)="pendingfun()" id="pending">Pending Permissions <span class="badge badgeicon">{{pendingSeekerReq.length}}</span></h4>
	    </div>
		<div class="col-md-2 col-sm-12 col-xs-12 xcolmdcss">
			 <h4 class="btncls" (click)="approvedfun()" id="approved">Approved Permissions<span class="badge badgeicon">{{approvedSeekerReq.length}}</span></h4>
		</div>
		<div class="col-md-2 col-sm-12 col-xs-12 xcolmdcss">
			 <h4 class="btncls" (click)="declinedfun()" id="declined">Declined Permissions<span class="badge badgeicon">{{declinedSeekerReq.length}}</span></h4>
		</div>
		<div class="col-md-2 col-sm-12 col-xs-12 xcolmdcss">
			 <h4 class="btncls" (click)="declinedfun()" id="completed">Completed Permissions<span class="badge badgeicon">{{completedSeekerReq.length}}</span></h4>
		</div>
	</div>








			<!-- <div class="row routingdivs">
				<div class="col-md-2 col-sm-12 col-xs-12 xcolmdcss">
					<div (click)="newreqfun()">
						<p class="routingdivsbtn" id="newreq">
						  New Request
						</p>
					</div>
				</div> 
				<div class="col-md-2 col-sm-12 col-xs-12 xcolmdcss">
					<div (click)="pendingfun()">
						<p class="routingdivsbtn" id="pending">
						  Pending Requests
						  <span class="badge badgeicon">{{pendingSeekerReq.length}}</span>
						</p>
					</div>
				</div>
				<div class="col-md-2 col-sm-12 col-xs-12 xcolmdcss">
					<div (click)="approvedfun()">
						<p class="routingdivsbtn"  id="approved">
						  Approved Requests
						  <span class="badge badgeicon">{{approvedSeekerReq.length}}</span>
						</p>
					</div>
				</div>
				<div class="col-md-2 col-sm-12 col-xs-12 xcolmdcss">
					<div (click)="declinedfun()">
						<p class="routingdivsbtn"  id="declined">
						  Declined Requests
						  <span class="badge badgeicon">{{declinedSeekerReq.length}}</span>
						</p>
					</div>
				</div>
				<div class="col-md-2 col-sm-12 col-xs-12 xcolmdcss">
					<div (click)="completedfun()">
						<p class="routingdivsbtn" id="completed">
						  Completed Requests
						  <span class="badge badgeicon">{{completedSeekerReq.length}}</span>
						</p>
					</div>
				</div>
			</div> -->
		</div>
	</div>
	<div class="row ngmatcss" *ngIf="newrequestdiv">
		<form >
			<div class="col-md-10 col-md-offset-1 tablediv">
				<div class="searchdiv col-md-offset-3 col-md-6">
					<div class="col-md-8 col-lg-8 col-sm-8 col-xs-8 example-container">
						<mat-form-field class="example-full-width">
						    <input type="text" placeholder="Enter Mobile Number" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="ownermobile" minlength="10" maxlength="10" (keypress)="keyPress($event)" required>
						    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
						      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
						        {{option}}
						      </mat-option>
						    </mat-autocomplete>
						</mat-form-field>
					</div>
					<div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 searchbtn">
						<button class="btn btn-primary searchbtn1" (click)="getownerdetails(ownermobile)" [disabled] = "!myControl.valid">Submit</button>
					</div>
				</div>
				<div *ngIf="dtaownerdiv == false" class="col-md-12 col-sm-12 col-xs-12 txt">
					<h3>Mobile Number Doesnot Exist.</h3>
				</div>
				<div class="dtaown txt" *ngIf="dtaownerdiv == true">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12 txt">
							<div>
								<div *ngIf="!ownerDetails.profile_pic">
							      <img src="../../assets/images/people.png" class="dataowner-img">
							    </div>
							    <div *ngIf="ownerDetails.profile_pic">
							      <img src="{{ownerDetails.profile_pic}}" class="dataowner-img">
							    </div>
							</div>
							<h4>{{ownerDetails.First_name}} {{ownerDetails.Last_name}}</h4>
							<h4>{{ownerDetails.mobile_number}}</h4>
							<h4>{{ownerDetails.email_id}}</h4>
						</div>
						
					</div>
					<div class="row sendreqbtn">
						<button class="btn btn-primary" (click)='sendSeekReq(ownerDetails)'>Send Request</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="row" *ngIf="!newrequestdiv">
		<div class="">
			<div class="col-md-10 col-md-offset-1 tablediv">
				<div class="row">
					<div class="col-md-6 col-xs-12 col-sm-12">
						<a href="Pending_Requests" class="linktagg">
						</a>
					</div>
				</div>
				<table class=" hidden-sm hidden-xs table  table-bordered">
				  <thead>
				    <tr>
				      <th scope="col">User Name</th>
				      <th scope="col">Mobile</th>
				      <th scope="col">Email</th>
				      <th scope="col">Req Date</th>
				      <th scope="col" *ngIf= "enableAction">Action</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr *ngFor="let ownerReqDetail of ownerReqDetails">
				      <td>{{ownerReqDetail.owner_name}}</td>
				      <td>{{ownerReqDetail.owner_phone}}</td>
				      <td>{{ownerReqDetail.owner_email}}</td>				     
			      		<td class="dtime1">{{ownerReqDetail.ReqDate | slice:0:19}}</td>
				      <td *ngIf="enableAction">
				      	<button class="btn btn-primary" (click)="ownerInfoFun(ownerReqDetail.owner_id, ownerReqDetail.owner_phone)" *ngIf="ownerReqDetail.payment_status == 'paid' ">View</button>
				      	<button class="btn btn-primary" (click)="moveToPayment(ownerReqDetail)" *ngIf="ownerReqDetail.payment_status != 'paid' " >Pay</button>
				      </td>
				    </tr>
 				  </tbody>
				</table>
			</div>
		</div>
	</div>
</div>


<style type="text/css">
	.xcolmdcss{
		width: 19.666%;
	}
	@media only screen and (min-width: 300px) and (max-width:800px){
		.xcolmdcss{
			width: 100%;
		}
	}

</style>