<div class="row cancelbtn">
	<button class="btn btn-default " (click) = "closeimage()" mat-raised-button>Close</button>
</div>
<div class="row">
    <img src="{{seekerDoc.document}}" height="800px" width="100%">
</div>
<style type="text/css">
	.cancelbtn{
		text-align: right;
	}
</style>