<div class="row">
  <div class="iconsucces">
   <h3>Successfull</h3>
 </div>
  <mat-dialog-content>
    <p id="messagestyle">Request sent successfully..</p> <br>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="row btndiv">
      <button mat-raised-button class="successbutton" (click)="closepopup()">OK</button>
    </div>
  </mat-dialog-actions>
</div>



<style type="text/css">

  .sucessreg{
    color: #2c4f71;
  }
  .iconsucces{
    background-color: #2c4f71;
    color: white;
    text-align: center;
    padding: 12px;
    margin: -25px -10px 25px;
  }
  #messagestyle{
    text-align: center;
    color: black; 
    font-size: 20px;
  }
  .successbutton{
    background-color:#2c4f71;
    color: white;
    float: right;
    /*margin-bottom: 13px;*/
    /*margin-left: 171px;*/
  }
  .btndiv{
    text-align: right;
    margin-right: 15px;
  }
  .mat-dialog-actions{
    display: inline !important;
  }
 

</style>