<div class="col-md-10 col-md-offset-1 pagtop">
	<mat-accordion *ngFor="let payInfo of adminPayinfo">
	  <mat-expansion-panel>
	   <mat-expansion-panel-header>			
			<mat-panel-title class="col-md-3" matTooltip="Seeker Name" >
				Verifier Name : {{payInfo.verifier_name}}
			</mat-panel-title>
			<mat-panel-description class="col-md-3"  matTooltip="Amount">
				Amount : {{payInfo.amount}}
			</mat-panel-description>
			<mat-panel-description class="col-md-3"  matTooltip="Owner Name">
				Owner Name : {{payInfo.owner_name}}
			</mat-panel-description>
			<mat-panel-description class="col-md-3">
				<svg style="width:24px;height:24px" viewBox="0 0 24 24">
			    <path fill="#008000" d="M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2M11,16.5L18,9.5L16.59,8.09L11,13.67L7.91,10.59L6.5,12L11,16.5Z" />
			</svg>	      	
				{{payInfo.transaction_status}}
			</mat-panel-description>
			</mat-expansion-panel-header>
	        <div class="col-md-3">
				<p>Transaction Id: {{payInfo.transaction_id}}</p>
				<p>Verifier Mobile: {{payInfo.verifier_phone}}</p>	    	
			</div>
			<div class="col-md-3">
				<p>Transcation date: {{payInfo.transaction_date}}</p>	 
				<p>Verifier Email: {{payInfo.verifier_email}}</p>	   	
			</div>
			<div class="col-md-3">
				<p>Transcation Status: {{payInfo.transaction_status}}</p>
				<p>Owner Mobile: {{payInfo.owner_mobile}}</p>	    	
			</div>
			<div class="col-md-3">
				<p>Order Id: {{payInfo.order_id}}</p>
				<p>Owner Email: {{payInfo.owner_email}}</p>		    	
			</div>
	  </mat-expansion-panel>
	  <mat-expansion-panel (opened)="panelOpenState = true"
	                       (closed)="panelOpenState = false">
	  </mat-expansion-panel>
	  <div style="margin-top: 10px;"></div>
	</mat-accordion>
</div>

<div style="text-align:center" *ngIf="adminPayinfo.length == 0">
	<h1>No Records Found.</h1>
</div>
