<div class="col-md-10 col-md-offset-1 pgtop"> 
  <mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup" (ngSubmit)="submitorgreg()">
        <ng-template matStepLabel>Organization Data</ng-template>
          <div class="row">
            <div class="col-md-6 example-container">
              <mat-form-field>
                <mat-select formControlName="orgCat" type="text" placeholder="Organisation Category" (selectionChange)="getCategory($event.value)"  required >
  
                <mat-option *ngFor="let stats of orgcategory" value={{stats.org}}>{{stats.org}}</mat-option>
                </mat-select>
                <mat-error *ngIf="orgform.orgCat.invalid">Organisation Category is required</mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-select formControlName="orgType" type="text" placeholder="Organization Type" required >
                <mat-option  *ngFor="let orgtype of orgtype1" value={{orgtype.category}}>{{orgtype.category}}</mat-option>
                </mat-select>
                <mat-error *ngIf="orgform.orgType.invalid">Organization type is required</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput formControlName="orgName" type="text" placeholder="Organisation Name" required>
                <mat-error *ngIf="orgform.orgName.invalid">Organisation name is required</mat-error>
              </mat-form-field>           
              <mat-form-field>
                <input matInput formControlName="dirName" (keypress)="keyPress2($event)" placeholder="Director Name" minlength="1" maxlength="30" required>
                <mat-error *ngIf="orgform.dirName.invalid">Director Name is required</mat-error>
              </mat-form-field>
              <mat-form-field >
                <input matInput formControlName="dirPhone" type="text" placeholder="Director Phone Number" 
               (keypress)="keyPress($event)" minlength="10" maxlength="10" required>
                <mat-error *ngIf="orgform.dirPhone.invalid">Director Mobile Number is required and should be 10 digits</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput formControlName="dirEmail" type="email" placeholder="Director Email" required>
                 <mat-error *ngIf="orgform.dirEmail.untouched || orgform.dirEmail.invalid">Director Email is required and should be valid</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput formControlName="contName" (keypress)="keyPress2($event)" placeholder="Contact Name" minlength="1" maxlength="30" required>
                <mat-error *ngIf="orgform.contName.invalid">Contact Name is required</mat-error>
              </mat-form-field>
              <mat-form-field >
                <input matInput formControlName="contPhone" type="text" placeholder="Contact Phone Number" 
               (keypress)="keyPress($event)" minlength="10" maxlength="10" readonly required>
                <mat-error *ngIf="orgform.contPhone.invalid">Contact Mobile Number is required and should be 10 digits</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput formControlName="contEmail" type="email" placeholder="Contact Email"   required>
                 <mat-error *ngIf="orgform.contEmail.untouched || orgform.contEmail.invalid">Contact Email is required and should be valid</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6 example-container">            
              <mat-form-field>
                 <input matInput formControlName="address" placeholder="Registered Address Line 1"  required>
                 <mat-error *ngIf="orgform.address.invalid">Address is required</mat-error>
              </mat-form-field>
              <mat-form-field>
                 <input matInput formControlName="address1" placeholder="Registered Address Line 2 (optional)">
              </mat-form-field>
              <mat-form-field>
                <mat-select formControlName="state" type="text" placeholder="State" 
                (selectionChange)="getdistricts($event.value)" required>
                <mat-option *ngFor="let stats of state" value={{stats.mystate}}>{{stats.mystate}}</mat-option>
                </mat-select> 
                <mat-error *ngIf="orgform.state.invalid">State is required</mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-select formControlName="district" type="text" placeholder="District"  required>
                 <mat-option *ngFor="let dis of districtsn" value={{dis.mydistrict}}>{{dis.mydistrict}}</mat-option>
                </mat-select> 
                <mat-error *ngIf="orgform.district.invalid">District is required</mat-error>
              </mat-form-field>
              <mat-form-field>
                 <input matInput formControlName="pincode" type="text" placeholder="Pincode" (keypress)="keyPress1($event)" required minlength="6" maxlength="6" required>
                 <mat-error *ngIf="orgform.pincode.invalid">Pincode is required and should be 6 digits</mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-select placeholder="Bank Name" formControlName="bankName" class="matvalue" required>
                <mat-option *ngFor="let bank of BankNames" value={{bank}}>{{bank}}
                </mat-option>
                </mat-select>
                <mat-error *ngIf="orgform.bankName.invalid">Bank Name is required</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="IFSC Code" formControlName = "ifscCode" id="ifsc" minlength="11" maxlength="11" (input)="ifscvalid()" required>
                <mat-error *ngIf="orgform.ifscCode.invalid">IFSC code is required and should be valid</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Account Number" formControlName = "acNumber" (keypress)="keyPress1($event);" minlength="8" maxlength="16" required>
                <mat-error *ngIf="orgform.acNumber.invalid">Account Number is required</mat-error>
              </mat-form-field>
            </div>
          </div>
        <div>
          <button mat-button routerLink="//initialreg" class="bkbtn">Back</button>
          <button mat-button matStepperNext class="nxtbtn" [disabled]="!firstFormGroup.valid" type="submit">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Upload Documnets</ng-template>
          <div class="col-md-4 divhigt">
            <label>ID Proof</label>
              <input type="file" accept=".jpeg,.png,.pdf,.jpg" formControlName="docName" (change)="orgDocumentUpload($event, 'Id Proof')" placeholder="Upload Your File" class="fileinput" >
              <p *ngIf="orgform1.docName.invalid" style="color:red"> Document is Required</p>
          </div>
          <div class="col-md-4 divhigt">
            <label>Address Proof</label>
              <input type="file" accept=".jpeg,.png,.pdf,.jpg" formControlName="docName1" (change)="orgDocumentUpload($event, 'Address Proof')" placeholder="Upload Your File" class="fileinput" >
              <p *ngIf="orgform1.docName1.invalid" style="color:red"> Document is Required</p>
          </div>
          <div class="col-md-4 divhigt">
            <label>PAN Card</label>
              <input type="file" accept=".jpeg,.png,.pdf,.jpg" formControlName="docName2" (change)="orgDocumentUpload($event, 'Pan Card')" placeholder="Upload Your File" class="fileinput" >
              <p *ngIf="orgform1.docName2.invalid" style="color:red"> Document is Required</p>
          </div>
          <div class="col-md-4 divhigt">
            <label>Bank Statement</label>
              <input type="file" accept=".jpeg,.png,.pdf,.jpg" formControlName="docName3" (change)="orgDocumentUpload($event, 'Bank Statement')" placeholder="Upload Your File" class="fileinput" >
              <p *ngIf="orgform1.docName3.invalid" style="color:red"> Document is Required</p>
          </div>
          <div class="col-md-4 divhigt" *ngIf="(firstFormGroup.value.orgType == 'Partnership Firms') || (firstFormGroup.value.orgType == 'Trust, Society, Unincorporated Association & Club')">
            <label>Ceritification of Registration</label>
              <input type="file" accept=".jpeg,.png,.pdf,.jpg" formControlName="docName4" (change)="orgDocumentUpload($event, 'Ceritification of Registration')" placeholder="Upload Your File" class="fileinput" >
              <p *ngIf="orgform1.docName4.invalid" style="color:red"> Document is Required</p>
          </div>
          <div class="col-md-4 divhigt" *ngIf="(firstFormGroup.value.orgType == 'Private/Public Limited Company')">
            <label>Cerificate of Incoporation</label>
              <input type="file" accept=".jpeg,.png,.pdf,.jpg" formControlName="docName5" (change)="orgDocumentUpload($event, 'Cerificate of Incoporation')" placeholder="Upload Your File" class="fileinput" >
              <p *ngIf="orgform1.docName5.invalid" style="color:red"> Document is Required</p>
          </div>        
          <div class="col-md-4 divhigt" *ngIf="(firstFormGroup.value.orgType == 'Partnership Firms') || (firstFormGroup.value.orgType == 'Private/Public Limited Company') || (firstFormGroup.value.orgType == 'Trust, Society, Unincorporated Association & Club')">
            <label>GST</label>
              <input type="file" accept=".jpeg,.png,.pdf,.jpg" formControlName="docName6" (change)="orgDocumentUpload($event, 'GST')" placeholder="Upload Your File" class="fileinput" >
              <p *ngIf="orgform1.docName6.invalid" style="color:red"> Document is Required</p>
          </div>
          <div class="col-md-4 divhigt" *ngIf="(firstFormGroup.value.orgType == 'Partnership Firms') || (firstFormGroup.value.orgType == 'Private/Public Limited Company') || (firstFormGroup.value.orgType == 'Trust, Society, Unincorporated Association & Club')">
            <label>Power of Attorney (POA)</label>
              <input type="file" accept=".jpeg,.png,.pdf,.jpg" formControlName="docName7" (change)="orgDocumentUpload($event, 'Power of Attorney')" placeholder="Upload Your File" class="fileinput" >
              <p *ngIf="orgform1.docName7.invalid" style="color:red"> Document is Required</p>
          </div>        
          <div class="col-md-4 divhigt" *ngIf="(firstFormGroup.value.orgType == 'Non-Individuals')">
            <label>Hindu Undivided Family (HUF)</label>
              <input type="file" accept=".jpeg,.png,.pdf,.jpg" formControlName="docName8" (change)="orgDocumentUpload($event, 'Hindu Undivided Family')" placeholder="Upload Your File" class="fileinput" >
              <p *ngIf="orgform1.docName8.invalid" style="color:red"> Document is Required</p>
          </div>
          <div class="col-md-4 divhigt" *ngIf="(firstFormGroup.value.orgType == 'Non-Individuals')">
            <label>Declaration from the Karta</label>
              <input type="file" accept=".jpeg,.png,.pdf,.jpg" formControlName="docName9" (change)="orgDocumentUpload($event, 'Declaration from the Karta')" placeholder="Upload Your File" class="fileinput" >
              <p *ngIf="orgform1.docName9.invalid" style="color:red"> Document is Required</p>
          </div>
          <div class="col-md-4 divhigt" *ngIf="(firstFormGroup.value.orgType == 'Non-Individuals')">
            <label>Proof of Identification/Address Proof of Karta</label>
              <input type="file" accept=".jpeg,.png,.pdf,.jpg" formControlName="docName10" (change)="orgDocumentUpload($event, 'Proof of Identification/Address Proof of Karta')" placeholder="Upload Your File" class="fileinput" >
              <p *ngIf="orgform1.docName10.invalid" style="color:red"> Document is Required</p>
          </div>
          <div class="col-md-4 divhigt" *ngIf="(firstFormGroup.value.orgType == 'Non-Individuals')">
            <label>Prescribed Joint Hindu Family letter signed by all the adult co-parceners.</label>
              <input type="file" accept=".jpeg,.png,.pdf,.jpg" formControlName="docName11" (change)="orgDocumentUpload($event, 'Prescribed Joint Hindu Family letter signed by all the adult co-parceners')" placeholder="Upload Your File" class="fileinput" >
              <p *ngIf="orgform1.docName11.invalid" style="color:red"> Document is Required</p>
          </div>
          <div class="col-md-4 divhigt" *ngIf="(firstFormGroup.value.orgType == 'Non-Individuals')">
            <label>The identity of adult co-parceners.</label>
              <input type="file" accept=".jpeg,.png,.pdf,.jpg" formControlName="docName12" (change)="orgDocumentUpload($event, 'The identity of adult co-parceners')" placeholder="Upload Your File" class="fileinput" >
              <p *ngIf="orgform1.docName12.invalid" style="color:red"> Document is Required</p>
          </div>
          
          <div class="col-md-4 divhigt" *ngIf="(firstFormGroup.value.orgType == 'Sole Proprietorship Firm')">
            <label>Registration Certificate</label>
              <input type="file" accept=".jpeg,.png,.pdf,.jpg" formControlName="docName13" (change)="orgDocumentUpload($event, 'Registration Certificate')" placeholder="Upload Your File" class="fileinput" >
              <p *ngIf="orgform1.docName13.invalid" style="color:red"> Document is Required</p>
          </div>
          <div class="col-md-4 divhigt" *ngIf="(firstFormGroup.value.orgType == 'Sole Proprietorship Firm')">
            <label>License from Municipal authorities</label>
              <input type="file" accept=".jpeg,.png,.pdf,.jpg" formControlName="docName14" (change)="orgDocumentUpload($event, 'License from Municipal authorities')" placeholder="Upload Your File" class="fileinput" >
              <p *ngIf="orgform1.docName14.invalid" style="color:red"> Document is Required</p>
          </div>
          <div class="col-md-4 divhigt" *ngIf="(firstFormGroup.value.orgType == 'Sole Proprietorship Firm')">
            <label>Sales and income tax returns</label>
              <input type="file" accept=".jpeg,.png,.pdf,.jpg" formControlName="docName15" (change)="orgDocumentUpload($event, 'Sales and income tax returns')" placeholder="Upload Your File" class="fileinput" >
              <p *ngIf="orgform1.docName15.invalid" style="color:red"> Document is Required</p>
          </div>
          <div class="col-md-4 divhigt" *ngIf="(firstFormGroup.value.orgType == 'Sole Proprietorship Firm')">
            <label>CST/ VAT certificate</label>
              <input type="file" accept=".jpeg,.png,.pdf,.jpg" formControlName="docName16" (change)="orgDocumentUpload($event, 'CST/ VAT certificate')" placeholder="Upload Your File" class="fileinput" >
              <p *ngIf="orgform1.docName16.invalid" style="color:red"> Document is Required</p>
          </div>
          <div class="col-md-4 divhigt" *ngIf="(firstFormGroup.value.orgType == 'Sole Proprietorship Firm')">
            <label>Registration document of Sales/Service/Professional authorities.</label>
              <input type="file" accept=".jpeg,.png,.pdf,.jpg" formControlName="docName17" (change)="orgDocumentUpload($event, 'Registration document of Sales/Service/Professional authorities')" placeholder="Upload Your File" class="fileinput" >
              <p *ngIf="orgform1.docName17.invalid" style="color:red"> Document is Required</p>
          </div>
          <div class="col-md-4 divhigt" *ngIf="(firstFormGroup.value.orgType == 'Partnership Firms')">
            <label>Partnership deed</label>
              <input type="file" accept=".jpeg,.png,.pdf,.jpg" formControlName="docName18" (change)="orgDocumentUpload($event, 'Partnership deed')" placeholder="Upload Your File" class="fileinput" >
              <p *ngIf="orgform1.docName18.invalid" style="color:red"> Document is Required</p>
          </div>
          <div class="col-md-4 divhigt" *ngIf="(firstFormGroup.value.orgType == 'Partnership Firms')">
            <label>Owners list holding more than 15% in the firm.</label>
              <input type="file" accept=".jpeg,.png,.pdf,.jpg" formControlName="docName19" (change)="orgDocumentUpload($event, 'Owners list holding more than 15% in the firm')" placeholder="Upload Your File" class="fileinput" >
              <p *ngIf="orgform1.docName19.invalid" style="color:red"> Document is Required</p>
          </div>
          <div class="col-md-4 divhigt" *ngIf="(firstFormGroup.value.orgType == 'Private/Public Limited Company')">
            <label>Owners list holding 25% share or capital.</label>
              <input type="file" accept=".jpeg,.png,.pdf,.jpg" formControlName="docName20" (change)="orgDocumentUpload($event, 'Owners list holding 25% share or capital')" placeholder="Upload Your File" class="fileinput" >
              <p *ngIf="orgform1.docName20.invalid" style="color:red"> Document is Required</p>
          </div>
          <div class="col-md-4 divhigt" *ngIf="(firstFormGroup.value.orgType == 'Private/Public Limited Company')">
            <label>Memorandum & Articles of Association (MOA)</label>
              <input type="file" accept=".jpeg,.png,.pdf,.jpg" formControlName="docName21" (change)="orgDocumentUpload($event, 'Memorandum & Articles of Association')" placeholder="Upload Your File" class="fileinput" >
              <p *ngIf="orgform1.docName21.invalid" style="color:red"> Document is Required</p>
          </div>
          <div class="col-md-4 divhigt" *ngIf="(firstFormGroup.value.orgType == 'Trust, Society, Unincorporated Association & Club')">
            <label>Trust Deed</label>
              <input type="file" accept=".jpeg,.png,.pdf,.jpg" formControlName="docName22" (change)="orgDocumentUpload($event, 'Trust Deed')" placeholder="Upload Your File" class="fileinput" >
              <p *ngIf="orgform1.docName22.invalid" style="color:red"> Document is Required</p>
          </div>
          <div class="col-md-4 divhigt" *ngIf="(firstFormGroup.value.orgType == 'Trust, Society, Unincorporated Association & Club')">
            <label>Beneficial owners list</label>
              <input type="file" accept=".jpeg,.png,.pdf,.jpg" formControlName="docName23" (change)="orgDocumentUpload($event, 'Beneficial owners list')" placeholder="Upload Your File" class="fileinput" >
              <p *ngIf="orgform1.docName23.invalid" style="color:red"> Document is Required</p>
          </div>
        <div class="col-md-12">
          <button mat-button matStepperPrevious class="bkbtn">Back</button>
          <button mat-button matStepperNext class="nxtbtn" (click) = "submitOrgRegDocs()">Submit</button>
        </div>
      </form>
    </mat-step>
    
  </mat-horizontal-stepper>
  </div>
  
    
  <style type="text/css">
    .pgtop{
      margin-top: 4%;
    }
    .example-container {
      display: flex;
      flex-direction: column;
    }
  
    .example-container > * {
      width: 80%;
      margin-bottom: 20px;
    }
  
    .divhigt{
      /*margin-top:20px; */
      height: 110px;
      padding: 10px;
    }
  </style>