<div class="" style="margin-top: 45px;">
	 <table class="table table-bordered tbl">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">SEEKER NAME</th>
              <th scope="col">MOBILE NUMBER</th>
              <th scope="col">SEEKER STATUS</th>
              <th scope="col">OWNER NAME</th>
              <th scope="col">MOBILE NUMBER</th>
              <th scope="col">OWNER STATUS</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>GTPL</td>
              <td>9834567890</td>
              <td>
              	<div>
                  <span class="glyphicon glyphicon-remove-sign status-icon-declined"></span> <span class="status-txt-declined">Declined</span>
                  <p>12-02-2019</p>
                </div>
              </td>
              <td>
                Deepika
              </td>
              <td>
               7868798798
              </td>
              <td>
              	<div>
                  <span class="glyphicon glyphicon-ok-sign status-icon-approved"></span>
                  <span class="status-txt-approved">Approved</span>
                  <p>21-02-2019</p>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>IBM</td>
              <td>9834567890</td>
              <td>
              	<div>
                  <span class="glyphicon glyphicon-ok-sign status-icon-approved"></span>
                  <span class="status-txt-approved">Approved</span>
                  <p>5-01-2019</p>
                </div>
              </td>
              <td>
                Rupesh
              </td>
              <td>
               7868798798
              </td>
              <td>
              	<div>
                  <span class="glyphicon glyphicon-exclamation-sign status-icon-pending"></span>
                  <span class="status-txt-pending">Pending</span>
                  <p>08-01-2019</p>
                </div>
              </td>
             
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>INFOSYS</td>
              <td>9834567890</td>
               <td>
              	<div>
                  <span class="glyphicon glyphicon-ok-sign status-icon-approved"></span>
                  <span class="status-txt-approved">Approved</span>
                  <p>07-01-2019</p>
                </div>
              </td>
              <td>
                Mahesh
              </td>
              <td>
               7868798798
              </td>
              <td>
              	<div>
                  <span class="glyphicon glyphicon-ok-sign status-icon-approved"></span>
                  <span class="status-txt-approved">Approved</span>
                  <p>07-02-2019</p>
                </div>
              </td>
            </tr>
        </tbody>
    </table>
</div>
