/*-=============> new forgot password start css=================*/
.txt{
    text-align: center;
}
.form-control {
  background-color: transparent;
}
.newbody .form-group input {
  border: steelblue;
  width: 100%;
  background: rgba(0, 0, 0, 0.45);
  border-style: solid;
  border-width: thin;
  box-shadow: 0px 0px 5px 1px rgba(51, 122, 183, 0.75);
}
.pwdcls{
    border: 1px solid darkgrey;
}
.listerr{
    padding: 5px;
    text-align: left;
}
.reset{
    border: 1px solid;
    color: black;
    margin-top: 10%;
    text-align: center;
}
.reset-text{
    padding: 17px 0px;
    color: rgba(0, 0, 0, 0.88);
    font-size: 17px;
}
.reset1{
    /*border: 1px solid;*/
    color: black;
    margin-top: 10%;
    text-align: center;
}
.reset1-text{
    padding: 17px 0px;
    color: rgba(0, 0, 0, 0.88);
    font-size: 17px;
}
.sbmt{
    display: inline-block;
    margin-top: 25px;
}
.btnbtm{
     margin:20px 0px;
}
.btn1{
    color: #1470bf;
    padding: 6px 45px;
    background: #ffffff;
}
.submitbutton {
    font-size: 17px;
    border-radius: 3px;
    font-weight: bolder;
}
/*=================forgot password end===============*/
.submitbutton3 {
    color: white;
    border-radius: 5px;
    font-weight: bolder;
    border:none;
    background: #126ab5;
}
.text-new label {
    color: rgb(35, 86, 129);
    font-weight: bolder;
    margin: 10px 0px;
    color: black;
    float: left;
}
.OTP{
    padding: 19px 16px;
    font-size: 16px;
    border-color: rgba(0, 0, 0, 0.59);
}
.submitbutton2 {
    color: white;
    border-radius: 3px;
    padding: 8px 45px;
    font-weight: bolder;
    margin-top: 37px;
    background: #126ab5;
}
.submit{
    margin-left: 2px;
}
.lgbttn{
    padding: 5px 40px;
}

.form-group {
  margin-bottom: 0.5rem;
}

@media only screen and (min-width:320px) and (max-width: 767px) {
   
    .btn1{
        padding: 1px 10px;
    }
    .txt{
        font-size: 26px;
      }
    .submitbutton3{
        padding: 0px 0px;
    }
    .lgbttn{
    padding: 3px 17px;
}
.reset{
    margin-top: 25%;
}
}

