<form name="form" (ngSubmit)="forgetPasswordForm.form.valid && onSubmit(mobile_number)" #forgetPasswordForm="ngForm" novalidate>
  <div class=" col-xs-12 col-sm-12 col-lg-6 col-lg-offset-3 col-md-offset-3 col-md-6 reset">
    <h2 class="txt">Let's find your account</h2>
    <div class="col-md-12 col-sm-12 col-xs-12 reset-text">
      <p>Please enter your registered mobile number</p>
    </div>
    <div class="col-md-10 col-md-offset-1 form-group" [class.has-error]="mobilenumberControl.invalid && mobilenumberControl.touched">
      <input required id="mobile_number" name="mobile_number" [(ngModel)]="mobile_number" (keypress)="keyPress($event)" type="text" class="form-control" #mobilenumberControl="ngModel" placeholder="Enter your Mobile Number" minlength="10" maxlength="10">
      <span style="color:red">{{error_mobileno}}</span>
      <div style="color:red" *ngIf="forgetPasswordForm.submitted && mobilenumberControl.invalid" class="invalid-feedback">
        <div *ngIf="mobilenumberControl.errors.required">Mobile Number is Required
        </div>
      </div>
    </div>
    <div class="col-md-12 col-xs-12 col-sm-12 btnbtm">
      <div class="col-md-6 col-xs-6 col-sm-6 txt">
        <button class="btn btn-basic lgbttn" type="button" (click)="login123()">Cancel
        </button>
      </div>
      <div class="col-md-6 col-xs-6 col-sm-6 txt">
        <button class="btn btn-primary lgbttn" type="submit">submit</button>
      </div>
    </div>
  </div>
</form>
