  <div class="col-md-12 col-xs-12 col-sm-12 reset1">
<div class="container-fluid form-gap">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <h3 class="text-center">Reset Your Password</h3>

<form [formGroup]="passwordFormGroup" (ngSubmit)="onclickRegister(passwordFormGroup.value)">
    <!-- <div [formGroup]="passwordFormGroup"> -->
 <div class="form-group">
            <!-- <label for="password">Password</label>
            <input class="form-control" type="password" name="password" formControlName="password"  required> -->
             <div class="col-md-12 col-xs-12 text-new">
                   <label>New Password</label>
                    <input type="password" formControlName="password" (input)="passwordcheck(passwordFormGroup.value.password)" class="form-control" placeholder="Enter your New password" ng-pattern="pass" required data-toggle="collapse" href="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample1" required>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="row">
                                            <div class="collapse multi-collapse" id="multiCollapseExample1" >
                                                <div class="pwdcls" style="border: 1px solid darkgrey">
                                                <li class="listerr">
                                                    <span *ngIf="pwdf1">
                                                      <img src="assets/images/tick.png" style="width:25px; height: 25px;"></span>
                                                    <span *ngIf="!pwdf1"><img src="assets/images/wrong.png" style="width:25px; height: 25px;"></span>
                                                    Be atleast 8 character</li>
                                                <li class="listerr">
                                                    <span *ngIf="pwdf2"><img src="assets/images/tick.png" style="width:25px; height: 25px;"></span>
                                                    <span *ngIf="!pwdf2"><img src="assets/images/wrong.png" style="width:25px; height: 25px;"></span>
                                                    Include a number</li>
                                                <li class="listerr">
                                                    <span *ngIf="pwdf3"><img src="assets/images/tick.png" style="width:25px; height: 25px;"></span>
                                                    <span *ngIf="!pwdf3"><img src="assets/images/wrong.png" style="width:25px; height: 25px;"></span>
                                                    Include a Special character</li>
                                                <li class="listerr">
                                                    <span *ngIf="pwdf4"><img src="assets/images/tick.png" style="width:25px; height: 25px;"></span>
                                                    <span *ngIf="!pwdf4"><img src="assets/images/wrong.png" style="width:25px; height: 25px;"></span>
                                                    Include an uppercase letter</li>
                                                <li class="listerr">
                                                    <span *ngIf="pwdf5"><img src="assets/images/tick.png" style="width:25px; height: 25px;"></span>
                                                    <span *ngIf="!pwdf5"><img src="assets/images/wrong.png" style="width:25px; height: 25px;"></span>
                                                    Include a lowercase letter</li>
                                             
                                                 </div>
                                            </div>
                                        </div>
                                        </div>
                                    
                </div>
       
        <span *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <span *ngIf="f.password.errors.required">Password is required</span>
        </span>
        <div class="form-group">
          <div class="col-md-12 col-xs-12 text-new">
            <label for="repeatPassword">Confirm Password</label>
            <input class="form-control" type="password" name="repeatPassword" formControlName="repeatPassword"  placeholder="Confirm New Password"  required>
          </div>
        </div>
      
        <p class="invalid-feedback" *ngIf="submitted && f.repeatPassword.errors?.required && f.repeatPassword.untouched">Confirm password is required</p>
        <p style="color: red;" class="invalid-feedback" *ngIf="passwordFormGroup.errors?.doesMatchPassword">Password does not match</p>
   </div>
    <!-- </div> -->

    <div class="form-group">
      <div class="col-md-12 col-xs-12 sbmt">

        <button class=" btn btn-primary " type="submit" [disabled]="!passwordFormGroup.valid" >Reset Password</button>
    </div>
 </div>
</form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="modal fade" #Resetpopup>
        <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header loanModalHeader">
                 
                  <h5 class="modal-title"> Password Reset</h5>
                  
                </div>
                <div class="modal-body">
                        <p class="text-center">Password Updated Successfully</p>
                </div>
                <div class="text-center"> 
                  <button class="btn btn-primary" >OK</button>
                </div>
                        
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
 

 
 
