<div class=" col-xs-12 col-md-offset-3 col-md-6 ">
  <div class="row reset">
      <h2>We just sent you OTP</h2>
     <div class="col-md-12 col-xs-12 reset-text">
        <p>Please enter OTP sent to your registered mobile number.</p>
     </div>
     <div class="col-md-10 col-md-offset-1 col-xs-12 col-sm-12 ">
         <input type="text" name="OTP" (keypress)="keyPress($event)" class="form-control OTP" [(ngModel)]="votp.otp" placeholder="Enter your OTP" minlength="6" maxlength="6" dont-begin-with-zero="0-9" ng-change="forgotpassword()">
         <span style="color:red">{{invalidotp}}</span>
     </div>
     <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 btnbtm">
        <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
          <button class="btn btn-primary lgbttn" [disabled]="!votp.otp" (click)="enterOTP(votp)">Verify OTP</button> 
        </div>
        <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
          <button class="btn btn-primary lgbttn"  (click)="resendotp()">Resend OTP</button>
        </div>
    </div>    
  </div>
</div>
