<div class="contatiner-fluid">
  <div class="iconsucces">
  <h3>Successfull</h3> 
  </div>
  <!-- <h2 mat-dialog-title class="sucessreg">Congratulations!!!</h2> -->
  <mat-dialog-content>
    <p id="messagestyle">PIN Generated successfully ..</p> <br>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="row btndiv">
      <button mat-raised-button class="successbutton" (click)="closepopup()">OK</button>
    </div>
  </mat-dialog-actions>
</div>






<style type="text/css">
  .sucessreg{
    color: green;
  }
  .iconsucces{
    background-color: #2c4f71;
    color: white;
    text-align: center;
    padding: 12px;
    margin: -25px -26px 25px;
  }
  #messagestyle{
    text-align: center;
    color: black; 
    font-size: 20px;
  }
  .successbutton{
    background-color:#2c4f71;
    color: white;
    float: right;
  }
  .btndiv{
    text-align: right;
    margin-right: 15px;
  }
  .mat-dialog-actions{
    display: inline !important;
  }
 

</style>