 <div class="verification">
  <div>
    <div *ngIf="!profi">
      <img src="../assets/images/people.png" class="verify-img">
    </div>
    <div *ngIf="profi">
      <img src="{{profi}}" class="verify-img">
    </div>
    <div>
      <button class="btn btn-default butn butn1" id="pinid" (click)="hidshowpinfun()">PIN</button>
      <button class="btn btn-default butn butn2" id="otpid" (click)="hidshowotpfun()">OTP</button>
    </div>
  </div>
  <hr class="hrr">
  <div class="verifybody">
    <div *ngIf="hideshowdivotp">
      <span>OTP sent to ******{{last4digits}}</span>
      <br>
      <p class="resend" (click)="getMobilefun()">Resend</p>
        <div class="modelbody">
          <mat-form-field >
            <input matInput placeholder="Please Enter OTP"  [(ngModel)]="verify.otp" (input)="callotpType(verify.otp)" (keypress)="keyPress($event);" only-digits minlength="6" maxlength="6" required>
          </mat-form-field>
          <div *ngIf="pnotverified" style="color:red;"><span>Invalid OTP</span></div>
          <div *ngIf="pverified" style="color:green;">Verified <span class="glyphicon glyphicon-ok"></span></div>
        </div>
        
        <div class="submitbtn">
          <button class="btn btn-default cancelbtn" (click) = "closepop()" mat-raised-button>Cancel</button>
          <!-- <button class="btn btn-primary" (click) = "otpVerify()" mat-raised-button>Submit</button> -->
        </div>
    </div>    
    <div *ngIf="hideshowdivpin">
      <a><p class="newpin" (click)="generatepin()" *ngIf="newpindiv">Generate New Pin</p></a>
      <div *ngIf="newpindiv">
        <div class="modelbody1">
           <mat-form-field>
              <input matInput placeholder="Please Enter PIN"  [(ngModel)]="verify.pin" (input)="verifyPinFun(verify.pin)" (keypress)="keyPress($event);" only-digits minlength="6" maxlength="6" required>
           </mat-form-field>
           <p *ngIf="pinErrorMsg" style="color: red">Enter Valid PIN</p>
           <p *ngIf="pinNotSet" style="color: red">Please Set the Pin First</p>
        </div>
        <hr>
        <div class="submitbtn">
          <button class="btn btn-default cancelbtn" (click) = "closepop()" mat-raised-button>Cancel</button>
          <!-- <button class="btn btn-primary" mat-raised-button>Submit</button> -->
        </div> 
    </div>
    <div *ngIf="!newpindiv">
      <span *ngIf="pininput">OTP sent to ******{{last4digits}}</span>
      <br>
      <p class="resend" (click)="getMobilefun()" *ngIf="pininput">Resend</p>
       <div class="modelbody" *ngIf="pininput">
          <mat-form-field >
            <input matInput placeholder="Please Enter OTP"  [(ngModel)]="newpin.otp" (input)="callotpPin(newpin.otp)" (keypress)="keyPress($event);" only-digits minlength="6" maxlength="6" required>
          </mat-form-field>
          <div *ngIf="pnotverified" style="color:red;"><span>Invalid OTP</span></div>
          <div *ngIf="pverified" style="color:green;">Verified <span class="glyphicon glyphicon-ok"></span></div>
        </div>
        <div>
        <form [formGroup]="NewFristFormGroup">
          <div class="modelbody" *ngIf="!pininput">
            <mat-form-field>
              <input matInput placeholder="Enter 6digit New Pin" formControlName="newpin" (keypress)="keyPress($event);" only-digits minlength="6" maxlength="6" required>
              <!-- <mat-error *ngIf="personalform.newpin.invalid">Org valid mobile number is required</mat-error> -->
            </mat-form-field>
          </div>
        </form>
        <hr>
        <div class="submitbtn">
          <button class="btn btn-default cancelbtn" (click) = "closepop()" mat-raised-button>Cancel</button>
          <button class="btn btn-primary" mat-raised-button *ngIf="!pininput" [disabled] = "!(NewFristFormGroup.valid)" (click)="newpinfun(NewFristFormGroup.value.newpin)">Submit</button>
        </div> 
        
      </div>
    </div>
  </div>
  
    
  </div>  
 </div>
 <style type="text/css">
    .verification{
      text-align: center;
    }
   .butn1{
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
     }
   .butn2{
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;      
   }
   .butn{
    padding: 10px 50px;
    border:1px solid #2e6da4;
    outline:none;
   }
   .butn:hover{
    background-color: #2e6da4 
   }

   .butn:focus {
      outline: none;
    }
   .verfy-icon{
    font-size: 50px;
   }
   .verifybody{

   }
   .modelbody{
    margin-top: 20px;
    margin-bottom: 30px;
   }
   .modelbody1{
    margin-top: 30px;
    margin-bottom: 30px;
   }
   .submitbtn{
    float: right;
    /*text-align: center;*/
    bottom: 0;
    /*margin-top: 20px;*/
   }
   .cancelbtn{
    margin-right: 20px;
   }
   .verify-img{
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
    border-radius: 50%;
   }
   .sndbtn{
    background-color: #ccc; 
   }
   .mat-dialog-container {
    padding: 10px;
   }
   .hrr{
    margin-bottom: 0px;
   }
   .resend{
    color:blue;
    margin-top: 10px;
    margin-bottom: 0px;
   }
   .resend:hover{
    text-decoration: underline;
    cursor: pointer;
   }
   .newpin{
    text-align: center;
    cursor: pointer;
   }
   @media screen and (min-width:300px) and (max-width:700px){
      .butn{
        padding: 10px 40px;
      }
   }
 </style>
 