<div class="col-md-12 col-sm-12 col-xs-12">
<div class="row maindiv">
   <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12 col-md-offset-1 col-lg-offset-1" >
        <img src="assets/images/Fresher1.png" class="icon-icon1"><br>
        
        <button class="btn btn-primary regbtn" routerLink="/expreg">I am an Individual</button>
        <br>
        <p>I have just graduated/I haven't worked after graduation.
        <br>
        I have at least 1 month of work experience.</p>    
      </div>
     
      <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12 " >
        <img src="assets/images/Corporate1.png" class="icon-icon3"><br>
        
        <button class="btn btn-primary regbtn" routerLink="/orgreg">I am an Organisation</button>
       <br>

        <p>I have just graduated/I haven't worked after graduation.
        <br>
        I have at least 1 month of work experience.</p>
      </div>
      
    </div>
</div>
<style type="text/css">
  .regbtn{
    width:300px;
  }
</style>

