<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 headercs">
    <div class="col-md-4 col-sm-6 col-xs-6 col-lg-4 logodiv rmcolpad" >
      <a routerLink="/" ><img src="../../assets/images/Logonew.png" class="logooicon"/></a>
      <span class="logotxt">PEHACHAIN</span>
    </div>
    <div class="col-md-8 col-sm-6 col-xs-6 col-lg-8 txtright rmcolpad">
      <a routerLink="/signup"><input tabindex="1" class=" hidden-md hidden-lg signbtncs" type="submit" value="Sign Up"/></a>
      <a routerLink="/signup"><input tabindex="1" class="hidden-xs hidden-sm signbtncs1" type="submit" value="Register Now ?"/></a>
      <a routerLink="/login" class="btnspace"><input tabindex="1" class="signbtncs" type="submit" value="Login"/></a>
    </div>   
  </div>
  <div class="col-md-12 ">
    <div class="row">
        <div id="video-container">
            <video onloadedmetadata="this.muted=true" autoplay loop="true">
          <source src="../../assets/videos/test1.mp4" type="video/mp4">
        </video>
        </div>
    </div>
  </div>

  <style type="text/css">
  #video-container{
    margin-top:0%;
    position: relative;
    overflow-x:hidden;
    opacity: .4;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    position: fixed;
   } 
    video {
        width: 100vw;
        transform: scaleX(1);
        
    }
    .btnspace{
      margin-left: 10px;
    }
    .txtright{
      text-align: right;
    }
    .headercs{
    background-color: #2c4f71;;
    z-index: 20;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    padding: 5px;
  }
   .logooicon{
    vertical-align: middle;
    width: 20px;
    height: 25px;
    margin-top: -8px;
  }
   .logotxt{
    color: #fff;
    font-size: 25px;
    margin-left: 5px;
    font-weight: bolder;
  }
  .signbtncs1{
    color: #fff;
    background-color: transparent;
    border: hidden;
    font: caption;
    margin-top: 8px;
  }
  .signbtncs{
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 2px;
    padding: 5px 20px;
    margin: 0 10px;
    outline: none;
  }
  .signbtncs:hover{
    background-color: #fff;
    color: #000;
  }
  @media screen and (min-width: 300px) and (max-width: 800px) {
    .logotxt{
      font-size: 18px;
    }
    .logodiv{
      margin-top: 5px;
    }
    .txtright{
      text-align: left;
    }
    .signbtncs{
      padding: 1px 3px;
      margin-top: 2px;
    }
    .btnspace{
      margin-left: 5px;
    }
    .rmcolpad{
      padding: 0px;
    }
  }
  </style>