<div class="signupPage col-md-12 col-sm-12 col-xs-12">
	<div class="row">
		<div class="col-md-offset-4 col-md-4 col-xs-12 signupbox">
			<div class="row">
				<form>
					<div class="modal-header modalhead" style="color: white;">
						<h3 class="modal-title" style="text-align:center; font-size: 16px;">CREATE YOUR ACCOUNT&nbsp;</h3>
					</div>
					<div class="modal-body">
						<form name="memberlandingform" (ngSubmit)="saveData(registerForm)" [formGroup]="registerForm"
							class="form-vertical">
							<div class="form-group ">
								<label for="fullname" class="control-label text-right">Full Name</label>
								<div>
									<input type="text" class="form-control" formControlName="fullname" size="25" id="fullname"
										placeholder="please type your name" maxlength="120" style="text-transform: capitalize;"
										(keypress)="keyPress1($event)">
									<div *ngIf="submitted && !!memberlandingform.fullname.errors">
										<div *ngIf="!!memberlandingform.fullname.errors.required" style="color:red;">Name is required</div>
									</div>
								</div>
							</div>
							<div class="form-group ">
								<label for="mobilenumber" class=" membermobile text-right">Mobile Number</label>
								<div>
									<div class="input-group">
										<input type="text" (keypress)="mobnum($event)" (input)="checknum(registerForm.value.mobilenumber)"
											id="mobnum" formControlName="mobilenumber" placeholder="Enter your mobile number"
											class="form-control" minlength="10" maxlength="10" required>
										<span class="input-group-btn">
											<button class="btn btn-default btn-primary" style="color:white;" [disabled]="mobNum" type="button"
												(click)="generateotp(registerForm.value)">
												<div class="loader"></div>{{sendotp == true ? 'Send OTP' : 'Resend'}}
											</button>
										</span>

										<span class="input-group-btn" *ngIf="false">
											<button class="btn btn-default btn-success" type="button"><span
													class="glyphicon glyphicon-ok"></span>
											</button>
										</span>
									</div>
									<div *ngIf="!sendotp" style="color:red;">OTP Sent</div>
									<div style="color:red;">{{mobilenum_exist}}</div>
									<div *ngIf="submitted && !!memberlandingform.mobilenumber.errors">
										<div *ngIf="!!memberlandingform.mobilenumber.errors.required" style="color:red;">Mobile number is
											required</div>
										<div *ngIf="!!memberlandingform.mobilenumber.errors.minlength" style="color:red;">Mobile number must
											be 10 digits.</div>
									</div>
									<!-- <span style="color:red;float: left;" ng-hide="verified">{{exists}}</span> -->
								</div>
							</div>
							<div class="form-group " *ngIf="!sendotp">
								<label for="OTP" class="text-right">OTP</label>
								<div>
									<input type="text" class="form-control" formControlName="OTP"
										(input)="callType(registerForm.value.OTP)" placeholder="Enter your OTP"
										(keypress)="keyPress($event);" only-digits minlength="6" maxlength="6" required>
									<span *ngIf="otperror" style="color:red;float: left;">{{otperror}}</span>
								</div>
								<div *ngIf="verified" style="color:green;">Verified <span class="glyphicon glyphicon-ok"></span></div>
							</div>
							<div class="form-group " *ngIf="verified">
								<label for="password" class="text-right"> Create Password</label>
								<div>
									<input type="password" formControlName="password" (input)="passwordcheck(registerForm.value.password)"
										class="form-control" placeholder="Enter your password" required data-toggle="collapse"
										href="#multiCollapseExample1" role="button" aria-expanded="false"
										aria-controls="multiCollapseExample1">
									<div class="col-md-12 col-sm-12 col-xs-12" id="collapse">
										<div class="row">
											<div class="collapse multi-collapse" id="multiCollapseExample1">
												<div class="pwdcls" style="border: 1px solid darkgrey">
													<li class="listerr">
														<span *ngIf="pwdf1 === true; else elseSpan"><img src="assets/images/tick.png"
																style="width:25px; height: 25px;"></span>
														<ng-template #elseSpan> <img src="assets/images/wrong.png"
																style="width:25px; height: 25px;"></ng-template>
														Be atleast 8 character
													</li>
													<li class="listerr">
														<span *ngIf="pwdf2"><img src="assets/images/tick.png"
																style="width:25px; height: 25px;"></span>
														<span *ngIf="!pwdf2"><img src="assets/images/wrong.png"
																style="width:25px; height: 25px;"></span>
														Include a number</li>
													<li class="listerr">
														<span *ngIf="pwdf3"><img src="assets/images/tick.png"
																style="width:25px; height: 25px;"></span>
														<span *ngIf="!pwdf3"><img src="assets/images/wrong.png"
																style="width:25px; height: 25px;"></span>
														Include a Special character</li>
													<li class="listerr">
														<span *ngIf="pwdf4"><img src="assets/images/tick.png"
																style="width:25px; height: 25px;"></span>
														<span *ngIf="!pwdf4"><img src="assets/images/wrong.png"
																style="width:25px; height: 25px;"></span>
														Include an uppercase letter</li>
													<li class="listerr">
														<span *ngIf="pwdf5"><img src="assets/images/tick.png"
																style="width:25px; height: 25px;"></span>
														<span *ngIf="!pwdf5"><img src="assets/images/wrong.png"
																style="width:25px; height: 25px;"></span>
														Include a lowercase letter</li>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<br />
								<span style="font-size:10px;">By clicking CREATE YOUR ACCOUNT, you agree to the PEHACHAIN <a
										routerLink='/page/useragreementpolicy'>User Agreement</a>,<a
										routerLink='/page/privacypolicy'>Privacy Policy</a>, and <a routerLink='/page'>Cookie
										Policy</a>.</span>
							</div>
							<div class="form-group text-center">
								<input type="submit" class="btn btn-primary createacct"
									[disabled]="!verified || !pwdf1 || !pwdf2 || !pwdf3 || !pwdf4 || !pwdf5"
									ng-disabled="memberlandingform.$invalid||!verified || !iagree1" value="CREATE YOUR ACCOUNT"
									style="margin-top: 25px; color: white;">
							</div>
							<div class="form-group row">
								<div ng-show="loaderss">
									<div class="loader2"></div>
								</div>
							</div>
							<!-- <span style="color:red;">{{error}}</span> -->
						</form>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="col-md-12 hidden-xs" style="height:70px; background-color:#2b2929; padding-top:10px;">
	<div class="col-md-2" style="color:#d8d8d8; font-size: 1.2rem; font-weight: 600">
		pehachain &copy;2018
	</div>
	<div class="col-md-9 policies">
		<ul>
			<li><a routerLink='/page/useragreementpolicy'>User Agreement</a></li>
			<li><a routerLink='/page/privacypolicy'>Privacy Policy</a></li>
			<li><a routerLink='/page'>Cookie Policy</a></li>
			<li><a routerLink='/page/copyrightpolicy'>Copyright Policy</a></li>
		</ul>
	</div>
</div>
<!-- popup for showing for successful registration -->

<div class="modal fade" #someModal id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="!submitted">
	<div class="modal-dialog" role="document">
		<div class="modal-content change">
			<div class="modal-header ">
				<h2 *ngIf="regstatus" class="modal-title " id="exampleModalLabel" style="text-align: center;color:white;"><span
						style="position: relative;
            top: 14px;">Success</span></h2>
				<h2 *ngIf="errormsg" class="modal-title " id="exampleModalLabel" style="text-align: center;color:white;"><span
						style="position: relative;
                top: 14px;">Registration Failed</span></h2>
				<button type="button" style="position: relative; bottom: 47px; right: 6px;" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<h4 *ngIf="errormsg" style="text-align: center;">{{errormsg}}</h4>
				<h4 *ngIf="regstatus" style="text-align: center;">{{regstatus}}</h4>
				<h4 *ngIf="regstatus1" style="text-align: center;">{{regstatus1}}</h4>

			</div>
			<div class="modal-footer">
				<button *ngIf="regstatus" type="button" class="btn btn-warning" routerLink="/login" data-dismiss="modal"
					style="background-color: #2c4f70; border:none">Ok</button>
				<button *ngIf="errormsg" type="button" class="btn btn-warning" data-dismiss="modal"
					style="background-color: #2c4f70; border:none">Ok</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">

</script>
