/* ===> SIGNUP PAGE CSS START <=== */
.signupPage{
    /* width:auto; */
    background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("../../../assets/images/Landing.jpg");
    height:auto;
    min-height:85vh;
    margin-top: 45px;
    background-size: cover;
    width: 100%;
}
.signupbox{
    background-color: white;
    margin-top: 5%;
		border-radius: 10px;
		position: absolute;
    z-index: 100;
}
.modalhead{
    color: white;
}
.modal-title{
    text-align:center;
    font-size: 20px;
}
.butn{
    color:white
}
.erorrr{
    color: red;
}
.pwdcls{
    border: 1px solid darkgrey;
}
.imageee{
    width:25px;
    height: 25px;
}
.listerr{
    padding: 5px;
}
.fooot{
    height:70px;
    background-color:#2b2929;
    padding-top:10px;
}
.copirit{
    color:#d8d8d8;
    font-size: 1.2rem;
    font-weight: 600;
}

/*css for sucess popup */
.hedr{
    text-align: center;
    color:#efac4d
}
.msgss{
    position: relative;
    top: 14px;
}
h4{
    text-align: center;
}


/* ===> SIGNUP PAGE CSS END <=== */


a:hover{
  color:#317cbd;
}
.policies ul li{
  list-style-type: none;
  display: inline;
  padding-right: 40px;
  color: white;
}
.policies ul li a{
  font-size: 1.2rem;
  color: #d8d8d8;
  cursor: pointer;
  font-weight: 600;
}

.policies ul li a:hover{
  color:white;
  border-bottom: 1px solid white;
}

.form-group {
  margin-bottom: 0.5rem;
}



.bott{
  margin-bottom: -26px;
}

.downn{
  margin-top: 21px;
}

.bggrr{
  z-index: 10;
}
.menu-item span {
  padding: 6px;
  box-shadow: 2px 2px 3px #a5abca;
  color: white;
  border-radius: 0px;
  font-weight: bold;
  background: #3a6986;
  cursor: pointer;
}



.container {
  width: 100% !important;
}


.modal-header {
  background: #2c4f70;
  color: white;
  text-transform: capitalize;
  padding: 2px;
  text-align: center;
  display:block;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.modal-footer,
.modal-header {
  border: 1px solid block;
}

.modal {
  background: rgba(197, 197, 197, 0.65);
}

.modal-body h3 {
  text-align: center;
  margin: 14px 0px;
  /*font-size: 16px;*/
}

.modal-footer,
.modal-header {
  border: 0px;
}

.modal-footer {
  padding-top: 0px;
}

.modal {
  background: rgba(197, 197, 197, 0.65);
}

.modal-header h3 {
  color: white;
  margin: 10px 0px;
  font-size: 20px;
}

.modal-dialog {
  transition: all .5s ease-out;
  animation-name: modalfade;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes modalfade {
  0% {
      opacity: 0;
      transform: translate(0, 0);
  }
  100% {
      opacity: 1;
      transform: translate(0, 57px);
  }
}




.modal-header h3 {
  color: white;
  margin: 10px 0px;
}

.viewpage {
  margin-top: 89px;
  height: 88vh;
  overflow: scroll;
}

::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.dashboardbody-scrollmenu {
  padding-top: 2vh;
}

.newbody .form-group input {
  border: steelblue;
  width: 100%;
  background: rgba(0, 0, 0, 0.45);
  border-style: solid;
  border-width: thin;
  box-shadow: 0px 0px 5px 1px rgba(51, 122, 183, 0.75);
}

@media only screen and (min-width:768px) and (max-width: 1024px) {
  .modal-content {
      overflow: hidden;
  }

  .top-bar {
      display: none;
  }
  .divborder {
      width: 20.7vh !important;
      height: 22.7vh !important;
      float: left;
      margin: 16px 16px;
      box-shadow: 1px 1px 2px 1px #e3dfdf;
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -o-transition: all .3s ease;
      -ms-transition: all .3s ease;
      transition: all .3s ease;
  }

  .dashboardbody-scrollmenu {
      padding-top: 3vh;
  }
  .chit-results-main {
      position: relative;
      padding-top: 10vh;
      margin-left: 0px;
      background-size: 100%;
  }
  .filter-div {
      display: block;
  }
  .companiesdiv {
      display: none;
      overflow: auto;
      position: fixed;
      height: 84vh;
      width: 46%;
      top: 16vh;
      z-index: 9;
      margin-left: 54%;
      float: right;
     /* background: url(../images/dashback.jpg);*/
      color: white;
      font-size: medium;
      font-weight: bold;
  }

  .star {
      width: 8vh;
      margin-top: 18px;
      color: blue;
  }
  .chitlogo {
      height: 16vh;
      padding-top: 1.5vh;
  }
  .line1 {
      height: 3vh;
  }
  .line3 {
      border-top: 1px solid #e3dfdf;
      height: 4vh;
      margin-top: 0vh;
      /* font-size: xx-small; */
  }
  .more,
  .enquire {
      text-align: center;
      height: 2vh;
      padding: 1vh 0vh 3vh 0vh;
      font-size: 2vw;
  }

  .viewpage {
      margin-top: 8vh;
      height: 92vh;
  }
  .loginBG{
      height: 92vh !important;
  }
  .loginBG:before{
          background-size: 100% !important;
  background-position: bottom !important;
  }
}


/* password css */
a:focus {
  outline: 0 solid
}

img {
  max-width: 100%;
  height: auto;
}

.fix {
  overflow: hidden
}

h1,
h2,
h3,
h5,
h6 {
  margin: 0 0 15px;
  font-weight: 700;
}


a {
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #333;
}

a:hover {
  text-decoration: none
}

.form-control {
  background-color: transparent;
}

.search-box {
  margin: 100px auto;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 40px;
}

.caption {
  margin-bottom: 50px;
}

.loginForm input[type=text],
.loginForm input[type=password] {
  margin-bottom: 10px;
}

.loginForm input[type=submit] {
  color: #fff;
  font-weight: 700;
  background-color: #357EBD;
}

#pswd_info {
  background:white;
  color: #fff;
  left: 275%;
  position: absolute;
  top: -160px;
  border: 1px solid black;
  border-radius: 3%;
}

#pswd_info h4 {
  display: block;
  font-size: 14px;
  letter-spacing: 0;
  padding: 17px 0;
  text-align: center;
  text-transform: uppercase;
}

#pswd_info ul {
  list-style: outside none none;
}

#pswd_info ul li {
  padding: 10px 45px;
}

.valid {
  background: rgba(0, 0, 0, 0) url("/assets/images/tick.png") no-repeat;
  color: green;
  line-height: 21px;
  padding-left: 22px;
  background-size: 32px 32px;
}

.invalid {
  background: rgba(0, 0, 0, 0) url("/assets/images/wrong.png") no-repeat;
  color: red;
  line-height: 21px;
  padding-left: 22px;
  background-size: 32px 32px;
}

#pswd_info::before {
  content: "";
  height: 25px;
  left: -13px;
  margin-top: -12.5px;
  position: absolute;
  top: 50%;
  transform: rotate(45deg);
  width: 25px;
}

#pswd_info {
  display: none;
}

@media screen and (min-width:300px) and (max-width:731px){
  .signupbox{
      margin-top: 20%;
  }
}



/*=====================>initial reg=================>*/


.icon-icon3 {
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
  /*margin-top: 36%;*/
  margin-right: 0px;
  margin-left:0px;
}

.maindiv {
  text-align: center;
  margin-top: 10%;
}
.icon-icon1 {
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
  /*margin-top: 36%;*/
  margin-right: 25px;
  margin-left:0px;
}





@media only screen and (min-width: 360px) and (max-width: 640px) {
  .icon-icon3 {
    width: 150px;
    height: 200px;
    margin-bottom: 15px;
    margin-top: 10%;
    margin-right: 1px;
  }


  .icon-icon1 {
    width: 150px;
    height: 200px;
    margin-bottom: 15px;
    margin-top: 18%;
    margin-right: 25px;

  }


}

