.pagetop{
	margin-top:2%;
}
.cardcs{
	/*margin-top: 10%;*/
	margin-bottom: 10%;
}
.divclas{
	/*background-color: rgba(80, 77, 77, 0.47);*/
	background-color: rgba(125, 125, 125, 0.5);
	text-align: center;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
	transition: transform .9s;
}
.divclas:hover{
	 transform: scale(1.1); 
}
.digitclas{
	/*background-color:#ef5350;*/
	/* background:linear-gradient(60deg,#563432,#ad2825)!important;  */
	background:linear-gradient(60deg,#4a6977,#1bb5fb)!important;
	margin-top: -25px;
	border-radius: 5px;

}
.grpicn{
	/*color: white;*/
	margin-top: 7px;
	/*font-size: 30px;*/

}
.fontnum{
	font-size: 25px;
}
.txtcs{
	margin: 30px 0px 10px 0px; 
}
