
<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
	<div class="col-md-3">
		
	</div>
	<div class="pagetop col-md-9">
		<div class="col-md-4 cardcs">
			<div class="divclas" routerLink="/Partnernode/profile" (click)="closeNav()">
				<div class="digitclas col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<svg style="width:35px;height:35px" viewBox="0 0 24 24" class="grpicn">
						    <path fill="#ffffff" d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z" />
						</svg>
					</div>
				</div>
				<div class="txtcs">
					<h3>Profile</h3>
				</div>
			</div>
		</div>
		<div class="col-md-4 cardcs">
			<div class="divclas" routerLink="/Partnernode/manageorg" (click)="closeNav()">
				<div class="digitclas col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<svg style="width:35px;height:35px" viewBox="0 0 24 24" class="grpicn">
    					<path fill="#ffffff" d="M11.5,1L2,6V8H21V6M16,10V17H19V10M2,22H21V19H2M10
    					,10V17H13V10M4,10V17H7V10H4Z" />
                        </svg>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 c ol-xs-6">
						<h5 class="fontnum">{{orgsCount}}</h5>
					</div>
				</div>
				<div class="txtcs">
					<h3>Manage Orgs</h3>
				</div>
			</div>
		</div>
		<div class="col-md-4 cardcs">
			<div class="divclas" routerLink="/Partnernode/payment" (click)="closeNav()">
				<div class="digitclas col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">

				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<svg style="width:35px;height:35px" viewBox="0 0 24 24" class="grpicn">
                	<path fill="#ffffff" d="M5,6H23V18H5V6M14,9A3,3 0 0,1 17,12A3,3 0 0,1 14,15A3,3 0 0,1 11,12A3,3 0 0,1 14,9M9,8A2,2 0 0,1 7,10V14A2,2 0 0,1 9,16H19A2,2 0 0,1 21,14V10A2,2 0 0,1 19,8H9M1,10H3V20H19V22H1V10Z" />
                </svg>	
				</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<h5 class="fontnum">0</h5>
					</div>
				</div>
				<div class="txtcs">
					<h3>Payments</h3>
				</div>
			</div>
		</div>
	</div>
</div>