.myfield>mat-form-field {
  margin-bottom: 24px;
  width: 240px;

}

.tabheader {
  margin-bottom: 32px;
  font-size: 18px;
}

.myfield1>mat-form-field {
  margin-bottom: 24px;
  width: 350px;
}

.tabheader1 {
  margin-bottom: 32px;
  font-size: 18px;

}

.tabheader2 {
  margin-bottom: 11px;
  font-size: 18px;

}


.fieldwidth {
  width: 250px;

}

.fieldwidth1 {
  width: 185px;
}

.fieldwidth4 {
  width: 400px;
}

.hell {
  margin-right: 37px;
}

.hell2 {
  margin-left: -19px;
}

.fieldwidth2 {
  width: 400px;
}

.btn1 {
  /* background-color: #0f3463; */
  color: white;
  float: right;
  /*margin-right:19px;*/
  height: 41px;
  width: 75px;
}

.btn2 {
  background-color: #0f3463;
  color: white;
  float: left;
  height: 41px;
  width: 75px;
}

.btn3 {
  /* background-color: #0f3463; */
  color: white;
  float: right;
  height: 41px;
  width: 75px;
}

.btn4 {
  background-color: #0f3463;
  margin-top: 26%;
  color: white;
  float: left;
  margin-left: -98%;
  height: 41px;
  width: 75px;
}

.btn5 {
  background-color: #0f3463;
  color: white;
  margin-left: 40%;
  height: 41px;
  width: 75px;
}

.subbtn {
  /* background-color: #0f3463; */
  /* text-align: center; */
  color: white;
  /* margin-left: 82%; */
  height: 41px;
  width: 75px;
  float:right;
}

.regform {
  margin-top: 92px;
}

#backbutton {
  background-color: #0f3463;
  color: white;
  height: 41px;
  width: 75px;
}
.alrt{
    width: 360px;
}


@media only screen and (min-width: 360px) and (max-width:640px) {

  #backbutton {
    background-color: #0f3463;
    color: white;
    position: static;
  }

  .btn1 {
    /* background-color: #0f3463; */
    color: white;
    float: right;
    margin-right: -22px;
  }

  .subbtn {
    /* background-color: #0f3463; */
    /* text-align: center; */
    color: white;
    /* margin-left: 46%; */
    height: 41px;
    width: 75px;
    float: right;

  }

  .fieldwidth1 {
    width: 300px;
  }

  .hell2 {
    margin-left: -1px;
  }

  .fieldwidth2 {
    width: 300px;
  }

  .fieldwidth4 {
    width: 300px;
  }


  .mat-form-field-flex {
    display: inline-flex;
    align-items: baseline;
    box-sizing: border-box;
    width: 75%;
  }

}
