<div class="col-md-offset-1 col-md-10 regform">
  <mat-horizontal-stepper  [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Personal</ng-template>
        <div class="col-md-12">
          <div class="col-md-4 col-sm-6" myfield>
            <div class="tabheader"> Basic Details</div>
            <mat-form-field class="fieldwidth">
              <input matInput placeholder="First Name" formControlName="firstname" [(ngModel)]="userData.fname" (keypress)="keyPress1($event)" style="text-transform: capitalize;" required>
              <mat-error *ngIf="personalform.firstname.invalid">First Name is Required</mat-error>
            </mat-form-field>
            <br>
            <br>
            <mat-form-field class="fieldwidth">
              <input matInput placeholder="Last Name" formControlName="lastname" [(ngModel)]="userData.lname" (keypress)="keyPress1($event)" required>
              <mat-error *ngIf="personalform.lastname.invalid">Last Name is Required</mat-error>
            </mat-form-field>
            <br>
            <br>
            <mat-form-field class="fieldwidth">
              <mat-select placeholder="Gender" formControlName="gender" [(ngModel)]="userData.gender" required>
                <mat-option *ngFor="let genders of genders" [value]="genders.value">
                  {{genders.viewValue}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="personalform.gender.invalid">Gender is Required</mat-error>
            </mat-form-field>
            <br>
            <br>
            <mat-form-field class="fieldwidth">
              <input matInput [matDatepicker]="picker" placeholder="Date of Birth" formControlName="dob" [(ngModel)]="userData.dob" (ngModelChange)="calculateAge(userData.dob)" [max]="getValidDate()" required>
              <mat-datepicker-toggle matSuffix [for]="picker" style="font-size:24px;"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="personalform.dob.invalid">Date of Birth is Required</mat-error>
            </mat-form-field>
            <br>
            <br>
            <mat-form-field class="fieldwidth">
              <input matInput placeholder=" Email Id" formControlName="emailid" [(ngModel)]="userData.email" required>
              <mat-error *ngIf="personalform.emailid.touched || personalform.emailid.invalid">Email id is Required and should be valid</mat-error>
            </mat-form-field>
            <br>
            <br>
            <mat-form-field class="fieldwidth">
              <input matInput placeholder="Mobile Number" formControlName="mobilenumber" readonly="mobilenumber" maxlength="10" [(ngModel)]="userData.mobile" (keypress)="keyPress($event)" required>
              <mat-error *ngIf="personalform.mobilenumber.invalid">mobilenumber is Required
              </mat-error>
            </mat-form-field>
            <br>
            <br>
          </div>

<!-- ==================>permanent Address start=======================> -->
          <div class="col-md-4" myfield1>
            <div class="tabheader1">Permanent Address</div>
            <mat-form-field class="fieldwidth">
              <input matInput placeholder="Address Line1" formControlName="addressline1" [(ngModel)]="userData.addressline1" required>
              <mat-error *ngIf="personalform.addressline1.invalid">Address Line1 is Required</mat-error>
            </mat-form-field>
            <br>
            <br>
            <mat-form-field class="fieldwidth">
              <input matInput placeholder="Address Line2" formControlName="addressline2" [(ngModel)]="userData.addressline2" required>
              <mat-error *ngIf="personalform.addressline2.invalid">Address Line2 is Required</mat-error>
            </mat-form-field>
            <br>
            <br>
            <mat-form-field class="fieldwidth">
              <mat-select placeholder="State" formControlName="permanentstate" [(ngModel)]="userData.permanentstate" (ngModelChange)="getdistricts($event)" required>
                <mat-option *ngFor="let stats of states" value={{stats.mystate}}>{{stats.mystate}}</mat-option>
              </mat-select>
              <mat-error *ngIf="personalform.permanentstate.invalid">State is Required</mat-error>
            </mat-form-field>
            <br>
            <br>
            <mat-form-field class="fieldwidth">
              <mat-select placeholder="District" formControlName="permanentdistrict" [(ngModel)]="userData.permanentdistrict" required>
                <mat-option *ngFor="let dis of districtsn" value={{dis.mydistrict}}>{{dis.mydistrict}}</mat-option>
              </mat-select>
              <mat-error *ngIf="personalform.permanentdistrict.invalid">District is Required
              </mat-error>
            </mat-form-field>
            <br>
            <br>
            <mat-form-field class="fieldwidth">
              <input matInput placeholder="City" formControlName="permanentcity" [(ngModel)]="userData.permanentcity" (keypress)="keyPress1($event)" required>
              <mat-error *ngIf="personalform.permanentcity.invalid">City is Required</mat-error>
            </mat-form-field>
            <br>
            <br>
            <mat-form-field class="fieldwidth">
              <input matInput placeholder="Pin Code" formControlName="permanentpincode" name="permanentpincode" [(ngModel)]="userData.permanentpincode" (keypress)="keyPress($event)" minlength="6" maxlength="6" required>
              <mat-error *ngIf="personalform.permanentpincode.invalid">Pin Code is required and should be 6 digits</mat-error>
            </mat-form-field>
            <br>
            <br>
          </div>
<!-- ===================>Temporary addresss==============================> -->
          <div class="tabheader2">Temporary Address</div>
          <mat-checkbox formControlName="checked" [(ngModel)]="checked"></mat-checkbox>&nbsp; <span style="font-size: 14px">Check if same as Permanent</span>
          <div class="col-md-4" *ngIf="!checked">
            <mat-form-field class="fieldwidth">
              <input matInput placeholder="Address Line1" formControlName="addressline3" [(ngModel)]="userData.addressline3" required>
              <mat-error *ngIf="personalform.addressline3.invalid">Address Line1 is Required</mat-error>
            </mat-form-field>
            <br>
            <br>
            <mat-form-field class="fieldwidth">
              <input matInput placeholder="Address Line2" formControlName="addressline4" [(ngModel)]="userData.addressline4" required>
              <mat-error *ngIf="personalform.addressline4.invalid">Address Line2 is Required</mat-error>
            </mat-form-field>
            <br>
            <br>
            <mat-form-field class="fieldwidth">
              <mat-select placeholder="State" formControlName="presentstate" [(ngModel)]="userData.permanentstate1" (ngModelChange)="getdistricts1($event)" required>
                <mat-option *ngFor="let stats of states1" value={{stats.mystate}}>{{stats.mystate}}</mat-option>
              </mat-select>
              <mat-error *ngIf="personalform.presentstate.invalid">State is Required</mat-error>
            </mat-form-field>
            <br>
            <br>
            <mat-form-field class="fieldwidth">
              <mat-select placeholder="District" formControlName="presentdistrict" [(ngModel)]="userData.permanentdistrict1" required>
                <mat-option *ngFor="let dis of districtsm" value={{dis.mydistrict}}>{{dis.mydistrict}}</mat-option>
              </mat-select>
              <mat-error *ngIf="personalform.presentdistrict.invalid">District is Required</mat-error>
            </mat-form-field>
            <br>
            <br>
            <mat-form-field class="fieldwidth">
              <input matInput placeholder="City" formControlName="presentcity" [(ngModel)]="userData.permanentcity1" (keypress)="keyPress1($event)" required>
              <mat-error *ngIf="personalform.presentcity.invalid">City is Required</mat-error>
            </mat-form-field>
            <br>
            <br>
            <mat-form-field class="fieldwidth">
              <input matInput placeholder="Pin Code" formControlName="presentpincode" [(ngModel)]="userData.permanentpincode1" (keypress)="keyPress($event)" maxlength="6" minlength="6" required>
              <mat-error *ngIf="personalform.presentpincode.invalid">Pin Code is required and should be 6 digits</mat-error>
            </mat-form-field>
            <br>
            <br>
          </div>
<!-- ==============================>if different address mean ============================ -->
          <div class="col-md-4" *ngIf="checked">
            <mat-form-field class="fieldwidth">
              <input matInput placeholder="Address Line1" formControlName="addressline3" [(ngModel)]="userData.addressline1" required>
              <mat-error *ngIf="personalform.addressline3.invalid">Address Line1 is Required</mat-error>
            </mat-form-field>
            <br>
            <br>
            <mat-form-field class="fieldwidth">
              <input matInput placeholder="Address Line2" formControlName="addressline4" [(ngModel)]="userData.addressline2" required>
              <mat-error *ngIf="personalform.addressline4.invalid">Address Line2 is Required</mat-error>
            </mat-form-field>
            <br>
            <br>
            <mat-form-field class="fieldwidth">
              <mat-select placeholder="State" formControlName="presentstate" [(ngModel)]="userData.permanentstate" (ngModelChange)="getdistricts($event)" required>
                <mat-option *ngFor="let stats of states" value={{stats.mystate}}>{{stats.mystate}}</mat-option>
              </mat-select>
              <mat-error *ngIf="personalform.presentstate.invalid">State is Required</mat-error>
            </mat-form-field>
            <br>
            <br>
            <mat-form-field class="fieldwidth">
              <mat-select placeholder="District" formControlName="presentdistrict" [(ngModel)]="userData.permanentdistrict" required>
                <mat-option *ngFor="let dis of districtsn" value={{dis.mydistrict}}>{{dis.mydistrict}}</mat-option>
              </mat-select>
              <mat-error *ngIf="personalform.presentdistrict.invalid">District is Required</mat-error>
            </mat-form-field>
            <br>
            <br>
            <mat-form-field class="fieldwidth">
              <input matInput placeholder="City" formControlName="presentcity" [(ngModel)]="userData.permanentcity" (keypress)="keyPress1($event)" required>
              <mat-error *ngIf="personalform.presentcity.invalid">City is Required</mat-error>
            </mat-form-field>
            <br>
            <br>
            <mat-form-field class="fieldwidth">
              <input matInput placeholder="Pin Code" formControlName="presentpincode" [(ngModel)]="userData.permanentpincode" (keypress)="keyPress($event)" maxlength=6 required>
              <mat-error *ngIf="personalform.presentpincode.invalid">Pin Code is Required</mat-error>
            </mat-form-field>
            <br>
            <br>
            <br>
          </div>
        </div>
        <div class="col-md-12">
          <button mat-raised-button color="basic" id="backbutton" routerLink="/initialreg">Back
          </button>
          <button  matStepperNext class="btn btn-primary btn1" (click)="submitpersonaldetails(userData)" [disabled]="!firstFormGroup.valid">
            Next</button>
            <button mat-button matStepperNext style="float: right" >Skip</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Employment</ng-template>
        <div formArrayName="empitems" *ngFor="let empitems of secondFormGroup.get('empitems')['controls']; let i = index;">
          <div [formGroupName]="i">
            <div class="col-md-6">
              <mat-form-field class="fieldwidth2" *ngIf="i=='0'">
                <input matInput placeholder="Current Designation" formControlName="designation" [id]="'designation'+i" (keypress)="keyPress1($event)" required>
                <mat-error *ngIf="empitems.controls.designation.invalid">Designation is Required</mat-error>
              </mat-form-field>
              <mat-form-field class="fieldwidth2" *ngIf="i!='0'">
                <input matInput placeholder="Designation" formControlName="designation" [id]="'designation'+i" (keypress)="keyPress1($event)" required>
                <mat-error *ngIf="empitems.controls.designation.invalid">Designation is Required</mat-error>
              </mat-form-field>
              <br>
              <br>
              <mat-form-field class="fieldwidth2" *ngIf="i=='0'">
                <input matInput placeholder="Current Organization" formControlName="organisation" [id]="'organisation'+i" (keypress)="keyPress1($event)" required>
                <mat-error *ngIf="empitems.controls.organisation.invalid">Organisation is Required</mat-error>
              </mat-form-field>
              <mat-form-field class="fieldwidth2" *ngIf="i!='0'">
                <input matInput placeholder="Organization" formControlName="organisation" [id]="'organisation'+i" (keypress)="keyPress1($event)" required>
                <mat-error *ngIf="empitems.controls.organisation.invalid">Organisation is Required</mat-error>
              </mat-form-field>
              <br>
              <br>
              <mat-form-field class="fieldwidth2">
                <input matInput [matDatepicker]="picker" placeholder="Start Date" formControlName="stdate" [id]="'startdate'+i" [max]="getToday()" required>
                <mat-datepicker-toggle matSuffix [for]="picker" style="font-size:24px;"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="empitems.controls.stdate.invalid">Start Date is Required</mat-error>
              </mat-form-field>
              <br>
              <br>

              <div class="col-md-5">
                <div class="row">
                    <mat-form-field class="fieldwidth2">
                    <input matInput placeholder="Annual Salary" formControlName="salarylacs" [id]="'salarylacs'+i" (keypress)="keyPress($event)" minlength="4" maxlength="12" required>
                    <mat-error *ngIf="empitems.controls.salarylacs.invalid">Annual Salary is Required</mat-error>
                  </mat-form-field>

                 <!--  <mat-form-field class="fieldwidth2">
                    <input matInput placeholder="Experience" formControlName="experienceyears" [id]="'experienceyears'+i" (keypress)="keyPress($event)" maxlength="2" minlength="1" required>
                    <mat-error *ngIf="empitems.controls.experienceyears.invalid">Experience is Required</mat-error>
                  </mat-form-field> -->
                </div>
              </div>
          <!--     <div class="col-md-5">
                <div class="row">
                  <mat-form-field class="fieldwidth2">
                    <input matInput placeholder="Experience (Months)" formControlName="experiencemonths" [id]="'experiencemonths'+i" (keypress)="keyPress($event)" maxlength="2" minlength="1" required>
                    <mat-error *ngIf="empitems.controls.experiencemonths.invalid">Experience  is Required</mat-error>
                  </mat-form-field>
                </div>
              </div> -->
            </div>
            <div class="col-md-6">
             <!--  <div class="col-md-5 col-sm-12">
                <div class="row">
                  <mat-form-field class="fieldwidth2">
                    <input matInput placeholder="Annual Salary" formControlName="salarylacs" [id]="'salarylacs'+i" (keypress)="keyPress($event)" required>
                    <mat-error *ngIf="empitems.controls.salarylacs.invalid">Annual Salary is Required</mat-error>
                  </mat-form-field>
                </div>
              </div> -->
         <!--      <div class="col-md-5 col-sm-12">
                <div class="row">
                  <mat-form-field class="fieldwidth1 hell2">
                    <input matInput placeholder="Annual Salary (Thousands)" formControlName="salarythousands" [id]="'salarythousands'+i" (keypress)="keyPress($event)" required>
                    <mat-error *ngIf="empitems.controls.salarythousands.invalid">Annual Salary(Thousands) is Required</mat-error>
                  </mat-form-field>
                </div>
              </div> -->
              <!-- <br>
              <br> -->
           <!--    <br>
              <br> -->
              <mat-form-field class="fieldwidth2">
                <input matInput placeholder="Skills" formControlName="skills" [id]="'skills'+i" type="text" required>
                <mat-error *ngIf="empitems.controls.skills.invalid">Skill is Required</mat-error>
              </mat-form-field>
              <br>
              <br>
              <mat-form-field *ngIf="!i=='0'" class="fieldwidth2">
                <input matInput [matDatepicker]="picker" placeholder="End Date" formControlName="edate" [id]="'enddate'+i" [min]="empitems.value.stdate" [max]="getToday()" required>
                <mat-datepicker-toggle matSuffix [for]="picker" style="font-size:24px;"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <!-- <mat-error >End Date is Required</mat-error> -->
              </mat-form-field>
              <mat-form-field class="fieldwidth2" *ngIf="i=='0'">
                <mat-select placeholder="Notice Period" formControlName="noticeperiod" [id]="'noticeperiods'+i" required>
                  <mat-option *ngFor="let noticeperiods of noticeperiods" [value]="noticeperiods.value">
                    {{noticeperiods.viewValue}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="empitems.controls.noticeperiod.invalid">Noticeperiod is Required</mat-error>
              </mat-form-field>
              <br>
              <br>
              <mat-form-field class="fieldwidth2" *ngIf="i=='0'">
                <mat-select placeholder="Is it your current company?" formControlName="Iscurrentcompany" [id]="'Iscurrentcompany'+i" [(ngModel)]="currentcompany" required>
                  <mat-option value='yes'>Yes</mat-option>
                  <mat-option value='no'>No</mat-option>
                </mat-select>
                <mat-error *ngIf="empitems.controls.Iscurrentcompany.invalid">Currentcompany is Required</mat-error>
              </mat-form-field>
              <mat-form-field *ngIf="currentcompany=='no' && i=='0'" class="fieldwidth2">
                <input matInput [matDatepicker]="picker" placeholder="End Date" formControlName="edate" [id]="'enddate'+i" [min]="empitems.value.stdate" [max]="getToday()">
                <mat-datepicker-toggle matSuffix [for]="picker" style="font-size:24px;"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <!-- <mat-error *ngIf="empitems.controls.enddate.invalid">End Date is Required</mat-error> -->
              </mat-form-field>
            </div>
          </div>
          <div style="margin-bottom: 10%">
            <div class="btn btn-primary" style="background-color: #0e3463;" matTooltip="Add More Experience" matTooltipPosition="left" (click)="additem1()">
              <mat-icon>add </mat-icon>Add
            </div>
            <div class="btn btn-primary" *ngIf="!i=='0'" style="margin-left: 20px;background-color: #0e3463;" matTooltip="Remove Experience" matTooltipPosition="right" (click)="removeitem1(i)">
              <mat-icon class="removeicon">remove</mat-icon>Remove
            </div>
          </div>
        </div>
        <button mat-button matStepperPrevious class="btn2">Back</button>
        <button matStepperNext class="btn btn-primary btn3" (click)="submitexpdetails(secondFormGroup)" [disabled]= "!secondFormGroup.valid">Next
        </button>
        <button  mat-button matStepperNext style="float:right" >Skip</button>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup" [editable]="isEditable">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Education</ng-template>
        <br>
        <div formArrayName="items" *ngFor="let item of thirdFormGroup.get('items')['controls']; let i = index;">
          <div [formGroupName]="i">
            <!-- First part -->
            <div class="col-md-6">
              <mat-form-field class="fieldwidth4">
                <mat-select *ngIf="i=='0'" placeholder="Highest Qualification" formControlName="highest" name="highest" (ngModelChange)="getcourses($event)" [id]="'highest'+i" required>
                  <mat-option *ngFor="let qualification of highestQualifications" value={{qualification.highQualify}}>{{qualification.highQualify}}</mat-option>
                </mat-select>
                <mat-select *ngIf="i=='1'" placeholder="Qualification" formControlName="highest" name="highest" (ngModelChange)="getcourses1($event)" [id]="'highest'+i" required>
                  <mat-option *ngFor="let qualification1 of highestQualifications1" value={{qualification1.highQualify}}>{{qualification1.highQualify}}</mat-option>
                </mat-select>
                <mat-select *ngIf="i=='2'" placeholder="Qualification" formControlName="highest" name="highest" (ngModelChange)="getcourses2($event)" [id]="'highest'+i" required>
                  <mat-option *ngFor="let qualification2 of highestQualifications2" value={{qualification2.highQualify}}>{{qualification2.highQualify}}</mat-option>
                </mat-select>
                <mat-select *ngIf="i=='3'" placeholder="Qualification" formControlName="highest" name="highest" (ngModelChange)="getcourses2($event)" [id]="'highest'+i" required>
                  <mat-option *ngFor="let qualification3 of highestQualifications3" value={{qualification3.highQualify}}>{{qualification3.highQualify}}</mat-option>
                </mat-select>
                <mat-select *ngIf="i=='4'" placeholder="Qualification" formControlName="highest" name="highest" (ngModelChange)="getcourses2($event)" [id]="'highest'+i" required>
                  <mat-option *ngFor="let qualification4 of highestQualifications4" value={{qualification4.highQualify}}>{{qualification4.highQualify}}</mat-option>
                </mat-select>
                <mat-error *ngIf="item.controls.highest.invalid">Highest Qualification is Required</mat-error>
              </mat-form-field>
              <br>
              <br>
              <div *ngIf="thirdFormGroup.value.items[i].highest =='12th'">
                  <mat-form-field class="alrt" >
                    <input matInput placeholder="Specify your Specialization" formControlName="specialization" [id]="'specialization'+i" (keypress)="keyPress1($event)" required>
                    <mat-error *ngIf="item.controls.specialization.invalid">Specialization is required</mat-error>
                  </mat-form-field><br>
                <mat-form-field class="alrt">
                  <input matInput placeholder="Board" formControlName="board12" [id]="'board12'+i" name="board12" (keypress)="keyPress1($event)" required>
                  <mat-error *ngIf="item.controls.board12.invalid">Board is Required</mat-error>
                </mat-form-field>
                <br>
                <br>
                <mat-form-field class="alrt">
                  <input matInput placeholder="Year of passing" formControlName="yop12" (keypress)="keyPress2($event)" maxlength="4" minlength="4" [id]="'yop12'+i" name="yop12" required>
                  <mat-error *ngIf="item.controls.yop12.invalid">Year of passing is Required</mat-error>
                </mat-form-field>
                <br>
                <br>
              </div>
              <div *ngIf="thirdFormGroup.value.items[i].highest =='10th'">
                <mat-form-field class="alrt">
                  <input matInput placeholder="Board" formControlName="board10" [id]="'board10'+i" name="board10" (keypress)="keyPress1($event)" required>
                  <mat-error *ngIf="item.controls.board10.invalid">Board is Required</mat-error>
                </mat-form-field>
                <br>
                <br>
                <mat-form-field class="alrt">
                  <input matInput placeholder="Year of passing" formControlName="yop10" (keypress)="keyPress2($event)" maxlength="4" minlength="4" [id]="'yop10'+i" name="yop10" required>
                  <mat-error *ngIf="item.controls.yop10.invalid">Year of passing is Required</mat-error>
                </mat-form-field>
                <br>
                <br>
              </div>
              <div *ngIf="thirdFormGroup.value.items[i].highest !=='12th' && thirdFormGroup.value.items[i].highest !=='10th'">
                <mat-form-field class="fieldwidth4">
                  <mat-select *ngIf="i=='0'" placeholder="Course" formControlName="course" [id]="'course'+i" required>
                    <mat-option *ngFor="let course of courses" value={{course.course}}>{{course.course}}</mat-option>
                  </mat-select>
                  <mat-select *ngIf="i=='1'" placeholder="Course" formControlName="course" [id]="'course'+i" required>
                    <mat-option *ngFor="let course1 of courses1" value={{course1.course}}>{{course1.course}}</mat-option>
                  </mat-select>
                  <mat-select *ngIf="i=='2'" placeholder="Course" formControlName="course" [id]="'course'+i" required>
                    <mat-option *ngFor="let course2 of courses2" value={{course2.course}}>{{course2.course}}</mat-option>
                  </mat-select>
                   <mat-select *ngIf="i=='3'" placeholder="Course" formControlName="course" [id]="'course'+i" required>
                    <mat-option *ngFor="let course3 of courses3" value={{course3.course}}>{{course3.course}}</mat-option>
                  </mat-select>
                   <mat-select *ngIf="i=='4'" placeholder="Course" formControlName="course" [id]="'course'+i" required>
                    <mat-option *ngFor="let course4 of courses4" value={{course4.course}}>{{course4.course}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="item.controls.course.invalid">Course is Required</mat-error>
                </mat-form-field>
                <br>
                <br>
                <mat-form-field class="fieldwidth4" *ngIf="thirdFormGroup.value.items[i].course =='Other'">
                  <input matInput placeholder="Please specify Your Course" formControlName="othercourse" [id]="'othercourse'+i" (keypress)="keyPress1($event)" required>
                  <mat-error *ngIf="item.controls.othercourse.invalid">Course is Required</mat-error>
                </mat-form-field>
                <mat-form-field class="fieldwidth4">
                  <input matInput placeholder="Specify Your Specialization" formControlName="specialization" [id]="'specialization'+i" (keypress)="keyPress1($event)" required>
                  <mat-error *ngIf="item.controls.specialization.invalid">Specialization is Required</mat-error>
                </mat-form-field>
                <br>
                <br>
                 <mat-form-field class="alrt">
                  <input matInput placeholder="Percentage" formControlName="percent" [id]="'percent'+i" name="percent" (keypress)="keyPressPercent($event)" maxlength="5" minlength="1" required>
                  <mat-error *ngIf="item.controls.percent.invalid">Your Percentage is required</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-6" *ngIf="thirdFormGroup.value.items[i].highest =='12th'">
              <mat-form-field class="fieldwidth4">
                <input matInput placeholder="Medium" formControlName="medium12" [id]="'medium12'+i" name="medium12" (keypress)="keyPress1($event)" required>
                <mat-error *ngIf="item.controls.medium12.invalid">Medium is Required</mat-error>
              </mat-form-field>
              <br>
              <br>
              <mat-form-field class="fieldwidth4">
                <input matInput placeholder="Percentage" formControlName="percent12" [id]="'percent12'+i" name="percent12" (keypress)="keyPressPercent($event)" maxlength="2" minlength="1" required>
                <mat-error *ngIf="item.controls.percent12.invalid">Percentage is Required</mat-error>
              </mat-form-field>
              <br>
              <br>
              <mat-form-field class="fieldwidth4">
                <input matInput placeholder="School" formControlName="school12" [id]="'school12'+i" name="school12" (keypress)="keyPress1($event)" required>
                <mat-error *ngIf="item.controls.school12.invalid">School is Required</mat-error>
              </mat-form-field>
              <br>
              <br>
            </div>
            <div class="col-md-6" *ngIf="thirdFormGroup.value.items[i].highest =='10th'">
              <mat-form-field class="fieldwidth4">
                <input matInput placeholder="Medium" formControlName="medium10" [id]="'medium10'+i" name="medium10" (keypress)="keyPress1($event)" required>
                <mat-error *ngIf="item.controls.medium10.invalid">Medium is Required</mat-error>
              </mat-form-field>
              <br>
              <br>
              <mat-form-field class="fieldwidth4">
                <input matInput placeholder="Percentage" formControlName="percent10" [id]="'percent10'+i" name="percent10" (keypress)="keyPressPercent($event)" maxlength="2" minlength="1" required>
                <mat-error *ngIf="item.controls.percent10.invalid">Percentage is Required</mat-error>
              </mat-form-field>
              <br>
              <br>
              <mat-form-field class="fieldwidth4">
                <input matInput placeholder="School" formControlName="school10" [id]="'school10'+i" name="school10" required>
                <mat-error *ngIf="item.controls.school10.invalid">School is Required</mat-error>
              </mat-form-field>
              <br>
              <br>
            </div>
            <div class="col-md-6" *ngIf="thirdFormGroup.value.items[i].highest !=='12th' && thirdFormGroup.value.items[i].highest !=='10th'">
              <mat-form-field class="fieldwidth4">
                <mat-select placeholder="Passing Year" formControlName="degpassingyear" [id]="'degpassingyear'+i" (keypress)="keyPress2($event)" maxlength=7 required>
                  <mat-option *ngFor="let passingyear of yearsList" [value]="passingyear">
                    {{passingyear}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="item.controls.degpassingyear.invalid">Passing Year is Required</mat-error>
              </mat-form-field>
              <br>
              <br>
              <mat-form-field class="fieldwidth4">
                <mat-select placeholder="Course Type" formControlName="degcoursetype" [id]="'degcoursetype'+i" required>
                  <mat-option *ngFor="let coursetypes of coursetypes" [value]="coursetypes.value">
                    {{coursetypes.viewValue}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="item.controls.degcoursetype.invalid">Course Type is Required</mat-error>
              </mat-form-field>
              <br>
              <br>
              <mat-form-field class="fieldwidth4">
                <input matInput placeholder="University/College" formControlName="univname" [id]="'univname'+i" (keypress)="keyPress1($event)" required>
                <mat-error *ngIf="item.controls.univname.invalid">University/College is Required</mat-error>
              </mat-form-field>
              <br>
              <br>
            </div>
          </div>
          <div style="margin-bottom: 10%">
            <div class="btn btn-primary" style="background-color: #0e3463;" matTooltip="Add More Education" matTooltipPosition="left" (click)="additem()">
              <mat-icon>add </mat-icon>Add
            </div>
            <div class="btn btn-primary" *ngIf="!i=='0'" style="margin-left: 20px;background-color: #0e3463;" matTooltip="Remove Education" matTooltipPosition="right" (click)="removeitem(i)">
              <mat-icon class="removeicon">remove</mat-icon>Remove
            </div>
          </div>
        </div>
        <div>
          <button mat-button matStepperPrevious class="btn2">
            Back
          </button>
          <button type="submit" id="subbutton" class="btn btn-primary subbtn" (click)="submiteducationaldetails(thirdFormGroup)" >Submit</button>
          <button mat-button style="float:right" (click) = "finalSkipofIndividualReg()" >Skip and Proceed</button>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
  <!-- Popup for showing invalid age -->
  <div class="modal fade" #myModal id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="!submitted">
    <div class="modal-dialog" role="document">
      <div class="modal-content change">
        <div class="modal-header ">
          <h2 class="modal-title " id="exampleModalLabel" style="text-align: center;color:#ef5e53fa;"><span style="position: relative;
            top: 14px;">Registration Failed</span></h2>
          <button type="button" style="position: relative; bottom: 40px;" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h4>Oops!!! Your Age should be 16 or above to register with PEHACHAIN</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>
