.btncls {
	border: none;
	outline: none;
	padding: 10px 16px;
	background-color: #f1f1f1;
	cursor: pointer;
	font-size: 18px;
	color: black;
	outline: none;
	text-align: center;
}

.active, .btncls:hover {
	/* background-color: #666; */
	background-color: #2c4f70;
	color: white;
}

.dtime{
	font-size: 10px;
	color: #a09e9e
}
.dtime1{
	font-size: 14px;
	color: white;
}
.actionicon{
	color:white;
	cursor: pointer;
}
.pendicon{
	margin-left: 10px;
}
.tablediv{
	box-shadow: 0px 0px 2px 0px #e6e6e6;
	/* margin-top: 20px; */
	background-color: rgba(80, 77, 77, 0.47);
	padding-bottom: 5px;
	padding: 20px;
}
th, td{
	text-align: center;
}