<div class="col-md-10 col-md-offset-1">
	<div class="row">
		<div id="myDIV">		
			<div class="col-md-4">
				 <h4 class="btncls active" (click)="pendingAdminReq()"><span>Pending Requests</span></h4>
			</div>
			<div class="col-md-4">
				<h4 class="btncls" (click)="approvedAdminReq()"><span>Approved Requests</span></h4>
		   </div>
			<div class="col-md-4">
				 <h4 class="btncls" (click)="declinedAdminReq()"><span>Declined Requests</span></h4>
			</div>
		</div>
	</div>
	<div class="row tablediv">
		<table class=" hidden-sm hidden-xs table table-bordered">
			<thead>
			  <tr>
				<th scope="col">Name</th>
				<th scope="col">Mobile</th>
				<th scope="col">Document Details</th>
				<th scope="col">Document</th>
				<th scope="col" *ngIf="approvedRow">Approved Date</th>
				<th scope="col" *ngIf="declinedRow">Declined Date</th>
				<th scope="col">Action</th>
			  </tr>
			</thead>
			<tbody>
			  <tr *ngFor="let docdetail of filteredDocs">
				<td>{{docdetail.ownerName}}</td>
				<td>{{docdetail.ownerMobile}}</td>
				<td>
					<span> {{docdetail.docName}}</span>
					<br>
					<span class="dtime">{{docdetail.UploadedDateTime | slice:0:-30}}</span>
				</td>
				<td (click) = "viewImg(docdetail.document)"><img src="{{docdetail.document}}" style="height:20px">
				</td>
					<td *ngIf="approvedRow" class="dtime1">{{docdetail.adminVerifiedDateTime | slice:0:-30}}</td>
					<td *ngIf="declinedRow" class="dtime1">{{docdetail.adminVerifiedDateTime | slice:0:-30}}</td>
				<td>
					<button *ngIf="docdetail.adminVerifyStatus != 'APPROVED'" class="btn btn-success actionicon" matTooltip="Approve" (click) = "adminAprvDclnmodel(docdetail.docId,'APPROVED')" aria-label="Button that displays a tooltip when focused or hovered over" data-toggle="modal" data-target="#modalApproved">Approve</button>
					<button *ngIf="docdetail.adminVerifyStatus != 'DECLINED'" class="btn btn-danger actionicon pendicon" matTooltip="Decline" (click) = "adminAprvDclnmodel(docdetail.docId,'DECLINED')" aria-label="Button that displays a tooltip when focused or hovered over" data-toggle="modal" data-target="#modalDeclined">Declined</button>
					<button class="btn btn-warning actionicon pendicon" matTooltip="Resubmit" (click) = "adminAprvDclnmodel(docdetail.docId,'PENDING')" aria-label="Button that displays a tooltip when focused or hovered over" data-toggle="modal" data-target="#modalDeclined">Resubmit</button>
				</td>
			  </tr>
			 </tbody>
		  </table>
	</div>	
</div>