<div class="col-md-10 col-md-offset-1 pg-top">
	<div id="myDIV">		
		<div class="col-md-4">
			<h4 class="btncls active" (click)="pendingOrgsList()"><span>New Orgnizations</span></h4>
		</div>
		<div class="col-md-4">
			<h4 class="btncls" (click)="approvedOrgsList()"><span>Active Orgnizations</span></h4>
		</div>
		<div class="col-md-4">
			<h4 class="btncls" (click)="declinedOrgsList()"><span>Rejected Orgnizations</span></h4>
		</div>
	</div>
	<div class="col-md-12 orgsListDiv">
		<mat-accordion *ngFor="let orgData of orgsData">
		<mat-expansion-panel>
			<mat-expansion-panel-header>			
			<mat-panel-title class="col-md-4">
				{{orgData.org_name}}
			</mat-panel-title>
			<mat-panel-description class="col-md-4">	      	
				{{orgData.org_type}}
			</mat-panel-description>
			<mat-panel-description class="col-md-4">
				<button (click)="openOrgFullDetails(orgData)" class="btn btn-primary acBtn">Review</button>
			</mat-panel-description>
			</mat-expansion-panel-header>

			<div class="col-md-4">
				<p>Contact Name: {{orgData.cont_name}}</p>	    	
			</div>
			<div class="col-md-4">
				<p>Mobile Number: {{orgData.cont_phone}}</p>	    	
			</div>
			<div class="col-md-4">
				<p>Email: {{orgData.cont_email}}</p>	    	
			</div>

			
		</mat-expansion-panel>
		<mat-expansion-panel (opened)="panelOpenState = true"
							(closed)="panelOpenState = false">
		</mat-expansion-panel>
		<div style="margin-top: 10px;"></div>
		</mat-accordion>
		<!-- <button class="btn btn-primary bkbtn" routerLink="/DataAccessor">Back</button> -->
	</div>
</div>