.prodiv{    
    padding: 10px;
    margin-bottom: 20px;
    background-color: #29282875;
    border-radius: 4px;
    box-shadow: 0px 0px 2px 0px #e6e6e6;
    text-align: center;
}
.title{
    color:#969696;
    margin: 0px;
}
.docname{
    margin: 0px;
}
.title-heading{
    text-align: left !important;
    margin-bottom: 20px;
    /* text-decoration: underline; */
}
.mdspace{
    margin-bottom: 20px;
}
.pg-top{
    /* margin-top: -6%; */
    margin-bottom: 1%;
}
.docimg{
    width: 80px;
    height: 80px;
    cursor: pointer;
}
.acBtn{
    background-color: #2c4f70;
    border:none;
}
.acBtn1{
    background-color: #2c4f70;
    border:none;
    margin-right: 15px;
}
.btncls {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
    color: black;
    outline: none;
    text-align: center;
}

.active, .btncls:hover {
    /* background-color: #666; */
    background-color: #2c4f70;
    color: white;
}
.orgsListDiv{
    margin-top: 15px;
}