<div class="col-md-10 col-md-offset-1 pg-top">
    <h3 style="text-align: center">Organization Details</h3>
    <div class="row prodiv">
        <div class="col-md-4 mdspace">
            <p class="title">Organization Name</p>
            <p>{{orgDetails.org_name}}</p>
        </div>
        <div class="col-md-4 mdspace">
            <p class="title">Organization Type</p>
            <p>{{orgDetails.org_type}}</p>
        </div>
        <div class="col-md-4 mdspace">
            <p class="title">Organization Category</p>
            <p>{{orgDetails.org_cat}}</p>
        </div>
    </div>
    <div class="row prodiv">
        <h4 class="title-heading">Contact Details</h4>
        <div class="col-md-4 mdspace">
            <p class="title">Contact Name</p>
            <p>{{orgDetails.cont_name}}</p>
        </div>
        <div class="col-md-4 mdspace">
            <p class="title">Contact Mobile</p>
            <p>{{orgDetails.cont_phone}}</p>
        </div>
        <div class="col-md-4 mdspace">
            <p class="title">Contact Email</p>
            <p>{{orgDetails.cont_email}}</p>
        </div>
        <div class="col-md-4 mdspace">
            <p class="title">Director Name</p>
            <p>{{orgDetails.dir_name}}</p>
        </div>
        <div class="col-md-4 mdspace">
            <p class="title">Director Mobile</p>
            <p>{{orgDetails.dir_phone}}</p>
        </div>
        <div class="col-md-4 mdspace">
            <p class="title">Director Email</p>
            <p>{{orgDetails.dir_email}}</p>
        </div>
    </div>
    <div class="row prodiv">
        <h4 class="title-heading">Address</h4>
        <div class="col-md-4 mdspace">
            <p class="title">Address Line 1</p>
            <p>{{orgDetails.address}}</p>
        </div>
        <div class="col-md-4 mdspace">
            <p class="title">Address Line 2</p>
            <p>{{orgDetails.address1}}</p>
        </div>
        <div class="col-md-4 mdspace">
            <p class="title">State</p>
            <p>{{orgDetails.state}}</p>
        </div>
        <div class="col-md-4 mdspace">
            <p class="title">District</p>
            <p>{{orgDetails.district}}</p>
        </div>
        <div class="col-md-4 mdspace">
            <p class="title">Pin Code</p>
            <p>{{orgDetails.pincode}}</p>
        </div>
    </div>
    <div class="row prodiv">
        <h4 class="title-heading">Bank Details</h4>
        <div class="col-md-4 mdspace">
            <p class="title">Bank Name</p>
            <p>{{orgDetails.bank}}</p>
        </div>
        <div class="col-md-4 mdspace">
            <p class="title">IFSC Code</p>
            <p>{{orgDetails.ifsc_code}}</p>
        </div>
        <div class="col-md-4 mdspace">
            <p class="title">Accoun Number</p>
            <p>{{orgDetails.ac_number}}</p>
        </div>        
    </div>
    <div class="row prodiv">
        <h4 class="title-heading">Documents</h4>
        <div class="col-md-4 mdspace" *ngFor="let OrgDoc of orgDetails.allOrgDocs">
            <p class="docname">{{OrgDoc.document_name}}</p>            
            <img src="{{OrgDoc.document}}" class="docimg" (click) = "viewOrgDoc(OrgDoc.document)">
        </div>
    </div>
    <div class="row">
        <button class="btn btn-primary acBtn"  routerLink="/Admin/manage-orgnizations">Back</button>
        <button *ngIf = "orgDetails.admin_status != 'Approved'" class="btn btn-primary acBtn" (click) = "adminChangeOrgStatus('Approved')" style="float: right">Approve</button>
        <button *ngIf = "orgDetails.admin_status != 'Declined'" class="btn btn-primary acBtn1" (click) = "adminChangeOrgStatus('Declined')" style="float: right">Reject</button>

    </div>
</div>
