<div class="col-md-12 col-xs-12">
  <div class="row">
      <div class="col-md-offset-4 col-md-4 col-xs-12">
      <form [formGroup]="loginForm" class="formlogin" (ngSubmit)="onSubmit(loginForm.value)">
          <!-- <h2>Login</h2> -->
          <div style="text-align:center;">
                  <img src="assets/images/Logonew.png" class="imglogo_login">
          </div>
          <h5 style="text-align:center;">Sign in to stay updated on your professional world.</h5>
          <hr>
          <div class="form-group">
              <label class="usrnmlb" for="username">Mobile&nbsp;Number</label>
              <input type="text" (keypress)="mobnum($event)" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" placeholder="Enter Mobile Number" maxlength="10" />
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                  <div *ngIf="f.username.errors.required" style="color:red">Mobile number is required</div>
              </div>
          </div>
          <div class="form-group">
              <label class="pswdlb" for="password">Password</label>
              <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Enter Your Password" *ngIf="!shows" />
               <input type="text" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Enter Your Password"  *ngIf="shows"/>
               <a><i class="material-icons eyeicn" (click)="showpassword()">{{buttonName}}</i></a>
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required" style="color:red">Password is required
                  </div>
              </div>
          </div>
          <div class="form-group">
              <button [disabled]="loading" class="btn btn-primary">Login</button>
              <!-- <a [routerLink]="['/register']" class="btn btn-link">Sign Up</a> -->
              <a class="forgot-password frgtpswd" routerLink='/forgotpassword'>Forgot Password?</a>
          </div>
          <div *ngIf="loginerror!=''" style="color:red;">Invalid username or password</div>
          <div class="form-group">
              <p class="note">Don’t have an account?
                  <a routerLink="/">Click here to signUp</a></p>
          </div>
      </form>
  </div>
  </div>
</div>
