.formlogin {
    margin-top: 100px;
    box-shadow: 0 0 9px 0;
    padding:25px;
}
    
.imglogo_login {
    vertical-align: middle;
    width: 70px;
    height: 70px;
    /* padding: 7px; */
}
.eyeicn{
    position: relative;
    float:right;
    margin-top: -28px;
    margin-right: 8px;
    cursor: pointer;
}

button {
    margin: 0% 4% 0% 0%;
    width: 39%;
}

h2 {
    text-shadow: 2px 2px #0000ff;
}

.usrnmlb {
    margin: 0% 80% 0% 0%;
}

.pswdlb {
    margin: 0% 80% 0% 0%;
}


/*Responsive*/

@media only screen and (max-width: 600px) {

    .formlogin {
        /*margin-top: 30px;*/
        /*box-shadow: 0 0 9px 0;*/
        padding:10px;
    }
}

