<div class="col-md-12">
	<div class="txtcenet"><h3>DELETE POST</h3></div>
	<div class="posttxt">
		<h5>Are You Sure You Want To Delete The Post</h5>
	</div>
	<div class="btncls">
		<button class="btn btn-basic" (click)="onNoClick()">Cancel</button>
		<button class="btn btn-primary okbtn" (click)="deletepost(data.dataKey)">OK</button>
	</div>

</div>
<style type="text/css">
	.okbtn{
		margin-left: 20px;
	}
	.btncls{
		text-align: right;
		margin-top: 5%;
	}
	.txtcenet{
		text-align: center;
	}
	.posttxt{
		margin-top: 5%;
	}
</style>