<h1 mat-dialog-title>Edit the post</h1>
<div mat-dialog-content>
    <div class="col-md-12 bb">
        Heading:<input type="text" class="col-md-12" [(ngModel)]="data.heading">
        <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="7" class="area" [(ngModel)]="data.text" placeholder="What do you want to talk about?" maxlength="3000" style="width: 100%; height: 135px; margin-top: 18px;margin-bottom: -30px;border: 1px solid #ddd;">
    </textarea>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data">Update</button>
</div>