<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 home hometop" *ngIf="profilepostdata == '' ">
  <h3 style="text-align: center;">No Posts Are Available</h3>
</div>
<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 home hometop" *ngIf="profilepostdata != '' ">
  <div class="col-md-12 col-lg-12 rmcolpad">
    <div class="col-md-1 colwidth rmcolpad">
      <span class="movebtndiv" >
        <i class="material-icons movebtn leftbtn" (click)="moveLeft()">chevron_left</i>
      </span> 
    </div>
    <div class="col-md-10 rmcolpad colwidth1">   
      <drag-scroll>      
        <span *ngFor="let obj of profilepostdata; let i= index;" (click)="ViewPost(obj)">
          <div drag-scroll-item>
            <div class="boxdiv" matTooltip="{{obj.heading}}" aria-label="Button that displays a tooltip when focused or hovered over">
              <div class="profilediv">              
                <img src="../../assets/images/people.png" class="post-profile" *ngIf="!obj.profile_photo">
                <img src="{{obj.profile_photo}}" class="post-profile" *ngIf="obj.profile_photo">
                <span class="spantxt">{{obj.name}}</span>
              </div>
              <img *ngIf="obj.image_path !== 'null'" src="{{obj.image_path1}}" class="drgimgcs">
              <video *ngIf="obj.video_path !== 'null'" width="100px" height="80px" style="border-radius: 5px" controls>
                <source src="{{obj.video_path1}}" type="video/mp4">
                Your browser does not support the video tag.
              </video>
              <div class="noimgvdo" *ngIf="((obj.image_path == 'null') && (obj.video_path == 'null'))">
                <p>{{obj.text}}</p> 
              </div>
              <div class="txtdiv">
                  <p class="headingcs" *ngIf="obj.heading">{{obj.heading}}</p>
                  <p class="headingcs" *ngIf="!obj.heading">&nbsp;</p>
              </div>
            </div>
          </div>
        </span>      
      </drag-scroll>
    </div>
    <div class="col-md-1 colwidth rmcolpad">
      <span class="movebtndiv1">
        <i class="material-icons movebtn rightbtn" (click)="moveRight()">chevron_right</i>
      </span>
    </div>
  </div>
  <div class="col-md-12 col-lg-12 homebody" *ngIf="obj1">
    <div class="col-md-3 col-lg-3 hidden-sm hidden-xs">
      <div class="adsdiv">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="item active">
              <img src="https://static.financialexpress.com/m-images/M_Id_463838_SBI_Life.jpg" alt="Los Angeles" style="height:200px; width:100%;">
            </div>
            <div class="item">
              <img src="./assets/images/img1.png" alt="" style=" height:200px;width:100%;">
            </div>
            <div class="item">
              <img src="./assets/images/img2.png" alt="" style="height:200px;width:100%;">
            </div>
            <div class="item">
              <img src="./assets/images/im1.png" alt="" style="height:200px;width:100%;">
            </div>
            <div class="item">
              <img src="./assets/images/im4.jpeg" alt="" style="height:200px;width:100%;">
            </div>
            <div class="item">
              <img src="./assets/images/im3.jpeg" alt="" style="height:200px;width:100%;">
            </div>
          </div>
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <p>SBI Better Life</p>
      </div>
    </div>
    <div class="col-md-6 col-lg-6 fullpostbox doco">
      <div class="postprofile">
        <img src="{{obj1.profile_photo}}" class="post-profile1" *ngIf="obj1.profile_photo">
        <img src="../../assets/images/people.png" class="post-profile1" *ngIf="!obj1.profile_photo">
        <span class="profile-name">{{obj1.name}}</span>
        <span class="dropdown col-md-1 col-xs-1 col-sm-1">
            <a data-toggle="dropdown" class="dropdown-toggle">
              <i class="material-icons">
                more_vert
              </i>
            </a>
            <ul class="dropdown-menu deco "> 
              <a class=" dropdown-item" (click)="delete(obj1)"> 

                  <i class="material-icons">delete</i> &nbsp; <span class="icon-align">Delete post</span></a><br>

                  <a class="dropdown-item " *ngIf="obj1.comment==false" (click)="selectenabled(obj1)">
                      <i class="material-icons"> toggle_off</i> &nbsp; <span class="icon-align">Comment</span> </a>


                  <a class="dropdown-item" *ngIf="obj1.comment==true" (click)="selectDisabled(obj1)">
                       <i class="material-icons">toggle_on</i> &nbsp; <span class="icon-align">Comment</span> </a> <br>
                

                  <a class="dropdown-item" (click)="editing(obj1)"><i class="material-icons">edit
                     </i> &nbsp; <span class="icon-align">Edit Post</span> </a>

              </ul>
          </span>

             
             
            
             
          
      </div>
      <div class="col-md-12 posthead">
        <h6 class="postheading">{{obj1.heading}}</h6>
      </div>
      <div class="postimgvdo">
        <div *ngIf="obj1.image_path !== 'null';else second">
            <img src="{{obj1.image_path1}}" class="postimg">
        </div>
        <ng-template #second>
            <div *ngIf="obj1.video_path !== 'null'">
              <video width="100%" height="450px" controls>
                <source src="{{obj1.video_path1}}" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </div>
          </ng-template>
      </div>
      <div class="post-txt">
        <span class="pst-txt">{{obj1.text}}</span>
      </div>
      <div class="col-md-12">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 line3">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 buttontext">
                <button type="button" class="btn btn-default btn-sm coll" (click)="Incrementlikes(obj1)">
                  <span *ngIf="obj1.likedIds.includes(obj1.loggeduser)" style="color: blue; font-weight:bolder">
                    <span class="glyphicon glyphicon-thumbs-up">{{obj1.count}}</span> Like
                  </span>
                  <span *ngIf="!obj1.likedIds.includes(obj1.loggeduser)">
                    <span class="glyphicon glyphicon-thumbs-up">{{obj1.count}}</span> Like
                  </span>
                </button>&nbsp;&nbsp;
                <button type="button" (click)="addComments(obj1)" class="btn btn-default btn-sm coll" [disabled]="obj1.comment==false">
                  <span class="glyphicon glyphicon-comment"></span> Comment
                </button>&nbsp;&nbsp;
                <button type="button" class="btn btn-default btn-sm coll" *ngIf="!(obj1.loggeduser==obj1.user_id)" (click)="sharepop11(obj1)">
                  <span class="glyphicon glyphicon-share-alt"></span> Repost
                </button>
              </div>
              <div class="col-md-12 col-lg-12" *ngIf="obj1.commentBox">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" style="margin-top: 10px;">
                    <div class="row">
                      <div class="col-md-1 col-sm-1 col-xs-2 col-lg-1 commentPic">
                        <img [src]="profi" class="imgComment">
                      </div>
                      <div class="col-xs-7 col-sm-9 col-md-9 col-lg-9">
                        <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="2" [(ngModel)]="obj1.comment_text" style="border: 1px solid #BDC3C7; width: 100%; "></textarea>
                      </div>
                      <div class="col-md-2 col-sm-1 col-xs-3 col-lg-2">
                        <button class="btn btn-default btn-submit btnComment" style="border-color: #ccc;" (click)="postcomment(obj1)" [disabled]="!obj1.comment_text">Comment</button>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 cmmnt" *ngFor="let commt of obj1.comment_list">
                    <div class="row">
                      <div class="col-md-1 col-sm-1 col-xs-2 col-lg-1 commentPic">
                        <img src="{{commt.profile_photo}}" class="imgComment">
                      </div>
                      <div class="col-md-5 col-lg-5">
                        <h5 style="font-weight: bold;">{{commt.full_name}}</h5>
                      </div>
                      <div class="col-md-6 col-lg-6 time">
                        <p>{{commt.commented_time}}</p>
                      </div>
                    </div>
                    <div class="col-md-12 col-lg-12">
                      <p style="font-size: 13px; margin: 0 10px">{{commt.comment_text}}</p>
                    </div>
                    <div class="col-md-12 col-lg-12">
                      <button type="button" class="btn btn-default btn-sm coll" (click)="IncrementCommentlikes(commt)">
                        <span *ngIf="commt.comment_likedIds.includes(obj1.loggeduser)" style="color: blue; font-weight:bolder">
                          <span class="glyphicon glyphicon-thumbs-up">{{commt.count}}</span> Like
                        </span>
                        <span *ngIf="!commt.comment_likedIds.includes(obj1.loggeduser)">
                          <span class="glyphicon glyphicon-thumbs-up">{{commt.count}}</span> Like
                        </span>
                      </button>
                      <button type="button" (click)="addReplys(commt)" style="border: 0;margin-right: 5px;" class="btn btn-default btn-sm coll">Reply </button>
                    </div>
                    <div class="col-md-offset-1 col-md-11 col-sm-11 col-xs-11 col-lg-11 col-lg-offset-1" *ngIf="commt.replyBox" style=" margin-top: 10px;">
                      <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" *ngFor="let rply of commt.reply_list" style=" padding: 0px 10px 0 15px; margin-top: 5px;">
                          <div class="row">
                            <div class="col-md-1 col-sm-1 col-xs-2 col-lg-1 commentPic">
                              <img src="{{rply.profile_photo}}" class="imgComment">
                            </div>
                            <div class="col-md-5 col-lg-5">
                              <h5 style="font-weight: bold;">{{rply.full_name}}</h5>
                            </div>
                            <div class="col-md-5 col-lg-5 time">
                              <p>{{rply.replied_time}}</p>
                            </div>
                            <div class="col-md-12 col-lg-12">
                              <p style="font-size: 13px; margin: 0 10px"> {{rply.reply_text}}
                              </p>
                            </div>
                            <div class="col-md-12 col-lg-12">
                              <button type="button" class="btn btn-default btn-sm coll" (click)="IncrementRplylikes(rply)">
                                <span *ngIf="rply.reply_likedIds.includes(obj1.loggeduser) " style="color: blue;font-weight: bolder">
                                  <span class="glyphicon glyphicon-thumbs-up">{{rply.count}}</span> Like
                                </span>
                                <span *ngIf="!rply.reply_likedIds.includes(obj1.loggeduser)">
                                  <span class="glyphicon glyphicon-thumbs-up">{{rply.count}}</span> Like
                                </span>
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" style="margin-top: 10px;">
                          <div class="row">
                            <div class="col-md-1 col-sm-1 col-xs-2 col-lg-1 commentPic">
                              <img [src]="profi" class="imgComment">
                            </div>
                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                              <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="2" [(ngModel)]="commt.reply_text" style="border: 1px solid #BDC3C7;    width: 100%;"></textarea>
                            </div>
                            <div class="col-md-2 col-sm-1 col-xs-1 col-lg-2">
                              <button type="submit" style="border-color: #ccc;" class="btn btn-default btn-submit btnComment" (click)="postreply(commt)" [disabled]="!commt.reply_text">Reply</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 hidden-xs hidden-sm">
      <div class="adsdiv">
        <img src="./assets/images/im1.png" style="height: 200px;width: 100%" class="adsimg">
        <p style="color: blue;">Brighten your loved ones’ Holi celebrations with a gift card from #Woohoo! Buy it on #YONOSBI and make the most of this limited offer. Download: sbiyono.sbi</p>
      </div>
    </div>
  </div>
  </div>
  <style>
    
  drag-scroll>div.drag-scroll-content{
    /*overflow: hidden;*/
     overflow: visible;
  }
  .drag-scroll-content{
    /*overflow: hidden;*/
    overflow: visible;
  }
  drag-scroll-item{
    background:blue;
  }
  .drgimgcs{
    width:100px;
    height: 85px;
    border-radius: 5px;
  }
  .boxdiv{
    border-radius: 5px;
    border: 1px solid #d6d4d4;
    cursor:pointer;
    padding: 5px;
    margin: 0px 5px;
    background-color: white;
  }
  
  .txtdiv{
    margin: 3px 0px 0px 0px;
  }
  .headingcs{
    margin: 0px;
    white-space: nowrap; 
    width: 75px; 
    overflow: hidden;
    text-overflow: ellipsis; 
  }
  .rmcolpad{
    padding: 0px
  }
  .post-profile{
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  .profilediv{
    margin-bottom: 3px;
  }
  .spantxt{
    font-size: 11px;
    white-space: nowrap;
    width: 60px; 
    overflow: hidden;
    padding-left: 3px;
    text-overflow: ellipsis; 
  }
  .noimgvdo{
    overflow: hidden;
    width:100px;
    height: 85px;
    font-size: 10px;
    white-space: pre-wrap
  }
  .home{
      background-color:#f5f5f5;
      margin-top:42px
  }
  @media only screen and (min-width:320px) and (max-width: 767px) {
 .home{
    margin-top: 60px;
 }

}
  /* ===> MAIN BODY CSS <=== */
  .homebody{
    margin-top: 7px;
  }
  .fullpostbox{
    box-shadow: 1px 1px 5px 1px #d6d4d4;
    padding: 5px;
    background-color: white;
  }
  
  .post-profile1{
    width:30px;
    height: 30px;
    border-radius: 50%;
  }
  .profile-name{
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
  }
  .postprofile{
    border-bottom: 1px solid #d6d4d4;
  }
  .posttime{
    float: right;
    margin: 4px 5px 0px 0px;
    font-size: 10px;
  }
  .postheading{
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    /*font-weight: bold;*/
    overflow-wrap: break-word;
  }
  .posthead{
    padding: 3px 10px;
  }
  .postimg{
    width: 100%;
    height: 356px;
  }
  .post-txt{
    padding: 3px 10px;
    border-bottom: 1px solid #d6d4d4;
  }


  .adsdiv{
    margin: 20px;
    border: 1px solid #d6d4d4; 
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    background-color: white;
  }
  .adsimg{
    width: 100%;
    height: 250px;
    border-radius: 5px;
    background-color: white;
  }
  .hometop{
    background-color:#f5f5f5;
    margin-top:42px;
  }
  @media only screen and (min-width:360px) and (max-width: 800px) {
    .hometop{
      margin-top:60px;
    }
  }

  </style>
