#line3 {
    display: inline-block;
     margin-bottom: 5px;
     margin-top: 5px;
    }
 .wel{
     font-size: 18px;
     margin-top: 25px;
 }
 
 .notification1{
     background: #0a58a4;
     border-radius: 23px;
     width: 19px;
     margin-bottom: 3px;
     color: white;
     margin-left: 3px;
     text-align: center;
 }
 .imgComment{
    width: 30px;
    height: 30px;
    border-radius: 50%;
 }
 .tile-img {
     text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
 }
 .rmcolpad{
    padding: 0px;
 }
 .leftbtn{
    /*margin-left: 30px;*/
 }
  .colwidth{
  width:3.5%;
}
.colwidth1{
  width: 92.5%;
}
.rtbtn{
  text-align: right;
}
.movebtn{
  font-size: 50px;
  color:black;
  background-color: transparent;
  color: black;
  border-radius: 50%;
  cursor: pointer;
  z-index: 20;
}
.movebtn:hover{
  background-color:#9a9393;
  color:black;   
}
.movebtndiv{
  margin-top: 40px;
  position: absolute;
}
.movebtndiv1{
  margin-top: 40px;
  position: absolute;
   margin-left: 7px;
}
.spantxt{
  font-size: 11px;
  white-space: nowrap;
  width: 60px; 
  max-width: 60px;
  overflow: hidden;
  padding-left: 3px;
  text-overflow: ellipsis; 
  display: inline-flex;
}
.pst-txt{
  overflow-wrap: break-word;
}
 .container123{
     position: relative;
     display: inline-block;
 }
 .container123:hover .avatar-edit {
     display: block;
 }
 .avatar-edit {
     display: none;
     }
 .img1{
    width: 151px;
     height: 151px;
     border-radius: 74px;
 }
 .img2{
    width: 60px;
     height:60px;
     border-radius: 74px;
         margin-left: -5px;
     margin-top: -6px;
 }
 .avatar-upload {
     position: relative;
     max-width: 205px;
 }
 .avatar-upload .avatar-edit input {
     display: none;
 }
 .avatar-upload .avatar-edit {
        position: absolute;
     left: 40px;
     z-index: 1;
     bottom: 4px;
 }
  .avatar-edit {
     display: none;
      background: rgba(0, 0, 0, 0.3);
      height: 61px;
      width: 96%;
     border-radius: 0px 0px 112px 112px;
     }
 
 .avatar-upload .avatar-edit input + label {
    display: inline-block;
     width: 27px;
     height: 43px;
     margin-bottom: 3px;
     margin-left: -26px;
     border-radius: 100%;
     background: #ffffff;
     border: 1px solid transparent;
     box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
     cursor: pointer;
     opacity: 0;
     font-weight: normal;
     transition: all 0.2s ease-in-out;
 }
 .avatar-upload .avatar-edit input + label:hover {
     background: #f1f1f1;
     border-color: #d6d6d6;
 }
 .avatar-upload .avatar-edit input + label:after {
     content: "\f040";
     font-family: "FontAwesome";
     color: #757575;
     position: absolute;
     top: 5px;
     left: 46px;
     right: 0;
     text-align: center;
     margin: auto;
 }
 .avatar-upload .avatar-preview {
     width: 151px;
     height: 151px;
     background-color: #e2caca;
     position: relative;
     border-radius: 100%;
     box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
     margin-top: -10px;
 }
 
 .avatar-upload .avatar-preview > div {
     width: 100%;
     height: 100%;
     margin-top: -50%;
     border-radius: 100%;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
 }
 
 .container123 {
     width: auto;
     padding: 20px;
     margin-left: -66px;
 }
 
 
 .divborder {
     box-shadow: 0px 0px 1px 0px;
     transition: all .3s ease;
     margin-top: 25px;
     background-color: white;
     }
 .line1 {
     border-bottom: 1px solid #ddd;
     height: 70px;
     text-align: center;
 }
 .chitlogo {
     padding-top: 2.5vh;
     word-break: break-word;
 }
 .dropdown {
    margin-top: 15px;
    cursor: pointer;  
    float:right;
    margin-top:0px;
 }
 
 .circle-tile-heading1{ 
     border: 2px solid rgba(255, 255, 255, 0.3);
     border-radius: 100%;
     color: #FFFFFF;
     height: 55px;
     position: relative;
     transition: all 0.3s ease-in-out 0s;
     width: 61px;
     padding-left: 3px;
     margin-left: 15px;
     margin-top: 8px;
 }
 .coll{
     margin-top: 6px
 }
 .skyimg{
 
        width: 101%;
     height: 428px;
 }
 
 .name1{
     color: black;
     font-size: 18px;
     text-align: left;
 }
 
 .para{
    font-size: 16px
 }
 
 i.fa-camera {
   margin: 10px;
   cursor: pointer;
   font-size: 30px;
 }
 i:hover {
   opacity: 0.6;
 }
 @media only screen and (min-width:320px) and (max-width: 767px) {
 .area{
     width: 100%;
 }
 .container123 {
     width: auto;
     padding: 20px;
     margin-left: 6px;
 }
 .avatar-upload .avatar-preview {
     width: 151px;
     height: 151px;
     background-color: #e2caca;
     position: relative;
     border-radius: 100%;
     box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
     margin-top: -10px;
      margin-left: 89px;
 }
 .vide{
     margin-left: 18px;
 }
 .avatar-upload .avatar-edit {
        position: absolute;
     left: 69px;
     z-index: 1;
     bottom: 4px;
 }
 .name1{
     font-size: 18px;
 }
 .skyimg{
 
        width: 101%;
     height: 320px;
 }
 .dropdown-menu{
     margin-left: -107px;
     /* text-decoration: none; */
     
     }
 }

 .deco a:hover{
    text-decoration: none;
    color:#a5810e;

 }
 

 .deco{
     min-width:124px;
     align-content:stretch;
     padding-left: 7px;
     margin-left: -60px
    
 }
 
 .icon-align{
    
     position: absolute;
 }

 .notificbox{
     margin-left: 100px;
 }
 
 