.backgroundimg{
    height: 250px;
    background-position: center;
    background-size: cover;
    background-image: url('../../../assets/images/image.jpeg');

}

.publicprf{
    border: 1px solid #ccc;;
    margin-top: 69px;
    margin-bottom: -51px;
}
.fnt1{
     font-weight: bolder;
    font-size: 26px;
    margin-top: 15px;
    margin-bottom: -34px;
}

.img{
    background-color: white;
    margin: -118px 0px 0px 21px;   
    border: 1px solid #bfbfbf;
    width: 137px;
    height: 141px;
    border-radius: 63%;
    margin-top: -92px;
    margin-left: 1px;
}
.btn{
    margin-bottom: 15px;
    margin-top: -20px;
}

.fnt2{
    font-size: 21px;
    padding: 6px 0px 0px 20px;
}
 .between {
        border: 1px solid #ddd;
    }

.advr{
  margin: 20px;
  border: 1px solid #d6d4d4; 
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  background-color: white;
  margin-top: 66px;
}

/*.div {
   width: 160px; 
   height: 80px; 
   padding: 20px; 
   border: 1px solid red; 
   background: yellow; 
}*/