<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="box-shadow: 0 0 1px 0;">
  <ng-container> 
    <div class="spinner_container"><mat-spinner *ngIf = "requestSpinner"></mat-spinner></div>
 <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 popuptop rmcolpad">
   Heading:<input type="text" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 rmcolpad" [(ngModel)]="heading">
   <div>
     <textarea class="txtareacss" (input)="txtcontent($event)" placeholder="what do you want to talk about?"></textarea>
   </div>
 </div>
 <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" *ngIf="imgURL1 img-wrap">
  <div class="row adcolpadd">
     <img [src]=" imgURL1" class="img-video-css" *ngIf="imgURL1">
   </div>
 </div>
 <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" *ngIf="videoURL1 img-wrap">
   <div class="row adcolpad">
    <video [src]=" videoURL1 " class="img-video-css " *ngIf="videoURL1 " controls (click)="toggleVideo()" #videoPlayer>
      <source src="{{videoSource}}" type="video/mp4" />Browser not supported
    </video>
   </div>  
 </div>
 <div class="col-md-12 col-lg-12 rmcolpad">
    <div class="col-md-6 col-lg-6 col-sm-4 col-xs-4 rmcolpad">
      <span class="iconsinpt" *ngIf="imgshow">
            <label for="cameraicon" class="share-media-button__label mvA          share-media-button__label--square">
              <svg viewBox="0 0 24 24" class="vide" color="#3770a0" width="26px" height="26px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon" focusable="false">
                  <path d="M20,4H16.83L15,2H9L7.17,4H4A2,2 0 0,0 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6A2,2 0 0,0 20,4M20,18H4V6H8.05L9.88,4H14.12L15.95,6H20V18M12,7A5,5 0 0,0 7,12A5,5 0 0,0 12,17A5,5 0 0,0 17,12A5,5 0 0,0 12,7M12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15Z" >
                  </path>
              </svg>
            </label>
          <input type="file" id="cameraicon" accept=".png, .jpg, .jpeg" (change)="filechange($event)">
          <span style="color:red">{{message1}}</span>
      </span>
      <span *ngIf="imgURL1 img-wrap">
        <span (click)="onCloseclick()">
          <svg style="width:24px;height:24px" viewBox="0 0 24 24" class="trashbtn">
            <path fill="#d43f3a" d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z"/>
          </svg>
        </span>
      </span>      
      <span class="iconsinpt vidoicon" *ngIf="vidshow">
        <label for="videoicon">
              <svg viewBox="0 0 24 24" width="26px" margin-left="45px" color="#3770a0" height="26px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon" focusable="false">
                 <path d="M21,5.92a1,1,0,0,0-.57.18L17,8.5V7a1,1,0,0,0-1-1H3A1,1,0,0,0,2,7V17a1,1,0,0,0,1,1H16a1,1,0,0,0,1-1V15.5l3.43,2.4a1,1,0,0,0,.57.18,1,1,0,0,0,1-1V6.92A1,1,0,0,0,21,5.92ZM15,16H4V8H15v8Zm2-5.21,3-2.1v6.62l-3-2.1V10.79Z">
                 </path>
              </svg>
        </label>
        <input type="file" id="videoicon" accept="video/*" (change)="filechange12($event)">
        <span style="color:red">{{message}}</span>
      </span>
      <span *ngIf="videoURL1 img-wrap">
        <span (click)="onCloseclick()">
          <svg style="width:24px;height:24px" viewBox="0 0 24 24" class="trashbtn">
            <path fill="#d43f3a" d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z"/>
          </svg>
        </span>
      </span>
    </div>
     <div class="col-md-6 col-lg-6 col-sm-8 col-xs-8 btnscs rmcolpad">
        <button  type="submit" class="btn btn-basic canclbtn mobibtn" (click)="closepop()">Cancel
        </button>
        <button type="submit" class="btn btn-primary mobibtn postbtn" (click)="post1(heading)" *ngIf="!requestSpinner" [disabled]="postbtn">
         {{buttonName1}}
        </button>
     </div>
</div>
 </ng-container>         
</div>



<style type="text/css">
  .postbtn{
    padding: 4px 20px;
  }
  .img-video-css{
    width: 100%;
    height: 250px;
    margin-bottom: 3px;
    margin-top: -1px;
  }
  .popuptop{
    margin-top: 3px;
  }
  .txtareacss{
    height: 460px;
    width: 100%;
    margin-top: 10px;
  }
  .iconsinpt> input{
    display: none;
  }
  .vidoicon{
    margin-left: 20px;
  }
  
  .btnscs{
    text-align: right;
    margin-bottom: 3px;
  }
   .adcolpadd{
     margin:10px 0px 0px 0px;
   }
  .canclbtn{
    margin-right: 20px;
    height: 32px;
    width:66px;
    padding: 4px 12px;
  }
  .adcolpad{
    padding: 0px 15px;
  }
  .trashbtn{
    /*color:red;*/
    /*font-size: 18px;*/
    margin-left:20px;
    /*margin-bottom: 5px;*/
  }
  .spinner_container {
    border-radius: 10px;
    height: 70px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 70px;
    z-index: 10;
    opacity: 1;
    color:white;
}
.spinner_container ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
stroke: #2c4f71 !important;
}
@media screen and (min-width: 300px) and (max-width: 800px) {
  .vidoicon{
    margin-left: 7px;
  }
  .canclbtn{
    margin-right: 7px;
  }
  .adcolpad{
    padding: 0px;
  }
  .btnscs{
    text-align: center;
  }
  .rmcolpad{
    padding: 0px;
  }
  .mobibtn{
    padding: 1px 5px;
  }
}

</style>

























