<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 relate common">
  <div class="col-md-offset-3 col-lg-offset-3 col-md-5 col-sm-8 col-xs-12 col-lg-5 boxx" style="background-color:white">
    <div class="panel panel-default"  style="margin-top:5px; margin-bottom: 0px;">
      <div class="panel-heading">
        <p class="btn-group">My Connections</p>
        <span><button class="btn" *ngIf="globals.loggedInUserRole!='orignasition'" style="float:right; color: #0076be; background-color: whitesmoke;" routerLink="/network">Go To Network</button></span>
      </div>
    </div>
    <div class="col-md-2 col-sm-6 col-xs-6 card" *ngFor="let talk of talks1"
      style="box-shadow: 0px 0px 1px 0px; margin: 8px;">
      <div class="row">
        <div class="" *ngIf="talk.front_photo!=''">
          <img src="{{talk.front_photo}}" class="imgg1" alt="Avatar"></div>
        <div>
          <div class="" *ngIf="talk.front_photo==''">
            <img src="assets/images/people.png" class="imgg1" alt="Avatar"></div>
          <div>
            <div>
              <h4 style="font-size: 14px; height:30px;overflow: hidden;"><b class="textt">{{talk.full_name}}</b></h4>
              <!-- <p class="tee">Architect & Engineer</p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <p *ngIf="talks1.length==0" style="text-align:center;">No connections found!</p>
  </div>
</div>