<div class="col-md-3 col-sm-6 col-xs-6 card" *ngFor="let talk of talks">
    <img src="assets/img/rename.jpg" class="imgg1" alt="Avatar">
    <div>
      <h4><b class="textt1">PEHACHAIN</b></h4> 
      <p>
        <button class="invitation-card__action-btn button-secondary-medium1" data-control-name="accept">
            Connect
        </button>
      </p>
      <!-- <p>Gowdanar Technologies

      </p>  -->
    </div>
  
  </div> 
