.t-16 {
    font-size: 1.6rem;
    line-height: 1.5;
  }
  
  .t-16 {
    font-size: 1.6rem;
    line-height: 1.5;
  }
  
  .cards {
    padding-top: 20px;
    padding-left: 50px;
  }
  
  .card1 {
    margin-left: 20px;
  }
  
  .container {
    padding: 2px 16px;
  }
  
  .bor {
    border: 1px solid #bfbfbf;
  }
  
  .boxx {
    margin-top: 53px;
  }
  
  .boxx div>p {
    color: #0073b1;
  }
  
  .div-scroll {
    overflow: scroll;
    height: 400px;
  }
  
  .imgg {
    border: 1px solid #bfbfbf;
    width: 110px;
    border-radius: 50%;
    margin-top: 10px;
  }
  
  .imgg2 {
    border: 1px solid #bfbfbf;
    width: 100px;
    border-radius: 50%;
  }
  
  .imgs {
    border: 1px solid #bfbfbf;
    width: 90px;
    padding-left: -2px;
    border-radius: 50px;
    margin-left: -113px;
    margin-top: -100px;
  }
  
  
  .im1 {
    text-align: center;
    color: #7A7472;
    /*margin-top:15px;
    padding-bottom: 15px;*/
  }
  
  .im2 {
  
    text-align: center;
    color: #7A7472;
    cursor: pointer;
    /* padding-bottom: 20px; */
  
  
    /* padding-top: 22px; */
  }
  
  /* .im3{
    text-align: center;
    color: #7A7472;
  
    padding-top: 10px;
  } */
  /* 
  .im2:hover { 
   color: black;
  } */
  
  
  .dividing {
    text-align: center;
  }
  
  .bdr {
    border-bottom: 1px solid #ccc;
    text-align: center;
    padding: 32px;
  }
  
  .bdre {
  
    text-align: center;
    padding-top: 16px;
  
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  /*.textt{
    padding-left: 20px;   
     margin-top: -80px;
  
  }*/
  
  
  .buton {
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 2px;
    padding: 5px 20px;
    margin-top: 14%;
  }
  
  
  
  
  .panel-footer {
    border: 1px solid #bfbfbf;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    font-size: 23px;
    text-align: center;
  }
  
  .invitation-card__action-btn {
    flex-shrink: 0;
    flex-grow: 0;
  }
  
  
  
  .button {
    touch-action: manipulation;
  }
  
  
  .invitation-card__action-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  
  hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
  }
  
  
  .mb1,
  .mv1 {
    margin-bottom: 18px;
  }
  
  .common1{
    padding-left: 0px !important;
    padding-right: 0px !important;
}


  
  
  .common {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  
  .bank-box{
    box-shadow: 0px 0px 1px 0px;
    text-align: center;
    position: fixed;
    width: 24%;
    height: 285px;
    /*margin-left: 26px;*/
    margin-top: 53px;
  }
  .box {
    box-shadow: 0px 0px 1px 0px;
    text-align: center;
    position: fixed;
    margin-top: 53px;
    /*width: 50;*/
    width: 17%;
    /*height: 361px;*/
    margin-left:68px;
    background-color: white;
  }
  
  .boxmanagefren {
    box-shadow: 0px 0px 1px 0px;
    text-align: center;
    position: fixed;
    width: 50;
    width: 21%;
    height: 361px;
    margin-left: 26px;
  }
  
  .btbdr {
    border-bottom: 1px solid #ccc;
    /*padding: 3px 42px 31px 0px;*/
    cursor: pointer;
    padding:  20px 0px;
  }
  
  .icon-blue {
    color: #337ab7;
    font-size: 42px;
  }
  
  .txtsz {
    font-size: 1.4rem;
  
  }
  
  .btn-group {
    font-size: 1.8rem;
  }
  .btn1-group{
      font-size: 100%;
  }
  .card {
    padding-top: 10px;
    text-align: center;
    box-shadow: 0px 0px 1px 0px;
    margin: 10px;
    width: 135px;
    margin-left: 15px;
    padding-bottom: 5px;
  }
  
  .imgg1 {
    border: 1px solid #bfbfbf;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: -1px;
    margin-left: -1px;
  
  }
   .logooico{
    vertical-align: middle;
    width: 20px;
    height: 20px;
    /*margin-left:20px;*/
  }
  .imgg2 {
    border: 1px solid #bfbfbf;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-top: 19px;
    margin-left: 35px;
  
  }
  
  /* .textt1 {
    padding-left: 7px;
  } */
  
  
  .button-secondary-medium {
    background-color: transparent;
    border-radius: 2px;
    color: #0073b1;
    /* border-color: #0073b1; */
    cursor: pointer;
    height: 21px;
    width: 66px;
    font-size: 12px;
    padding-left: 0px;
    margin:2px;
  
  }
  
  .button-secondary-medium:hover {
    background: #dce0e2;
  }
  
  .panel-footer {
    background-color: white;
  }
  
  .mn-discovery__header {
    box-shadow: 0px 0px 1px 0px;
    border-bottom: none;
  }
  
  .relate {
    position: relative;
  
  }
  
  .button-secondary-medium1 {
    background-color: transparent;
    border-radius: 2px;
    color: #0073b1;
    /* border-color: #0073b1; */
    cursor: pointer;
    height: 21px;
    font-size: 12px;
  }
  
  .button-secondary-medium2 {
    background-color: transparent;
    border-radius: 2px;
    color: #0073b1;
    border-color: #0073b1;
    cursor: pointer;
    height: 28px;
    width: 81px;
  
  }
  
  @media screen and (min-width:300px) and (max-width:700px) {
    .imgg {
      border: 1px solid #bfbfbf;
      width: 83px;
      margin-left: 8px;
      border-radius: 50%;
      margin-top: 10px;
    }
  
    .icon-blue {
      font-size: 35px;
    }
  
    .igno {
      padding-left: 15px;
    }
  
    .t-18 {
      font-size: 14px;
      margin-top: 17px;
    }
  
    .textt1 {
      font-size: 12px;
    }
  
    .textt {
      font-size: 12px;
    }
  
    .txtsz {
      font-size: 14px;
 
    }
  
    .btn-group {
      font-size: 14px;
    }
  
    .card {
      padding-top: 10px;
      padding-left: 0px;
      text-align: center;
      box-shadow: 0px 0px 1px 0px;
      margin: 10px;
      width: 140px;
    }
  
   
  
    
  
    .panel-body {
      padding: 0px !important;
    }
  
    .panel-footer {
      font-size: 18px;
      background-color: white;
    }
  
    .recomm {
      box-shadow: 0px 0px 1px 0px;
    }
  
  
    .tee {
      font-size: 9px;
      margin-left: 5px;
    }
  
    .imgg2 {
      border: 1px solid #bfbfbf;
      width: 80px;
      border-radius: 50%;
      margin-left: 11px;
    }
  
    .text3 {
      font-size: 12px;
      margin-left: 15px;
    }
  
  }
  
  /*-------------------------------END--------------------------------------*/
  
  /*------------------------Galaxy-S5--------------------------*/
  
  @media screen and (min-width:360px) and (max-width:640px) {
  
    /* .panel-heading {
      width: 330px;
    } */
  
    .panel-default {
      margin-top: 30px;
    }
  
   
    .imgg2 {
      border: 1px solid #bfbfbf;
      width: 115px;
      border-radius: 50%;
      margin-left: 30px;
      margin-top: 5px;
    }
  
    .button-secondary-medium1 {
      background-color: transparent;
      border-radius: 2px;
      color: #0073b1;
      /* border-color: #0073b1; */
      cursor: pointer;
      height: 21px;
      width: 81px;
      font-size: 12px;
      /* margin-left: 15px;
      padding-left: 5px; */
    }
  
    .textt1 {
      /* padding-left: 20px; */
      font-size: 12px;
    }
  
  
  }
  
  /*-------------------------------END--------------------------------------*/
  /*-----------------------Pixel-2----------------------------------*/
  @media only screen and (min-width:411px) and (max-width: 731px) {
    /* .panel-heading {
      width: 380px;
    } */
  
    .panel-default {
      /* width: 382px; */
      margin-top: 30px;
    }
  
    .mn-discovery__header {
      box-shadow: 0px 0px 1px 0px;
      border-bottom: none;
    }
/*   
    .recomm {
      width: 382px;
    } */
  
    .card {
      padding-top: 10px;
      padding-left: 0px;
      text-align: center;
      box-shadow: 0px 0px 1px 0px;
      margin: 10px;
      width: 165px;
      margin-left: 15px;
    }
  
  
  }
  
  /*-------------------------------END--------------------------------------*/
  /*------------------------------------iPad Pro--------------------------------------*/
  @media only screen and (min-width:1024px) and (max-width: 1366px) {
  
  
    #itabres {
      box-shadow: 0px 0px 1px 0px;
      margin: 8px;
      margin-left: 36px;
      width: 84px;
    }
  
    /* #ipaddd1 {
      margin-top: 36px; 
      margin-bottom: -21px;
    } */
  
    #header12 {
      margin-top: -150px;
      margin-bottom: 3px;
    }
  
  
    #ipadpro {
      margin-top: 10px;
      margin-left: 60px;
    }
  
    .panel {
      /* margin-top: 85px;
      width: 700px; */
      background-color: #fff;
      border: 1px solid transparent;
      border-radius: 4px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    }
  
    .box {
      box-shadow: 0px 0px 1px 0px;
      text-align: center;
      position: fixed;
      /* margin-top: 328px; */
    
      width: 17%;
      margin-left: 68px;
      background-color: white;
    }
  
  }
  
  /*-------------------------------END--------------------------------------*/
  /*------------------------------------iPad--------------------------------------*/
  @media only screen and (min-width:768px) and (max-width: 1024px) {
  
  
    #ipadpro {
      margin-top: 10px;
      margin-left: 15px;
    }
  
  
    #ipad1 {
      margin-top: 30px;
      margin-bottom: 20px;
    }
  
    #ipaddd {
      margin-top: 165px;
      /* margin-bottom: -20px; */
      height: 85px;
    }
  
    .panel-default {
      border-color: #ddd;
      background-color: white;
    }
  
    .panel {
      margin-top: 235px;
      /* width: 700px; */
      background-color: #fff;
      border: 1px solid transparent;
      border-radius: 4px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    }
  
  
  
    .recomm {
      box-shadow: 0px 0px 1px 0px;
      margin-top: -143px;
      /* width: 700px; */
    }
  
  }
  
  /*-------------------------------END--------------------------------------*/
  