<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 relate common">
  <div class="col-md-offset-3 col-lg-offset-3 col-md-5 col-sm-12 col-xs-12 col-lg-5 boxx">
    <div class="panel panel-default">
      <div class="panel-heading" style="background-color: white;">
        <p class="btn-group">Invitations</p>
        <a routerLink="/manageview" class="btn1-group pull-right">View all</a>
      </div>
      <div class="panel-body" style="padding:0px; box-shadow: 0px 0px 1px 0px; background-color: white;">
        <div class="col-md-3 col-sm-6 col-xs-6 card common" *ngFor="let take of requestdata | slice:0:5" style="margin: 8px;">
            <div class="" *ngIf="take.front_photo!=''">
                <img src="{{take.front_photo}}" class="imgg1" alt="Avatar"></div>
            <div class="" *ngIf="take.front_photo==''">
              <img src="assets/images/people.png" class="imgg1" alt="Avatar"></div>
            <h4 style="font-size: 14px; height:30px;overflow: hidden;"><b class="textt1">{{take.full_name}}</b></h4>
            <div class="ignr-acpt">
              <button class="invitation-card__action-btn button-secondary-medium" data-control-name="accept">
                <span aria-hidden="true" class="invitation-card__action-btn button-secondary-medium" (click)="deleteFriendRequest(take)">Ignore</span>
              </button>
            </div>
            <div class="ignr-acpt">
              <button class="invitation-card__action-btn button-secondary-medium" data-control-name="accept">
                <span aria-hidden="true" class="invitation-card__action-btn button-secondary-medium" (click)="addfriendrequest(take)">Accept</span>
              </button>
            </div>
          </div>
          <p *ngIf="requestdata.length==0" style="text-align:center">No invitations found!</p>
        </div>
        <!-- <div class="panel-footer">Show More</div> -->
      </div>
      <div *ngIf="globals.loggedInUserRole!='orignasition'" class="recomm" style="box-shadow: 0px 0px 1px 0px; background-color: white;">
        <header class="mn-discovery__header artdeco-card__header" id="ipaddd">
          <h3 class="t-18 t-black t-normal" id="header12" style="margin-top:13px; margin-bottom:3px; font-size:1.8rem;padding-top: 7px; padding-left: 5px; background-color: white;">
            Recommended for you
        </h3>
        <br>



          <div class="row im1 hidden-lg hidden-md" id="ipad1">
            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4 common im2" (click)="showPeoples1()">
              <p id="target3" style="font-size: 1.4rem">People</p>
            </div>
            <!-- <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4 common im2" (click)="showGroups1()">
              <p id="target4" style="font-size: 1.4rem">Groups</p>
            </div> -->
            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4 common im2" (click)="showCompanies1()">
              <p id="target5" style="font-size: 1.4rem">Companies</p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4 common im2" routerLink="/acceptfriends">
              <p id="target4" style="font-size: 1.4rem">Your Network</p>
            </div>
          </div>
          <div class="row im1 hidden-sm hidden-xs" id="ipaddd1">
           <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3 common im2" (click)="showPeoples()">
              <p id="target" style="font-size: 1.4rem">People</p>
            </div>
            <!-- <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3 common im2" (click)="showGroups()">
              <p id="target1" style="font-size: 1.4rem">Groups</p>
            </div> -->
            <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3 common im2" (click)="showCompanies()">
              <p id="target2" style="font-size: 1.4rem">Companies</p>
            </div> 
            <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3 common im2" routerLink="/acceptfriends">
              <p id="target1" style="font-size: 1.4rem">My Connections</p>
            </div>       
            </div>
        </header>
        <div class="col-md-12 col-lg-12 hidden-sm hidden-xs">
          <div class="row" style="box-shadow: 0px 0px 1px 0px; background-color: white;">
            <div class="col-md-1 col-sm-4 col-xs-7 card" *ngFor="let talk of talks;" style="box-shadow: 0px 0px 1px 0px;margin:8px;     background-color: white;" id="itabres">
              <div class="row">
                <div class="" *ngIf="talk.front_photo!=''">
                    <img src="{{talk.front_photo}}" class="imgg1" alt="Avatar"></div>
                <div class="" *ngIf="talk.front_photo==''">
                  <img src="assets/images/people.png" class="imgg1" alt="Avatar"></div>
                  <div>
                    <h4 style="font-size: 14px; height:30px;overflow: hidden;"><b class="textt">{{talk.full_name}}</b></h4>
                    <!-- <p class="tee">Architect & Engineer</p> -->
                    <p *ngIf="!showGro">
                      <button *ngIf="talk.role=='People'" class="invitation-card__action-btn button-secondary-medium1" data-control-name="accept" (click)="sendfriendRequest(talk)">
                        Connect
                      </button>
                      <button *ngIf="talk.role=='Organization'" class="invitation-card__action-btn button-secondary-medium1" data-control-name="accept" (click)="sendfollowRequest(talk)">
                        Follow
                      </button>
                    </p>
                  </div>
                </div>
              </div>
              <p *ngIf="talks.length==0" style="text-align:center">No recommendations found!</p>
            </div>
          </div>
          <!-- ---------------------mobile Response for Network------------------------ -->
          <div class="hidden-md hidden-lg col-sm-12 col-xs-12" id="ipadpro">
            <div class="row">
              <div class="col-sm-5 col-xs-5 card" *ngFor="let talk of talks;">
                <div class="row">
                  <div class="" *ngIf="talk.front_photo!=''">
                      <img src="{{talk.front_photo}}" class="imgg1" alt="Avatar"></div>
                  <div class="" *ngIf="talk.front_photo==''">
                    <img src="assets/images/people.png" class="imgg1" alt="Avatar"></div>
                    <div>
                      <h4 style="font-size: 14px; height:30px;overflow: hidden;"><b class="textt">{{talk.full_name}}</b></h4>
                      <p>
                        <!-- <button class="invitation-card__action-btn button-secondary-medium1" data-control-name="accept" (click)="sendfriendRequest(talk)">
                          Connect
                        </button> -->
                        <button *ngIf="talk.role=='People'" class="invitation-card__action-btn button-secondary-medium1" data-control-name="accept" (click)="sendfriendRequest(talk)">
                          Connect
                        </button>
                        <button *ngIf="talk.role=='Organization'" class="invitation-card__action-btn button-secondary-medium1" data-control-name="accept" (click)="sendfollowRequest(talk)">
                          Follow
                        </button>
                      </p>
                    </div>
                  </div>
                </div>
                <p *ngIf="talks.length==0" style="text-align:center">No recommendations found!</p>
              </div>
            </div>
            <!-- --------------------------END--------------------------------------------- -->
          </div>
        </div>

         <div class="col-md-3 hidden-sm hidden-xs col-lg-3">
    
  </div>
      </div>
