<div class="ngmatcss">
	<form [formGroup]="firstFormGroup" (ngSubmit)="submitPartnerNodeReg()">
		<div class="col-md-offset-3 col-md-9">
			<div class="row">
        <div class="col-md-12 col-sm-12 example-container">
        <mat-form-field>
          <input matInput formControlName="partnername" type="text" placeholder="Name Of The Partner" (keypress)="keyPress1($event)" class="matvalue" required>
          <mat-error *ngIf="personalform.partnername.invalid">Partner name is required</mat-error>
        </mat-form-field>
        <mat-form-field> 
          <input type="email" matInput formControlName="email" placeholder="Email" class="matvalue" required>
          <mat-error *ngIf="personalform.email.touched || personalform.email.invalid">Email id is Required and should be valid</mat-error>
        </mat-form-field> 
        <mat-form-field>
          <mat-select placeholder="Select Organization" formControlName="orgs" required multiple class="matvalue">
          <mat-option  *ngFor="let org of allRegOrgs" value="{{org.user_id}}"> {{org.org_name}}</mat-option>
          </mat-select>
           <mat-error *ngIf="personalform.orgs.invalid"> Organisation is required
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="mobnum" placeholder="Mobile Number" class="matvalue" maxlength="10" minlength="10" (keypress)="keyPress($event)"  required >
          <mat-error *ngIf="personalform.mobnum.invalid"> Mobile number is required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="password" type="password" placeholder="Password" class="matvalue" required>
          <mat-error *ngIf="personalform.password.invalid"> Password is required</mat-error>
        </mat-form-field>
        <div class="col-md-6">
					<button class="btn btn-primary" [disabled]="!firstFormGroup.valid">submit</button>
				</div>
      </div>
    </div>
  </div>
</form>
</div>
