
.ngmatcss ::ng-deep .mat-form-field-ripple, .ngmatcss  ::ng-deep .mat-form-field-underline{
	color:white !important;
	background-color: white !important;
}

.ngmatcss ::ng-deep .mat-form-field-label{
	color:white !important;
}

.ngmatcss ::ng-deep .mat-radio-outer-circle{
	border-color:white !important;
}
mat-form-field{
	font-size: 16px;
	margin-bottom:10px;
}

.matvalue ::ng-deep .mat-select-value{
	color:white;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
