
<div class="col-md-10 col-md-offset-1 pagtop">
	<mat-accordion *ngFor="let orgs of orgsList">
	  <mat-expansion-panel>
	    <mat-expansion-panel-header>
	      <mat-panel-title class="col-md-4">
		      <img src="../../assets/images/people.png" class="proffiicon-img">
		      <!-- <img src="{{data.owner_propic}}" class="proffi-img"> -->
					<!-- <span class="pnNode">{{orgs.org_name}}</span> -->
				</mat-panel-title>     
		      <mat-panel-description class="col-md-4 tpmargn">
		        {{orgs.org_name}}
				</mat-panel-description>
				
	    </mat-expansion-panel-header>
	    <div class="col-md-12">
		    <div class="col-md-4">
		    	<p>Contact Name: {{orgs.cont_name}}</p>
		    </div>
		    <div class="col-md-4">
		    	<p>Contact Mobile: {{orgs.cont_phone}}</p>
		    </div>
		    <div class="col-md-4">
		    	<p>Contact Email: {{orgs.cont_email}}</p>
		    </div>
		    <div class="col-md-4">
		    	<p>Director Name: {{orgs.dir_name}}</p>
		    </div>
		    <div class="col-md-4">
		    	<p>Director Mobile: {{orgs.dir_phone}}</p>
		    </div>
		    <div class="col-md-4">
		    	<p>Director Email: {{orgs.dir_email}}</p>
		    </div>
		    <div class="col-md-4">
		    	<p>Address: {{orgs.address}}</p>
		    </div>
		    <div class="col-md-4">
		    	<p>Address Line1: {{orgs.address1}}</p>
		    </div>
		    <div class="col-md-4">
		    	<p>State: {{orgs.state}}</p>
		    </div>
		    <div class="col-md-4">
		    	<p>Distirct: {{orgs.district}}</p>
		    </div>
		    <div class="col-md-4">
		    	<p>Pin: {{orgs.pincode}}</p>
		    </div>
		</div>
	  </mat-expansion-panel>
	  <mat-expansion-panel (opened)="panelOpenState = true"
	                       (closed)="panelOpenState = false">
	  </mat-expansion-panel>
	  <div style="margin-top: 10px;"></div>
	</mat-accordion>
	
</div>
