<div  *ngIf = "data.status == 'DECLINED' || data.status == 'PENDING' || data.status == 'APPROVED'">
  <div  mat-dialog-title>
    <span class="heading" *ngIf = "data.status == 'DECLINED'">Decline Document</span>
    <span class="heading" *ngIf = "data.status == 'PENDING'">Resubmit Document</span>
    <span class="heading" *ngIf = "data.status == 'APPROVED'">Approve Document</span>
    <button type="button" class="close"  aria-label="Close" (click) = "closePop()">
      <span aria-hidden="true" class="white-text">&times;</span>
    </button>
  </div>
  <form [formGroup]="commentFormGroup" >
      <div class="modelbdy" mat-dialog-content>
	    <div class="form-group">
	      <label for="comment">Comment:</label>
	      <textarea class="form-control" rows="5" id="comment" formControlName="comment" [(ngModel)] = selectedFile.comment required></textarea>
	    </div>
	    	<div class="element">
              		<label for="attachfile" class="pinicon">
                    	<svg viewBox="0 0 24 24" class="vide" color="black" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon" focusable="false">
                       		<path d="M16.5,6V17.5A4,4 0 0,1 12.5,21.5A4,4 0 0,1 8.5,17.5V5A2.5,2.5 0 0,1 11,2.5A2.5,2.5 0 0,1 13.5,5V15.5A1,1 0 0,1 12.5,16.5A1,1 0 0,1 11.5,15.5V6H10V15.5A2.5,2.5 0 0,0 12.5,18A2.5,2.5 0 0,0 15,15.5V5A4,4 0 0,0 11,1A4,4 0 0,0 7,5V17.5A5.5,5.5 0 0,0 12.5,23A5.5,5.5 0 0,0 18,17.5V6H16.5Z" class="large-icon" style="fill: currentColor">
                       		</path>
                    	</svg>
              		</label>
                  <input type="file" id="attachfile" accept=".png, .jpg, .jpeg, .pdf" (change)="attachfile($event)" formControlName="attachfile">
                  <!-- <span style="color:red">{{message1}}</span> -->
                </div>
      </div>
      <div  mat-dialog-actions class="matfotr">
      	<a type="button" class="btn btn-outline-info waves-effect" data-dismiss="modal" (click) = "closePop()">Cancel</a>
        <button class="btn btn-info" type="Submit" [disabled]="!commentFormGroup.valid" [mat-dialog-close]="selectedFile">Submit</button>
      </div>
   </form>
</div>



<!-- 
<div *ngIf = "data.status == 'APPROVED' ">  
	<div mat-dialog-title>
		<span class="heading">Approve Document</span>
		<button type="button"  (click) = "closePop()" class="cnclbtn">
		  <span aria-hidden="true" class="white-text">&times;</span>
		</button>
	</div>
	<div  mat-dialog-content class="matcntent">
	      <p class="aprvcs">Are you sure want to approve the document?</p>
	      <input type="hidden" [(ngModel)]="noComment.comment">	 
	 </div>
	<div mat-dialog-actions class="matfotr">
	  	<a type="button" class="btn btn-outline-info waves-effect" (click) = "closePop()">Cancel</a>
	    <button class="btn btn-info" type="Submit" [mat-dialog-close] = "noComment.comment">OK</button>
	</div>
</div> -->

<style type="text/css">
	.matfotr{
		float: right;
	}
	.matcntent{
		text-align: center;
	}
	.aprvcs{
		margin:40px;
	}
	.cnclbtn{
		border: none;
		background-color: transparent;
		float: right;
		outline: none;
		font-size: 24px;
	}

	.element> input{
    /*display: none;*/
    }
    .element {
      display: inline-flex;
      align-items: center;
      width: 41px;
      margin-left: 5px;
    }
</style>
