
/* ===> DASHBOARD CSS <=== */

.butn1{
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  margin-top:12px;
 }
.butn2{
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-top:12px;

}
.butn{
	padding: 10px 50px;
	border:1px solid #2e6da4;
	outline:none;
}
.selectbtn{
	text-align: right;
}
.txt{
	text-align: center;
}
.badgeicon{
	margin-top: -15px;
	background-color: #e81a1a;
	font-size:14px;
}
.bellbadge{
	margin-left: -10px;
	margin-top: -40px;
}
.linktagg{
	color: white;
	text-decoration:none;
}

.btncls {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
  color: black;
  outline: none;
  text-align: center;
}

.active, .btncls:hover {
  background-color: #2c4f71;
  color: white;
}

.linktagg::hover{
	color: white;
	text-decoration:none;
}
/* ===> Table Div <=== */

.tablediv{
	box-shadow: 0px 0px 2px 0px #e6e6e6;
	margin-top: 20px;
	background-color: rgba(80, 77, 77, 0.47);
	padding-bottom: 5px;
}
.addbtn{
	text-align: right;
}
.viewbtn{
	margin-top: 10px; 
}
.actionicon{
	color:white;
	cursor: pointer;
}
.pendicon{
	margin-left: 10px;
}
th, td{
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}
.dtime{
	font-size: 10px;
	color: #a09e9e
}
.dtime1{
	font-size: 14px;
	color: white;
}


/* ===> SEEKER DATA CSS <=== */

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.ngmatcss ::ng-deep .mat-form-field-ripple, .ngmatcss  ::ng-deep .mat-form-field-underline{
	color:white !important;
	background-color: white !important;
}

.ngmatcss ::ng-deep .mat-form-field-label{
	color:white !important;
}

.ngmatcss ::ng-deep .mat-radio-outer-circle{
	border-color:white !important;
}
mat-form-field{
	font-size: 16px;
	margin-bottom:10px;
}

.searchbtn1{
	margin-top: 17px;
}
.searchbtn{
	text-align: left;
}
.searchdiv{
	padding-top: 10px;
}
.dataowner-img{
	width: 25%;
	height: 25%;
	border-radius: 50%;
	/*cursor: pointer;*/
}
.sendreqbtn{
	text-align: right;
}
.dtaown{
	padding: 20px;
}

.routingdivsbrdr{
	border:10px solid rgba(214, 211, 211, 0.5294117647058824);
    text-align: center;
    margin-top: 2%;
}
.routingdivs{
	padding: 20px;
}


.routingdivsbtn{
	color: black;
	background-color: white;
	padding: 15px;
	cursor: pointer;
}
.routingdivsbtn:hover{
	background-color: #2e6da4;
	color:white;
}
.serchinput{
	border-radius:50px;
    background-color:white;
    height:40px;
    width: 20%;
    margin-top: 12px;
    border:none;
    color:black;
    text-align:center;
    outline:none;
    margin-left: 8%;
}

.mypagination{
	color: white !important;
	margin-top: 26px;
	margin-left: 66%;
}

/* ===> MOBILE VIEW CSS <=== */

.doc1{
	/*background-color: rgba(80, 77, 77, 0.47);*/
	box-shadow: 0px 0px 2px 0px #e6e6e6;
	/*margin:10px;*/
	/*padding: 10px;*/
	text-align: center;
	padding: 3px;
}
.pending{
	color:yellow;
	font-size: 20px;
	float:left;
}
.declined{
	color:red;
	font-size: 20px;
	float: left;
}
.approved{
	color:green;
	font-size: 20px;
	float: left;
}
@media screen and (min-width:300px) and (max-width:700px){
  	.mobview{
		font-size: 18px;
		margin-right: 20px;
		margin-top: 0px; 
	}
	.datacenter{
		margin-top: 7px;
	}
	.text_path{
		font-size: 20px;
	}
	.logo_img{
		width:13%;
		height: 13%;
	}
	.logoo{
		margin-top: 10px;
	}
	.proffi-img{
		width:50px;
		height: 50px;
	}
	.proffiicon-img{
		width: 40px;
		height: 40px;
	}
	.bellicon{
		margin-top: 5px;
	}
	.routercls{
		margin-top: 25%;
		margin-bottom: 5%;
	}
	.selectbtn{
		text-align: center;
	}
	.sendreqbtn{
		text-align: center;
	}
	h3{
		font-size: 18px;
	}
	.routingdivs{
		padding: 10px;
	}
	.routingdivsbtn{
		padding: 10px;
	}

}


/* ===> VERIFIER MOBILE VIEW CSS <=== */

@media only screen and (min-width: 300px) and (max-width:800px){
	.doc-img{
		/*height:40%;
		width:90%;*/
		height:400px; 
		width:90%
	}
}
.mobics{
	margin-top: 5%;
	margin-bottom: 10%;
}

.actbtns{
	margin-top: 3%;
}
.bkbtn{
	text-align: left;
}
.bkbtn1{
	text-align: right;
	font-size: 20px;
}
.btniconn{
	font-size: 20px;
	cursor: pointer;
	box-shadow: 0px 0px 2px 0px #e6e6e6;
	margin-top: 0%;
	background-color: rgba(80, 77, 77, 0.47);
	padding: 10px;
}
.bctnn{
	padding: 10px;
}
.doc-img{
	/*height:40%;
	width:90%;*/
	height:80%; 
	width:80%
}

.mypagination /deep/ .ngx-pagination .current {
	background: #2c4f70 !important;
}
.mypagination /deep/ .ngx-pagination a{
	color:white !important;
}