<div class="col-md-12">
			<input type="text" placeholder="Search.." class="serchinput" [(ngModel)]="searchRequest">
	<div class="col-md-10 col-md-offset-1 routingdivsbrdr">
      <div id="myDIV" class="row">		
		<div class="col-md-4 col-sm-12 col-xs-12">
			 <h4 class="btncls active" (click)="pendingfun()"id="pending">Pending Requests <span class="badge badgeicon">{{pendingDocs.length}}</span></h4>
		</div>
		<div class="col-md-4 col-sm-12 col-xs-12">
			<h4 class="btncls" (click)="approvedfun()" id="approved">Approved Requests <span class="badge badgeicon">{{approvedDocs.length}}</span></h4>
	   </div>
		<div class="col-md-4 col-sm-12 col-xs-12">
			 <h4 class="btncls" (click)="declinedfun()" id="declined" >Declined Requests <span class="badge badgeicon">{{declinedDocs.length}}</span></h4>
		</div>
	</div>
	</div>
		<div class="row">
		<div class="">
			<div class="col-md-10 col-md-offset-1 tablediv">
				<div class="row">
					<div class="col-md-6 col-xs-12 col-sm-12">
						<a href="Pending_Requests" class="linktagg">
							<h3>
							  {{docsTitle}}
							</h3>
						</a>
					</div>
				</div>
				<table class=" hidden-sm hidden-xs table  table-bordered">
				  <thead>
				    <tr>
				      <th scope="col">Name</th>
				      <th scope="col">Mobile</th>
				      <th scope="col">Document Details</th>
				      <th scope="col">Document</th>
				      <th scope="col" *ngIf="approvedRow">Approved Date</th>
				      <th scope="col" *ngIf="declinedRow">Declined Date</th>
				      <th scope="col">Action</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr *ngFor="let docdetail of docsDetails | ownerRequest:searchRequest | paginate :{itemsPerPage :8,currentPage:p,totalItems: total}; let i=index">
				      <td>{{docdetail.ownerName}}</td>
				      <td>{{docdetail.ownerMobile}}</td>
				      <td>
				      	<span> {{docdetail.docName}}</span>
				      	<br>
				      	<span class="dtime">{{docdetail.UploadedDateTime | slice:0:-30}}</span>
				      </td>
				      <td (click) = "viewImg(docdetail)"><img src="{{docdetail.document}}" style="height:20px">
				      </td>
			      		<td *ngIf="approvedRow" class="dtime1">{{docdetail.verifierVerifiedDateTime | slice:0:-30}}</td>
			      		<td *ngIf="declinedRow" class="dtime1">{{docdetail.verifierVerifiedDateTime | slice:0:-30}}</td>
				      <td>
				      	<div *ngIf="orgAllData['admin_status'] == 'Approved' ">
				      		<button class="btn btn-success actionicon" *ngIf ="docsTitle != 'Approved Requests'" matTooltip="Approve" (click) = "openAprvDclnmodel(docdetail.docId,'APPROVED')" aria-label="Button that displays a tooltip when focused or hovered over" data-toggle="modal" data-target="#modalApproved">Approve</button>
				      		<button class="btn btn-danger actionicon pendicon" *ngIf ="docsTitle != 'Declined Requests'" matTooltip="Decline" (click) = "openAprvDclnmodel(docdetail.docId,'DECLINED')" aria-label="Button that displays a tooltip when focused or hovered over" data-toggle="modal" data-target="#modalDeclined">Decline</button>
				      		<button class="btn btn-warning actionicon pendicon" *ngIf ="docsTitle != 'Resubmit Requests'" matTooltip="Resubmit" (click) = "openAprvDclnmodel(docdetail.docId,'PENDING')" aria-label="Button that displays a tooltip when focused or hovered over" data-toggle="modal" data-target="#modalDeclined">Resubmit</button>
								</div>
								<div *ngIf="orgAllData['admin_status'] != 'Approved' " style="margin-top:5px">
									<!-- <p>Get Approval</p> -->
									<i class="material-icons" title="Get Approval from Admin" style="color:yellow">warning
									</i>
								</div>
				      </td>
				    </tr>
 				  </tbody>
				</table>
			</div>
		</div>
	</div>
	<div class=" col-md-12  pagenation" >
      <pagination-controls class="mypagination"
                      (pageChange)="p=$event"
                      directionLinks="true"
                      previousLabel="Pre"
                      nextLabel="Next"
                      >
   </pagination-controls>
</div>
</div>


<style type="text/css">
	
</style>


