
<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 headercs" *ngIf="showHeader">
    <div class="col-md-4 col-sm-7 col-xs-7 col-lg-4 logodiv">
      <a routerLink=""><img src="assets/images/Logonew.png" class="logooicon"/></a>
      <span class="logotxt">PEHACHAIN</span>
    </div>
    <div class="col-md-8 col-sm-5 col-xs-5 col-lg-8">
      <!-- <a routerLink="/login"><input tabindex="1" style="float-right" class="hidden-lg hidden-md signbtncs" type="submit" value="Sign In"/></a> -->
      <a routerLink="/login" class="btnspace"><input tabindex="1" class="hidden-md hidden-lg signbtncs" type="submit" value="Sign In"/></a>
      <p class="hidden-xs hidden-sm" style="float: right;font-size: large;padding-top: 7px;font-family: inherit;color: #cac7c7">Already registered ? <a routerLink="/login" style="color: white;font-family: inherit;">Login</a> here </p>
    <!-- </div>    -->
     <!--  <form class="hidden-sm hidden-xs loginformcss">
        <input class="inptcs" [(ngModel)]="user.username" type="text" name="session_key" tabindex="1" id="login-email" placeholder="Mobile number" (keypress)="keyPress($event)" maxlength="10"/>
        &nbsp;
        <input class="inptcs" [(ngModel)]="user.password" type="password" name="session_password" id="login-password" aria-required="true" tabindex="1" placeholder="Password"/>
        <input class="signbtncs" tabindex="1" type="submit" value="Sign In" (click)="signin(user)"/>
        <a routerLink="/forgotpassword" class="frgtpaswrd">Forgot Password?</a>
      </form> -->
    </div>
    <div class="col-md-offset-3 col-md-3" *ngIf="loginerror">
      <p class="hidden-xs hidden-sm errormsgcs">Invalid username or password</p>
    </div>
  </div>
  
  <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 headercs1" *ngIf="ShowDashboard">
    <nav class="navbar navbar-inverse rmnvbr rmcolpad">
      <div class="container-fluid rmcolpad">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="col-md-offset-3 col-md-12 rmcolpad">
            <div class="col-md-2 col-sm-3 col-xs-2 rmcolpad fltrt" (click) = "refreshHome()">
              <img routerLink="/home" src="assets/images/Logonew.png" class="logooicon1"/>
            </div>
            <div class="dropdown col-md-10 col-xs-4 col-sm-8 rmcolpad fltrt1">
              <input type="text" placeholder="Search..." [(ngModel)]="Details" (ngModelChange)="searchPearson($event)" name="search" class="" data-toggle="dropdown" class="inptcs inptop" />
              <ul class="dropdown-menu col-md-12">
                <a style="font-weight: bolder;">Search For</a><br />
                <b>{{ Details }}</b>
                <li *ngFor="let ppl of (globals.matchedSearchRes | slice: 0:5)" >
                  <a *ngIf="ppl.role!=orignasition" (click)="selectperson(ppl)">{{ ppl.full_name }}</a>
                  <a *ngIf="ppl.role==orignasition" >{{ ppl.full_name }}</a>
                </li>
                <li style="background-color:lightgray; font-weight:bolder; text-align:center" *ngIf="globals.matchedSearchRes.length != 0">
                  <a routerLink="/search-people" >View all matches</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="collapse navbar-collapse " id="myNavbar">
          <ul class="nav navbar-nav navbar-right navmaindivcs">
            <li class="col-md-2 col-sm-4 col-xs-4 col-lg-2 rmcolpad colwdth">
              <a (click)="privateOtpVerify(pendingSeekerReq1)" class="navdivcs">
                <div class="">
                  <svg style="width:24px;height:17px;" viewBox="0 0 24 24" class="iconclr">
                    <path fill="#ccc" d="M3,1H19A1,1 0 0,1 20,2V6A1,1 0 0,1 19,7H3A1,1 0 0,1 2,6V2A1,1 0 0,1 3,1M3,9H19A1,1 0 0,1 20,10V10.67L17.5,9.56L11,12.44V15H3A1,1 0 0,1 2,14V10A1,1 0 0,1 3,9M3,17H11C11.06,19.25 12,21.4 13.46,23H3A1,1 0 0,1 2,22V18A1,1 0 0,1 3,17M8,5H9V3H8V5M8,13H9V11H8V13M8,21H9V19H8V21M4,3V5H6V3H4M4,11V13H6V11H4M4,19V21H6V19H4M17.5,12L22,14V17C22,19.78 20.08,22.37 17.5,23C14.92,22.37 13,19.78 13,17V14L17.5,12M17.5,13.94L15,15.06V17.72C15,19.26 16.07,20.7 17.5,21.06V13.94Z"/>
                  </svg><span class="badge" *ngIf="pendingSeekerReq1.length!=0">{{pendingSeekerReq1.length}}</span>
                </div>
                <div class="txtsz" data-text="Home">Private Data
                  <span ><i class="fa fa-circle" aria-hidden="true"></i></span>

                </div>
              </a>
            </li>  
            <li class="col-md-2 col-sm-4 col-xs-4 col-lg-2 rmcolpad colwdth" (click) = "refreshHome()">
              <a  class="navdivcs" [routerLink]="['/home']"  >
                <div class="">
                  <i class="material-icons iconclr">home</i>
                </div>
                <div class="txtsz" data-text="Home">Home</div>
              </a>
            </li>
            <li class="col-md-2 col-sm-4 col-xs-4 col-lg-2 rmcolpad colwdth">
              <a (click) = "newpost()" class="navdivcs">
                <div class="">
                  <svg style="width:18px;height:17px" viewBox="0 0 24 24" class="iconclr">
                    <path fill="#ccc" d="M5,3C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19H5V5H12V3H5M17.78,4C17.61,4 17.43,4.07 17.3,4.2L16.08,5.41L18.58,7.91L19.8,6.7C20.06,6.44 20.06,6 19.8,5.75L18.25,4.2C18.12,4.07 17.95,4 17.78,4M15.37,6.12L8,13.5V16H10.5L17.87,8.62L15.37,6.12Z" />
                </svg>
                </div>
                <div class="txtsz" data-text="Home" >Publish</div>
              </a>
            </li>  
            <li class="col-md-2 col-sm-4 col-xs-4 col-lg-2 rmcolpad colwdth" *ngIf="globals.loggedInUserRole!='orignasition'">
              <a routerLink="/network" class="navdivcs">
                <div class="">
                  <i class="material-icons iconclr">group_add</i>
                  <label class="notification1" *ngIf="count">{{ count }}</label>
                </div>
                <div class="txtsz" routerLink="/network" data-text="Home">
                  My Network
                </div>
              </a>
            </li>
            <li class="col-md-2 col-sm-4 col-xs-4 col-lg-2 rmcolpad colwdth" *ngIf="globals.loggedInUserRole=='orignasition'">
              <a routerLink="/acceptfriends" class="navdivcs">
                <div class="">
                  <i class="material-icons iconclr">group_add</i>
                  <label class="notification1" *ngIf="count">{{ count }}</label>
                </div>
                <div class="txtsz" routerLink="/acceptfriends" data-text="Home">
                  My Network
                </div>
              </a>
            </li>
            <li class="col-md-2 col-sm-4 col-xs-4 col-lg-2 rmcolpad colwdth">
              <a (click)="msghide()" class="navdivcs">
                <div class="">
                  <i class="material-icons iconclr">message</i><span *ngIf="msge && msg!=0" class="badge badge-light msg">{{msg}}</span>
                </div>
                <div class="txtsz" data-text="Home">Messaging</div>
              </a>
            </li>
            <li class="col-md-2 col-sm-4 col-xs-4 col-lg-2 rmcolpad colwdth">
              <a routerLink="/mypost" class="navdivcs">
                <div class="">
                  <i class="material-icons iconclr">trending_up</i>
                </div>
                <div class="txtsz" data-text="Home">Mypost</div>
              </a>
            </li>
            <li class="col-md-2 col-sm-4 col-xs-4 col-lg-2 rmcolpad colwdth">
              <a routerLink="/updateprofile" class="navdivcs">
                <div class="">
                  <i class="material-icons iconclr">view_module</i>
                </div>
                <div class="txtsz" data-text="Home">Me</div>
              </a>
            </li>
            <li class="col-sm-4 col-xs-4 rmcolpad colwdth hidden-md hidden-lg">
              <a routerLink="/updateprofile" class="navdivcs">
                <div class="">
                  <i class="material-icons iconclr">account_circle</i>
                </div>
                <div class="txtsz" data-text="Home">UpdateProfile</div>
              </a>
            </li>
            <li class="col-sm-4 col-xs-4 rmcolpad colwdth hidden-md hidden-lg">
              <a class="navdivcs">
                <div class="">
                  <i class="material-icons iconclr">notifications</i>
                </div>
                <div class="txtsz" data-text="Home">Notifications</div>
              </a>
            </li>
            <li class="col-md-2 col-sm-4 col-xs-4 col-lg-2 rmcolpad colwdth">
              <a class="navdivcs">
                <div class="">
                  <i class="material-icons iconclr" (click)="logout()"
                    >logout</i>
                </div>
                <div class="txtsz" data-text="Home" (click)="logout()">
                  Logout
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  
  <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 headercs" *ngIf="loginHeader">
    <div class="col-md-4 col-sm-7 col-xs-7 col-lg-4 logodiv">
      <img src="assets/images/Logonew.png" class="logooicon" routerLink=""/>
      <span class="logotxt">PEHACHAIN</span>
    </div>
    <div class="col-md-8 col-sm-5 col-xs-5 col-lg-8 signindivcs">
      <a routerLink="/signup"><input tabindex="1" class="signbtncs" type="submit" value="Sign Up"/></a>
    </div>
  </div>
  
  <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 headercs" *ngIf="initialhead">
    <div class="col-md-3 col-sm-2 col-xs-2 col-lg-3 logodiv1 rmpadng">
      <img src="assets/images/Logonew.png" class="logooicon"/>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 rmpadng txtdiv">
      <span *ngIf="initialtext">Help us to know you better</span>
      <span *ngIf="freshertext">Freshers Registration</span>
      <span *ngIf="exptext">Individual Registration</span>
      <span *ngIf="orgtext">Organisation Registration</span>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-4 col-lg-3 rmpadng signindivcs">
      <a routerLink="/login"><input tabindex="1" class="signbtncs" type="submit" value="Logout"/></a>
    </div>
  </div>
  
  <div class="route-container scrl">
    <router-outlet></router-outlet>
  </div>
  
 