/*//notification css*/
.badge{margin-top: -11px;
    width: 12px;
    height: 13px;
    padding: 1px;
    background-color: red;
  }

.headercs{
    background-color: #2c4f71;;
    z-index: 20;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    padding: 5px;
  }
  .headercs1{
    background-color: #2c4f71;
    z-index: 20;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
  }
  .logooicon{
    vertical-align: middle;
    width: 20px;
    height: 25px;
    margin-top: -8px;
    cursor: pointer;
    outline: none;
  }
  .logooicon1{
    vertical-align: middle;
    width: 25px;
    height: 30px;
    margin-top:4px;
    margin-left: 8px;
    cursor: pointer;
    outline: none;
  }
  .logotxt{
    color: #fff;
    font-size: 25px;
    margin-left: 5px;
    font-weight: bolder;
  }
  .loginformcss{
    float: right;
  }
  .inptcs{
    background: #f3f6f8;
    border-radius: 2px;
    height: 30px;
    width: 226px;
    padding-left: 10px;
    border:none;
    outline: none;
  }
  .signbtncs{
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 2px;
    padding: 5px 20px;
    /*margin: 0 10px;*/
    float: right;
    outline: none;
  }
  .signbtncs:hover{
    background-color: #fff;
    color: #000;
  }
  .frgtpaswrd{
    margin: 0 10px;
    color: #fff;
  }
  .errormsgcs{
    color:red;
    margin-top: 5px;
  }
 .signindivcs{
    text-align: right;
  }
  .txtdiv{
    color: white;
    text-align: center;
    font-size: 21px;
  }
  .logodiv1{
    margin-top: 10px;
  }
  .iconclr {
    color: #ccc;
    margin-top: 4px;
    font-size: 17px
  }
  .rmnvbr{
    background-color: #2c4f71;
    margin: 0px;
    border:none;
    min-height: 39px;
  }
  .rmcolpad{
    padding: 0px !important;
    /*min-height: 39px;*/
  }
  .txtsz{
    font-size: 11px;
    margin-top: -9px;
    color: #d8dedc;
  }
  .colwdth{
    /*width: 14%;*/
    width: 12%;
  }
  .navdivcs{
    padding: 0px 5px;
    text-align: center;
    cursor: pointer;
    margin-top: 0px;
  }
  .navmaindivcs{
    width: 600px;
    height: 39px;
  }
  .inptop{
    margin-top: 4px;
  }
  .fltrt{
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  .fltrt1{
    margin-left: 0px;
  }
  @media screen and (min-width: 300px) and (max-width: 800px) {
    .logotxt{
      font-size: 18px;
    }
    .logodiv{
      margin-top: 5px;
    }
    .signindivcs{
      text-align: left;
    }
    .rmpadng{
      padding: 0px !important;
    }
    .txtdiv{
      font-size: 14px;
      margin-top: 5px;
    }
    .colwdth{
      width:33.33333333%
    }
    .navmaindivcs{
      width: 100%;
    }
    .iconclr {
      margin-top: 0px;
    }
    .txtsz{
      margin-top: 0px;
    }
    .fltrt{
      text-align: right;
    }
    .fltrt1{
      margin-left: 10px;
    }
    .navdivcs{
      margin-top: 15px;
    }
    .inptcs{
      width: 178px;
    }
    .inptop{
      /* margin-top: 11px; */
    }

  }