.backgroundclr{
  background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) ),url('../../../assets/images/2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  color: white;  
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  overflow-y: scroll;
}

.backgroundclr::-webkit-scrollbar { 
    display: none; 
}
.p{
  text-decoration-color: yellow;
}


/* === > Header CSS < === */
.hedr{
  top:0;
  left: 0;
  right: 0;
  position: fixed;
  /*background-color:#130c46;*/
  background-color: #2c4f71;
  z-index: 20;
}
.hedr1{
  margin: 5px;
}
.logo_img{
  /*width: 10%;
  height: 10%;
  margin: 0px 10px 0px 20px;*/

  height: 25px;
  margin: 0px 10px 0px 20px;
}
.text_path{
  font-size: 20px;
  color: white;
}
.datacenter{
  text-align: center;
  color: white;
  /*margin-top: 7px;*/
  vertical-align: center;
  cursor: pointer;


}
.mobview{
  color: white!important;
  font-size: 22px; 
  float: right;
  margin-right: 50px;
}
.routercls{
  margin-top: 4%
}
.bellicon{
  color:white;
  font-size: 25px;
  text-align: center;
  margin-top: 10px;

}
.proffi-img{

width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;

}
.proffiicon-img{

  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
}
#login-dp{
    min-width: 100px;
    overflow:hidden;
    background-color:rgb(90, 89, 89);
    text-align: center;
}
.dropdown-menu{
  cursor: pointer;
}
.badgeicon{
  margin-top: -15px;
  background-color: #e81a1a;
  font-size:14px;
}
.bellbadge{
  margin-left: -10px;
  margin-top: -40px;
}

.logoo{
  margin-top: 5px;
}
@media screen and (min-width:300px) and (max-width:700px){
  .routercls{
    margin-top: 30%;
    margin-bottom: 10%;
  }
    .mobview{
    font-size: 18px;
    margin-right: 20px;
    margin-top: 0px; 
  }
  .datacenter{
    margin-top: 7px;
  }
  .text_path{
    font-size: 20px;
  }

  .logo_img{
    width:13%;
  }
  .logoo{
    margin-top: 10px;
  }
  .proffi-img{
    width:50px;
    height: 50px;
  }
  .proffiicon-img{
    width: 40px;
    height: 40px;
  }
  .bellicon{
    margin-top: 5px;
  }
}




/*============sidenavbar===================*/
.sidenavbar{
	padding-left: 0px !important; 
	height: 100%;
}

.sidenav {
  height: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background:linear-gradient(60deg,rgb(64, 56, 56),rgba(47, 41, 41))!important;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 6%;
  width: 250px;
} 

.sidenav a {
  padding: 10px 10px 10px 25px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: 0.3s;
  cursor: pointer;
}

.sidenav a:hover {
  /*color: #f1f1f1;*/
  color:#818181;
}

.sidenav .closebtn {
  text-align: right;
}

@media screen and (min-width:300px) and (max-width:700px){
  .sidenav {
  	padding-top: 15%;
  	width: 0px;
  }
  .sidenav a {font-size: 18px;}
}


