<div  class="col-md-12 backgroundclr">
	<!-- <div class="row  hedr">
		<div class="row hedr1">
			<div class="col-sm-7 col-xs-7 col-md-4 col-lg-4 logoo">
				<img src="assets/images/Logonew.png" class="logo_img">
	        	<span class="text_path">PEHACHAIN</span>
			</div>
			<div class="col-md-5 col-lg-5">
				
			</div>		
			<div class="col-sm-5 col-xs-5 col-md-3 col-lg-3 datacenter">			
				<span class="glyphicon glyphicon-bell bellicon"></span>
				<span class="badge badgeicon bellbadge">2</span>
	            <a class="mobview ">
	            	<div *ngIf="!profi" class="dropdown">
				      <img src="../../assets/images/people.png" class="proffiicon-img dropdown-toggle" data-toggle="dropdown">
				      	<ul id="login-dp" class="dropdown-menu">
							<li routerLink="home">Logout</li>
						</ul>
				    </div>
				    <div *ngIf="profi" class="dropdown">
				      <img src="{{profi}}" class="proffi-img dropdown-toggle" data-toggle="dropdown">
				    	<ul id="login-dp" class="dropdown-menu">
							<li routerLink="home">Logout</li>
						</ul>
				    </div>
	            </a>
			</div>
		</div>
	</div> -->

	<div class="row  hedr">
		<div class="row hedr1">
			<div class="col-sm-7 col-xs-7 col-md-4 col-lg-4 logoo">
				<img src="assets/images/Logonew.png" class="logo_img">
	        	<span class="text_path">PEHACHAIN</span>
			</div>
			<div class="col-md-5 col-lg-5">
				
			</div>		
			<div class="col-sm-5 col-xs-5 col-md-3 col-lg-3 datacenter">			
				<span class="glyphicon glyphicon-bell bellicon" routerLink="/DataOwner/Owner_notification"></span>
				<!-- <span class="badge badgeicon bellbadge">2</span> -->
	            <a class="mobview ">
	            	<div *ngIf="!profi" class="dropdown">
				      <img src="../../assets/images/people.png" class="proffiicon-img dropdown-toggle" data-toggle="dropdown">
				      	<ul id="login-dp" class="dropdown-menu">
							<li (click)="logoutPrivate()">Logout</li>
						</ul>
				    </div>
				    <div *ngIf="profi" class="dropdown">
				      <img src="{{profi}}" class="proffi-img dropdown-toggle" data-toggle="dropdown">
				    	<ul id="login-dp" class="dropdown-menu">
							<li (click)="logoutPrivate()">Logout</li>
						</ul>
				    </div>
	            </a>
			</div>
		</div>
	</div>

	<div  class="row routercls">
		<div class="sidenavbar">
			<div id="mySidenav" class="sidenav">
			  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
			  <a routerLink="/Admin">Home</a>
			  <a routerLink="/Admin/Manage-partnernode" (click)="closeNav()">Manage Partner Node</a>
			  <a routerLink="/Admin/Manage-dataowner" (click)="closeNav()">Manage Data Owners</a>
			  <a routerLink="/Admin/manage-orgnizations" (click)="closeNav()">Manage Orgnizations</a>
			  <a routerLink="/Admin/Manage-verify" (click)="closeNav()">Manage Data Verifiers</a>
			  <a routerLink="/Admin/Manage-request" (click)="closeNav()">Manage Requests</a>
			  <a routerLink="/Admin/Manage-pay" (click)="closeNav()">Manage Payments</a>
			  <a routerLink="/Admin/seeker-payinfo" (click)="closeNav()">Seeker PayInfo</a>
			  <a routerLink="/Admin/verifier-payinfo" (click)="closeNav()">Verifer PayInfo</a>
			  <a routerLink="/Admin/Manage-pay" (click)="closeNav()">Manage PayInfo</a>
			</div>

			<span style="margin-left: 40px;margin-top:40px;font-size:30px;cursor:pointer; margin-left: 15px" (click)="openNav()">&#9776;</span>
		</div>
		<div class="col-md-12">
			<router-outlet ></router-outlet>
		</div>
	</div>
</div>


