<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
	<div class="col-md-3">
		
	</div>
	<div class="pagetop col-md-9">
		<div class="col-md-4 cardcs">
			<div class="divclas" routerLink="/Admin/Manage-partnernode" (click)="closeNav()">
				<div class="digitclas col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<svg style="width:35px;height:35px" viewBox="0 0 24 24" class="grpicn">
						    <path fill="#ffffff" d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z" />
						</svg>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 c ol-xs-6">
						<h5 class="fontnum">{{adminCounts.partnerNodes}}</h5>
					</div>
				</div>
				<div class="txtcs">
					<h3>Manage Partner Node</h3>
				</div>
			</div>
		</div>
		<div class="col-md-4 cardcs">
			<div class="divclas" routerLink="/Admin/Manage-dataowner" (click)="closeNav()">
				<div class="digitclas col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<svg style="width:35px;height:35px" viewBox="0 0 24 24" class="grpicn">
						    <path fill="#ffffff" d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z" />
						</svg>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 c ol-xs-6">
						<h5 class="fontnum">{{adminCounts.individuals}}</h5>
					</div>
				</div>
				<div class="txtcs">
					<h3>Manage Data Owners</h3>
				</div>
			</div>
		</div>
		<div class="col-md-4 cardcs">
			<div class="divclas" routerLink="/Admin/manage-orgnizations" (click)="closeNav()">
				<div class="digitclas col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">

				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<svg style="width:31px;height:35px" viewBox="0 0 24 24" class="grpicn">
				<path fill="#ffffff" d="M11.5,1L2,6V8H21V6M16,10V17H19V10M2,22H21V19H2M10,10V17H13V10M4,10V17H7V10H4Z" />
				</svg>		
				</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<h5 class="fontnum">{{adminCounts.organizations}}</h5>
					</div>
				</div>
				<div class="txtcs">
					<h3>Manage Orgnizations</h3>
				</div>
			</div>
		</div>
		<div class="col-md-4 cardcs">
			<div class="divclas" routerLink="/Admin/Manage-verify" (click)="closeNav()">
				<div class="digitclas col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<svg style="width:35px;height:35px" viewBox="0 0 24 24" class="grpicn">
						        <path fill="#ffffff" d="M12,6A3,3 0 0,0 9,9A3,3 0 0,0 12,12A3,3 0 0,0 15,9A3,3 0 0,0 12,6M6,8.17A2.5,2.5 0 0,0 3.5,10.67A2.5,2.5 0 0,0 6,13.17C6.88,13.17 7.65,12.71 8.09,12.03C7.42,11.18 7,10.15 7,9C7,8.8 7,8.6 7.04,8.4C6.72,8.25 6.37,8.17 6,8.17M18,8.17C17.63,8.17 17.28,8.25 16.96,8.4C17,8.6 17,8.8 17,9C17,10.15 16.58,11.18 15.91,12.03C16.35,12.71 17.12,13.17 18,13.17A2.5,2.5 0 0,0 20.5,10.67A2.5,2.5 0 0,0 18,8.17M12,14C10,14 6,15 6,17V19H18V17C18,15 14,14 12,14M4.67,14.97C3,15.26 1,16.04 1,17.33V19H4V17C4,16.22 4.29,15.53 4.67,14.97M19.33,14.97C19.71,15.53 20,16.22 20,17V19H23V17.33C23,16.04 21,15.26 19.33,14.97Z" />
						</svg>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<h5 class="fontnum">{{adminCounts.organizations}}</h5>
					</div>
				</div>
				

				<div class="txtcs">
					<h3>Manage Data Verifiers</h3>
				</div>
			</div>
		</div>
		<div class="col-md-4 cardcs" routerLink="/Admin/Manage-request" (click)="closeNav()">
			<div class="divclas">
				<div class="digitclas col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
					
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<!-- <i class="material-icons grpicn">group</i> -->
						<svg style="width:30px;height:30px;" viewBox="0 0 24 24" class="grpicn">
						    <path fill="#ffffff" d="M15,7H20.5L15,1.5V7M8,0H16L22,6V18A2,2 0 0,1 20,20H8C6.89,20 6,19.1 6,18V2A2,2 0 0,1 8,0M4,4V22H20V24H4A2,2 0 0,1 2,22V4H4Z" />
						</svg>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<h5 class="fontnum">{{adminCounts.alldocs}}</h5>
					</div>
				</div>
				<div class="txtcs">
					<h3>Manage Requests</h3>
				</div>
			</div>
		</div>
		<div class="col-md-4 cardcs">
			<div class="divclas" routerLink="/Admin/Manage-pay" (click)="closeNav()">
				<div class="digitclas col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<!-- <i class="material-icons grpicn">group</i> -->
						<svg style="width:35px;height:35px;" viewBox="0 0 24 24" class="grpicn">
						    <path fill="#ffffff" d="M21,18V19A2,2 0 0,1 19,21H5C3.89,21 3,20.1 3,19V5A2,2 0 0,1 5,3H19A2,2 0 0,1 21,5V6H12C10.89,6 10,6.9 10,8V16A2,2 0 0,0 12,18M12,16H22V8H12M16,13.5A1.5,1.5 0 0,1 14.5,12A1.5,1.5 0 0,1 16,10.5A1.5,1.5 0 0,1 17.5,12A1.5,1.5 0 0,1 16,13.5Z" />
						</svg>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<h5 class="fontnum">0</h5>
					</div>
				</div>
				<div class="txtcs">
					<h3>Manage Payments</h3>
				</div>
			</div>
		</div>
		<div class="col-md-4 cardcs">
			<div class="divclas" routerLink="/Admin/Manage-pay" (click)="closeNav()">
				<div class="digitclas col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<!-- <i class="material-icons grpicn">group</i> -->
						<svg style="width:35px;height:35px;" viewBox="0 0 24 24" class="grpicn">
						    <path fill="#ffffff" d="M5,6H23V18H5V6M14,9A3,3 0 0,1 17,12A3,3 0 0,1 14,15A3,3 0 0,1 11,12A3,3 0 0,1 14,9M9,8A2,2 0 0,1 7,10V14A2,2 0 0,1 9,16H19A2,2 0 0,1 21,14V10A2,2 0 0,1 19,8H9M1,10H3V20H19V22H1V10Z" />
						</svg>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<h5 class="fontnum">0</h5>
					</div>
				</div>
				<div class="txtcs">
					<h3>Manage PayInfo</h3>
				</div>
			</div>
		</div>
		<div class="col-md-4 cardcs" routerLink="/Admin/seeker-payinfo" (click)="closeNav()">
			<div class="divclas">
				<div class="digitclas col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
					
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<!-- <i class="material-icons grpicn">group</i> -->
						<svg style="width:35px;height:35px;" viewBox="0 0 24 24" class="grpicn">
						    <path fill="#ffffff" d="M21,8V6H7V8H21M21,16V11H7V16H21M21,4A2,2 0 0,1 23,6V16A2,2 0 0,1 21,18H7C5.89,18 5,17.1 5,16V6C5,4.89 5.89,4 7,4H21M3,20H18V22H3A2,2 0 0,1 1,20V9H3V20Z" />
						</svg>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<h5 class="fontnum">0</h5>
					</div>
				</div>
				<div class="txtcs">
					<h3>Seeker PayInfo</h3>
				</div>
			</div>
		</div>
		<div class="col-md-4 cardcs" routerLink="/Admin/verifier-payinfo" (click)="closeNav()">
			<div class="divclas">
				<div class="digitclas col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
					
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<!-- <i class="material-icons grpicn">group</i> -->
						<!-- <svg style="width:30px;height:30px;" viewBox="0 0 24 24" class="grpicn">
						    <path fill="#ffffff" d="M15,7H20.5L15,1.5V7M8,0H16L22,6V18A2,2 0 0,1 20,20H8C6.89,20 6,19.1 6,18V2A2,2 0 0,1 8,0M4,4V22H20V24H4A2,2 0 0,1 2,22V4H4Z" />
						</svg>-->
						<img src="../../assets/images/seekerwallet.png" style="width: 50%; height: 50%">
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<h5 class="fontnum">0</h5>
					</div>
				</div>
				<div class="txtcs">
					<h3>Verifier PayInfo</h3>
				</div>
			</div>
		</div>
	</div>
</div>

