<button type="button" class="btn btn-primary f" routerLink="/Admin/Add-partnernode">Add</button>


<div class="col-md-10 col-md-offset-1 pagtop">
	<mat-accordion *ngFor="let partnerNode of allPartnerNodes">
	  <mat-expansion-panel>
	    <mat-expansion-panel-header>
	      <mat-panel-title class="col-md-4">
		      <img src="../../assets/images/people.png" class="proffiicon-img">
		      <!-- <img src="{{data.owner_propic}}" class="proffi-img"> -->
					<span class="pnNode">{{partnerNode.first_name}}</span>
				</mat-panel-title>     
	      <mat-panel-description class="col-md-4 tpmargn">
	        {{partnerNode.mobile_number}}
				</mat-panel-description>
				<mat-panel-description class="col-md-4 tpmargn">
	        {{partnerNode.email}}
	      </mat-panel-description>
	    </mat-expansion-panel-header>
    <div *ngFor="let org of partnerNode.orgsdata">
	    <div class="col-md-4">
	    	<p>Org Name: {{org.full_name}}</p>
	    </div>
	    <div class="col-md-4">
	    	<p>Org Mobile: {{org.mobile_number}}</p>
	    </div>
	    <div class="col-md-4">
	    	<p>Org Email: {{org.email_id}}</p>
	    </div>
	</div>
	  </mat-expansion-panel>
	  <mat-expansion-panel (opened)="panelOpenState = true"
	                       (closed)="panelOpenState = false">
	  </mat-expansion-panel>
	  <div style="margin-top: 10px;"></div>
	</mat-accordion>
	
</div>


