<div class="spinner_container"><mat-spinner *ngIf = "requestSpinner"></mat-spinner></div>
<div class="addpage ngmatcss">
	<form [formGroup]="firstFormGroup">
		<div class="col-md-10 col-lg-10 col-xs-12 col-sm-12 col-md-offset-1 col-lg-offset-1">
			<div class="row">
				<div class="col-md-6 col-lg-6 example-container">
					<h3 style="text-align:center">Document Information</h3>
					<mat-form-field>
						<mat-select placeholder="Select Category" formControlName="category" [(ngModel)]="addedu.catName" required
							class="matvalue" (ngModelChange)='getOrgsbyType(addedu.catName)'>
							<mat-option *ngFor="let category of categories" value={{category.catName}}>{{category.catName}}
							</mat-option>
						</mat-select>
						<mat-error *ngIf="personalform.category.invalid">Qualification is required</mat-error>
					</mat-form-field>
					<mat-form-field>
						<input matInput placeholder="Document Name" formControlName="document"[(ngModel)]="addedu.docName" required>
						<mat-error *ngIf="personalform.document.invalid">Document name required</mat-error>
					</mat-form-field>
					<input type="file" accept=".jpeg,.png,.pdf,.jpg" formControlName="image" (change)="userDocumentUpload($event)" placeholder="Upload Your File" class="fileinput" >
					<p *ngIf="personalform.image.invalid" style="color:red"> Document is Required</p>
				    <p style="color:#ceb7b7">*File should be less than 100 kB</p>
				</div>
				<div class="col-md-6 col-lg-6 example-container">
					<h3 style="text-align:center">Verifier Information</h3>
					<mat-form-field>
						<mat-select placeholder="State" formControlName="state" name="mystate" [(ngModel)]="addedu.state"
							(ngModelChange)="selectDist($event)" class="matvalue" required>
							<mat-option *ngFor="let state of states" value={{state.mystate}}>{{state.mystate}}</mat-option>
						</mat-select>
						<mat-error *ngIf="personalform.state.invalid">State is required</mat-error>
					</mat-form-field>
					<mat-form-field>
						<mat-select placeholder="District" formControlName="district" name="mydistrict"
							[(ngModel)]="addedu.district" class="matvalue" (ngModelChange)="getOrgsbyDist($event)" required>
							<mat-option *ngFor="let dist of districts" value={{dist.mydistrict}}>{{dist.mydistrict}}
							</mat-option>
						</mat-select>
						<mat-error *ngIf="personalform.district.invalid">District is required</mat-error>
					</mat-form-field>
					<mat-form-field>
							<input matInput placeholder="Pincode" [(ngModel)]="addedu.orgpin" formControlName="orgpin" maxlength="6" minlength="6"	(keypress)="keyPress1($event);" required (input)= 'getOrgsbyPin()'>
							<mat-error *ngIf="personalform.orgpin.invalid">Org Pincode is required</mat-error>
						</mat-form-field>
					<mat-form-field>
						<mat-select placeholder="Select Organization" [(ngModel)]="addedu.orgname" formControlName="orgname" required
							class="matvalue" (ngModelChange)='docInfoChange()'>
							<mat-option *ngFor="let org of filteredorgs" value={{org.org_name}} >{{org.org_name}}</mat-option>
							<!-- <mat-option value='other'>other</mat-option> -->
						</mat-select>
						<mat-error *ngIf="personalform.orgname.invalid">Org is required</mat-error>
					</mat-form-field>
				</div>
			</div>
			<div class="adddfile" *ngIf="addedu.orgname !='other'">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-sm-6">
					<button class="btn btn-primary" routerLink="/DataOwner">Back</button>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-sm-6">
					<button class="btn btn-primary sendbtn" [disabled] = "!firstFormGroup.valid"  *ngIf="!requestSpinner" (click)="addDocument()">Send Request</button>
				</div>
			</div>
		</div>
	</form>
	<form [formGroup]="secondFormGroup">
		<div class="col-md-10 col-lg-10 col-xs-12 col-sm-12 col-md-offset-1 col-lg-offset-1">
			<div class="row adddfile" *ngIf="addedu.orgname =='other'">
				<div class="col-md-4 col-lg-4 example-container">
					<mat-form-field>
						<input matInput placeholder="Organization Name" [(ngModel)]="addedu.orgName" formControlName="orgName"
							>
						<mat-error *ngIf="personalform1.orgName.invalid">Org Name is required</mat-error>
					</mat-form-field>
				</div>
				<div class="col-md-4 col-lg-4 example-container">
					<mat-form-field>
						<input matInput placeholder="Organization Mobile" [(ngModel)]="addedu.orgMobile"
							formControlName="orgmobnumber" (keypress)="keyPress($event)" maxlength="10" minlength="10" >
						<mat-error *ngIf="personalform1.orgmobnumber.invalid">Org valid mobile number is required</mat-error>
					</mat-form-field>
				</div>
				<div class="col-md-4 col-lg-4 example-container">
					<mat-form-field>
						<input matInput placeholder="Organization Email" formControlName="orgmailid" [(ngModel)]="addedu.email" >
						<mat-error *ngIf="personalform1.orgmailid.touched || personalform1.orgmailid.invalid">Email id is Required and
							should be valid</mat-error>
					</mat-form-field>
				</div>
			</div>
			<div class="adddfile" *ngIf="addedu.orgname =='other'">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-sm-6">
					<button class="btn btn-primary" routerLink="/DataOwner">Back</button>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-sm-6" >
					<button class="btn btn-primary sendbtn" [disabled] = "!(secondFormGroup.valid && firstFormGroup.valid)" (click)="addDocument()" *ngIf="!showSpinner">
					Send Request</button>
					<mat-spinner *ngIf="showSpinner"></mat-spinner>
				</div>
			</div>
		</div>
	</form>
</div>