
/* ===> MAT INPUT CSS <=== */


.ngmatcss ::ng-deep .mat-form-field-ripple, .ngmatcss  ::ng-deep .mat-form-field-underline{
	color:white !important;
	background-color: white !important;
}

.ngmatcss ::ng-deep .mat-form-field-label{
	color:white !important;
}

.ngmatcss ::ng-deep .mat-radio-outer-circle{
	border-color:white !important;
}
mat-form-field{
	font-size: 16px;
	margin-bottom:10px;
}

.matvalue ::ng-deep .mat-select-value{
	color:white;
}


/* ===> ADD Education CSS <=== */

.addpage{
	margin-top: 10%; 
}
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
.addfields{
	box-shadow: 1px 1px 2px 2px #d9d9d9;
	padding: 15px; 
}
.sendbtn{
	float: right;
}
.txtt{
	text-align: center;
}

.adddfile{
	margin-top: 5%;
	margin-right: 0px;
}

.fileinput{
	margin:20px 0px 0px 10px;
}
.adrmbtn{
	margin-top: 10px;
}
 .spinner_container {
    border-radius: 10px;
    height: 70px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 70px;
    z-index: 10;
    opacity: 1;
    color:white;
}
.spinner_container ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
stroke: #ffffff !important;
}


/* ===> View Education CSS <=== */

.addbtn{
	text-align: right;
}
.addbtn1{
	margin-top: 10px;
	margin-right: 15px; 
}
.commentword{
	word-wrap: break-word;
}

.edicon{
	color:white;
	cursor: pointer;
}
.delicon{
	margin-left: 10px;
}
.statusicon{
	color:white;
}
th, td{
	text-align: center;
	font-size: 16px;
	font-weight: bold;

}
.status-icon-approved{
	color:#5cb85c;
	/*color: white;*/
}
.status-icon-pending{
	color:yellow;
	/*color: white;*/
}
.status-icon-declined{
	color:#f7625e;
	/*color: white;*/
}
.status-txt-approved{
	/*color:green;*/
	color: white;
	/*margin-left: 10px;*/
}
.status-txt-pending{
	/*color:yellow;*/
	color: white;
	/*margin-left: 10px;*/
}
.status-txt-declined{
	/*color:red;*/
	color: white;
	/*margin-left: 10px;*/
}
/* mobile view css */
.tablediv{
	box-shadow: 0px 0px 2px 0px #e6e6e6;
	margin-top: 0%;
	background-color: rgba(80, 77, 77, 0.47);
}
.doc1{
	margin:4px;
	padding: 11px;
	border:2px solid #887b7b;
}
.aaa{
	margin-top:15px;
}
.approved{
	color: green;
    font-size: 20px;
    float: left;
}
.declined{
    color:red;
    font-size: 20px;
    float: left;
}
.pending {
	color: yellow;
	font-size: 20px;
	float: left;
}
@media only screen and (min-width: 360px) and (max-width:640px){
	.tablediv{
		margin-top: 10%;
	}

	.adrmbtn{
		text-align: right;
	}
	.adddfile{
		margin-top: 5%;
		margin-right: 20px;
	}

}

/*  ===> MOBILE VIEW PAGE CSS <===  */

@media only screen and (min-width: 300px) and (max-width:800px){
	.doc-img{
		/*height:40%;
		width:90%;*/
		height:400px; 
		width:90%
	}
	
}
.mobics{
	margin-top: 5%;
	margin-bottom: 10%;
}

.actbtns{
	margin-top: 3%;
}
.bkbtn{
	text-align: left;
}
.bkbtn1{
	text-align: right;
	font-size: 20px;
}
.btniconn{
	font-size: 20px;
	cursor: pointer;
	box-shadow: 0px 0px 2px 0px #e6e6e6;
	margin-top: 0%;
	background-color: rgba(80, 77, 77, 0.47);
}
.bctnn{
	padding: 10px;
}
.doc-img{
	/*height:40%;
	width:90%;*/
	height:80%; 
	width:80%
}


.dtime{
	font-size: 10px;
	color: #a09e9e
}

.backdrop{
	background-color:rgba(0,0,0,0.6);	
	position:fixed;	
	top:0;	
	left:0;	
	width:100%;	
	height:100vh;	
	}