<div class="addpage ngmatcss">
	<form [formGroup]="firstFormGroup">
		<div class="col-md-10 col-lg-10 col-xs-12 col-sm-12 col-md-offset-1 col-lg-offset-1">
			<div class="row">
				<div class="col-md-6 col-lg-6 example-container">
					<h3 style="text-align:center">Document Information</h3>
					<mat-form-field>
						<mat-select placeholder="Select Category" formControlName="category" [(ngModel)]="addedu.documentType" required
							class="matvalue" [(value)]="addedu.documentType" >
							<mat-option *ngFor="let category of categories" value={{category.catName}}>{{category.catName}}
							</mat-option>
							<!-- <mat-option value={{addedu.documentType}}>{{addedu.documentType}}
								</mat-option> -->
						</mat-select>
						<mat-error *ngIf="personalform.category.invalid">Category is required</mat-error>
					</mat-form-field>
					<mat-form-field>
						<input matInput placeholder="Document Name" formControlName="document"
							[(ngModel)]="addedu.docName" required>
						<mat-error *ngIf="personalform.document.invalid">Document name required</mat-error>
					</mat-form-field>
					<img src="{{editableData.document}}" style="height: 221px" *ngIf="showHide">
					<button class="btn btn-primary" (click)="imageChange()" *ngIf="showHide">Change Image</button>
					<input type="file" accept="image/*" (change)="userDocumentUpload($event)" placeholder="Upload Your File"
						class="fileinput" *ngIf="!showHide" >
				</div>
				<div class="col-md-6 col-lg-6 example-container">
					<h3 style="text-align:center">Verifier Information</h3>
					<mat-form-field>
						<mat-select placeholder="State" formControlName="state" name="mystate" [(ngModel)]="addedu.verifier_state" [(value)]="addedu.verifier_state"
							(ngModelChange)="selectDist($event)" class="matvalue" required>
							<mat-option *ngFor="let state of states" value={{state.mystate}}>{{state.mystate}}</mat-option>
						</mat-select>
						<mat-error *ngIf="personalform.state.invalid">State is required</mat-error>
					</mat-form-field>
					<mat-form-field>
						<mat-select placeholder="District" formControlName="district" name="mydistrict" (ngModelChange)="getOrgsbyDist($event)"
							[(ngModel)]="addedu.verifier_district" class="matvalue" [(value)]="addedu.verifier_district" required>
							<mat-option *ngFor="let dist of districts" value={{dist.mydistrict}}>{{dist.mydistrict}}
							</mat-option>
							<mat-option value='{{addedu.verifier_district}}'>{{addedu.verifier_district}}</mat-option>
						</mat-select>
						<mat-error *ngIf="personalform.district.invalid">District is required</mat-error>
					</mat-form-field>
					<!-- <mat-form-field>
							<input matInput placeholder="Organization PIN" [(ngModel)]="addedu.verifier_pin" formControlName="orgpin"
								required >
							<mat-error *ngIf="personalform.orgpin.invalid">Org pin is required</mat-error>
						</mat-form-field> -->
						<mat-form-field>
								<input matInput placeholder="Organization PIN" [(ngModel)]="addedu.verifier_pin" formControlName="orgpin" maxlength="6" minlength="6"
								(keypress)="keyPress1($event)" required (input)= 'getOrgsbyPin()'>
								<mat-error *ngIf="personalform.orgpin.invalid">Org pin is required</mat-error>
							</mat-form-field>
					<mat-form-field *ngIf="showOganizationField">
							<input matInput placeholder="Organization Name" [(ngModel)]="addedu.verifier_name" formControlName="orgname"
							required>
						<mat-error *ngIf="personalform.orgpin.invalid">Org is required</mat-error>
					</mat-form-field>
					<mat-form-field *ngIf="!showOganizationField">
							<mat-select placeholder="Select Organization" [(ngModel)]="addedu.verifier_name" formControlName="orgname" required
							class="matvalue" (ngModelChange)='docInfoChange()'>
							<mat-option *ngFor="let org of filteredorgs" value={{org.org_name}} >{{org.org_name}}</mat-option>
						</mat-select>
						<mat-error *ngIf="personalform.orgname.invalid">Org is required</mat-error>
					</mat-form-field>
				</div>
			</div>
			<div class="row adddfile" *ngIf="addedu.orgname =='other'">
				<div class="col-md-4 col-lg-4 example-container">
					<mat-form-field>
						<input matInput placeholder="Organization Name" [(ngModel)]="addedu.orgName" formControlName="orgName"
							required>
						<mat-error *ngIf="personalform.orgName.invalid">Org Name is required</mat-error>
					</mat-form-field>
				</div>
				<div class="col-md-4 col-lg-4 example-container">
					<mat-form-field>
						<input matInput placeholder="Organization Mobile" [(ngModel)]="addedu.orgMobile"
							formControlName="orgmobnumber" (keypress)="keyPress($event)" maxlength="10" minlength="10" required>
						<mat-error *ngIf="personalform.orgmobnumber.invalid">Org valid mobile number is required</mat-error>
					</mat-form-field>
				</div>
				<div class="col-md-4 col-lg-4 example-container">
					<mat-form-field>
						<input matInput placeholder="Organization Email" formControlName="orgmailid" [(ngModel)]="addedu.email" required>
						<mat-error *ngIf="personalform.orgmailid.touched || personalform.orgmailid.invalid">Email id is Required and
							should be valid</mat-error>
					</mat-form-field>
				</div>
			</div>
			<div class="adddfile">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-sm-6">
					<button class="btn btn-primary" routerLink="/DataOwner/View_Documents">Back</button>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-sm-6">
					<button class="btn btn-primary sendbtn" (click)="editDocument()">Send Request</button>
				</div>
			</div>
		</div>
	</form>
</div>

