<div class="col-xs-12 col-sm-12 mobics">
	<div class="row">
		<!-- <div class="col-sm-6 col-xs-6">
			<p>Document Name :</p>
			<p>Upload Date :</p>
			<p>Verifier :</p>
			<p>Pehachain :</p>
		</div>
		<div class="col-sm-6 col-xs-6">
			<p>{{DocmentDetails.docName}}</p>
			<p>{{DocmentDetails.UploadedDateTime | slice:0:-30}}</p>
			<p *ngIf="DocmentDetails.verifierStatus == 'PENDING'">{{DocmentDetails.verifierStatus}}</p>
			<p *ngIf="(DocmentDetails.verifierStatus == 'DECLINED' ||  DocmentDetails.verifierStatus == 'APPROVED')">{{DocmentDetails.verifierStatus}} {{DocmentDetails.verifierVerifiedDateTime | slice:0:-30}}</p>

			<p *ngIf="DocmentDetails.verifierStatus == 'PENDING'">{{DocmentDetails.adminVerifyStatus}}</p>
			<p *ngIf="(DocmentDetails.adminVerifyStatus == 'DECLINED' ||  DocmentDetails.adminVerifyStatus == 'APPROVED')">{{DocmentDetails.adminVerifyStatus}} {{DocmentDetails.adminVerifiedDateTime | slice:0:-30}}</p>
		</div> -->
		<table>
			<tr>
				<th>Document Name</th>
				<td>{{DocmentDetails.docName}}</td>
			</tr>
			<tr>
				<th>Upload Date</th>
				<td>{{DocmentDetails.UploadedDateTime | slice:0:-30}}</td>
			</tr>
			<tr>
				<th>Verifier</th>
				<td>
					<span *ngIf="DocmentDetails.verifierStatus == 'PENDING'">{{DocmentDetails.verifierStatus}}</span>
					<span *ngIf="(DocmentDetails.verifierStatus == 'DECLINED' ||  DocmentDetails.verifierStatus == 'APPROVED')">{{DocmentDetails.verifierStatus}} {{DocmentDetails.verifierVerifiedDateTime | slice:0:-30}}</span>
				</td>
			</tr>
			<tr>
				<th>Pehachain</th>
				<td>
					<span *ngIf="DocmentDetails.adminVerifyStatus == 'PENDING'">{{DocmentDetails.adminVerifyStatus}}</span>
					<span *ngIf="(DocmentDetails.adminVerifyStatus == 'DECLINED' ||  DocmentDetails.adminVerifyStatus == 'APPROVED')">{{DocmentDetails.adminVerifyStatus}}{{DocmentDetails.adminVerifiedDateTime | slice:0:-30}}</span>
				</td>
			</tr>
		</table>
		<div class="col-xs-12 col-sm-12">
			<img src="{{DocmentDetails.document}}" class="doc-img"> 
		</div>
	</div>
	<div class="actbtns">
		<div class="col-xs-6 col-sm-6 bkbtn">
			<button class="btn btn-primary bctnn" routerLink="/DataOwner">Back</button>
		</div>
		<div class="col-xs-6 col-sm-6 bkbtn1">
            <i class="material-icons edicon btn btniconn">edit</i> 
		</div>
	</div>
</div>
<style type="text/css">
	th, td{
		font-size: 13px;
		text-align: left;
		text-decoration: none;
	}
	td{
		margin-left: 10px;
	}
</style>