<div class="">
  <div class="">
      <input class="search"  type="text" id="search" placeholder="search" [(ngModel)]="searchdoc">
  </div>
  <div class="col-md-10 col-md-offset-1 tablediv">
    <div class="row">
      <div class="col-md-6 col-lg-6 col-xs-4 col-xs-4">
        <h3>{{doucmentType}}</h3>
      </div>
      <div class="col-md-6 col-xs-8 col-sm-8 col-lg-6 addbtn">
        <button class="btn btn-primary addbtn1" routerLink="/DataOwner/action">ADD</button>
      </div>
    </div>
    <div class="row hidden-md hidden-lg aa">
      <div class="row">
        <div class="col-xs-4 col-sm-4" *ngFor="let doucmentList of doucmentLists">
          <div class="doc1" (click)="mobileview(doucmentList)">
            <span class="glyphicon glyphicon-exclamation-sign status-icon-pending"
                  *ngIf="doucmentList.verifierStatus == 'PENDING'"></span>
            <span class="glyphicon glyphicon-ok-sign status-icon-approved"
              *ngIf="doucmentList.verifierStatus == 'APPROVED'"></span>
            <span class="glyphicon glyphicon-remove-sign status-icon-declined"
              *ngIf="doucmentList.verifierStatus == 'DECLINED'"></span>
            <i class="material-icons">folder_open</i>
            <p>{{doucmentList.docName}}</p>
          </div>
        </div>
      </div>
    </div>
    <table class=" hidden-xs hidden-sm table table-bordered">
      <thead>
        <tr>
          <th scope="col">Document Name</th>
          <th scope="col">Document</th>
          <th scope="col">Date & Time</th>
          <th scope="col">Verifier</th>
          <th scope="col">Pehachain</th>
          <th scope="col">Comments</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let doucmentList of doucmentLists | documentSearch:searchdoc | paginate :{itemsPerPage :8,currentPage:p,totalItems: total}; let i=index">
          <td>{{doucmentList.docName}}</td>
          <td><img src="{{doucmentList.document}}" style="height: 20px" (click)="viewdocc(doucmentList.document)"></td>
          <td>
            <span class="dtime">{{doucmentList.UploadedDateTime | slice:0:-30}}</span>
          </td>
          <td>
            <div>
                <span class="glyphicon glyphicon-exclamation-sign status-icon-pending"
                  *ngIf="doucmentList.verifierStatus == 'PENDING'"></span>
                <span class="glyphicon glyphicon-ok-sign status-icon-approved"
                  *ngIf="doucmentList.verifierStatus == 'APPROVED'"></span>
                <span class="glyphicon glyphicon-remove-sign status-icon-declined"
                  *ngIf="doucmentList.verifierStatus == 'DECLINED'"></span>
                <span>{{doucmentList.verifierStatus}}</span>
                <br>
                <span *ngIf="(doucmentList.verifierStatus == 'DECLINED' ||  doucmentList.verifierStatus == 'APPROVED')" class="dtime">{{doucmentList.verifierVerifiedDateTime | slice:0:-30}}</span>
            </div>
          </td>
          <td>
              <span class="glyphicon glyphicon-exclamation-sign status-icon-pending"
                  *ngIf="doucmentList.adminVerifyStatus == 'PENDING'"></span>
                <span class="glyphicon glyphicon-ok-sign status-icon-approved"
                  *ngIf="doucmentList.adminVerifyStatus == 'APPROVED'"></span>
                <span class="glyphicon glyphicon-remove-sign status-icon-declined"
                  *ngIf="doucmentList.adminVerifyStatus == 'DECLINED'"></span>
                <span>{{doucmentList.adminVerifyStatus}}</span>
          </td>
          <td>
            <span class="commentword" title="{{doucmentList.comment}}">{{doucmentList.comment}}</span>
          </td>
          <td>
            <div>
              <i class="material-icons edicon" (click)="editeducation(doucmentList)" routerLink="/DataOwner/Edit_Data">edit</i>
              <!-- <i class="material-icons edicon delicon" (click)="deleducation()">delete</i> -->
            </div>
          </td>
        </tr>
      </tbody>
    </table>
      <!-- <mat-accordion *ngFor="let wallet of wallets">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title class="col-md-4">
              <img src="../../assets/images/people.png" class="proffiicon-img" *ngIf="!wallet.owner_propic">
              <img src="{{wallet.owner_propic}}" class="proffi-img" *ngIf="wallet.owner_propic">
            </mat-panel-title>        
            <mat-panel-description class="col-md-4 tpmargn">
              {{wallet.owner_fullname}}
            </mat-panel-description>
            <mat-panel-description class="col-md-4 tpmargn">
              Rs.{{wallet.realised_amount}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="col-md-4">
            <p>Mobile: {{wallet.owner_mobile}}</p>
          </div>
          <div class="col-md-4">
            <p>Email: {{wallet.owner_email}} </p>
          </div>
          <div class="col-md-4">
            <p>Total Docs: {{wallet.docs_ids.length}}</p>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
        </mat-expansion-panel>
        <div style="margin-top: 10px;"></div>
      </mat-accordion> -->
  </div>
</div>



<div class="col-md-10 col-md-offset-1">
  <button class="btn btn-primary" routerLink="/DataOwner" style="margin-top:30px">Back</button>
</div>
<div class=" col-md-12  pagenation" >
     
  <pagination-controls class="mypagination"
                      (pageChange)="p=$event"
                      directionLinks="true"
                      previousLabel="Pre"
                      nextLabel="Next"
                      >
</pagination-controls>
</div>


<style type="text/css">
  td{
    width:200px;
    overflow: hidden;
    word-wrap: break-word;
}
  .pagenation{
      /*position:absolute;
      right:30px;
      bottom: 15px;
      color: white;
      font-size: 18px;*/
      text-align: right;
      
    }

  .search{
  border-radius:50px;
    background-color:white;
    height: 39px;
    width: 20%;
    margin-top: 12px;
    margin-bottom: 21px;
    margin-left: 9%;
    border:none;
    color:black;
    text-align:center;
    outline:none;
}
.mypagination /deep/ .ngx-pagination .current {
  background: #2c4f70 !important;
}
.mypagination /deep/ .ngx-pagination a{
  color:white !important;
}

</style>