.txtbold{
	/*font-weight: bold;*/
}
.chatlist{
	overflow-y:scroll;
	height: 500px;
}
.rmcolpad{
	padding-left: 0px;
	padding-right: 0px;
}
.nicn{
	text-align:  right;
	margin-top: 7px;
}
.pagetop{
	margin-top: 70px;
	background-color: #f5f5f5;
	/*height: 100%;*/
}
.butn{
	float: right;
	font-size:10px;
	margin: 10px 5px 0px 0px;
}
.dropdown {
    /*margin-top: 15px;*/
    cursor: pointer;  
 }
.chatmember{
	border:1px solid #cdcfd2;
	background-color: white;
}
.msgtitle{
	/*overflow-y: auto;*/
	border-bottom:1px solid #cdcfd2;
}
.searchinput{
	border-bottom:1px solid #cdcfd2;
	padding:  10px 0px 10px 0px;
	border:0 !important;
	outline: none;
	width: 75%;
}
.searchicon{
	margin-right:10px; 
	font-size: 20px;
	margin-left: 20px;
}
.memberdetailscs{
	padding: 10px; 
	list-style-type: none;
	cursor: pointer;
	outline: none;
	border-bottom:1px solid #cdcfd2;
}
.memberdetailscs:hover{
	background-color: #f3f6f8;
}
.verify-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 20px; 
}
.chatmsg{
	border-top:1px solid #cdcfd2;
	border-bottom: 1px solid #cdcfd2;
	border-right: 1px solid #cdcfd2;
	/*border-top:1px solid #cdcfd2;*/
}
.brdr{
	border-bottom:1px solid #cdcfd2;
	background-color: white;
}
.optionicon{
	/*margin-top: 20px;*/
    margin-bottom: 10px;
    cursor: pointer;
}
.txtalign{
	text-align: right;
}

.chatbody{
	overflow-y:scroll;
	height: 492px;
}
.msginput{
	border:0 !important;
	outline: none;
	width: 60%;
	height: 20px;
	margin: 10px;
    overflow-y: auto;
}
.pinicon{
	padding: 10px;
	cursor: pointer;
	margin-bottom: 0px;
}
.verify-img-msg{
	width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 20px; 
}
.msgname{
	font-size: 18px;
	margin: 0px 20px 0px 0px;
	font-weight: 600;
}
.msgtime{
	color: rgba(78, 77, 77, 0.97);
    font-size: 10px;
}
#msgdiv{
	margin:20px 10px 20px 10px;
	overflow-y: scroll !important;
	/*min-height: auto;*/
}
.msg{
	margin-left: 60px;
	/*width: 70%;*/
	word-wrap: break-word;
}
.adsdiv{
    margin: 20px;
    border: 1px solid #d6d4d4; 
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    background-color: white;
  }


@media only screen and (min-width:360px) and (max-width: 640px) {
	.pagetop{
		margin-top: 20%;
	}
	.chatlist{
		font-size: 20px;
	}
	.brdr{
		margin-top: 27px;
		width: 353px;
	}
	.butn{
		margin-top: 2px;
	}
	.msginput{
		width: 60%;
		height:28px;	
	}
	.chatlist{
		overflow-y:scroll;
		height:450px;
	}
	.chatbody{
	    overflow-y: scroll;
	    height: 400px;
	}
}


.element> input{
    display: none;
}
.element {
  display: inline-flex;
  align-items: center;
  width: 41px;
  margin-left: 5px;
}