<div class="col-md-12 col-sm-12 col-xs-12 pagetop">
	<div class="col-md-2 col-md-offset-2 col-sm-12 col-xs-12 rmcolpad">
		<div class="col-md-12 col-sm-12 col-xs-12 chatmember">
        	<div class="row msgtitle">
        		<div class="col-md-12 col-sm-12 col-xs-12">
        			<div class="col-md-8">
        			<h5 class="txtbold">Messaging</h5>
        			</div>
        			<div class="col-md-4 nicn">
        			<svg style="width:24px;height:20px" viewBox="0 0 24 24">
                    <path fill="#337ab7" d="M5,3C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19H5V5H12V3H5M17.78,4C17.61,4 17.43,4.07 17.3,4.2L16.08,5.41L18.58,7.91L19.8,6.7C20.06,6.44 20.06,6 19.8,5.75L18.25,4.2C18.12,4.07 17.95,4 17.78,4M15.37,6.12L8,13.5V16H10.5L17.87,8.62L15.37,6.12Z"/>
                    </svg>
                </div>
        		</div>
        	</div>
        	<div class="row msgtitle">
        		<i class="fa fa-search searchicon"></i>
        		<input type="text" class="searchinput" placeholder="Search Message" >
        	</div>
        	<div class="row msgtitle chatlist">
        		<div *ngFor="let person of talks1" class="hidden-sm hidden-xs visible-md visible-lg">
		            <li (click)="onSelect(person)" class="memberdetailscs" >
				      <img src="../assets/images/people.png" class="verify-img" *ngIf="!person.front_photo">
				      <img src="{{person.front_photo}}" class="verify-img" *ngIf="person.front_photo">
		         		<span class="txtbold">{{person.full_name}}</span><span class="badge badge-light msg" *ngIf="person.chatcount!=0">{{person.chatcount}}</span>
		           	</li>
	        	</div>
	        	<div *ngFor="let person of talks1" class="hidden-md hidden-lg visible-sm visible-xs">
		            <li (click)="onSelect(person)" routerLink="/mobileview" class="memberdetailscs" >
				      <img src="../assets/images/people.png" class="verify-img" *ngIf="!person.front_photo">
				      <img src="{{person.front_photo}}" class="verify-img" *ngIf="person.front_photo">
		         		{{person.full_name}}
		           	</li>
	        	</div>
        	</div>
	        <!-- </div> -->
		</div>  
	</div>
	<div class="col-md-4 hidden-sm hidden-xs rmcolpad">
		<div class="col-md-12 chatmsg brdr">
			<div class="row brdr">
				<div class="col-md-8">
					<h5>{{selectedPerson.full_name | uppercase}}</h5>
				</div>
				<div class="dropdown col-md-4 txtalign right">
              <a data-toggle="dropdown" class="dropdown-toggle">
			  <i class="material-icons optionicon">more_horiz</i>
             </a>
            <ul class="dropdown-menu col-md-12 ">
                <i class="material-icons">delete</i><span>Delete</span>
                <br>
            </ul>
          </div>
          </div>
		<div class="row brdr chatbody">
				<div class="col-md-12" *ngFor="let chats of chatdata">
					<div id="msgdiv"> 
						<!-- <img src="../assets/images/people.png" class="verify-img-msg"> -->

						<span *ngIf="(selectedPerson.user_id == chats.sender_id)">
							<img src="../assets/images/people.png" class="verify-img-msg" *ngIf="!selectedPerson.front_photo">
							<img src="{{selectedPerson.front_photo}}" class="verify-img-msg" *ngIf="selectedPerson.front_photo">
						</span>

						<span *ngIf="!(selectedPerson.user_id == chats.sender_id)">
							<img src="../assets/images/people.png" class="verify-img-msg" *ngIf="!profi">
							<img src="{{profi}}" class="verify-img-msg" *ngIf="profi">
						</span>
					   	<span class="msgname">{{chats.sender_name}}</span>
						<!-- <span class="msgtime"></span> -->
						<time class="msg-s-message-group__timestamp t-12 t-black--light t-normal msgtime">{{chats.datetime}}
                         </time>
						<p *ngIf="chats.message != 'undefined'" class="msg">{{chats.message}}</p>
						<span *ngIf="chats.attachmentfile"><img src="{{chats.attachmentfile}}" accept=".png, .jpg, .jpeg, .pdf" class="attchimg" style="margin-right: 20px;margin-top: 5px; height: 300px; width: 300px;margin-left:57px;"></span>

						
					</div>
				</div>
			</div>

			<div class="row brdr">
				<div class="element">
              		<label for="attachfile" class="pinicon">
                    	<svg viewBox="0 0 24 24" class="vide" color="black" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon" focusable="false">
                       		<path d="M16.5,6V17.5A4,4 0 0,1 12.5,21.5A4,4 0 0,1 8.5,17.5V5A2.5,2.5 0 0,1 11,2.5A2.5,2.5 0 0,1 13.5,5V15.5A1,1 0 0,1 12.5,16.5A1,1 0 0,1 11.5,15.5V6H10V15.5A2.5,2.5 0 0,0 12.5,18A2.5,2.5 0 0,0 15,15.5V5A4,4 0 0,0 11,1A4,4 0 0,0 7,5V17.5A5.5,5.5 0 0,0 12.5,23A5.5,5.5 0 0,0 18,17.5V6H16.5Z" class="large-icon" style="fill: currentColor">
                       		</path>
                    	</svg>
              		</label>
                  <input type="file" id="attachfile" accept=".png, .jpg, .jpeg, .pdf" (change)="attachfilefun($event)">{{name}}
                  <!-- <span style="color:red">{{message1}}</span> -->
                </div>
				<input type="text" placeholder="Write a message" class="msginput" style="text-transform: capitalize;" [(ngModel)]="message.txt">
				<button class="btn btn-primary butn" [disabled]="!message.txt && !selectedFile " (click)="sendmessage(message, selectedPerson);">Send</button>
			</div>
		</div>
	</div>
	<!-- ------------------advertisement----------- -->
	 <div class="col-md-3 col-md-3 hidden-sm hidden-xs">
      <div class="adsdiv">
        <img src="./assets/images/im1.png" style="height: 200px;width: 100%" class="adsimg">
        <p style="color: blue;">Brighten your loved ones’ Holi celebrations with a gift card from #Woohoo! Buy it on #YONOSBI and make the most of this limited offer. Download: sbiyono.sbi</p>
      </div>
    </div>
</div>