<div class="col-md-12 hidden-md hidden-lg">
		<div class="col-sm-12 col-xs-12 chatmsg brdr">
			<div class="row brdr">
				<div class="col-sm-8 col-xs-8 hidden-md hidden-lg">
					<h3>{{selectedPersonServ_Comp.full_name}}</h3>
				</div>
				<div class="col-sm-4 col-xs-4 hidden-md hidden-lg txtalign">
					<i class="material-icons optionicon">more_horiz</i>
				</div>
			</div>
			<div class="row brdr hidden-md hidden-lg chatbody">
				<div class="col-sm-12 col-xs-12 hidden-md hidden-lg" *ngFor="let chats of chatdata">
					<div class="msgdiv">
						<span *ngIf="(selectedPersonServ_Comp.user_id == chats.sender_id)">
							<img src="../assets/images/people.png" class="verify-img-msg" *ngIf="!selectedPersonServ_Comp.front_photo">
							<img src="{{selectedPersonServ_Comp.front_photo}}" class="verify-img-msg" *ngIf="selectedPersonServ_Comp.front_photo">
						</span>
						<span *ngIf="!(selectedPersonServ_Comp.user_id == chats.sender_id)">
							<img src="../assets/images/people.png" class="verify-img-msg" *ngIf="!profi">
							<img src="{{profi}}" class="verify-img-msg" *ngIf="profi">
						</span>
					   	<span class="msgname">{{chats.sender_name}}</span>
						<time class="msg-s-message-group__timestamp t-12 t-black--light t-normal msgtime">{{chats.datetime}}
                         </time>
						<p class="msg">{{chats.message}}</p>
						<span *ngIf="chats.attachmentfile!==null"><img src="{{chats.attachmentfile}}" style="margin-left: 20px; height: 300px; width: 300px"></span>
					</div>
				</div>
			</div>
			<div class="row brdr visible-sm visible-xs hidden-md">
				<i class="material-icons pinicon">attach_file</i>
				<input type="text" placeholder="Write a message" class="msginput" [(ngModel)]="message.txt">
				<button class="btn btn-primary" (click)="sendmessage(message, selectedPersonServ_Comp);">Send</button>
			</div>
		</div>
	</div>