.headingtext{
    padding-top: 2px;
} 
#nxtbutton{
    float: right;
    margin-right: 99px;
    background-color: #0f3463;
    color: white;  
}
.iconstyle{
    color: azure;
}


#subbutton{
    background-color: #0e3463;
    margin-left: 24px;
    color: white;
}

.removebutton{
    background-color: #0e3463;
    margin-left: 30px;
    color: white;
}
.addbutton{
    background-color: #0e3463;
    color: white;
}
.backbutton{
    background-color: #0e3463; 
    /*position: relative;*/
    /*right: 790px;*/
    height: 42px;
    width: 60px;
    float: left;
    /*left:1px;*/
}
.Nextbutton{
    background-color: #0e3463; 
    float: right;
    /*position: relative;*/
    /*left: 138px;*/
    height: 42px;
    width: 60px;
}
#backbutton2{
    background-color: #0e3463;
    color: white;
    right: -14px;
}
.subbtn{
    background-color: #0e3463;
    margin-left: 371px;
    height: 42px;
    width: 71px;
}
.bckbtn{
    background-color: #0e3463;
    height: 42px;
    width: 68px;
}
.addicon{
    margin-left: 700px;
}
.removeicon{
    margin-left: 20px;
}
.myfield > mat-form-field{
    margin-bottom: 24px;
    width:240px;
}
.myfield2 > mat-form-field{
    margin-bottom: 24px;
    width:350px;
}
.tabheader{
    margin-bottom: 22px;
    font-size: 18px;
}
.tabheader2{
    margin-bottom: -7px;
    font-size: 18px;
}
.regform{
    margin-top: 92px;
  }
.alrt{
    width: 360px;
}
    
@media only screen and (min-width: 360px) and (max-width:640px){
    #nxtbutton{
        float: right;
        margin-right: 0px; 
    }
    .headingtext{
        padding-top: 7px;
    } 
    .addicon{
        margin-left: 10px;
    }
    .myfield > mat-form-field{
        width:280px!important;
    }  
    .myfield2 > mat-form-field{
        width:280px!important;
    }   
    .removebutton{
        background-color: #0f3463;
        
        color: white;
    }
    .addbutton{
        background-color: #0f3463;
        
        color: white;
    }
    .subbtn{
    margin-left: 212px;
    margin-top: -62px;
}

    .backbutton{
    background-color: #0f3463;
    color: white;
    position: static;
    
}
    .Nextbutton{
    background-color: #0e3463; 
    position: relative;
    left: 175px;
}
}