<div class="col-md-offset-1 col-md-10 regform">
  <mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Personal Details</ng-template>
        <div class="col-md-4 col-sm-6 myfield">
          <div class="tabheader"> Basic Details</div>
          <mat-form-field >
            <input matInput placeholder="First name" formControlName="firstname" [(ngModel)]="user1.fname" (keypress)="keyPress1($event)" style="text-transform: capitalize;" required>
            <mat-error *ngIf="personalform.firstname.invalid">First name is required</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field >
            <input matInput placeholder="Last name" formControlName="lastname" [(ngModel)]="user1.lname" (keypress)="keyPress1($event)" style="text-transform: capitalize;" required>
            <mat-error *ngIf="personalform.lastname.invalid">Last name is required</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-select placeholder="Gender" formControlName="gender" [(ngModel)]="user1.gender" required>
              <mat-option value='Male'>Male</mat-option>
              <mat-option value='Female'>Female</mat-option>
              <mat-option value='Others'>Other</mat-option>
            </mat-select>
            <mat-error *ngIf="personalform.gender.invalid">Gender is required</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Date of Birth" formControlName="dob" 
            (ngModelChange)="calculateAge($event)" [max]="getValidDate()" required>
            <mat-datepicker-toggle matSuffix [for]="picker" style="font-size:24px;"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="personalform.dob.invalid">Date of Birth is required and should be 16 and above</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field >
            <input type="email" matInput placeholder="Email Id" formControlName="email" [(ngModel)]="user1.email" required>
            <mat-error *ngIf="personalform.email.touched || personalform.email.invalid">Email is required and should be valid</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field >
            <input matInput placeholder="Mobile Number" formControlName="mob" [(ngModel)]="user1.phone" (keypress)="keyPress($event);" maxlength="10" minlength="10" [readonly]="this.isEditable"  required>
            <mat-error *ngIf="personalform.mob.invalid">Mobile Number is required and should be 10 digits</mat-error>
          </mat-form-field>
        </div>
<!-- =====================> Present Address start===========================> -->


        <div class="col-md-4 myfield">
          <div class="tabheader">Present Address</div>
          <mat-form-field >
            <input matInput placeholder="Address Line 1" formControlName="address1" [(ngModel)]="user1.addline1" required>
            <mat-error *ngIf="personalform.address1.invalid">Address Line 1 is required</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field >
            <input matInput placeholder="Address Line 2" formControlName="address2" [(ngModel)]="user1.addline2" required>
            <mat-error *ngIf="personalform.address1.invalid">Address Line 2 is required</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field >
            <mat-select placeholder="State" formControlName="state" name="mystate" [(ngModel)]="user1.state1" (ngModelChange)="onSelect($event)"
              required>
              <mat-option *ngFor="let state of states" value={{state.mystate}}>{{state.mystate}}</mat-option>
            </mat-select>
            <mat-error *ngIf="personalform.state.invalid">State is required</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field >
            <mat-select placeholder="District" formControlName="district" name="mydistrict" [(ngModel)]="user1.district1" required>
              <mat-option *ngFor="let district of districtsn" value={{district.mydistrict}}>{{district.mydistrict}}</mat-option>
            </mat-select>
            <mat-error *ngIf="personalform.district.invalid">District is required</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field >
            <input matInput placeholder="City" formControlName="city" [(ngModel)]="user1.city" (keypress)="keyPress1($event)" required>
            <mat-error *ngIf="personalform.city.invalid">City is required</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field >
            <input matInput placeholder="Pin code"  formControlName="pin" [(ngModel)]="user1.pincode1" (keypress)="keyPress($event);"
              maxlength="6" minlength="6" required>
            <mat-error *ngIf="personalform.pin.invalid">Pin Code is required and should be 6 digits</mat-error>
          </mat-form-field>
        </div>

<!-- ==========================Present Address end==============================> -->

<!-- =============================>permanent address start=============================> -->
        <div class="col-md-4">
          <div class="tabheader2">Permanent Address
            <br>
            <mat-checkbox formControlName="checkPermanentAddress" [(ngModel)]="checked" ></mat-checkbox>&nbsp;<span style="font-size: 14px">Check if same as present</span>
          </div>
          <div class="myfield" *ngIf="checked">
            <mat-form-field >
              <input matInput placeholder="Address Line 1" formControlName="permanent_address1" [(ngModel)]="user1.addline1" 
               required>
              <mat-error *ngIf="personalform.permanent_address1.invalid">Address Line 1 is required</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input matInput placeholder="Address Line 2" formControlName="permanent_address2" [(ngModel)]="user1.addline2" 
               required>
              <mat-error *ngIf="personalform.permanent_address1.invalid">Address Line 2 is required</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field >
              <mat-select placeholder="State" formControlName="permanent_state" name="mystate" [(ngModel)]="user1.state1" (ngModelChange)="onSelect($event)"
               required>
                <mat-option *ngFor="let state of states" value={{state.mystate}} >{{state.mystate}}</mat-option>
              </mat-select>
              <mat-error *ngIf="personalform.permanent_state.invalid">State is required</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field >
              <mat-select placeholder="District" formControlName="permanent_district" name="mydistrict" [(ngModel)]="user1.district1" 
               required>
                <mat-option *ngFor="let district of districtsn" value={{district.mydistrict}}>{{district.mydistrict}}</mat-option>
              </mat-select>
              <mat-error *ngIf="personalform.permanent_district.invalid">District is required</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field >
              <input matInput placeholder="City" formControlName="permanent_city" [(ngModel)]="user1.city" (keypress)="keyPress1($event)"
               required>
              <mat-error *ngIf="personalform.permanent_city.invalid">City is required</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field >
              <input matInput placeholder="Pin code" formControlName="permanent_pin" [(ngModel)]="user1.pincode1" (keypress)="keyPress($event);"
                maxlength="6" minlength="6" required>
              <mat-error *ngIf="personalform.permanent_pin.invalid">Pin Code is required and should be 6 digits</mat-error>
            </mat-form-field>
          </div>

<!-- ========================>unchecked address(same address)================ -->
          <div class="myfield" *ngIf="!checked">
            <mat-form-field >
              <input matInput placeholder="Address Line 1" formControlName="permanent_address1" [(ngModel)]="user1.permanent_addline1"
                required>
              <mat-error *ngIf="personalform.permanent_address1.invalid">Address Line 1 is required</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field >
              <input matInput placeholder="Address Line 2" formControlName="permanent_address2" [(ngModel)]="user1.permanent_addline2"
                required>
              <mat-error *ngIf="personalform.permanent_address1.invalid">Address Line 2 is required</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field >
              <mat-select placeholder="State" formControlName="permanent_state" name="mystate" [(ngModel)]="user1.permanent_state1" (ngModelChange)="onSelect1($event)"
                required>
                <mat-option *ngFor="let state of states" value={{state.mystate}}>{{state.mystate}}</mat-option>
              </mat-select>
              <mat-error *ngIf="personalform.permanent_state.invalid">State is required</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field >
              <mat-select placeholder="District" formControlName="permanent_district" name="mydistrict" [(ngModel)]="user1.permanent_district1"
                required>
                <mat-option *ngFor="let district of districtsm" value={{district.mydistrict}}>{{district.mydistrict}}</mat-option>
              </mat-select>
              <mat-error *ngIf="personalform.permanent_district.invalid">District is required</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field >
              <input matInput placeholder="City" formControlName="permanent_city" [(ngModel)]="user1.permanent_city" (keypress)="keyPress1($event)" required>
              <mat-error *ngIf="personalform.permanent_city.invalid">City is required</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field >
              <input matInput placeholder="Pin code"  formControlName="permanent_pin" [(ngModel)]="user1.permanent_pincode1" (keypress)="keyPress($event);"
                maxlength="6" minlength="6" required>
              <mat-error *ngIf="personalform.permanent_pin.invalid">Pin Code is required and should be 6 digits</mat-error>
            </mat-form-field>
          </div>
        </div>
       <div class="col-md-12">
          
          <button class="btn btn-primary backbutton" routerLink="/initialreg" >Back</button>
         
          <button class="btn btn-primary Nextbutton" type="submit" matStepperNext (click)="submitregdetails1(user1)">Next</button>
        </div>
      </form>
    </mat-step>
    
    <!-- Education details -->
    <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Education Details</ng-template>
        <h5>Fill your Education details in chronological order
          <span>*</span>
        </h5>
        <br>
        <div formArrayName="items" *ngFor="let item of secondFormGroup.get('items')['controls']; let i = index;">
          <div [formGroupName]="i" >
            <!-- First part -->
            <div class="col-md-6 myfield2" >
              <mat-form-field >
                <mat-select *ngIf="i=='0'" placeholder="Highest Qualification" formControlName="highest" name="highest" (ngModelChange)="getcourses($event)"
                  [id]="'highest'+i" required>
                  <mat-option *ngFor="let qualification of highestQualifications" value={{qualification.highQualify}}>{{qualification.highQualify}}</mat-option>
                </mat-select>
                <mat-select *ngIf="i=='1'" placeholder="Qualification" formControlName="highest" name="highest" (ngModelChange)="getcourses1($event)"
                  [id]="'highest'+i" required>
                  <mat-option *ngFor="let qualification1 of highestQualifications1" value={{qualification1.highQualify}}>{{qualification1.highQualify}}</mat-option>
                </mat-select>
                <mat-select *ngIf="i=='2'" placeholder="Qualification" formControlName="highest" name="highest" (ngModelChange)="getcourses2($event)"
                  [id]="'highest'+i" required>
                  <mat-option *ngFor="let qualification2 of highestQualifications2" value={{qualification2.highQualify}}>{{qualification2.highQualify}}</mat-option>
                </mat-select>
                 <mat-select *ngIf="i=='3'" placeholder="Qualification" formControlName="highest" name="highest" (ngModelChange)="getcourses2($event)"
                  [id]="'highest'+i" required>
                  <mat-option *ngFor="let qualification3 of highestQualifications3" value={{qualification3.highQualify}}>{{qualification3.highQualify}}</mat-option>
                </mat-select>
                 <mat-select *ngIf="i=='4'" placeholder="Qualification" formControlName="highest" name="highest" (ngModelChange)="getcourses2($event)"
                  [id]="'highest'+i" required>
                  <mat-option *ngFor="let qualification4 of highestQualifications4" value={{qualification4.highQualify}}>{{qualification4.highQualify}}</mat-option>
                </mat-select>
                <mat-error *ngIf="item.controls.highest.invalid">Your Qualification is required</mat-error>
              </mat-form-field>
              <br>
              <!-- Condition for showing 12 and 10 when user1 clicked -->
              <div *ngIf="secondFormGroup.value.items[i].highest =='12th'">
                 <mat-form-field class="alrt" >
                  <input matInput placeholder="Specify your Specialization" formControlName="specialization" [id]="'specialization'+i" (keypress)="keyPress1($event)" required>
                  <mat-error *ngIf="item.controls.specialization.invalid">Specialization is required</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field class="alrt">
                  <input matInput placeholder="Board" formControlName="board12" [id]="'board12'+i" name="board12" (keypress)="keyPress1($event)" required>
                  <mat-error *ngIf="item.controls.board12.invalid">12th Board is required</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field class="alrt">
                  <input matInput placeholder="Year of passing" formControlName="yop12" (keypress)="keyPress2($event);" maxlength="4" minlength="4"
                    [id]="'yop12'+i" name="yop12" required>
                  <mat-error *ngIf="item.controls.yop12.invalid">Year of Passing is required</mat-error>
                </mat-form-field>
                <br>
              </div>
              <div *ngIf="secondFormGroup.value.items[i].highest =='10th'">
                <mat-form-field class="alrt">
                  <input matInput placeholder="Board" formControlName="board10" [id]="'board10'+i" name="board10"  (keypress)="keyPress1($event)" required>
                  <mat-error *ngIf="item.controls.board10.invalid">10th Board is required</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field class="alrt">
                  <input matInput placeholder="Year of passing" formControlName="yop10" (keypress)="keyPress2($event);" maxlength="4" minlength="4"
                    [id]="'yop10'+i" name="yop10" required>
                  <mat-error *ngIf="item.controls.yop10.invalid">Year of Passing is required</mat-error>
                </mat-form-field>
              </div>
              <!-- showing fields for college details -->
              <div class="myfield2" *ngIf="secondFormGroup.value.items[i].highest !=='12th' && secondFormGroup.value.items[i].highest !=='10th'">
                <mat-form-field >
                  <mat-select *ngIf="i=='0'" placeholder="Course" formControlName="coursess" [id]="'course'+i" required>
                    <mat-option *ngFor="let course4 of courses4" value={{course4.course}}>{{course4.course}}</mat-option>
                  </mat-select>
                  <mat-select *ngIf="i=='1'" placeholder="Course" formControlName="coursess" [id]="'course'+i" required>
                    <mat-option *ngFor="let course1 of courses3" value={{course1.course}}>{{course1.course}}</mat-option>
                  </mat-select>
                  <mat-select *ngIf="i=='2'" placeholder="Course" formControlName="coursess" [id]="'course'+i" required>
                    <mat-option *ngFor="let course2 of courses2" value={{course2.course}}>{{course2.course}}</mat-option>
                  </mat-select>
                   <mat-select *ngIf="i=='3'" placeholder="Course" formControlName="coursess" [id]="'course'+i" required>
                    <mat-option *ngFor="let course3 of courses3" value={{course3.course}}>{{course3.course}}</mat-option>
                  </mat-select>
                   <mat-select *ngIf="i=='4'" placeholder="Course" formControlName="coursess" [id]="'course'+i" required>
                    <mat-option *ngFor="let course4 of courses4" value={{course4.course}}>{{course4.course}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="item.controls.coursess.invalid">Your course is required</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field  *ngIf="secondFormGroup.value.items[i].coursess =='Other'">
                  <input matInput placeholder="Please specify your course" formControlName="othercourse" [id]="'othercourse'+i" (keypress)="keyPress1($event)" required>
                  <mat-hint *ngIf="item.controls.othercourse">Please enter your cousrse</mat-hint>
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Specify your Specialization" formControlName="specialization" [id]="'specialization'+i" (keypress)="keyPress1($event)" required>
                  <mat-error *ngIf="item.controls.specialization.invalid">Specialization is required</mat-error>
                </mat-form-field>
                  <mat-form-field >
                <input matInput placeholder="Percentage" formControlName="percent" [id]="'percent'+i" name="percent" maxlength="5" minlength="1" (keypress)="percentPress($event);" required>
                <mat-error *ngIf="item.controls.percent.invalid">Your Percentage is required</mat-error>
              </mat-form-field>
              </div>
            </div>
            <!-- Second part -->
            <!-- For 12th -->
            <div class="col-md-6 myfield2" *ngIf="secondFormGroup.value.items[i].highest =='12th'">
              <mat-form-field >
                <input matInput placeholder="Medium" formControlName="medium12" [id]="'medium12'+i" name="medium12" (keypress)="keyPress1($event)" required>
                <mat-error *ngIf="item.controls.medium12.invalid">Your Medium of study is required</mat-error>
              </mat-form-field>
              <mat-form-field >
                <input matInput placeholder="Percentage" formControlName="percent12" [id]="'percent12'+i" name="percent12" maxlength="5" minlength="1" (keypress)="percentPress($event);" required>
                <mat-error *ngIf="item.controls.percent12.invalid">Your Percentage is required</mat-error>
              </mat-form-field>
              <mat-form-field >
                <input matInput placeholder="School" formControlName="school12" [id]="'school12'+i" name="school12" (keypress)="keyPress1($event)" required>
                <mat-error *ngIf="item.controls.school12.invalid">School name is required</mat-error>
              </mat-form-field>
            </div>
            <!-- For 10th -->
            <div class="col-md-6 myfield2" *ngIf="secondFormGroup.value.items[i].highest =='10th'">
              <mat-form-field >
                <input matInput placeholder="Medium" formControlName="medium10" [id]="'medium10'+i" name="medium10" (keypress)="keyPress1($event)" required>
                <mat-error *ngIf="item.controls.medium10.invalid">Your Medium of study is required</mat-error>
              </mat-form-field>
              <mat-form-field >
                <input matInput placeholder="Percentage" formControlName="percent10" [id]="'percent10'+i" name="percent10" maxlength="5" minlength="1" (keypress)="percentPress($event);" required>
                <mat-error *ngIf="item.controls.percent10.invalid">Your Percentage is required</mat-error>
              </mat-form-field>
              <mat-form-field >
                <input matInput placeholder="School" formControlName="school10" [id]="'school10'+i" name="school10" (keypress)="keyPress1($event)" required>
                <mat-error *ngIf="item.controls.school10.invalid">School name is required</mat-error>
              </mat-form-field>
            </div>
            <!-- for college details -->
            <div class="col-md-6 myfield2" *ngIf="secondFormGroup.value.items[i].highest !=='12th' && secondFormGroup.value.items[i].highest !=='10th'">
              <mat-form-field >
                <input matInput placeholder="Passing Year" formControlName="degpassingyear" (keypress)="keyPress2($event);" maxlength="4"
                  minlength="4" [id]="'degpassingyear'+i" required>
                <mat-error *ngIf="item.controls.degpassingyear.invalid">Year of Passing is required</mat-error>
              </mat-form-field>
              <br>
              <mat-form-field >
                <mat-select placeholder="Course Type" formControlName="degcoursetype" [id]="'degcoursetype'+i" required>
                  <mat-option value='fulltime'>Full-time</mat-option>
                  <mat-option value='parttime'>Part-time</mat-option>
                  <mat-option value='correspondence'>Correspondence</mat-option>
                </mat-select>
                <mat-error *ngIf="item.controls.degcoursetype.invalid">Course type is required</mat-error>
              </mat-form-field>
              <br>
              <mat-form-field >
                <input matInput placeholder="University/College" formControlName="univname" [id]="'univname'+i" (keypress)="keyPress1($event)" required>
                <mat-error *ngIf="item.controls.univname.invalid">University/College name is required</mat-error>
              </mat-form-field>
           <br>
           <br>
            </div>
            <div style="margin-bottom: 10%;margin-top: 5%">
            <div class="btn btn-primary addbutton" matTooltip="Add More Education" matTooltipPosition="right" (click)="additem()">
            <mat-icon >add</mat-icon>Add
          </div>
          <div class="btn btn-primary removebutton" *ngIf="!i=='0'" matTooltip="Remove More Education" matTooltipPosition="right"  (click)="removeitem(i)">
            <mat-icon>remove</mat-icon>Remove
          </div>
          </div>
          </div>
        </div>
        <div>            
          <button class="btn btn-primary bckbtn" style="background-color: #0e3463;" matStepperPrevious>Back</button>
          <button class="btn btn-primary subbtn" type="submit" (click)="submitedudetails(secondFormGroup)">Submit</button>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>

<!-- Popup for showing invalid age -->
<div class="modal fade" #someModal id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="!submitted">
  <div class="modal-dialog" role="document">
    <div class="modal-content change">
      <div class="modal-header ">
        <h2 class="modal-title " id="exampleModalLabel" style="text-align: center;color:#ef5e53fa;"><span style="position: relative;
          top: 14px;">Registration Failed</span></h2>
        <button type="button" style="position: relative; bottom: 40px;" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>Oops!!! Your Age should be 16 or above to register with PEHACHAIN</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
