<div class="contatiner-fluid">
  <h2 mat-dialog-title class="sucessreg">Congratulations!!!</h2>
  <mat-dialog-content style="margin:0px">
    <p id="messagestyle" style="text-align: center;
        color: black; font-size: 18px;">You have successfully registered with PEHACHAIN</p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="userActionButtonGroup text-center">
      <button class="successbutton" mat-button [mat-dialog-close]="true" (click)="Successregisteration()">OK</button>
    </div>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  </mat-dialog-actions>
</div>
