    .sucessreg {
      background-color: #2c4f70;
      margin-top: -24px;
      margin-left: -24px;
      margin-right: -24px;
      font-size: 22px;
      font-style: oblique;
      font-family: sans-serif;
      padding: 14px;
      color: azure;
      border-bottom: 1px solid #e5e5e5;
      text-align: center;
    }

    .successbutton {
      border: 1px solid #2c4f70;
      width: 63px;
      margin-left: 175px;
      color: white;
      background-color: #2c4f70;
      margin-top: 3px;
    }
@media only screen and (min-width: 360px) and (max-width:640px){
  .successbutton {
    margin-left: 90px;
  }

}