<div class="col-md-offset-2 col-md-8 col-sm-12 col-xs-12"style="margin-top: 55px;  border: 1px solid #eee">
  <div class="row">
      <span style="margin-left: 10px;font-size: 20px;"><a>Showing All Matching Results</a></span>
  <hr>
  <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 12px;"  *ngFor="let p of globals.matchedSearchRes">
    <div class="row">
      <div class="col-md-1 col-sm-2 col-xs-2 right" *ngIf="p.front_photo!=''">
          <img src="{{p.front_photo}}" class="imgg1">        
      </div>
      <div class="col-md-1 col-sm-2 col-xs-2 right" *ngIf="p.front_photo==''">
          <img src="assets/images/employee_avatar.png" style="width:46px">        
      </div>
      <div class="col-md-6 col-sm-8 col-xs-6">
        <h5>{{p.full_name}}</h5><br>
      </div>
  
      <div class="col-md-4 col-sm-1 col-xs-4" >
          <button type="button"class="btn frdsbtn" *ngIf="!myFriendsIds.includes(p.user_id) && !friendRequestRecieved.includes(p.user_id) && !friendRequestSent.includes(p.user_id) && !followingCompIds.includes(p.user_id)" style="width: 100px" (click)="sendfriendRequest(p)" data-control-name="accept">Connect</button>
          <button class="btn frdsbtn" *ngIf="myFriendsIds.includes(p.user_id)" style="width: 100px" routerLink="/message">Message</button>
          <button class="btn frdsbtn" *ngIf="followingCompIds.includes(p.user_id)" style="width: 100px">Following</button>
          <button class="btn frdsbtn" *ngIf="friendRequestRecieved.includes(p.user_id)" style="width: 100px; margin: 2px;" (click)="addfriendrequest(p)"> Accept</button>
          <button class="btn frdsbtn" *ngIf="friendRequestRecieved.includes(p.user_id)" style="width: 100px; margin: 2px;" (click)="deleteFriendRequest1(p)"> Ignore</button>
          <button class="btn frdsbtn" *ngIf="friendRequestSent.includes(p.user_id)" style="width: 100px">Request sent</button>
          <!-- <button class="btn frdsbtn" *ngIf="friendRequestSent.includes(p.user_id)" style="width: 100px"(click)="deleteRequestSent(p)">Cancel</button> -->
      </div>
      </div>
    </div>
  </div>
  </div>
  
    