.imgg1 {
    border: 1px solid #bfbfbf;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: -1px;
    margin-left: -1px;
  
  }
  
  .frdsbtn{
    background-color: transparent;
    color: #337ab7;
    border: 1px solid #168aaf;
  }
  
  .frdsbtn:hover{
    background-color: #337ab7;
    color: white;
  }
  