<div class="col-md-12">
	<div class="row">
		<div class="col-md-6 hidden-sm hidden-xs">
			<!-- <input type="text" placeholder="Search.." class="serchinput" [(ngModel)]="searchRequest"> -->
		</div>
		<div class="selectbtn col-md-6">
	      <button class="btn btn-default butn butn1" id="verifier" (click)="verifierfun()">VERIFIER</button>
	      <button class="btn btn-default butn butn2" id="seeker" (click)="seekerfun()">SEEKER</button>
	  </div>
	</div>
</div>
<div>
	<router-outlet></router-outlet>
</div>