<div  class="col-md-12 backgroundclr">
	<div class="row  hedr">
		<div class="row hedr1">
			<div class="col-sm-7 col-xs-7 col-md-4 col-lg-4 logoo">
				<img src="assets/images/Logonew.png" class="logo_img">
	        	<span class="text_path">PEHACHAIN</span>
			</div>
			<div class="col-md-5 col-lg-5">
				
			</div>		
			<div class="col-sm-5 col-xs-5 col-md-3 col-lg-3 datacenter">	
				<div class="col-md-4 rmcolpad hidden-sm hidden-xs">
					<span class="glyphicon glyphicon-bell bellicon"></span>
				</div>		
				<div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 rmcolpad">
					<span routerLink="/DataAccessor/Wallets">
						<svg style="width:30px;height:30px;" viewBox="0 0 24 24" class="wallet">
						    <path fill="#ffffff" d="M21,18V19A2,2 0 0,1 19,21H5C3.89,21 3,20.1 3,19V5A2,2 0 0,1 5,3H19A2,2 0 0,1 21,5V6H12C10.89,6 10,6.9 10,8V16A2,2 0 0,0 12,18M12,16H22V8H12M16,13.5A1.5,1.5 0 0,1 14.5,12A1.5,1.5 0 0,1 16,10.5A1.5,1.5 0 0,1 17.5,12A1.5,1.5 0 0,1 16,13.5Z"/>
						</svg>
					</span>
				</div>
				<div class="col-md-4 col-sm-8 col-xs-8 col-lg-4 rmcolpad">
					<a class="mobview">
		            	<div *ngIf="!profi" class="dropdown">
					      <img src="../../assets/images/people.png" class="proffiicon-img dropdown-toggle" data-toggle="dropdown">
					      	<ul id="login-dp" class="dropdown-menu">
								<li class="hidden-md hidden-lg">Notifications</li>
								<li (click)="logoutPrivate()">Logout</li>
							</ul>
					    </div>
					    <div *ngIf="profi" class="dropdown">
					      <img src="{{profi}}" class="proffi-img dropdown-toggle" data-toggle="dropdown">
					    	<ul id="login-dp" class="dropdown-menu">
								<li class="hidden-md hidden-lg">Notifications</li>
								<li (click)="logoutPrivate()">Logout</li>
							</ul>
					    </div>
		            </a>
				</div>
			</div>
		</div>
	</div>
	<div  class="routercls">
		<router-outlet ></router-outlet>
	</div>
</div>