
.title{
    color:#969696;
    margin: 0px;
}

.title-heading{
    text-align: left !important;
    margin-bottom: 20px;
    /* text-decoration: underline; */
}

.orgsListDiv{
    margin-top: 15px;
    margin-left: 16%;
}
.blk{
	display: block;
}