<div class="col-md-12 mar1">
    <div class="row">
        <div>
            <div>
                <header>
                    <h1 class="text">Copyright Policy</h1>
                    <hr>
                </header>
                <div class="pad">
                    <section>
                        <p><em>Last revised on December 7, 2018</em></p>
                    </section>
                    <section>
                        <h2 class="text2">Complaints regarding content posted on the PEHACHAIN website</h2>
                        <p>PEHACHAIN respects the intellectual property rights of others and desires to offer a platform which contains no content that violates those rights. Our User Agreement requires that information posted by Members be accurate, lawful and not in violation of the rights of third parties. To promote these objectives, PEHACHAIN provides a process for submission of complaints concerning content posted by our Members. Our policy and procedures are described and/or referenced in the sections that follow.</p>
                        <p>Please note that whether or not we disable access to or remove content, PEHACHAIN may make a good faith attempt to forward the written notification, including the complainant’s contact information, to the Member who posted the content and/or take other reasonable steps to notify the Member that PEHACHAIN has received notice of an alleged violation of intellectual property rights or other content violation. It is also our policy, in appropriate circumstances and in our discretion, to disable and/or terminate the accounts of Members, or groups as the case may be, who infringe or repeatedly infringe the rights of others or otherwise post unlawful content.</p>
                        <p>Please note that any notice or counter-notice you submit must be truthful and must be submitted under penalty of perjury. A false notice or counter-notice may give rise to personal liability. You may therefore want to seek the advice of legal counsel before submitting a notice or a counter-notice.</p>
                    </section>
                    <section>
                        <h2 class="text2">Claims regarding copyright infringement</h2>
                        <h3>Notice of Copyright Infringement:</h3>
                        <p> Pursuant to the Digital Millennium Copyright Act (17 <span dir="ltr"></span> § 512), PEHACHAIN has implemented procedures for receiving written notification of claimed infringements. PEHACHAIN has also designated an agent to receive notices of claimed copyright infringement. If you believe in good faith that your copyright has been infringed, you may complete and submit a , or otherwise provide a written communication which contains:</p>
                        <ol>
                            <li>An electronic or physical signature of the person authorized to act on behalf of the owner of the copyright interest;</li>
                            <li>A description of the copyrighted work that you claim has been infringed;</li>
                            <li>A description specifying the location on our website of the material that you claim is infringing;</li>
                            <li>Your email address and your mailing address and/or telephone number;</li>
                            <li>A statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law; and</li>
                            <li>A statement by you, made under penalty of perjury, that the information in your notice is accurate and that you are the copyright owner or authorized to act on the copyright owner’s behalf.</li>
                        </ol>
                    </section>
                    <div>
                        <p>Please submit your notice to PEHACHAIN Corporation’s Copyright Agent as follows:</p>
                        <p>Or contact us by mail at:</p>
                        <address><strong>&emsp;&emsp;PEHACHAIN Corporation</strong>
                            <br>&emsp;&emsp;&emsp;ATTN: Copyright Agent
                            <br>&emsp;&emsp;&emsp;Legal Department
                            <br><span dir="ltr">&emsp;&emsp;&emsp;15th cross, Sahakar Nagar</span>
                            <br>&emsp;&emsp;&emsp;Bangalore&nbsp;KA&nbsp;560092
                            <br>&emsp;&emsp;&emsp;India</address>
                        <h3 class="subsection-title">Counter-Notice:</h3>
                        <p> If you believe that a notice of copyright infringement has been improperly submitted against you, you may submit a Counter-Notice, pursuant to Sections 512(g)(2) and (3) of the Digital Millennium Copyright Act. You may complete the or otherwise provide a written communication which contains: </p>
                        <ol>
                            <li>Your physical or electronic signature;</li>
                            <li>Identification of the material removed or to which access has been disabled;</li>
                            <li>A statement under penalty of perjury that you have a good faith belief that removal or disablement of the material was a mistake or that the material was misidentified;</li>
                        </ol>
                        <p>Please submit your Counter-Notice to PEHACHAIN’s Copyright Agent via or mail to the address specified above.</p>
                    </div>
                    <section>
                        <h2 class="text2">Claims regarding content other than copyright infringement</h2>
                        <p>For issues other than copyright infringement please visit our where you’ll find information on how to flag and report other types of content violations. Learn more:</p>
                        <p>Notice regarding Associated Press content on PEHACHAIN: Associated Press text, photo, graphic, audio and/or video material shall not be published, broadcast, rewritten for broadcast or publication or redistributed directly or indirectly in any medium. Neither these AP materials nor any portion thereof may be stored in a computer except for personal and non-commercial use. Users may not download or reproduce a substantial portion of the AP material found on this web site. AP will not be held liable for any delays, inaccuracies, errors or omissions therefrom or in the transmission or delivery of all or any part thereof or for any damages arising from any of the foregoing.</p>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
