<div class="col-md-12">
    <div class="hidden-xs">
    <div class="col-md-9 aligns alig">
        <ul class="mar">
            <li><a routerLink='/page/useragreementpolicy'>User&nbsp;Agreement</a></li>
            <li><a routerLink='/page/privacypolicy'>Privacy&nbsp;Policy</a></li>
            <li><a routerLink='/page'>Cookie&nbsp;Policy</a></li>
            <li><a routerLink='/page/copyrightpolicy'>Copyright&nbsp;Policy</a></li>
        </ul>
    </div>
</div>
<!-- <hr> -->
<div class="hidden-md hidden-lg hidden-sm">
    <div class="col-md-9 aligns margin-align">
        <ul class="mar">
            <li><a routerLink='/page/useragreementpolicy'>User&nbsp;Agreement</a></li>
            <li><a routerLink='/page/privacypolicy'>Privacy&nbsp;Policy</a></li><br>
            <li><a class="padding" routerLink='/page'>Cookie&nbsp;Policy</a></li>
            <li><a routerLink='/page/copyrightpolicy'>Copyright&nbsp;Policy</a></li>
        </ul>
    </div>
</div>
</div>
<hr class="height">
<div class="col-md-12 col-sm-12 col-xs-12">
    <router-outlet ></router-outlet>
</div>