
    <div class="col-md-12 col-sm-12 col-xs-12 aligns1">
        <ul class="mar">
            <li><a routerLink='/privacyfaqs'>privacyFAQs</a></li>
            <li><a routerLink='/privacysettings'>privacysettings</a></li>
        </ul>
    </div>
    <hr>
    <div class="col-md-12 col-sm-12 col-xs-12 bc2">
        <h3>Without our members, there is no PEHACHAIN.</h3>
        <p>This is the place you come to build professional relationships, explore new opportunities and find success with the help of your PEHACHAIN communities.</p>
         <p>To explore your full potential on PEHACHAIN, we know you need to trust us with your personal data. We are committed to working hard every day to maintain that trust. </p>
    </div>
    <!-- <div class="col-md-12">
        <div class="col-md-4">
            <h5 class="box">Privacy settings</h5>
        </div>
        <div class="col-md-4 col-md-offset-2">
            <h5 class="box">PrivacyFAQs</h5>
        </div>
   </div> -->
    <div class="col-md-12 col-sm-12 col-xs-12">
        <!-- <h5 class="box">Privacy settings</h5> -->
        <div class="col-md-4 col-sm-12 col-xs-12">
            <h5 class="box">Privacy&nbsp;settings</h5>
            <a class="align2" routerLink="/privacysettings">Read More</a>
        </div>
         <!-- <h5 class="box">PrivacyFAQs</h5> -->
        <div class="col-md-4 col-sm-12 col-xs-12">
            <h5 class="box">PrivacyFAQs</h5>
            <a class="align2" routerLink="/privacyfaqs">Read More</a>
        </div>
   </div>
   <br>




   <div class="col-md-12 col-xs-12 col-sm-12  mar">
    <div class="col-md-8 col-xs-12 col-sm-12">
        <h4>Our privacy philosophy</h4>
        <p>At PEHACHAIN, our core value is “members first.” That value guides us as we aim to provide clarity to our members, act consistently and give our members control. That means we say what we do, do what we say, and offer you, our members, control over the data we collect and how it will be used and shared.</p>
    </div>
    <div class="col-md-4 hidden-sm hidden-xs">
        <img src="../../../assets/images/privacyhub.jpg">
    </div>
    <div class="col-sm-12 col-xs-12 hidden-md hidden-lg">
        <img src="../../../assets/images/privacyhub.jpg" style="height:50%; width:100%;">
  </div>
</div>
