<div class="col-md-12 mar1">
    <div class="row">
        <div>
            <div class="contain">
                <div class="bc">
                <header>
                    <h1>Privacy Policy</h1>
                    <h5>To learn more about Privacy at PEHACHAIN please visit our <a style="color:yellow" routerLink='/privacyhub'>Privacy Hub</a>.</h5>
                    <!-- <hr> -->
                </header>
            </div>
                <div>
                    <div class="col-md-12 pad" >
                        <div>
                            <section>
                                <p><em>Effective December 8, 2018</em></p>
                                <p>Our Privacy Policy has been updated. Click here to see a <a routerLink="/page/summaryofchange">summary of changes</a>.</p>
                                <h2>Your Privacy Matters</h2>
                                <p>PEHACHAIN's mission is to connect the world’s professionals to allow them to be more productive and successful. Central to this mission is our commitment to be transparent about the data we collect about you, how it is used and with whom it is shared.</p>
                                <p>This Privacy Policy applies when you use our Services (described below). We offer our users choices about the data we collect, use and share as described in this Privacy Policy,</p>
                                <h2>Introduction</h2>
                                <p>We are a social network and online platform for professionals. People use our Services to find and be found for business opportunities and to connect with others and information. Our Privacy Policy applies to any Member or Visitor to our Services.</p>
                                <div>
                                    <p>Our registered users (“<strong>Members</strong>”) share their professional identities, engage with their network, exchange knowledge and professional insights, post and view relevant content, learn and find business and career opportunities. Content and data on some of our Services is viewable to non-members (“<strong>Visitors</strong>”).</p>
                                    <p>We use the term “<strong>Designated States</strong>” to refer to states in India.</p>
                                </div>
                                <h3>Services</h3>
                                <p>This Privacy Policy, including our applies to your use of our Services.</p>
                                <div>
                                    <p>This Privacy Policy applies to PEHACHAIN.com, PEHACHAIN-branded apps, Slideshare, PPEHACHAIN ehaChain Learning and other PEHACHAIN-related sites, apps, communications and services (“<strong>Services</strong>”), including off-site Services, such as our ad services and the “Apply with PEHACHAIN” and “Share with PEHACHAIN” plugins, but excluding services that state that they are offered under a different privacy policy.</p>
                                </div>
                                <h3>Data Controllers and Contracting Parties</h3>
                                <div>
                                    <p>If you reside in the “Designated States: PEHACHAIN India Unlimited Company (“PEHACHAIN India”) will be the controller of your personal data provided to, or collected by or for, or processed in connection with our Services; you are entering into the <a routerLink='/page/useragreementpolicy'>User Agreement</a> with PEHACHAIN India.</p>
                                    <p>If you reside outside of the Designated States: PEHACHAIN Corporation will be the controller of your personal data provided to, or collected by or for, or processed in connection with, our Services; you are entering into the <a routerLink='/page/useragreementpolicy'>User Agreement</a> with PEHACHAIN Corporation.</p>
                                    <p>As a Visitor or Member of our Services, the collection, use and sharing of your personal data is subject to this Privacy Policy (which includes our <a routerLink='/page'>Cookie Policy</a> and other documents referenced in this Privacy Policy) and updates.</p>
                                </div>
                                <h3>Change</h3>
                                <p>Changes to the Privacy Policy apply to your use of our Services after the “effective date.”</p>
                                <div>
                                    <p>PEHACHAIN (“we” or “us”) can modify this Privacy Policy, and if we make material changes to it, we will provide notice through our Services, or by other means, to provide you the opportunity to review the changes before they become effective. If you object to any changes, you may close your account.</p>
                                    <p>You acknowledge that your continued use of our Services after we publish or send a notice about our changes to this Privacy Policy means that the collection, use and sharing of your personal data is subject to the updated Privacy Policy.</p>
                                </div>
                            </section>
                            <hr>
                            <section>
                                <h2 class="text2">1. Data We Collect</h2>
                                <h3 class="text3">1.1 Data You Provide To Us</h3>
                                <p>You provide data to create an account with us.</p>
                                <div>
                                    <h4>Registration</h4>
                                    <p>To create an account you need to provide data including your name, email address and/or mobile number, and a password. If you register for a premium Service, you will need to provide payment (e.g., credit card) and billing information.</p>
                                </div>
                                <p>You create your PEHACHAIN profile (a complete profile helps you get the most from our Services).</p>
                                <div>
                                    <h4>Profile</h4>
                                    <p>You have choices about the information on your profile, such as your education, work experience, skills, photo,city or area and endorsements. Some Members may choose to complete a separate ProFinder
                                    profile. You don’t have to provide additional information on your profile; however, profile information helps you to get more from our Services, including helping recruiters and business opportunities find you. It’s your choice whether to include <span>sensitive information<span>We do <strong><em>not</em></strong> require Members to include sensitive data (e.g., race, ethnicity, political opinions, religious or philosophical beliefs, trade union membership, physical or mental health, sexual orientation or criminal record) in their PEHACHAIN profile. If you choose to post any such data, it is visible to others like the rest of the profile information you provide.</span></span> on your profile and to make that sensitive information public. Please do not post or add personal data to your profile that you would not want to be publicly available.</p>
                                </div>
                                <p>You give other data to us, such as by syncing your address book or calendar.</p>
                                <div>
                                    <h4>Posting and Uploading</h4>
                                    <p>We collect personal data from you when you provide, post or upload it to our Services, such as when you fill out a form, (e.g., with demographic data or salary), respond to a survey, or submit a resume. If you opt to import your address book, we receive your contacts (including contact information your service provider(s) or app automatically added to your address book when you communicated with addresses or numbers not already in your list).</p>
                                    <p>If you sync your contacts or calendars with our Services, we will collect your address book and calendar meeting information to keep growing your network by suggesting connections for you and others, and by providing information about them, e.g. times, places, attendees and contacts.</p>
                                    <p>You don’t have to post or upload personal data; though if you don’t, it may limit your ability to grow and engage with your network over our Services.</p>
                                </div>
                                <h3 class="text3">1.2 Data From Others</h3>
                                <p>Others may post or write about you.</p>
                                <div>
                                    <h4>Content and News</h4>
                                    <p>You and others may post content that includes information about you (as part of articles, posts, comments, videos) on our Services. Unless youopt-out, we collect public information about you, such as professional-related news and accomplishments (e.g., patents granted, professional recognition, conference speakers, projects, etc.) and make it available as part of our Services (e.g. suggestions for your profile, or notifications ofmentions in the news).</p>
                                </div>
                                <p>Others may sync their contacts or calendar with our Services.</p>
                                <div>
                                    <h4>Contact and Calendar Information</h4>
                                    <p>We receive personal data (including contact information) about you when others import or sync their contacts or calendar with our Services, associate their contacts with Member profiles, or send messages using our Services (including invites or connection requests). If you or others opt-in to sync email accounts with our Services, we will also collect “email header” information that we can associate with Member profiles.</p>
                                </div>
                                <p>Customers and partners may provide data to us.</p>
                                <div>
                                    <h4>Partners</h4>
                                    <p>We receive personal data about you when you use the services of our customers and partners, such as employers, prospective employers and applicant tracking systems providing us job application data.</p>
                                    <h4>Related Companies and Other Services</h4>
                                    <p>We receive data about you when you use some of the other services provided by us or our <span><dfn>affiliates</dfn><span>Affiliates are companies controlling, controlled by or under common control with us, including, for example, PEHACHAIN India, PEHACHAIN Corporation, PEHACHAIN Singapore and Microsoft Corporation.</span></span>, including Microsoft. For example, you may choose to send information about your contacts in Microsoft apps and services, such as Outlook, to us for improved professional networking activities on our Services.</p>
                                </div>
                                <h3 class="text3">1.3 Service Use</h3>
                                <p>We log your visits and use of our Services, including mobile apps.</p>
                                <div>
                                    <p>We log usage data when you visit or otherwise use our Services, including our sites, app and platform technology (e.g., our off-site plugins), such as when you view or click on content (e.g., learning video) or ads (on or off our sites and apps), perform a search, install or update one of our mobile apps, share articles or apply for jobs. We use log-ins, cookies,device information and internet protocol (“IP”) addresses to identify you and log your use.</p>
                                </div>
                                <h3 class="text3">1.4 Cookies, Web Beacons and Other Similar Technologies</h3>
                                <p>We collect data through cookies and similar technologies.</p>
                                <div>
                                    <p>As further described in our <span><dfn><a routerLink='/page'>Cookie Policy</a><span>The Cookie Policy describes the use of cookies and similar technologies.</span></dfn>
                                        </span>, we use cookies and similar technologies (e.g., web beacons, pixels, ad tags and device identifiers) to recognize you and/or your device(s) on, off and across different Services and devices. We also allow some others to use cookies as described in our Cookie Policy. You can control cookies through your browser settings and other tools. You can alsoopt-out from our use of cookies and similar technologies that track your behavior on the sites of others for third party advertising. For Visitors, the opt-out is here.</p>
                                </div>
                                <h3 class="text3">1.5 Your Device and Location</h3>
                                <p>We receive data from your devices and networks, including location data.</p>
                                <div>
                                    <p>When you visit or leave our Services (including our plugins or cookies or similar technology on the sites of others), we receive the URL of both the site you came from and the one you go to next. We also get information about your IP address, proxy server, operating system, web browser and add-ons, device identifier and features, and/or ISP or your mobile carrier. If you use our Services from a mobile device, that device will send us data about your location based on your phone settings. We will ask you to opt-in before we use GPS or other <span><dfn>tools<span>e.g. bluetooth</span></dfn>
                                        </span> to identify your precise location.</p>
                                </div>
                                <h3 class="text3">1.6 Messages</h3>
                                <p>If you communicate through our Services, we learn about that.</p>
                                <div>
                                    <p>We collect information about you when you send, receive, or engage with messages in connection with our Services. For example, if you get a PEHACHAIN connection request, we track whether you have acted on it and will send you reminders. We also use automatic scanning technology on messages.</p>
                                </div>
                                <h3 class="text3">1.7 Workplace and School Provided Information</h3>
                                <p>When your employer or school buys a premium Service for you to use, they give us data about you.</p>
                                <div>
                                    <p>Others buying our Services for your use, such as your employer or your school, provide us with personal data about you and your eligibility to use the Services that they purchase for use by their workers, students or alumni. For example, we will get contact information for
                                        <!-- “<a href="https://www.linkedin.com/help/linkedin/answer/1561?trk=microsites-frontend_legal_privacy-policy&amp;lang=en">Company Page</a>” -->administrators and for authorizing users of our premium Services, such as our recruiting, sales or learning products.</p>
                                </div>
                                <h3 class="text3">1.8 Sites and Services of Others</h3>
                                <!-- <aside class="right-column"> -->
                                <p>We get data when you visit sites that include our plugins, ads or cookies or log-in to others’ services with your PEHACHAIN account.</p>
                                <!-- </aside> -->
                                <div>
                                    <p>We receive information about your visits and interaction with services provided by others when you log-in with PEHACHAIN or visit others’ services that include our plugins (such as “Share on PEHACHAIN” or “Apply with PEHACHAIN”), ads, cookies or similar technologies.</p>
                                </div>
                                <h3 class="text3">1.9 Other</h3>
                                <!-- <aside class="right-column"> -->
                                <p>We are improving our Services, which means we get new data and create new ways to use data.</p>
                                <!-- </aside> -->
                                <div>
                                    <p>Our Services are dynamic, and we often introduce new features, which may require the collection of new information. If we collect materially different personal data or materially change how we use your data, we will notify you and may also modify this Privacy Policy.</p>
                                </div>
                            </section>
                            <hr>
                            <section class="row" style="padding:15px;">
                                <!-- 2. HOW WE USE YOUR DATA -->
                                <h2 class="text2">2. How We Use Your Data</h2>
                                <!-- <aside class="right-column"> -->
                                <p>We use your data to provide, support, personalize and develop our Services.</p>
                                <!-- </aside> -->
                                <div>
                                    <p>How we use your personal data will depend on which Services you use, how you use those Services and the choices you make in your
                                        <!-- <a href="https://www.linkedin.com/psettings/"></a> -->settings. We use the data that we have about you to provide and personalize, including with the help of automated systems and inferences we make, our Services (including ads) so that they can be more relevant and useful to you and others.</p>
                                </div>
                                <h3 class="text3">2.1 Services</h3>
                                <!-- <aside class
="right-column"> -->
                                <p>Our Services help you connect with others, find and be found for work and business opportunities, stay informed, get training and be more productive.</p>
                                <!-- </aside> -->
                                <div>
                                    <p>We use your data to authorize access to our Services.</p>
                                    <h4>Stay Connected</h4>
                                    <p>Our Services allow you to stay in touch and up to date with colleagues, partners, clients, and other professional contacts. To do so, you will “connect” with the professionals who you choose, and who also wish to “connect” with you. Subject to your
                                    settings, when you connect with other Members, you will be able to search each others’ connections in order to exchange professional opportunities.</p>
                                    <p>We will use data about you (such as your profile, profiles you have viewed or data provided through address book uploads or partner integrations) to help others find your profile, suggest connections for you and others (e.g. Members who share your contacts or job experiences) and enable you to invite others to become a Member and connect with you. You can also opt-in to allow us to use your precise location or proximity to others for certain tasks (e.g. to suggest other nearby Members for you to connect with, calculate the commute to a new job, or notify your connections that you are at a professional event).</p>
                                    <p>It is your choice whether to invite someone to our Services, send a connection request, or allow another Member to become your connection. When you invite someone to connect with you, your invitation will include your name, photo, network and contact information. We will send invitation reminders to the person you invited. You canchoose whether or not to share your own list of connections with your connections.</p>
                                    <p>Visitors havechoices about how we use their data.</p>
                                    <h4>Stay Informed</h4>
                                    <p>Our Services allow you to stay informed about news, events and ideas regarding professional topics you care about, and from professionals you respect. Our Services also allow you to improve your professional skills, or learn new ones. We use the data we have about you (e.g., data you provide, data we collect from your engagement with our Services and inferences we make from the data we have about you), to recommend relevant content and conversations on our Services, suggest skills you may have to add to your profile and skills that you might need to pursue your next opportunity. So, if you let us know that you are interested in a new skill (e.g., by watching a learning video), we will use this information to personalize content in your feed, suggest that you follow certain members on our site, or watch related learning content to help you towards that new skill. We use your content, activity and other data, including your name and picture, to provide notices to your network and others. For example, subject to your settings, we may notify others that you have updated your profile, posted a blog, took a <span><dfn>social action</dfn><span>e.g. like, comment, follow, share</span></span>, made new connections or werementioned in the news.</p>
                                    <h4>Career</h4>
                                    <p>Our Services allow you to explore careers, evaluate educational opportunities, and seek out, and be found for, career opportunities. Your profile can be found by those looking to hire (for a job or a specific task) or be hired by you. We will use your data to recommend jobs or mentees, show you and others who work at a company, in an industry, function or location or have certain skills and connections. You can signal that you are interested in changing jobs and share information with job recruiters. We will use your data to recommend jobs to you and you to recruiters. We may use automated systems to profile and provide recommendations to help make our Services more relevant to our Members, Visitors and customers. Keeping your profile accurate and up-to-date may help you better connect to others and to opportunities through our Services.</p>
                                    <h4>Productivity</h4>
                                    <p>Our Services allow you to collaborate with colleagues, search for potential clients, customers, partners and others to do business with. Our Services allow you to communicate with other Members and schedule and prepare meetings with them. If yoursettings allow, we scan messages to provide “bots” or similar tools that facilitate tasks such as scheduling meetings, drafting responses, summarizing messages or recommending next steps.</p>
                                </div>
                                <h3 class="text3">2.2 Premium Services</h3>
                                <p>Our premium Services allow paying users to search for and contact Members through our Services, such as searching for and contacting job candidates, sales leads and co-workers, manage talent and promote content through social media.</p>
                                <div>
                                    <p>We sell premium Services that provide our customers and subscribers customized-search functionality and tools (including messaging and activity alerts) as part of our talent, marketing and sales solutions. Customers can export limited information from your profile, such as name, headline, current company, current title, and general location (e.g., Dublin), in order to manage sales leads or talent, unless you opt-out. We do not provide contact information to customers as part of these premium Services without your consent. A premium Services customer can store information he/she has about you in our premium Services, such as a resume or contact information or sales history. The data provided about you by these customers is subject to the policies of those customers. Other enterprise Services and features that use your data includeTeamLink and Elevate (social promotion of content).</p>
                                </div>
                                <h3 class="text3">2.3 Communications</h3>
                                <p>We contact you and enable communications between Members. We offer settings to control what messages you receive and how often you receive some types of messages.</p>
                                <div>
                                    <p>We will contact you through email, mobile phone, notices posted on our websites or apps, messages to your PEHACHAIN inbox, and other ways through our Services, including text messages and push notifications. We will send you messages about the availability of our Services, security, or other service-related issues. We also send messages about how to use the Services, network updates, reminders, job suggestions and promotional messages from us and our partners. You may change your communication preferences at any time. Please be aware that you cannot opt-out of receiving service messages from us, including security and legal notices.</p>
                                    <p>We also enablecommunications between you and others through our Services, including for example
                                    invitations,InMail,groups and messages between connections.</p>
                                </div>
                                <h3 class="text3">2.4 Advertising</h3>
                                <p>We serve you tailored ads both on and off our Services. We offer you choices regarding personalized ads, but you cannot opt-out of seeing other ads.</p>
                                <div>
                                    <p>We target (and measure the performance of) ads to Members, Visitors and others both on and off our Services directly or through a variety of <span><dfn>partners<span>Partners include ad networks, exchanges and others</span></dfn>
                                        </span>, using the following data, whether separately or combined:</p>
                                    <ul>
                                        <li>Data from advertising technologies on and off our Services, like web beacons, pixels, ad tags, cookies, and device identifiers;</li>
                                        <li>Member-provided information (e.g., profile, contact information, title and industry);</li>
                                        <li>Data from your use of our Services (e.g., search history, feed, content you read, who you follow or is following you, connections,groups participation, page visits, videos you watch, clicking on an ad, etc.), including as described in Section 1.3;</li>
                                        <li>Information from advertising partners and publishersand </li>
                                        <li>Information inferred from data described above (e.g., using job titles from a profile to infer industry, seniority, and compensation bracket; using graduation dates to infer age or using first names or pronoun usage to infer gender).</li>
                                    </ul>
                                    <p>We will show you ads called sponsored content which look similar to non-sponsored content, except that they are labeled “ads” or “sponsored.” If you take an action (such as like, comment or share) on these ads, your action is associated with your name and viewable by others, including the advertiser. Subject to your settings, if you take a social action on the PEHACHAIN Services, <span><dfn>that action<span>For example, when you like a company, we may include your name and photo when their sponsored content is shown to your connections.</span></dfn>
                                        </span> may be mentioned with related ads.</p>
                                    <h4>Ad Choices</h4>
                                    <p>We adhere toself-regulatory principles for interest-based advertising and participate in industryopt-outs from such ads. This does not opt you out of receiving advertising; you will continue to get other ads by advertisers not listed with these self regulatory tools. You can alsoopt-out specifically from our uses of certain categories of data to show you more relevant ads. For Visitors, the setting is here.</p>
                                    <h4>Info to Ad Providers</h4>
                                    <p>We do not share your personal data with any third-party advertisers or ad networks for their advertising except for: (i) hashed or device identifiers (to the extent they are personal data in some countries); (ii) with your separate permission (e.g., lead generation form) or (iii) data already visible to any users of the Services (e.g. profile). However, if you view or click on an ad on or off our site or apps, the ad provider will get a signal that someone visited the page that displayed the ad, and they may through the use of mechanisms such as cookies determine it is you. Advertising partners can associate personal data collected by the advertiser directly from you with our cookies and similar technologies. In such instances, we seek to contractually require such advertising partners to obtain your explicit, opt-in consent before doing so.</p>
                                </div>
                                <h3 class="text3">2.5 Marketing</h3>
                                <p>We promote our Services to you and others.</p>
                                <div>
                                    <p>We use data and content about Members for invitations and communications promoting membership and network growth, engagement and our Services.</p>
                                </div>
                                <h3 class="text3">2.6 Developing Services and Research</h3>
                                <p>We develop our Services and conduct research.</p>
                                <div>
                                    <h4>Service Development</h4>
                                    <p>We use data, including public feedback, to conduct research and development for the further development of our Services in order to provide you and others with a better, more intuitive and personalized experience, drive membership growth and engagement on our Services, and help connect professionals to each other and to economic opportunity.</p>
                                    <h4>Other Research</h4>
                                    <p>We seek to create economic opportunity for Members of the global workforce and to help them be more productive and successful. We use the personal data available to us to research social, economic and workplace trends such as jobs availability and skills needed for these jobs and policies that help bridge the gap in various industries and geographic areas. In some cases, we work with trusted third parties to perform this research, under controls that are designed to protect your privacy. We publish or allow others to publish economic insights, presented as aggregated data rather than personal data.</p>
                                    <h4>Surveys</h4>
                                    <p>Polls and surveys are conducted by us and others through our Services. You are not obligated to respond to polls or surveys,opt-out of survey invitations.</p>
                                </div>
                                <h3 class="text3">2.7 Customer Support</h3>
                                <p>We use data to help you and fix problems.</p>
                                <div>
                                    <p>We use the data (which can include your communications) to investigate, respond to and resolve complaints and Service issues (e.g., bugs).</p>
                                </div>
                                <h3 class="text3">2.8 Aggregate Insights</h3>
                                <p>We use data to generate aggregate insights.</p>
                                <div>
                                    <p>We use your data to produce and share aggregated insights that do not identify you.For example we may use your <span><dfn>data<span> including inferences drawn from data about you such as your age or gender</span></dfn>
                                        </span> to generate statistics about our members, their profession or industry, to calculate ad impressions served or clicked on, or to publish visitor demographics for a Service or demographic workforce insights.</p>
                                </div>
                                <h3 class="text3">2.9 Security and Investigations</h3>
                                <p>We use data for security, fraud prevention and investigations.</p>
                                <div>
                                    <p>We use your data (including your communications) if we think it’s necessary for security purposes or to investigate possible fraud or other violations of our <a routerLink='/page/useragreementpolicy'>User Agreement</a> or this Privacy Policy and/or attempts to harm our Members or Visitors.</p>
                                </div>
                                <hr>
                            </section>
                            <section>
                                <h2  class="text2">3. How We Share Information</h2>
                                <h3 class="text3">3.1 Our Services</h3>
                                <p>Any data that you include on your profile and any content you post or social action (e.g. likes, follows, comments, shares) you take on our Services will be seen by others.</p>
                                <div>
                                    <h4>Profile</h4>
                                    <p>Your profile is fully visible to all Members and customers of our Services. Subject to yoursettings, it can also be visible to others on or off of our Services (e.g., Visitors to our Services or users of third- party search engines). As detailed in our Help Center, your settings, degree of connection with the viewing Member, the subscriptions they may have, their usage of our Services, access channels and search types (e.g., by name or by keyword) impact the availability of your profile and whether they can view certain fields in your profile.</p>
                                    <h4>Posts, Likes, Follows, Comments, Messages</h4>
                                    <p>Our Services allow viewing and sharing information including through posts, likes, follows and comments.</p>
                                    <ul>
                                        <li>When you share an article or a post (e.g., an update, image, video or article) publicly it can be viewed by everyone and re-shared anywhere (subject to your settings. Members, Visitors and others will be able to find and see your publicly-shared content, including your name (and photo if you have provided one).</li>
                                        <li>In a group, posts are visible to others in the group. Your membership in groups is public and part of your profile, but you can change visibility in your settings.</li>
                                        <li>Any information you share through companies’ or other organizations’ pages on our Services will be viewable by it and others who visit those pages.</li>
                                        <li>When you follow a person or organization, you are visible to others and that “page owner” as a follower.</li>
                                        <li>We let senders know when you act on their message, subject to your settings where applicable.</li>
                                        <li>Subject to your settings, we let a Member know when you view their profile.</li>
                                        <li>When you like or re-share or comment on another’s content (including ads), others will be able to view these “social actions” and associate it with you (e.g., your name, profile and photo if you provided it).</li>
                                    </ul>
                                    <p></p>
                                </div>
                                <p>Your employer can see how you use Services they provided for your work (e.g. as a recruiter or sales agent) and related information. We will not show them your job searches or personal messages.</p>
                                <div>
                                    <h4>Enterprise Accounts</h4>
                                    <p>Your employer may offer you access to our enterprise Services such as Recruiter, Sales Navigator, PEHACHAIN Learning or our advertising Campaign Manager. Your employer can review and manage your use of such enterprise Services.</p>
                                    <p>Depending on the enterprise Service, before you use such Service, we will ask for permission to share relevant data from your profile or use of our non-enterprise Services. For example, users of Sales Navigator will be asked to share their “social selling index”, a score calculated in part based on their personal account activity. We understand that certain activities such as job hunting and personal messages are sensitive, and so we do not share those with your employer unless you choose to share it with them through our Services (for example, by applying for a new position in the same company or mentioning your job hunting in a message to a co-worker through our Services).</p>
                                </div>
                                <h3 class="text3">3.2 Communication Archival</h3>
                                <p>Regulated Members may need to store communications outside of our Service.</p>
                                <div>
                                    <p>Some Members (or their employers) need, for legal or professional compliance, to archive their communications and social media activity, and will use services of others to provide these archival services. We enable archiving of messages by those Members outside of our Services. For example, a financial advisor needs to archive communications with her clients through our Services in order to maintain her professional financial advisor license.</p>
                                </div>
                                <h3 class="text3">3.3 Others’ Services</h3>
                                <p>You may link your account with others’ services so that they can look up your contacts’ profiles, post your shares on such platforms, or start conversations with your connections on such platforms. Excerpts from your profile will also appear on the services of others.</p>
                                <div>
                                    <p>Subject to your settings, other services may look-up your profile. When you opt to link your account with other services, personal data will become available to them. The sharing and use of that personal data will be described in, or linked to, a consent screen when you opt to link the accounts. For example, you may link your Twitter or WeChat account to share content from our Services into these other services, or your email provider may give you the option to upload your PEHACHAIN contacts into its own service. You may revoke the link with such accounts.</p>
                                    <p>Subject to your settings, excerpts from your
                                        profile will appear on the services of others (e.g., search engine results, mail and calendar applications that show a user a “mini” PEHACHAIN profile of the person they are meeting or messaging, <span><dfn>social media aggregators</dfn><span>For example, company page administrators may manage their brand's online presence by aggregating users' comments and other social actions across social networks and see their basic profiles in that context.</span></span>, talent and lead managers). “Old” profile information remains on these services until they update their data cache with changes you made to your profile.</p>
                                </div>
                                <h3 class="text3">3.4 Related Services</h3>
                                <p>We share your data across our different Services and PEHACHAIN-affiliated entities.</p>
                                <div>
                                    <p>We will share your personal data with our affiliates to provide and develop our Services. We may combine information internally across the different Services covered by this Privacy Policy to help our Services be more relevant and useful to you and others. For example, SlideShare will recommend better content to you based on your PEHACHAIN profile or the articles you read on the PEHACHAIN Services, and we can personalize your feed or job recommendations based on your learning video history, because we are able to identify you across different Services using cookies or similar technologies.</p>
                                </div>
                                <h3 class="text3">3.5 Service Providers</h3>
                                <p>We may use others to help us with our Services.</p>
                                <div>
                                    <p>We use others to help us provide our Services (e.g., maintenance, analysis, audit, payments, fraud detection, marketing and development). They will have access to your information as reasonably necessary to perform these tasks on our behalf and are obligated not to disclose or use it for other purposes.</p>
                                </div>
                                <h3 class="text3">3.6 Legal Disclosures</h3>
                                <p>We may need to share your data when we believe it’s required by law or to help protect the rights and safety of you, us or others.</p>
                                <div>
                                    <p>It is possible that we will need to disclose information about you when required by law, subpoena, or other legal process or if we have a good faith belief that disclosure is reasonably necessary to (1) investigate, prevent, or take action regarding suspected or actual illegal activities or to assist government enforcement agencies; (2) enforce our agreements with you, (3) investigate and defend ourselves against any third-party claims or allegations, (4) protect the security or integrity of our Service (such as by sharing with companies facing similar threats); or (5) exercise or protect the rights and safety of PEHACHAIN, our Members, personnel, or others. We attempt to notify Members about legal demands for their personal data when appropriate in our judgment, unless prohibited by law or court order or when the request is an emergency. We may dispute such demands when we believe, in our discretion, that the requests are overbroad, vague or lack proper authority, but we do not promise to challenge every demand. To learn more see our Data Request Guidelines and Transparency Report.</p>
                                </div>
                                <h3 class="text3">3.7 Change in Control or Sale</h3>
                                <p>We may share your data when our business is sold to others, but it must continue to be used in accordance with this Privacy Policy.</p>
                                <div>
                                    <p>We can also share your personal data as part of a sale, merger or change in control, or in preparation for any of these events. Any other entity which buys us or part of our business will have the right to continue to use your data, but only in the manner set out in this Privacy Policy unless you agree otherwise.</p>
                                </div>
                                <hr>
                            </section>
                            <section>
                                <h2  class="text2">4. Your Choices &amp; Obligations</h2>
                                <h3 class="text3">4.1 Data Retention</h3>
                                <p>We keep most of your personal data for as long as your account is open.</p>
                                <div>
                                    <p>We retain your personal data while your account is in existence or as needed to provide you Services. This includes data you or others provided to us and data generated or inferred from your use of our Services. Even if you only use our Services when looking for a new job every few years, we will retain your information and keep your profile open until you decide to close your account. In some cases we choose to retain certain information (e.g., visits to sites carrying our “share with PEHACHAIN” or “apply with PEHACHAIN” plugins without clicking on the plugin) in a depersonalized or aggregated form.</p>
                                </div>
                                <h3 class="text3">4.2 Rights to Access and Control Your Personal Data</h3>
                                <p>You can access or delete your personal data. You have many choices about how your data is collected, used and shared.</p>
                                <div>
                                    <p>We provide many choices about the collection, use and sharing of your data, from deleting or correcting data you include in your profile controlling the visibility of your posts to advertising opt-outs and
                                    communication controls. We offer you settings to control and manage the personal data we have about you (for SlideShare, please contact us).</p>
                                    <p>For personal data that we have about you:</p>
                                    <ul>
                                        <li><strong>Delete Data:</strong> You can ask us to erase or delete all or some of your personal data (e.g., if it is no longer necessary to provide Services to you).</li>
                                        <li><strong>Change or Correct Data</strong>: You can edit some of your personal data through your account. You can also ask us to change, update or fix your data in certain cases, particularly if it’s inaccurate.</li>
                                        <li><strong>Object to, or Limit or Restrict, Use of Data:</strong> You can ask us to stop using all or some of your personal data (e.g., if we have no legal right to keep using it) or to limit our use of it (e.g., if your personal data is inaccurate or unlawfully held).</li>
                                        <li><strong>Right to Access and/or Take Your Data:</strong> <span><dfn>You can ask</dfn><span>How to do this:  Members may go to their settings to make requests.</span></span> us for a copy of your personal data and can ask for a copy of personal data you provided in machine readable form.</li>
                                    </ul>
                                    <p>Visitors can learn more about how to make these requests here. You may also contact us using the contact information below, and we will consider your request in accordance with applicable laws.</p>
                                    <p>Residents in the Designated Countries may have additional rights under their laws.</p>
                                </div>
                                <h3 class="text3">4.3 Account Closure</h3>
                                <p>We keep some of your data even after you close your account.</p>
                                <div>
                                    <p>If you choose to close your Pehchain (or SlideShare) account, your personal data will generally stop being visible to others on our Services within 24 hours. We generally delete closed account information within 30 days of account closure, except as noted below.</p>
                                    <p>We retain your personal data even after you have closed your account if reasonably necessary to comply with our legal obligations (including law enforcement requests), meet regulatory requirements, resolve disputes, maintain security, prevent fraud and abuse, enforce our User Agreement, or fulfill your request to “unsubscribe” from further messages from us. We will retain de-personalized information after your account has been closed.</p>
                                    <p>Information you have shared with others (e.g., through InMail, updates or group posts) will remain visible after you closed your account or deleted the information from your own profile or mailbox, and we do not control data that other Members copied out of our Services. Groups content and ratings or review content associated with closed accounts will show an unknown user as the source. Your profile may continue to be displayed in the services of others (e.g., search engine results) until they refresh their cache.</p>
                                </div>
                                <hr>
                            </section>
                            <section class="row ">
                                <h2  class="text2">5. Other Important Information</h2>
                                <h3 class="text3">5.1. Security</h3>
                                <p>We monitor for and try to prevent security breaches. Please use the security features available through our Services.</p>
                                <div>
                                    <p>We implement security safeguards designed to protect your data, such as HTTPS. We regularly monitor our systems for possible vulnerabilities and attacks. However, we cannot warrant the security of any information that you send us. There is no guarantee that data may not be accessed, disclosed, altered, or destroyed by breach of any of our physical, technical, or managerial safeguards. Please visit our Safety Center for additional information about safely using our Services, including two-factor authentication.</p>
                                </div>
                                <h3 class="text3">5.2. Cross-Border Data Transfers</h3>
                                <p>We store and use your data outside your country.</p>
                                <div>
                                    <p>We process data both inside and outside of the United States and rely on legally-provided mechanisms to lawfully transfer data across borders.
                                    Countries where we process data may have laws which are different, and potentially not as protective, as the laws of your own country.</p>
                                </div>
                                <h3 class="text3">5.3 Lawful Bases for Processing</h3>
                                <p>We have lawful bases to collect, use and share data about you. You have choices about our use of your data.</p>
                                <p>At any time, you can withdraw consent you have provided by going to settings.</p>
                                <div>
                                    <p>We will only collect and process personal data about you where we have lawful bases. Lawful bases include <span><dfn>consent</dfn><span>Where we process data based on consent, we will ask for your explicit consent. <span>You may withdraw your consent at any time, but that will not affect the lawfulness of the processing of your personal data prior to such withdrawal.</span> Where we rely on contract, we will ask that you agree to the processing of personal data that is necessary for entering into or performance of your contract with us. We will rely on legitimate interests as a basis for data processing where the processing of your data is not overridden by your interests or fundamental rights and freedoms.</span>
                                        </span> (where you have given consent), contract (where processing is necessary for the performance of a contract with you (e.g. to deliver the PEHACHAIN Services you have requested)) and “legitimate interests”.</p>
                                    <p>Where we rely on your consent to process personal data, you have the right to withdraw or decline your consent at any time and where we rely on legitimate interests, you have the right to object.
                                    If you have any questions about the lawful bases upon which we collect and use your personal data, please contact our Data Protection Officer here.</p>
                                </div>
                                <h3 class="text3">5.4. Direct Marketing and Do Not Track Signals</h3>
                                <p>Our statements regarding direct marketing and “do not track” signals.</p>
                                <div>
                                    <p>We currently do not share personal data with third parties for their direct marketing purposes without your permission. Learn more about this and about our response to “do not track” signals.</p>
                                </div>
                                <h3 class="text3">5.5. Contact Information</h3>
                                <p>You can contact us or use other options to resolve any complaints.</p>
                                <div>
                                    <p>If you have questions or complaints regarding this Policy, please first contact PEHACHAIN online. You can also reach us by physical mail. If contacting us does not resolve your complaint, you have more options. Residents in the <span><dfn>Designated Countries</dfn><span>We use the term “Designated Country” India</span></span> may also have the right to contact our Data Protection Officer here.</p>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
