<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="row">
    <section class="bc2 mar">
        <h3>Privacy settings</h3>
        <p>We want to make it easy for you to understand your choices, as well as the control you have over your data and content, on PEHACHAIN. To that end, we’ve highlighted a number of settings that allow you to control how your information is used. For a full list of settings,<a routerLink="/login" rel="nofollow" target="_blank" style="color:yellow"> please visit your Account Settings</a>. You can learn about these settings and more in our <a routerLink="/privacyfaqs" style="color:yellow">Privacy FAQs</a>. </p>
    </section>
    <section class="text-align top">
    	<h3>Access and control your personal data.</h3>
		<p>You can access, update, and delete your data from PEHACHAIN if you choose.</p>
		<hr>
	</section>
    <div class="pad">
	<section>
		<p><strong class="color" routerLink="/login">Access and download your data</strong> You can access your information from your settings via the “Download your data” option on the Privacy tab of your profile.</p>
		<p><strong class="color" routerLink="/login">Manage services.</strong> See which apps and services of others you have allowed to access some of your data; you can stop access at any time.</p>
		<p><strong class="color" routerLink="/login">Delete your data.</strong> If you want to delete all of your data from PEHACHAIN, you can do so by closing your account. We generally delete data within 30 days of account closure, except as noted in Section 4 of our <strong class="color" routerLink="/page/privacypolicy">Privacy Policy.</strong> If you’d like to delete certain types of data (but not “the works”), you may do so by editing your profile <strong class="color" routerLink="/login">here.</strong></p>
		<p><strong class="color" routerLink="/login">Manage your salary data.</strong>If you choose to upload your salary data to PEHACHAIN, you can always go back and change or delete any salary information you uploaded.</p>
	</section>
	<section class="text-align top">
		<h4>Choose your visibility.</h4>
        <p>Control who sees your profile information on and off PEHACHAIN.</p>
        <hr>
    </section>
    <section>
    	<p><strong class="color" routerLink="/login">Edit your public profile</strong>You control what information you want visible on your profile, if any, to viewers off PEHACHAIN services. For example, you can limit what profile information appears to viewers using search engines like Bing and Google.</p>
    	<p><strong class="color" routerLink="/login">See profile viewing option</strong>Control whether your profile photo, name and headline appear to our other members when you view their profiles, or if you’d prefer to view anonymously.</p>
    	<p><strong class="color" routerLink="/login">Control who can see your mail.</strong>Select who can see your contact information. You can choose to share it with no one, your 1st-degree connections, your 1st and 2nd degree connections, or everyone on PEHACHAIN.</p>
    	<p>Manage your<strong class="color" routerLink="/login">profile visibility off PEHACHAIN</strong>Choose if you’d like your profile to be available for viewing in permitted services off of PEHACHAIN, such as Microsoft Outlook.</p>
    </section>
    <section class="text-align top">
    	<h3>Advertising Controls.</h3>
    	<p>Choose the ad preferences that work for you. <strong class="color" routerLink="/login">The Ads tab of your account settings</strong> provides control to personalize the ads and promoted jobs we show you, such as:</p>
    	<hr>
    </section>
    <section>
    	<p><strong class="color" routerLink="/login">Interactions with businesses</strong>We work with other companies and websites that want to advertise to their users and customers on PEHACHAIN. We may use your visit to a website or your consent to receive ads from a company in order to serve you ads through PEHACHAIN.</p>
    	<p><strong class="color" routerLink="/login">Your location</strong> We may use your zip code or city you provide us to localize ads for you, including job opportunities near you.</p>
    	<p><strong class="color" routerLink="/login">Ads off PEHACHAIN</strong>You control whether we can send you ads on others’ services and websites</p>
    	<p>In addition to the advertising controls available in your settings, PEHACHAIN is a member of several ad industry organizations and adheres to those organizations’ self-regulatory principles for serving interest-based ads. You can opt-out from interest-based advertising by participating in the opt-outs offered by these organizations: Learn more about using <strong class="color" routerLink="/login">industry platforms for opting out of interest-based advertising.</strong></p>
    </section>
    <section class="text-align top">
    	<h3>Secure your account.</h3>
    	<p>Help keep your account secure by not sharing your login credentials with others and consider taking the additional steps below:</p>
    	<hr>
    </section>
    <section>
    	<p><strong class="color" routerLink="/login">Add a backup email address</strong>You can also add a phone number to your account to reduce the risk of being locked out.</p>
    	<p><strong class="color" routerLink="/login">Turn on two step verification</strong>This helps protect your account from others by sending you a code every time you sign in on a new device.</p>
    	<p><strong class="color" routerLink="/login">See where you are signed in</strong>Regularly monitor this to make sure you don’t accidently stay signed in on a public computer or friend’s device.</p>
    </section>
</div>
</div>
</div>