<div class="col-md-12 col-sm-12 col-xs-12">
<div class="row">
    <div class="col-md-12 bc1 mar">
        <div class="row">
        <h3>Privacy FAQs</h3>
        </div> 
    </div>
    <div class="text1">
    <h3>Visibilty</h3>
    </div>
    <hr>
    <div class="col-md-12 col-sm-12 col-xs-12 pad">
        <div class="row" >
    <p>
        Can I edit the information that appears on my PEHACHAIN profile?</p>

        <p>Yes. You control what information appears on your PEHACHAIN profile. You can add, edit, or remove information from multiple sections of your profile. Learn more about editing your profile.</p>

        <p>Can I control whether my PEHACHAIN profile information will appear in searches from other services like Google and Bing?</p>

        <p>Yes, you can decide if you want your profile to appear when someone searches for you on services like Google and Bing. You can even customize what information appears on services like Google and Bing or choose to make your profile visible only on PEHACHAIN. Learn more about customizing the visibility of your public profile.</p>

        <p>Who will see that I have updated my PEHACHAIN profile?</p>

        <p>Your profile edits will be shared with your network unless you chose to turn notifications off. Manage this in your settings.</p>

        <p>How do I know who’s viewed my profile?</p>

        <p>The Who's Viewed Your Profile feature, found here, provides you with information about who has recently looked at your profile. It can also provide trends and insights, including increases in profile views and where your viewers work.</p>

        <p>Note that you may not see this feature if you haven't had any profile views in the past 90 days. When possible, we try to display a minimum of five views over any timeframe. Find out how Who’s Viewed Your Profile works.</p>
        </div>
    </div>
    <h3 class="pad1"> Job Hunting ON PEHACHAIN </h3>
    <hr>
    <div class="col-md-12 col-sm-12 col-xs-12 pad">
        <div class="row" >
        <p>What can I do so that my activity on PEHACHAIN won’t alert my employer that I’m looking for a job?</p>

        <p>Your job search activity on PEHACHAIN isn’t shared with others. We don’t send updates or notifications to your connections or employer when you view or apply for a job through PEHACHAIN. Go to your settings to control how others see your PEHACHAIN activity by limiting notifications when you add connections or edit your profile.</p>

        <p>Do I need to share information to increase my chances of being found by a recruiter for a job?</p>

        <p>Yes, and here are some things you can do: </p>


        <p>Ensure your profile is up to date.</p>

        <p>Include relevant information about your experiences and the positions you’re interested in.</p>

        <p>Share your career interests with recruiters. This indicates you’re open to new opportunities.</p>

 

        <p>Learn more about sharing your interests with recruiters For more information,check out frequently asked questions that explore how job hunters can effectively use PEHACHAIN services.</p>
        </div>
    </div>

<h3 class="pad1">Your Personal Data & Your Choices</h3>
<hr>
        <div class="col-md-12 col-sm-12 col-xs-12 pad">
        <div class="row" >
        <p>How can I control the information that PEHACHAIN has about me?</p>

        <p>You can set your sharing preferences by going to account settings You can review the settings in each category to better understand how PEHACHAIN uses your personal data and how you can control it.</p>

 

        <p>Account Settings is organized into four categories: Account, Privacy, Advertising, and Communications:</p>

 

        <p>Account settings control your sign-in credentials, site preferences, third-party integrations, and more</p>.

        <p>Privacy settings change how PEHACHAIN uses your data—and how others, including recruiters, can collect and use information about you and your activity on PEHACHAIN.</p>

        <p>Advertising settings control what information about you PEHACHAIN uses for advertising purposes.</p>

        <p>Communications settings manage the frequency and type of communications you may receive from PEHACHAIN.</p>

        <p>How do I close my PEHACHAIN account and delete all the data that PEHACHAIN has about me?</p>

        <p>Although we’d be sad to see you go, you can always submit a request to close your PEHACHAIN profile. It takes about 30 days to fully remove your information from our systems. Learn more about closing your account .</p> 
        </div>
    </div>
    </div>
</div>



