/*HEADER CSS*/
.aligns ul li{
    display: inline;
    padding-right: 20px;
}
.aligns ul li a{
    color: black;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}
.alig ul li a:hover,a:visited {
    padding-bottom: 10px;
    border-bottom: solid blue;
    color: blue;
}
/* PAGE CSS*/
.text{
    margin-top:-29px;
    color: blue;
    text-align: center;
    padding-bottom: -4px;
}
.mar{
    margin-top:60px;
}
th{
    text-align: center;
}
.bc{
    background-color: #0084bf;
    text-align: center;
    color: white;
    height:80px;
    margin-top:-20px;
}
.bc1{
    background-color: #2c383e;
    text-align: center;
    color: white;
    height: 80px;
}
.text1{
    text-align:center;
    margin-top:12%;
}
.pad{
    padding:30px;
}
.pad1{
    text-align: center;
}
.pad2{
    padding:1%;
    height:105px;
}
.aligns1 ul li{
    display: inline;
}
.aligns1 ul li a{
    color: blue;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    float: right;
    padding-right: 10px;
}
.bc2{
    background-color: #58666d;
    text-align: center;
    color: white;
}
.align2{
    border: 1px solid;
    color: blue;
    text-align: center;
    line-height: 65px;
    cursor: pointer;
    padding-top:12px;
    padding-right:47px;
    padding-left:47px;
    padding-bottom:12px;
}
.text-align{
    text-align: center;
}
.color{
    color:blue;
    cursor:pointer;
}
.top{
    margin-top: 50px;
}
hr{
    border: 0.5px solid black;
}
.colo{
    color:white;
}
.box{
    font-weight: bold;
    padding-left: 35px;
}
.align5{
    display:inline;
}
.mar1{
    margin-top:20px;
}
@media only screen and (min-width: 260px) and (max-width:767px){
    .margin-align{
        margin-left: -28px;
    }
    .padding{
        padding-right: 17px;
    }
    .text2{
        font-size:22px;
    }
    .text3{
        font-size:18px;
    }
    .mar{
        margin-top:50px;
    }
    .height{
        margin-top:0px;
    }
}
    


