<div class="col-md-12 mar1">
    <div class="row">
        <div>
            <div>
                <header>
                    <h1 class="text">Cookie Policy</h1>
                    <hr>
                </header>
                <div class="pad">
                    <section>
                        <p><em>Effective on December 7, 2018</em></p>
                        <p>At PEHACHAIN, we believe in being clear and open about how we collect and use data related to you. In the spirit of transparency, this policy provides detailed information about how and when we use cookies. This cookie policy applies to any PEHACHAIN product or service that links to this policy or incorporates it by reference.</p>
                    </section>
                    <section>
                        <h2 class="text2">Does PEHACHAIN use cookies?</h2>
                        <p>Yes. As described in <a routerLink='/page/privacypolicy'>Section 1.4 of our Privacy Policy</a>, we use cookies and other technologies to ensure everyone who uses PEHACHAIN has the best possible experience. Cookies also help us keep your account safe. By continuing to visit or use our services, you are agreeing to the use of cookies and similar technologies for the purposes we describe in this policy.</p>
                    </section>
                    <section>
                        <h2 class="text2">What is a cookie?</h2>
                        <p>A cookie is a small file placed onto your device that enables PEHACHAIN features and functionality. For example, cookies enable us to identify your device, secure your access to PEHACHAIN and our sites generally, and even help us know if someone attempts to access your account from a different device. Cookies also enable you to easily share content on PEHACHAIN and help us serve relevant ads to you.</p>
                    </section>
                    <section>
                        <h2 class="text2">When does PEHACHAIN place cookies?</h2>
                        <p>We use cookies on our sites (such as PEHACHAIN.com and slideshare.net) and mobile applications. Any browser visiting these sites will receive cookies from us. We also place cookies in your browser when you visit non-PEHACHAIN sites that host our plugins (for example, PEHACHAIN’s “Share” button) or tags.</p>
                    </section>
                    <section>
                        <h2 class="text2">What types of cookies does PEHACHAIN use?</h2>
                        <p>We use two types: persistent cookies and session cookies. A persistent cookie helps us recognize you as an existing user, so it’s easier to return to PEHACHAIN or interact with our services without signing in again. After you sign in, a persistent cookie stays in your browser and will be read by PEHACHAIN when you return to one of our sites or a partner site that uses our services (for example, our sharing or job application buttons). Session cookies only last for as long as the session (usually the current visit to a website or a browser session).</p>
                    </section>
                    <section>
                        <h2 class="text2">What are cookies used for?</h2>
                        <p>Cookies can be used to recognize you when you visit PEHACHAIN, remember your preferences, and give you a personalized experience that’s in line with your settings. Cookies also make your interactions with PEHACHAIN faster and more secure. Additionally, cookies allow us to bring you advertising both on and off the PEHACHAIN sites, and bring customized features to you through PEHACHAIN plugins such as our “Share” button.</p>
                        <table class="table table-striped table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Categories of Use</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Authentication</td>
                                    <td>If you’re signed in to PEHACHAIN, cookies help us show you the right information and personalize your experience.</td>
                                </tr>
                                <tr>
                                    <td>Security</td>
                                    <td>We use cookies to enable and support our security features, and to help us detect malicious activity and violations of our User Agreement.</td>
                                </tr>
                                <tr>
                                    <td>Preferences, features and services</td>
                                    <td>Cookies can tell us which language you prefer and what your communications preferences are. They can help you fill out forms on PEHACHAIN more easily. They also provide you with features, insights, and customized content in conjunction with our plugins. You can learn more about plugins in our Privacy Policy.</td>
                                </tr>
                                <tr>
                                    <td>Advertising</td>
                                    <td>We may use cookies to show you relevant advertising both on and off the PEHACHAIN site. We may also use a cookie to learn whether someone who saw an ad later visited and took an action (e.g. downloaded a white paper or made a purchase) on the advertiser’s site. Similarly, our partners may use a cookie to determine whether we’ve shown an ad and how it performed, or provide us with information about how you interact with ads. We may also work with a partner to show you an ad on or off PEHACHAIN, such as after you’ve visited a partner’s site or application.</td>
                                </tr>
                                <tr>
                                    <td>Performance, Analytics and Research</td>
                                    <td>Cookies help us learn how well our site and plugins perform in different locations. We also use cookies to understand, improve, and research products, features, and services, including when you access PEHACHAIN from other websites, applications, or devices such as your work computer or your mobile device.</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                    <section>
                        <h2 class="text2">What is Do Not Track (DNT)?</h2>
                        <p>DNT is a concept that has been promoted by regulatory agencies such as the U.S. Federal Trade Commission (FTC), for the Internet industry to develop and implement a mechanism for allowing Internet users to control the tracking of their online activities across websites by using browser settings. The World Wide Web Consortium (W3C) has been working with industry groups, Internet browsers, technology companies, and regulators to develop a DNT technology standard. While some progress has been made, it has been slow. No standard has been adopted to this date. As such, PEHACHAIN does not generally respond to “do not track” signals.</p>
                    </section>
                    <section>
                        <h2 class="text2">How are cookies used for advertising purposes?</h2>
                        <p>Cookies and other ad technology such as beacons, pixels, and tags help us serve relevant ads to you more effectively. They also help us provide aggregated auditing, research, and reporting for advertisers, understand and improve our service, and know when content has been shown to you. Note: Because your web browser may request advertisements and beacons directly from third party ad network servers, these networks can view, edit, or set third party cookies, just as if you had requested a web page from their site. Ads served by PEHACHAIN may also set third party cookies.</p>
                        <p>If you are logged in on PEHACHAIN.com, SlideShare.net, or another Service that references this Cookie Policy or browsing a third party partner site of PEHACHAIN and one of our cookies on your device identifies you, your usage (such as your browsing behavior) and log data (such as your IP address), will be associated by us with your account as noted in Sections 1.3 and 1.4 of our Privacy Policy. We also use aggregate data from third parties and data from your profile and PEHACHAIN activity.</p>
                        <ul>
                            <li>provide more relevant, interest-based advertising</li>
                            <li>provide aggregate reports of ads activity to advertisers and websites hosting the ads</li>
                            <li>help website and app owners understand how visitors engage with their sites or apps</li>
                            <li>detect and defend against fraud and other risks to protect users and partners</li>
                            <li>improve our products</li>
                        </ul>
                        <p>For further information regarding our use of cookies and similar technologies for advertising purposes, and the controls available to Members and Visitors, please see <a routerLink='/page/privacypolicy'>Section 2.4 of our Privacy Policy</a>.</p>
                    </section>
                    <section>
                        <h2 class="text2">What third-party cookies does PEHACHAIN use?</h2>
                        <p>Our lists some of the third party cookies on our sites. Please note that the names of cookies, pixels and other technologies may change over time. Please also note that companies and other organizations that sponsor pages on PEHACHAIN may use cookies, pixels or other technologies on their PEHACHAIN pages to learn about your interest in them.</p>
                    </section>
                    <section>
                        <h2 class="text2">Controlling cookies</h2>
                        <p>Most browsers allow you to control cookies through their settings preferences. However, if you limit the ability of websites to set cookies, you may worsen your overall user experience, since it will no longer be personalized to you. It may also stop you from saving customized settings like login information.</p>
                    </section>
                    <section>
                        <h2 class="text2">What to do if you don’t want cookies to be set or want them to be removed?</h2>
                        <p>If you are a Visitor, you can opt-out of our advertising cookies . For Members, our ad settings are . If you do not want to receive cookies, you can also change your browser settings on your computer or other device you’re using to access our services. If you use PEHACHAIN without changing your browser settings, we’ll assume that you’re happy to receive all cookies on the PEHACHAIN website. Most browsers also provide functionality that lets you review and erase cookies, including PEHACHAIN cookies. Please note that the PEHACHAIN site will not work properly without cookies.</p>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

