<div class="col-md-12">
    <div class="row">
        <div>
            <div>
                <div class="bc pad2">
                <header>
                    <h1 class="text2">Summary of Changes to the PEHACHAIN Privacy Policy</h1></header>
                </div>
                <div class="pad">
                    <section>
                        <p><em>Effective Date of our Revised Privacy Policy: December 8, 2018</em></p>
                        <p>This summary is intended to help you better understand the most recent changes to the Privacy Policy and Cookie Policy and how they may impact you.</p>
                        <p>You will be bound by the Privacy Policy when you view, access, or otherwise use the covered products and services. To fully understand the changes and terms that will govern your use of our “Services,” you will need to read the <a routerLink="/page/privacypolicy">full Privacy Policy</a> and Cookie Policy.</p>
                    </section>
                    <section>
                        <h2 class="text2">Introduction</h2>
                        <ul>
                            <li><strong>Data Controllers and Contracting Parties.</strong> We clarify the PEHACHAIN entity acting as the data controller and contracting party for the data of some of our Members and Visitors. PEHACHAIN Corporation will be the data controller and contracting party for those who live outside of the “Designated Countries” while PEHACHAIN India Unlimited Company (PEHACHAIN India”) will remain the data controller for those that live in the Designated Countries. We use the term “Designated Country” India.</li>
                        </ul>
                    </section>
                    <section>
                        <h2 class="text2">Section 1 - Data We Collect</h2>
                        <h3 class="text3">Section 1.1 - Data You Provide to Us</h3>
                        <ul>
                            <li><strong>Profile</strong> - We clarify that you are not obligated to provide us personal data beyond the limited data we need for you to register your account or to make payments if you purchase premium services from us. However, a complete profile helps you be found for economic opportunity and helps make the Services more relevant and useful to you.</li>
                            <li><strong>Profile</strong> - We also clarify that we do not require you to provide “sensitive personal data” to use our services, and if you choose to include it on your profile it will be visible to others.</li>
                        </ul>
                        <h3 class="text3">Section 1.5 - Your Device and Location</h3>
                        <ul>
                            <li>We clarify that we will get your separate permission before we collect information about your precise location for a feature.</li>
                        </ul>
                        <h3 class="text3">Section 1.7 - Workplace and School Provided Information</h3>
                        <ul>
                            <li>We clarify that sometimes a school will provide us data about you when they have bought PEHACHAIN Services for you to use, such as our PEHACHAIN Learning subscription.</li>
                        </ul>
                    </section>
                    <section>
                        <h2 class="text2">Section 2 - How We Use Your Data</h2>
                        <h3 class="text3">Section 2.1 - Stay Connected</h3>
                        <ul>
                            <li>We add a reference to the setting that allows you to control whether you want to share who your connections are with others.</li>
                            <li>If you have opted-in to share your precise location, we will use that data for the Service features that you have authorized.</li>
                        </ul>
                        <h3 class="text3">Section 2.1 - Stay Informed</h3>
                        <ul>
                            <li>We provide additional clarity about the data we use to provide you more relevant content suggestions and experiences in our Services.</li>
                        </ul>
                        <h3 class="text3">Section 2.1 - Career</h3>
                        <ul>
                            <li>We clarify that we use automated systems in order to present you with better opportunities and to make our Services more relevant to you.</li>
                        </ul>
                        <h3 class="text3">Section 2.2 - Premium Services</h3>
                        <ul>
                            <li>We update a reference to Services to include our current premium Services and features.</li>
                        </ul>
                        <h3 class="text3">Section 2.3 - Communications</h3>
                        <ul>
                            <li>We add that we may contact you through mobile numbers and not just email. Our communication preference settings allow Members choices about PEHACHAIN communications.</li>
                        </ul>
                        <h3 class="text3">Section 2.4 - Advertising</h3>
                        <ul>
                            <li>We provide additional clarity that we may serve you ads both directly and indirectly on and off our Services, subject to your settings.</li>
                            <li>When you take a social action (such as liking or sharing a post) we will associate you with the content, companies or people that you shared or followed, and we may also use that social action as part of an ad (unless your settings do not allow that).</li>
                            <li>We provide additional information about when and how we may share your personal data with advertisers, such as when you fill-out a lead generation form or an advertiser accesses your PEHACHAIN profile. We also provide information about how third parties may be able to use cookies to identify you if you view or click on an ad on or off our site or apps.</li>
                        </ul>
                        <h3 class="text3">Section 2.8 Aggregate Insights</h3>
                        <ul>
                            <li>We add greater clarity about the types of aggregated and non-identifiable insights that we produce and may share.</li>
                        </ul>
                    </section>
                    <section>
                        <h2 class="text2">Section 3 - How We Share Information</h2>
                        <h3 class="text3">Section 3.1 Our Services </h3>
                        <ul>
                            <li><strong>Profile</strong> - We add greater clarity about your profile visibility and the settings you have to control your profile visibility off of our Services.</li>
                            <li><strong>Posts, Likes, Follows, Comments, Messages</strong> - We provide additional clarity and details about what is made available and accessible to others when you take an action on our Services. Social actions such as posting, liking, following, commenting and sharing are associated with you and visible to others. If your settings allow, other Members can see when you have visited their profile.</li>
                            <li><strong>Enterprise Accounts</strong> - We update the Services referenced in this section to reflect our current Services.</li>
                        </ul>
                        <h3 class="text3">Section 3.3  Others’ Services</h3>
                        <ul>
                            <li>We provide greater clarity about when your profile may be found and accessed off of our Services (subject to your settings).</li>
                        </ul>
                        <h3 class="text3">Section 3.4  Related Services</h3>
                        <ul>
                            <li>We provide clarity about how we will use data that is shared across Services covered by the Privacy Policy and removed a reference to a Service that we no longer support.</li>
                        </ul>
                    </section>
                    <section>
                        <h2 class="text2">Section 4 - Your Choices &amp; Obligations</h2>
                        <h3 class="text3">Section 4.1 Data Retention</h3>
                        <ul>
                            <li>We clarify that data we retain may have been provided directly by you, inferred from your use of the Services or provided by a third party.</li>
                        </ul>
                        <h3 class="text3">Section 4.2  Rights to Access and Control Your Personal Data</h3>
                        <ul>
                            <li>Regardless of whether you are a PEHACHAIN Member or a Visitor, you may exercise the following data protection rights: the right of deletion, the right to amend or rectify your personal data, the right to object to the use of your personal data, the right to restrict processing of your data, the right of access, and the right of portability.</li>
                        </ul>
                    </section>
                    <section>
                        <h2 class="text2">Section 5 - Other Important Information</h2>
                        <h3 class="text3">Section 5.2 Cross Border Data Transfers</h3>
                        <ul>
                            <li>We clarify that PEHACHAIN operates on a global basis and may transfer data to countries that may have data protection laws that differ from those of your country.</li>
                        </ul>
                        <h3 class="text3">Section 5.3 Lawful Bases for Processing</h3>
                        <ul>
                            <li>As before, PEHACHAIN will only collect and process your personal data when we have lawful bases for doing so. These lawful bases include when you provide us consent, when we have a contractual obligation to collect or process your personal data, and when we have a legitimate interest in processing your personal data.</li>
                        </ul>
                        <h3 class="text3">Section 5.4 Contact Information</h3>
                        <ul>
                            <li>We describe how Members in Designated Countries can contact our Data Protection Officer.</li>
                        </ul>
                    </section>
                    <section>
                        <h2 class="text2">Cookie Policy</h2>
                        <ul>
                            <li>We update the description of cookies used in advertising to conform (and point Visitors) to the updated Privacy Policy. In addition, we clarify the degree of control that PEHACHAIN provides to PEHACHAIN Members and site Visitors regarding PEHACHAIN’s use of cookies.</li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
