<div class="col-md-12 mar1">
    <div class="row">
        <div>
            <div>
                <header>
                    <h1 class="text">User Agreement</h1>
                    <hr>
                </header>
                <div class="pad">
                    <section class="row">
                        <section class="row">
                            <div>
                                <div class="pad">
                                    <p><em>Effective on Dec 7, 2018</em></p>
                                    <p>Our mission is to connect the world’s professionals to allow them to be more productive and successful. Our services are designed to promote economic opportunity for our members by enabling you and millions of other professionals to meet, exchange ideas, learn, and find opportunities or employees, work, and make decisions in a network of trusted relationships.</p>
                                </div>
                            </div>
                        </section>
                        <hr>
                        <section>
                            <h2>1. Introduction</h2>
                            <h3>1.1 Contract</h3>
                            <aside>
                                <p>When you use our Services you should agree to all of these terms. Your use of our Services is also subject to our <a routerLink='/page'>Cookie Policy</a> and our <a routerLink='/page/privacypolicy'>Privacy Policy</a>, which covers how we collect, use, share, and store your personal information.</p>
                            </aside>
                            <div>
                                <p>You agree that by clicking <a routerLink='/'>“Create Your Account”</a>, <a routerLink='/'>“Sign Up”</a> or similar, registering, accessing or using our services (described below), <strong>you are agreeing to enter into a legally binding contract</strong> with PEHACHAIN (even if you are using our Services on behalf of a company). If you do not agree to this contract (“Contract” or “User Agreement”), do <strong>not</strong> click “Create Your Account” (or similar) and do not access or otherwise use any of our Services. If you wish to terminate this contract, at any time you can do so by closing your account and no longer accessing or using our Services.</p>
                                <h4>Services</h4>
                                <p>This Contract applies to PEHACHAIN.com, PEHACHAIN-branded apps, Slideshare, PEHACHAIN Learning and other PEHACHAIN-related sites, apps, communications and other services that state that they are offered under this Contract (“Services”), including the offsite collection of data for those Services, such as our ads and the “Apply with PEHACHAIN” and “Share with PEHACHAIN” plugins. Registered users of our Services are “Members” and unregistered users are “Visitors”. This Contract applies to both Members and Visitors.</p>
                                <h4>PEHACHAIN</h4>
                                <p>You are entering into this Contract with PEHACHAIN (also referred to as “we” and “us”).</p>
                                <p>We use the term “Designated Country” India</p>
                                <p>If you reside in the “Designated Country”, you are entering into this Contract with PEHACHAIN” India Unlimited Company (“PEHACHAIN” India”) and PEHACHAIN” India will be the controller of your personal data provided to, or collected by or for, or processed in connection with our Services.</p>
                                <p>If you reside outside of the “Designated Countries”, you are entering into this Contract with PEHACHAIN” Corporation (“PEHACHAIN” Corp.”) and PEHACHAIN” Corp. will be the controller of your personal data provided to, or collected by or for, or processed in connection with our Services.</p>
                            </div>
                            <aside>
                                <p>This Contract applies to Members and Visitors.</p>
                            </aside>
                            <div>
                                <p>As a Visitor or Member of our Services, the collection, use and sharing of your personal data is subject to this Privacy Policy (which includes our <a routerLink='/page'>Cookie Policy</a> and other documents referenced in this Privacy Policy) and updates.</p>
                            </div>
                            <h3>1.2 Members and Visitors</h3>
                            <div>
                                <p>When you register and join the PEHACHAIN” Service or become a registered user on SlideShare, you become a Member. If you have chosen not to register for our Services, you may access certain features as a “Visitor.”</p>
                            </div>
                            <h3> 1.3 Change</h3>
                            <aside>
                                <p>We may make changes to the Contract.</p>
                            </aside>
                            <div>
                                <p>We may modify this Contract, our Privacy Policy and our Cookies Policies from time to time. If we make material changes to it, we will provide you notice through our Services, or by other means, to provide you the opportunity to review the changes before they become effective. We agree that changes cannot be retroactive. If you object to any changes, you may Your continued use of our Services after we publish or send a notice about our changes to these terms means that you are consenting to the updated terms.</p>
                            </div>
                        </section>
                        <hr>
                        <section>
                            <h2>2. Obligations</h2>
                            <h3>2.1 Service Eligibility</h3>
                            <aside>
                                <p>Here are some promises that you make to us in this Contract:</p>
                                <p>You’re eligible to enter into this Contract and you are at least our “Minimum Age.”</p>
                            </aside>
                            <div>
                                <p>The Services are not for use by anyone under the age of 16.</p>
                                <p>To use the Services, you agree that: (1) you must be the “<span><dfn>Minimum Age</dfn><span>“Members who were below this new Minimum Age when they started using the Services under a previous User Agreement which had allowed certain persons under 16 to use the Services, may continue to use the Services. As of June 2017 persons under the age of 16 are not eligible to use our Services.”</span></span>” (described below) or older; (2) you will only have one PEHACHAIN” account (and/or one SlideShare account, if applicable), which must be in your real name; and (3) you are not already restricted by PEHACHAIN” from using the Services. Creating an account with false information is a violation of our terms, including accounts registered on behalf of others or persons under the age of 16.</p>
                                <p>“Minimum Age” means 16 years old. However, if law requires that you must be older in order for PEHACHAIN” to lawfully provide the Services to you without parental consent (including using of your personal data) then the Minimum Age is such older age.</p>
                            </div>
                            <h3>2.2 Your Account</h3>
                            <aside>
                                <p>You will keep your password a secret.</p>
                                <p>You will not share an account with anyone else and will follow our rules and the law.</p>
                            </aside>
                            <div>
                                <p>Members are account holders. You agree to: (1) try to choose a strong and secure password; (2) keep your password secure and confidential; (3) not transfer any part of your account (e.g., connections) and (4) follow the law and our list of Dos and Don’ts and You are responsible for anything that happens through your account unless you close it or report misuse.</p>
                                <p>As between you and others (including your employer), your account belongs to you. However, if the Services were purchased by another party for you to use (e.g. Recruiter seat bought by your employer), the party paying for such Service has the right to control access to and get reports on your use of such paid Service; however, they do not have rights to your personal account.</p>
                            </div>
                            <h3>2.3 Payment</h3>
                            <aside>
                                <p>You’ll honor your payment obligations and you are okay with us storing your payment information. You understand that there may be fees and taxes that are added to our prices.</p>
                                <p>We don't guarantee refunds.</p>
                            </aside>
                            <div>
                                <p>If you buy any of our paid Services (“Premium Services”), you agree to pay us the applicable fees and taxes and to specific to the paid Services. Failure to pay these fees will result in the termination of your paid Services. Also, you agree that:</p>
                                <ul>
                                    <li>Your purchase may be subject to foreign exchange fees or differences in prices based on location (e.g. exchange rates).</li>
                                    <li>We may store and continue billing your payment method (e.g. credit card) even after it has expired, to avoid interruptions in your Services and to use to pay other Services you may buy.</li>
                                    <li>If you purchase a subscription, your payment method automatically will be charged at the start of each subscription period for the fees and taxes applicable to that period. To avoid future charges, cancel before the renewal date. Learn how to your Premium Services.</li>
                                    <li>All of your purchases of Services are subject to PEHACHAIN”’s refund policy.</li>
                                    <li>We may calculate taxes payable by you based on the billing information that you provide us at the time of purchase.</li>
                                </ul>
                                <p>You can get a copy of your invoice through your PEHACHAIN” account settings under .
                                </p>
                            </div>
                            <h3>2.4 Notices and Messages</h3>
                            <aside>
                                <p>You’re okay with us providing notices and messages to you through our websites, apps, and contact information. If your contact information is out of date, you may miss out on important notices.</p>
                            </aside>
                            <div>
                                <p>You agree that we will provide notices and messages to you in the following ways: (1) within the Service, or (2) sent to the contact information you provided us (e.g., email, mobile number, physical address). You agree to keep your up to date.</p>
                                <p>Please review your settings to messages you receive from us.</p>
                            </div>
                            <h3>2.5 Sharing</h3>
                            <aside>
                                <p>When you share information on our Services, others can see, copy and use that information.</p>
                            </aside>
                            <div>
                                <p>Our Services allow messaging and sharing of information in many ways, such as your profile, slide decks, links to news articles, job postings, InMails and blogs. Information and content that you share or post may be seen by other Members, Visitors or others (including off of the Services). Where we have made settings available, we will honor the choices you make about who can see content or information (e.g., message content to your addressees, sharing content only to PEHACHAIN” connections, restricting your profile visibility from search engines, or opting not to notify others of your PEHACHAIN” profile update). For job searching activities, we default to not notifying your connections network or the public. So if you apply for a job through our Service or opt to signal that you are interested in a job, our default is to share it only with the job poster.</p>
                                <p>We are not obligated to publish any information or content on our Service and can remove it in our sole discretion, with or without notice.</p>
                            </div>
                        </section>
                        <hr>
                        <section>
                            <h2>3. Rights and Limits</h2>
                            <h3>3.1. Your License to PEHACHAIN</h3>
                            <aside>
                                <p>You own all of the content, feedback, and personal information you provide to us, but you also grant us a non-exclusive license to it.</p>
                                <p>We’ll honor the choices you make about who gets to see your information and content, including how it can be used for ads.</p>
                            </aside>
                            <div>
                                <p>As between you and PEHACHAIN, you own the content and information that you submit or post to the Services, and you are only granting PEHACHAIN” and our <span><dfn>affiliates</dfn><span>Affiliates are companies controlling, controlled by or under common control with us, including, for example, PEHACHAIN India, PEHACHAIN Corporation.</span></span> the following non-exclusive license:</p>
                                <p>A worldwide, transferable and sublicensable right to use, copy, modify, distribute, publish, and process, information and content that you provide through our Services and the services of others, without any further consent, notice and/or compensation to you or others. These rights are limited in the following ways:</p>
                                <ol>
                                    <li>You can end this license for specific content by deleting such content from the Services, or generally by closing your account, except (a) to the extent you shared it with others as part of the Service and they copied, re-shared it or stored it and (b) for the reasonable time it takes to remove from backup and other systems.</li>
                                    <li>We will not include your content in advertisements for the products and services of third parties to others without your separate consent (including sponsored content). However, we have the right, without payment to you or others, to serve ads near your content and information, and your <span><dfn>social actions</dfn><span>e.g. likes, comments, follows, shares</span></span> may be visible and included with ads, as noted in the Privacy Policy.</li>
                                    <li>We will get your consent if we want to give others the right to publish your content beyond the Services. However, if you choose to share your post as "<span><dfn>public</dfn><span>Including any “Public +” (e.g. public + twitter)</span></span>", we will enable a feature that allows other Members to embed that public post onto third-party services, and we enable search engines to make that public content findable though their services.
                                    </li>
                                    <li>While we may edit and make format changes to your content (such as translating it, modifying the size, layout or file type or removing metadata), we will not modify the meaning of your expression.</li>
                                    <li>Because you own your content and information and we only have non-exclusive rights to it, you may choose to make it available to others, including under the terms of a.</li>
                                </ol>
                            </div>
                            <aside>
                                <p>You and PEHACHAIN” agree that if content includes personal data, it is subject to our Privacy Policy.</p>
                            </aside>
                            <div>
                                <p>You and PEHACHAIN agree that we may access, store, process and use any information and personal data that you provide in accordance with the terms of the Privacy Policy and your choices (including settings).</p>
                                <p>By submitting suggestions or other feedback regarding our Services to PEHACHAIN, you agree that PEHACHAIN can use and share (but does not have to) such feedback for any purpose without compensation to you.</p>
                            </div>
                            <aside>
                                <p>You promise to only provide information and content that you have the right to share, and that your PEHACHAIN profile will be truthful.</p>
                            </aside>
                            <div>
                                <p>You agree to only provide content or information that does not violate the law nor anyone’s rights (including intellectual property rights). You also agree that your profile information will be truthful. PEHACHAIN may be required by law to remove certain information or content in certain countries.</p>
                            </div>
                            <h3>3.2 Service Availability</h3>
                            <aside>
                                <p>We may change, suspend or end any Service, or change and modify prices prospectively in our discretion. To the extent allowed under law, these changes may be effective upon notice provided to you.</p>
                            </aside>
                            <div>
                                <p>We may change or discontinue any of our Services. We don’t promise to store or keep showing any information and content that you’ve posted.</p>
                                <p>PEHACHAIN” is not a storage service. You agree that we have no obligation to store, maintain or provide you a copy of any content or information that you or others provide, except to the extent required by applicable law and as noted in our Privacy Policy.</p>
                            </div>
                            <h3>3.3 Other Content, Sites and Apps</h3>
                            <aside>
                                <p>Your use of others’ content and information posted on our Services, is at your own risk.</p>
                                <p>Others may offer their own products and services through our Services, and we aren’t responsible for those third-party activities.</p>
                            </aside>
                            <div>
                                <p>By using the Services, you may encounter content or information that might be inaccurate, incomplete, delayed, misleading, illegal, offensive or otherwise harmful. PEHACHAIN generally does not review content provided by our Members or others. You agree that we are not responsible for others’ (including other Members’) content or information. We cannot always prevent this misuse of our Services, and you agree that we are not responsible for any such misuse. You also acknowledge the risk that you or your organization may be mistakenly associated with content about others when we let connections and followers know you or your organization were mentioned in the news.
                                    <p>You are responsible for deciding if you want to access or use third-party apps or sites that link from our Services. If you allow a third-party app or site to authenticate you or connect with your PEHACHAIN” account, that app or site can access information on PEHACHAIN” related to you and your connections. Third-party apps and sites have their own legal terms and privacy policies, and you may be giving others permission to use your information in ways we would not. Except to the limited extent it may be required by applicable law, PEHACHAIN is not responsible for these other sites and apps – use these at your own risk. Please see our <a routerLink='/page/privacypolicy'>Privacy Policy</a>.</p>
                            </div>
                            <h3>3.4 Limits</h3>
                            <aside>
                                <p>We have the right to limit how you connect and interact on our Services.</p>
                            </aside>
                            <div>
                                <p>PEHACHAIN reserves the right to limit your use of the Services, including the number of your connections and your ability to contact other Members. PEHACHAIN reserves the right to restrict, suspend, or terminate your account if PEHACHAIN believes that you may be in breach of this Contract or law or are misusing the Services (e.g., violating any of the Dos and Don’ts).</p>
                            </div>
                            <h3>3.5 Intellectual Property Rights</h3>
                            <aside>
                                <p>We’re providing you notice about our intellectual property rights.</p>
                            </aside>
                            <div>
                                <p>PEHACHAIN reserves all of its intellectual property rights in the Services. Using the Services does not give you any ownership in our Services or the content or information made available through our Services. Trademarks and logos used in connection with the Services are the trademarks of their respective owners. PEHACHAIN, SlideShare, and “in” logos and other PEHACHAIN trademarks, service marks, graphics, and logos used for our Services are trademarks or registered trademarks of PEHACHAIN.</p>
                            </div>
                            <h3>3.6 Automated Processing</h3>
                            <aside>
                                <p>We use data and information about you to make relevant suggestions to you and others.</p>
                            </aside>
                            <div>
                                <p>We will use the information and data that you provide and that we have about Members to make recommendations for connections, content and features that may be useful to you. For example, we use data and information about you to recommend jobs to you and you to recruiters. Keeping your profile accurate and up-to-date helps us to make these recommendations more accurate and relevant.</p>
                            </div>
                        </section>
                        <hr>
                        <section>
                            <h2>4. Disclaimer and Limit of Liability</h2>
                            <h3>4.1 No Warranty</h3>
                            <aside>
                                <p>This is our disclaimer of legal liability for the quality, safety, or reliability of our Services.</p>
                            </aside>
                            <div>
                                <p>TO THE EXTENT ALLOWED UNDER LAW, PEHCHAIN AND ITS AFFILIATES (AND THOSE THAT PEHCHAIN WORKS WITH TO PROVIDE THE SERVICES) (A) DISCLAIM ALL IMPLIED WARRANTIES AND REPRESENTATIONS (E.G. WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, ACCURACY OF DATA, AND NONINFRINGEMENT); (B) DO NOT GUARANTEE THAT THE SERVICES WILL FUNCTION WITHOUT INTERRUPTION OR ERRORS, AND (C) PROVIDE THE SERVICE (INCLUDING CONTENT AND INFORMATION) ON AN “AS IS” AND “AS AVAILABLE” BASIS.</p>
                                <p>SOME LAWS DO NOT ALLOW CERTAIN DISCLAIMERS, SO SOME OR ALL OF THESE DISCLAIMERS MAY NOT APPLY TO YOU.</p>
                            </div>
                            <h3>4.2 Exclusion of Liability</h3>
                            <aside>
                                <p>These are the limits of legal liability we may have to you.</p>
                            </aside>
                            <div>
                                <p>TO THE EXTENT PERMITTED UNDER LAW (AND UNLESS PEHCHAIN HAS ENTERED INTO A SEPARATE WRITTEN AGREEMENT THAT OVERRIDES THIS CONTRACT), PEHCHAIN AND ITS AFFILIATES (AND THOSE THAT PEHCHAIN WORKS WITH TO PROVIDE THE SERVICES) SHALL NOT BE LIABLE TO YOU OR OTHERS FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, OR ANY LOSS OF DATA, OPPORTUNITIES, REPUTATION, PROFITS OR REVENUES, RELATED TO THE SERVICES (E.G. OFFENSIVE OR DEFAMATORY STATEMENTS, DOWN TIME OR LOSS, USE OF, OR CHANGES TO, YOUR INFORMATION OR CONTENT).</p>
                                <p>IN NO EVENT SHALL THE LIABILITY OF PEHCHAIN AND ITS AFFILIATES (AND THOSE THAT PEHCHAIN WORKS WITH TO PROVIDE THE SERVICES) EXCEED, IN THE AGGREGATE FOR ALL CLAIMS, AN AMOUNT THAT IS THE LESSER OF (A) FIVE TIMES THE MOST RECENT MONTHLY OR YEARLY FEE THAT YOU PAID FOR A PREMIUM SERVICE.</p>
                                <p>THIS LIMITATION OF LIABILITY IS PART OF THE BASIS OF THE BARGAIN BETWEEN YOU AND PEHCHAIN AND SHALL APPLY TO ALL CLAIMS OF LIABILITY (E.G. WARRANTY, TORT, NEGLIGENCE, CONTRACT, LAW) AND EVEN IF PEHCHAIN OR ITS AFFILIATES HAS BEEN TOLD OF THE POSSIBILITY OF ANY SUCH DAMAGE, AND EVEN IF THESE REMEDIES FAIL THEIR ESSENTIAL PURPOSE.</p>
                                <p>SOME LAWS DO NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY, SO THESE LIMITS MAY NOT APPLY TO YOU.</p>
                            </div>
                        </section>
                        <hr>
                        <section>
                            <h2>5. Termination</h2>
                            <aside>
                                <p>We can each end this Contract anytime we want.</p>
                            </aside>
                            <div>
                                <p>Both you and PEHACHAIN may terminate this Contract at any time with notice to the other. On termination, you lose the right to access or use the Services. The following shall survive termination:</p>
                                <ul>
                                    <li>Our rights to use and disclose your feedback;</li>
                                    <li>Members and/or Visitors’ rights to further re-share content and information you shared through the Service to the extent copied or re-shared prior to termination;</li>
                                    <li>Sections 4, 6, 7, and 8.2 of this Contract;</li>
                                    <li>Any amounts owed by either party prior to termination remain owed after termination.</li>
                                </ul>
                                <p>You can visit our to close your account.</p>
                            </div>
                        </section>
                        <hr>
                        <section>
                            <h2>6. Governing Law and Dispute Resolution</h2>
                            <aside>
                                <p>In the unlikely event we end up in a legal dispute, PEHACHAIN” and you agree to resolve it in India courts using Indian law, or Dublin, Ire land courts using Irish law.</p>
                            </aside>
                            <div>
                                <p><strong>If you live in the <span><dfn>Designated Countries</dfn><span>We use the term “Designated Country” India</span></span></strong>: You and PEHACHAIN” India agree that the laws of India, excluding conflict of laws rules, shall exclusively govern any dispute relating to this Contract and/or the Services. You and PEHACHAIN India agree that claims and disputes can be litigated only in Bangalore, India, and we each agree to personal jurisdiction of the courts located in Bangalore, Karnataka.</p>
                                <p><strong>For others outside of Designated Countries, including those who live outside of the India</strong>: You and PEHACHAIN agree that the laws of the State of India, excluding its conflict of laws rules, shall exclusively govern any dispute relating to this Contract and/or the Services. You and PEHACHAIN both agree that all claims and disputes can be litigated only in the federal or state courts in India and you and PEHACHAIN each agree to personal jurisdiction in those courts.</p>
                            </div>
                        </section>
                        <hr>
                        <section>
                            <h2>7. General Terms</h2>
                            <aside>
                                <p>Here are some important details about the Contract.</p>
                            </aside>
                            <div>
                                <p>If a court with authority over this Contract finds any part of it unenforceable, you and we agree that the court should modify the terms to make that part enforceable while still achieving its intent. If the court cannot do that, you and we agree to ask the court to remove that unenforceable part and still enforce the rest of this Contract.</p>
                                <p>To the extent allowed by law, the English language version of this Contract is binding and other translations are for convenience only. This Contract (including additional terms that may be provided by us when you engage with a feature of the Services) is the only agreement between us regarding the Services and supersedes all prior agreements for the Services.</p>
                                <p>If we don't act to enforce a breach of this Contract, that does not mean that PEHACHAIN has waived its right to enforce this Contract. You may not assign or transfer this Contract (or your membership or use of Services) to anyone without our consent. However, you agree that PEHACHAIN may assign this Contract to its affiliates or a party that buys it without your consent. There are no third-party beneficiaries to this Contract.</p>
                                <p>You agree that the only way to provide us legal notice is at the addresses provided in Section 10.</p>
                            </div>
                        </section>
                        <hr>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
