.avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.backgrdiv{
	  width:60%;
    border:1px solid white;
    border-radius: 2px;
    margin-left: 30%;
}
.imgdiv{
  margin-top: 5%;
}
.svgdiv{
  width:24px;
  height:24px;
  margin-left: 40px;
  position: absolute;
  margin-top: 30px;
}

.imghide> input{
    display: none;
  }

.ngmatcss ::ng-deep .mat-form-field-ripple, .ngmatcss  ::ng-deep .mat-form-field-underline{
	color:white !important;
	background-color: white !important;
}

.ngmatcss ::ng-deep .mat-form-field-label{
	color:white !important;
}

.ngmatcss ::ng-deep .mat-radio-outer-circle{
	border-color:white !important;
}
mat-form-field{
	font-size: 16px;
	margin-bottom:10px;
}

.matvalue ::ng-deep .mat-select-value{
	color:white;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
.editbtn{
	margin-left: 10px;
}