<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 backgrdiv">
	<h2 style="text-align: center;">Partnernode Profile</h2>
	<hr>
	<form [formGroup]="partnerform">
	<div class="col-md-6 col-sm-6 col-xs-6 imgdiv">
		<span class="imghide">
		<label for="cameraicon">
		   <svg class="svgdiv" viewBox="0 0 24 24">
            <path fill="#ffffff" d="M20,4H16.83L15,2H9L7.17,4H4A2,2 0 0,0 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6A2,2 0 0,0 20,4M20,18H4V6H8.05L9.88,4H14.12L15.95,6H20V18M12,7A5,5 0 0,0 7,12A5,5 0 0,0 12,17A5,5 0 0,0 17,12A5,5 0 0,0 12,7M12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15Z" />
       </svg>
    </label>
		<img src="assets/images/people.png" alt="Avatar" class="avatar" *ngIf = "!profi">
		<img src="{{profi}}" alt="no pic" *ngIf = "profi" style="border-radius: 50%; width:100px; height:100px;">
		<input type="file" id="cameraicon" (change)="onProfileUpload($event)">
	</span>
	</div>
    <div class="col-md-6 ngmatcss">
    		<p *ngIf="partnernode.id !== editableData" >{{partnernode.first_name}}</p>
    		<mat-form-field class="example-container" *ngIf="partnernode.id == editableData">
              <input matInput placeholder="Name" formControlName="partnername" [(ngModel)]="partnernode.first_name" value="{{partnernode.first_name}}">
            </mat-form-field>
            <br>
            <mat-form-field class="example-container" *ngIf="partnernode.id == editableData">
              <input matInput placeholder="MobileNumber" formControlName="mobile_number" value="{{partnernode.mobile_number}}" readonly>
            </mat-form-field>
            <p *ngIf="partnernode.id !== editableData">{{partnernode.mobile_number}}</p>
            <br>
            <mat-form-field class="example-container" *ngIf="partnernode.id == editableData">
              <input matInput placeholder="Email" formControlName="email" [(ngModel)]="partnernode.email" value="{{partnernode.email}}">
            </mat-form-field>
            <p *ngIf="partnernode.id !== editableData">{{partnernode.email}}</p>
	    <div>
	    	<button mat-raised-button class="editbtn" (click)="editData(partnernode.id)" *ngIf="partnernode.id !== editableData">edit</button>
	    	<!-- <button mat-raised-button class="editbtnn" *ngIf="partnernode.id !== editableData"  style="margin-left: 20px;margin-bottom: 10px;">delete</button> -->
	    </div>
	    <div>
	        <button mat-raised-button *ngIf="partnernode.id == editableData" (click)="saveData(partnernode)">Save</button>
            <button mat-raised-button *ngIf="partnernode.id == editableData" (click)="cancel()" style="margin-left: 20px;margin-bottom: 10px;">Cancel</button>
        </div>
    </div>
 </form>
</div>
