/* restructuring view */

.imgg1 {
  border: 1px solid #bfbfbf;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: -1px;
  margin-left: -1px;

}
.card {
  padding-top: 10px;
  text-align: center;
  box-shadow: 0px 0px 1px 0px;
  margin: 10px;
  width: 135px;
  margin-left: 15px;
  padding-bottom: 5px;
}

.common {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.textt1 {
  font-size: 12px;
}

.invitation-card__action-btn {
  flex-shrink: 0;
  flex-grow: 0;
}

.button-secondary-medium {
  background-color: transparent;
  border-radius: 2px;
  color: #0073b1;
  /* border-color: #0073b1; */
  cursor: pointer;
  height: 21px;
  width: 66px;
  font-size: 12px;
  padding-left: 0px;
  margin:2px;

}

.button-secondary-medium:hover {
  background: #dce0e2;
}

/* end */

#core-rail {
    box-sizing: border-box;
    float: left;
    width: 100%;
    /*width: calc((576px * .70833) + 660px);*/
    margin-bottom: 24px;
    /* margin-top: 62px; */
    margin-left: 1px;
  }
  
  .artdeco-card {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .15), 0 2px 3px rgba(0, 0, 0, .2);
    transition: box-shadow 100ms;
    background-color: #fff;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
  }
  
  .mb4 {
    margin-bottom: 16px;
  }
  
  .box {
    border: 1px solid black;
    margin: 25px;
    margin-top: 111px;
    width: 320px;
    height: 694px;
  }
  
  
  
  /*.received_link:active,
  .received_link:hover,
  .received_link:visited,
  .received_link:visited:active {
    border: 1px solid black;
  }
  
  ,
  .received_link:visited:hover {
    border: 1px solid green;
    border: 1px solid black;
  }
  
  .send_link:active,
  .send_link:hover,
  .send_link:visited,
  .send_link:visited:active {
    border: 1px solid black;
  }
  
  ,
  .send_link:visited:hover {
    border: 1px solid red;
    border: 1px solid black;
  }
  */
  
  .received_link:active,
  .received_link:hover,
  .received_link:visited,
  .received_link:visited:active {
    border-bottom: 1px solid black;
    color: green;
  }
  
  
  .received_link:visited:hover {
    border: 1px solid green;
    color: green;
  }
  
  .send_link:active,
  .send_link:hover,
  .send_link:visited,
  .send_link:visited:active {
    border-bottom: 1px solid black;
    color: red;
  }
  
  
  .send_link:visited:hover {
    border: 1px solid red;
    color: red;
  }
  
  
  
  
  .bor {
    border: 1px solid #bfbfbf;
  }
  
  .div-scroll {
    overflow: scroll;
    /* height: 1200px; */
  }
  
  .imgg {
    border: 2px solid #bfbfbf;
    width: 70px;
    border-radius: 50%;
    height: 60px;
    margin-left: 44px;
    margin-top: 4px;
  }
  
  .imgg7 {
    /* border: 2px solid #bfbfbf; */
    width: 90px;
    border-radius: 50%;
    height: 85px;
    margin-left: 20px;
    margin-top: 7px;
  }
  
  
  #dinu {
    font-size: 12px;
    /* margin-top: -12px; */
    margin-left: 15px;
  }
  
  .dinesh {
    width: 50px;
    border-radius: 50%;
    height: 50px;
  }
  
  
  #box7 {
    /* border: 1px solid black; */
    /* margin: 10px; */
    margin-top: 20px;
    /* width: 200px; */
    height: 42px;
     margin-left: -30px; 
    border-radius: 5px;
    padding: 7px;
    cursor: pointer;
    box-shadow: 0px 0 1px 0px;
  }
    a:active {
      background-color: yellow;
    }
  
    .frdsbtn{
      background-color: transparent;
      color: #337ab7;
      border: 1px solid #168aaf;
      margin: 15px;
    }
    
    .frdsbtn:hover{
      background-color: #337ab7;
      color: white;
    }
  
  
  #box77 {
    border: 1px solid black;
    margin: 10px;
    /*margin-top:20px;*/
    width: 670px;
    height: 60px;
  
    /* margin-left:25px;*/
  }
  
    a:active {
      background-color: yellow;
    }
  
  a:active {
    background-color: yellow;
    width: 200px;
    height: 30px;
  }
  
  .underline {
    border-bottom: 1px solid grey;
  }
  
  
  
  .imgg {
    border: 2px solid #bfbfbf;
    width: 150px;
    border-radius: 25%;
    height: 130px;
    margin-left: 381px;
    margin-top: 70px;
  }
  
  .dd {
    margin-left: 20px;
  }
  
  
  .bbb {
    margin-left: 335px;
    margin-top: 20px;
    font-size: 25px;
  }
  
  /* .dsds {} */
  
  /* .content {}
   */
  .mn-discovery__header {
    border: 1px solid #bfbfbf;
    border-bottom: none;
  }
  
  .im1 {
    text-align: center;
    font-weight: bold;
  
  }
  
  .im1:hover {
    color: blue;
    font-weight: bold;
  }
  
  .dividing {
    text-align: center;
  }
  
  .bdr {
    border-bottom: 1px solid #ccc;
    text-align: center;
    padding: 25px;
  }
  
  /* .bdr1 {}
   */
  
  
  
  
  
  #exTab1 .tab-content {
    color: white;
    background-color: #428bca;
    padding: 5px 15px;
  }
  
  #exTab2 h3 {
    color: white;
    background-color: #428bca;
    padding: 5px 15px;
  }
  
  
  
  /* remove border radius for the tab */
  
  #exTab1 .nav-pills>li>a {
    border-radius: 0;
  }
  
  /* change border radius for the tab , apply corners on top*/
  
  #exTab3 .nav-pills>li>a {
    border-radius: 4px 4px 0 0;
  }
  
  #exTab3 .tab-content {
    color: white;
    background-color: #428bca;
    padding: 5px 15px;
  }
  
  
  
  #box1 {
    box-shadow: 0px 0px 1px 0px;
    text-align: center;
    position: fixed;
    /* margin-top: 87px;*/
    margin-top:53px;
    width: 50;
    width: 23%;
    height: 356px;
    background-color: white;
    /*margin-left: 26px;*/
  }
    .logooicoo{
    vertical-align: middle;
    width: 20px;
    height: 20px;
    /*margin-left:20px;*/
  }
  


  .btbdr {
    border-bottom: 1px solid #ccc;
    padding: 10px 0px 10px 0px;
    cursor: pointer;
    /* width: 320px; */
  }
  
  .txtsz {
    font-size: 1.4rem;
    font-weight: 500;
  }
  
  .icon-blue {
    color: #337ab7;
    font-size: 42px;
  }
  
  .relate {
    position: relative;
  
  }
  
  .common {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  
  #btnalign {
    padding: 50px;
    margin: 0px 0px 0px 300px;
  }
  
  #btnalign1 {
    padding: 50px;
    margin: 0px 0px 0px 350px;
  }
  
  .img7 {
    width: 70px;
    border-radius: 50%;
    height: 70px;
    margin-left: 1px;
    margin-top: 20px;
  }
  
  
  /*-------------------------------END--------------------------------------*/
  /*--------------------Galaxy-s5---------------------------------*/
  @media only screen and (min-width:360px) and (max-width: 640px) {
    #core-rail {
      box-sizing: border-box;
      float: left;
      /* width: calc((576px * .70833) + -77px); */
      margin-bottom: 24px;
      /* margin-top: 62px; */
      margin-left: 1px;
    }
  
    .img7 {
      /* border: 2px solid #bfbfbf; */
      width: 70px;
      border-radius: 50%;
      height: 70px;
      margin-left: 1px;
      margin-top: 20px;
    }
  
    #txtres {
      /* margin-left: 45px; */
      margin-top: 5px;
    }
  
    #dinu {
      font-size: 12px;
      /* margin-top: -10px; */
      margin-left: 10px;
    }
  
  
    /* #btnres {
  
      margin: 0px 0px 0px 0px;
    } */
  
    nav ul {
      display: none;
    }
  
    nav select {
      display: inline-block;
    }
  
  }
  
  /*-------------------------------END--------------------------------------*/
  /*-------------------------------iphone 6/7/8--------------------*/
  @media only screen and (min-width:375px) and (max-width: 667px) {
    #core-rail {
      box-sizing: border-box;
      float: left;
      /* width: calc((576px * .70833) + -64px); */
      margin-bottom: 24px;
      /* margin-top: 62px; */
      margin-left: 1px;
    }
  }
  
  /*-------------------------------END--------------------------------------*/
  /*-------------------------------iphone 6/7/8-plus--------------------*/
  @media only screen and (min-width:414px) and (max-width: 736px) {
    #core-rail {
      box-sizing: border-box;
      float: left;
      /* width: calc((576px * .70833) + -24px); */
      margin-bottom: 24px;
      /* margin-top: 62px; */
      margin-left: 1px;
    }
  }
  
  /*-------------------------------END--------------------------------------*/
  /*-----------------------iphone-x----------------------------------*/
  @media only screen and (min-width:375px) and (max-width: 812px) {
    #core-rail {
      box-sizing: border-box;
      float: left;
      /* width: calc((576px * .70833) + -62px); */
      margin-bottom: 24px;
      /* margin-top: 62px; */
      margin-left: 1px;
    }
  }
  
  /*-------------------------------END--------------------------------------*/
  /*-----------------------Pixel-2----------------------------------*/
  @media only screen and (min-width:411px) and (max-width: 731px) {
    #core-rail {
      box-sizing: border-box;
      float: left;
      /* width: calc((576px * .70833) + -28px); */
      margin-bottom: 24px;
      /* margin-top: 62px; */
      margin-left: 1px;
    }
  }
  
  /*-------------------------------END--------------------------------------*/
  /*------------------------------------iPhone-5-------------------------*/
  
  @media only screen and (min-width:320px) and (max-width: 568px) {
  
    /*  #core-rail {
      box-sizing: border-box;
      float: left;
      width: calc((576px * .70833) + -115px);
      margin-bottom: 24px;
      margin-top: 62px;
      margin-left: 1px;
    }*/
  
    .img7 {
      /* border: 2px solid #bfbfbf; */
      width: 70px;
      border-radius: 50%;
      height: 70px;
      margin-left: 1px;
      margin-top: 20px;
    }
  
    /*  #txtres {
      margin-left: 45px;
      margin-top: 5px;
    }*/
  
    #dinu {
      font-size: 12px;
      /* margin-top: -10px; */
      margin-left: 10px;
    }
  
  }
  
  /*-------------------------------END--------------------------------------*/
  /*------------------------------------iPad--------------------------------------*/
  @media only screen and (min-width:768px) and (max-width: 1024px) {
  
    #core-rail {
      box-sizing: border-box;
      float: left;
      /* width: calc((576px * .70833) + 155px); */
      margin-bottom: 24px;
      /* margin-top: 273px; */
      margin-left: -10px;
    }
  
    #box1 {
      box-shadow: 0px 0px 1px 0px;
      text-align: left;
      /* position: fixed;*/
      margin-top: 325px;
      width: 20%;

      border-bottom: 1px solid grey;
      text-align: center;
  
    }
  
    /*  #btnalign {
      padding: 50px;
      margin: -100px 0px 0px 400px;
    }
  */
    #dinu {
      font-size: 10px;
      /* margin-top: -30px;
      margin-bottom: 35px; */
      margin-left: 15px;
    }
  
  
  
    .btbdr {
      border-bottom: 1px solid #ccc;
      /* width: 125px; */
    }
  
    #dinu {
      font-size: 12px;
    }
  
/*   
    #btnres {
  
      margin: 0px 0px 0px 40px;
    } */
  
  
    #txtres {
      margin-top: 5px;
    }
  
  
    .img7 {
      width: 70px;
      border-radius: 50%;
      height: 70px;
      margin-left: 1px;
      margin-top: 20px;
    }
  
  }
  
  /*-------------------------------END--------------------------------------*/
  /*------------------------------------iPad Pro--------------------------------------*/
  @media only screen and (min-width:1024px) and (max-width: 1366px) {
  
    #core-rail {
      box-sizing: border-box;
      float: left;
      /* width: calc((576px * .70833) + 340px); */
      margin-bottom: 24px;
      /* margin-top: 247px; */
      margin-left: -10px;
  
    }
  
    #box1 {
      box-shadow: 0px 0px 1px 0px;
      text-align: center;
      position: fixed;
      /* margin-top: 299px;
      width: 20%;
      margin-left: 26px; */
      border-bottom: 1px solid grey;
      text-align: center;
    }
  
    #btnalign {
      padding: 50px;
      margin: -90px 0px 0px 400px;
    }
  
    #btnalign1 {
      padding: 50px;
      margin: -70px 0px 0px 400px;
    }
  
    #dinu {
      font-size: 10px;
      /* margin-top: -30px;
      margin-bottom: 35px; */
      margin-left: 75px;
    }
  
    /* #resdn {
      margin-left: 35px;
    } */
  
    .btbdr {
      border-bottom: 1px solid #ccc;
    }
  
    #txtres {
      margin-left: 0px;
    }
  
    .img7 {
      /* border: 2px solid #bfbfbf; */
      width: 70px;
      border-radius: 50%;
      height: 70px;
      margin-left: 1px;
      margin-top: 20px;
    }
  
  }
  
  /*-------------------------------END--------------------------------------*/
  