<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 relate common" style="margin-top:60px;">
 
  <div class="row">
    <div class="col-md-offset-3 col-lg-offset-3 col-md-5 col-sm-offset-2 col-sm-8 col-xs-12 col-lg-5 boxx div-scroll" style="margin-top:-10px;">
      <section id="core-rail" class="mb4 artdeco-card">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            <div class="row5">
              <div class="col-md-12" style="font-weight: bold; margin-top:-15px;">
                <br>
                <span style="margin-left: 10px;font-size: 1.4rem;">Manage Invitations</span>
              </div>
            </div>
            <div class="row6">
              <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3" style="font-weight: bold; margin-bottom: 10px; border-bottom: 1px solid grey; height: 50px;width: 100%;margin-left: 0px; margin-top:-10px;">
                <br>
                <nav class="mn-invitation-manager__nav">
                  <span style="margin-left: 10px; font-weight: bold; box-shadow: 0 0 1px 0; padding: 5px; border-radius: 3px;background-color: #337ab7; "><a data-control-name="received_invites" routerLink="/manageview" id="ember55" data-toggle="tab" class="active" class="received_link" (click)="select('1')" style="color:white;">Received</a></span>
                  <span style="margin-left: 38px; font-weight: bold;"><a data-control-name="sent_invites" routerLink="/manageviewrec" id="ember56" class="send_link">Sent</a></span>
                  <span style="float:right;"><button class="" style="background-color: #2c4f71; color: white; border-radius: 6px;" routerLink="/network">Go To Network</button></span>
                 </nav>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="underline" style="margin-left: 0px;width: 100%;">
          <div class="row">
            <div class="col-md-12 col-sm-12 hidden-xs hidden-sm col-lg-12">
              <div class="row im1">
                <div class="nav nav-pills" style="height:32px;">
                  <div class="col-md-3 col-sm-3">
                      <a ngClass="{'active':(selected == '1')}" [ngStyle]="{'background-color': buttonColor,'color':text1}" data-toggle="tab" id="box7" class="active" (click)="select('1')">All Invitations</a>
                  </div>
                  <div class="col-md-3 col-sm-3">
                        <a ngClass="{'active':(selected == '2')}" [ngStyle]="{'background-color': tabColor2,'color':text2}" data-toggle="tab" id="box7" class="active" (click)="select('2')">From your company</a>
                  </div>
                  <div class="col-md-3 col-sm-3">
                        <a ngClass="{'active':(selected == '3')}" [ngStyle]="{'background-color': tabColor3,'color':text3}" data-toggle="tab" id="box7" class="active" (click)="select('3')">From your school</a>
                  </div>
                  <div class="col-md-3 col-sm-3">
                        <a ngClass="{'active':(selected == '4')}" [ngStyle]="{'background-color': tabColor4,'color':text4}" data-toggle="tab" id="box7" class="active" (click)="select('4')"> Has mutual connections</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <div class="tab-content clearfix">
          <div class="active">
            <!-- <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" *ngFor="let name of requestdata" style="border-bottom: 1px solid grey; height: 125px;width: 100%;margin-left: 0px;">
              <div class="row im2">
                <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2" *ngIf="name.front_photo==''" style="text-align:center">
                  <span><img src="assets/images/people.png" class="imgg7" alt="Avatar"></span>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2" *ngIf="!name.front_photo==''" style="text-align:center">
                  <span><img src="{{name.front_photo}}" class="imgg7" alt="Avatar"></span>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4" id="resdn">
                  <h3 aria-hidden="true">{{name.full_name}}</h3>
                  <p>{{name.designation}}</p>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                  <div class="row im3">
                    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                      <div class="row">
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 right">
                      <div class="row">
                        <span>
              <button type="button"class="btn frdsbtn" (click)="deleteFriendRequest(name)">Ignore</button>
              </span>
                        <span>
              <button type="button" class="btn frdsbtn" (click)="addfriendrequest(name)">Accept</button>
              </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="col-md-3 col-sm-6 col-xs-6 card common" *ngFor="let take of requestdata" style="margin: 8px;">
              <div class="" *ngIf="take.front_photo!=''">
                  <img src="{{take.front_photo}}" class="imgg1" alt="Avatar"></div>
              <div class="" *ngIf="take.front_photo==''">
                <img src="assets/images/people.png" class="imgg1" alt="Avatar"></div>
              <h4 style="font-size: 14px; height:30px;overflow: hidden;"><b class="textt1">{{take.full_name}}</b></h4>
              <div class="ignr-acpt">
                <button class="invitation-card__action-btn button-secondary-medium" data-control-name="accept">
                  <span aria-hidden="true" class="invitation-card__action-btn button-secondary-medium" (click)="deleteFriendRequest(take)">Ignore</span>
                </button>
              </div>
              <div class="ignr-acpt">
                <button class="invitation-card__action-btn button-secondary-medium" data-control-name="accept">
                  <span aria-hidden="true" class="invitation-card__action-btn button-secondary-medium" (click)="addfriendrequest(take)">Accept</span>
                </button>
              </div>
            </div>
            <p *ngIf="requestdata.length==0" style="text-align:center;">No Invitations found!</p>
          </div>
        </div>
      </section>
    </div>
  <!--  Responsive Part for Manage Invitation Received page........................... -->
  <!--  Responsive Part for Manage Invitation Received page........................... -->
  <div class="hidden-md hidden-sm hidden-xs hidden-lg boxx div-scroll">
    <section id="core-rail" class="mb4 artdeco-card">
      <div class="row">
        <div class="hidden-md col-sm-12 col-xs-12 hidden-lg" style="font-weight: bold;">
          <br>
          <span style="margin-left: 10px;font-size: 20px;">Manage Invitations</span>
        </div>
        <div class="hidden-md col-sm-3 col-xs-3 hidden-lg" style="font-weight: bold;  border-bottom: 1px solid grey; height: 50px;width: 100%;margin-left: 0px;">
          <br>
          <nav class="mn-invitation-manager__nav">
            <nav>
              <label value="1" selected="selected" data-control-name="received_invites" routerLink="/manageview" id="ember55" data-toggle="tab" class="active" class="received_link">Received:</label>
              <select (change)="select(d)" style="margin-left: 10px; width: 150px;">
                <!--      <option value="1" [selected]="selected" name="Received" data-control-name="received_invites" routerLink="/manageview" id="ember55" data-toggle="tab" class="active" class="received_link">Received</option> -->
                <option value="1" class="hidden-md col-sm-3 col-xs-3 hidden-lg">
                  <a ngClass="{'active':(selected == '1')}" [ngStyle]="{'background-color': buttonColor,'color':text1}" data-toggle="tab" id="box7" class="active" >
        All Invitations
          </a>
                </option>
                <option value="2" class="hidden-md col-sm-3 col-xs-3 hidden-lg" id="2b">
                  <a ngClass="{'active':(selected == '2')}" [ngStyle]="{'background-color': tabColor2,'color':text2}" data-toggle="tab" id="box7" class="active" >
       From your company
         </a>
                </option>
                <option value="3" class="hidden-md col-sm-3 col-xs-3 hidden-lg" id="3b">
                  <a ngClass="{'active':(selected == '3')}" [ngStyle]="{'background-color': tabColor3,'color':text3}" data-toggle="tab" id="box7" class="active" >
       From your school
          </a>
                </option>
                <option value="4" class="hidden-md col-sm-3 col-xs-3 hidden-lg" id="4b">
                  <a ngClass="{'active':(selected == '4')}" [ngStyle]="{'background-color': tabColor4,'color':text4}" data-toggle="tab" id="box7" class="active"
              style="margin-top: -52px; margin-left: 840px;">
      Has mutual connections
         </a>
                </option>
              </select>
              <span style="margin-left: 10px; font-weight: bold;"><a data-control-name="sent_invites" routerLink="/manageviewrec" id="ember56" class="send_link">Sent</a></span>
            </nav>
          </nav>
        </div>
      </div>
      <div class="tab-content clearfix">
        <div class="active">
          <!-- <div class="hidden-md col-sm-12 col-xs-12 hidden-lg" *ngFor="let name of requestdata" style="border-bottom: 1px solid grey; height: 125px;width: 100%;margin-left: 0px;">
            <div class="row im2">
              <div class="hidden-md col-sm-2 col-xs-3 hidden-lg" *ngIf="name.front_photo==''" style="text-align:center">
                <span><img src="assets/images/people.png" class="img7" alt="Avatar"></span>
              </div>
              <div class="hidden-md col-sm-2 col-xs-3 hidden-lg" *ngIf="!name.front_photo==''" style="text-align:center">
                  <span><img src="{{name.front_photo}}" class="img7" alt="Avatar"></span>
                </div>
              <div class="hidden-md col-sm-8 col-xs-8 hidden-lg" id="txtres">
                <h4 aria-hidden="true">{{name.full_name}}</h4>
              </div>
            </div>
            <div class="row im3">
              <div class="hidden-md col-sm-offset-2 col-sm-10 col-xs-offset-3 col-xs-9 hidden-lg" id="btnres">
                <span >
              <button type="button" id="dinu" class="btn btn-primary" (click)="deleteFriendRequest(name)">Ignore</button>
                     </span>
                <span>
              <button type="button" id="dinu" class="btn btn-primary" (click)="addfriendrequest(name)">Accept</button>
                      </span>
              </div>
            </div>
          </div> -->
          <div class="col-md-3 col-sm-6 col-xs-6 card common" *ngFor="let take of requestdata" style="margin: 8px;">
            <div class="" *ngIf="take.front_photo!=''">
                <img src="{{take.front_photo}}" class="imgg1" alt="Avatar"></div>
            <div class="" *ngIf="take.front_photo==''">
              <img src="assets/images/people.png" class="imgg1" alt="Avatar"></div>
            <h4 style="font-size: 14px; height:30px;overflow: hidden;"><b class="textt1">{{take.full_name}}</b></h4>
            <div class="ignr-acpt">
              <button class="invitation-card__action-btn button-secondary-medium" data-control-name="accept">
                <span aria-hidden="true" class="invitation-card__action-btn button-secondary-medium" (click)="deleteFriendRequest(take)">Ignore</span>
              </button>
            </div>
            <div class="ignr-acpt">
              <button class="invitation-card__action-btn button-secondary-medium" data-control-name="accept">
                <span aria-hidden="true" class="invitation-card__action-btn button-secondary-medium" (click)="addfriendrequest(take)">Accept</span>
              </button>
            </div>
          </div>
          <p *ngIf="requestdata.length==0" style="text-align:center;">No Invitations found!</p>
        </div>
      </div>
    </section>
  </div>
  <!-- Responsive Part End for mobile view.......................................... -->
</div>
</div>
<style>
::-webkit-scrollbar {
  display: none;
}

</style>
