<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 relate common" style="margin-top: 60px;">
  <div class="row">
    <div class="col-md-offset-3 col-lg-offset-3 col-md-5 col-sm-9 col-xs-12 col-lg-5 boxx div-scroll" style="margin-top:-10px;">
      <section id="core-rail" class="mb4 artdeco-card">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            <div class="row">
              <div class="col-md-12" style="font-weight: bold;margin: 10px;">
                <span style="margin-left: 10px;font-size: 1.4rem;">Manage Invitations</span>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3" style="font-weight: bold;  border-bottom: 1px solid grey; padding-bottom: 5px; width: 99%;">
                <nav class="mn-invitation-manager__nav">
                  <span style="margin-left: 20px; font-weight: bold;"><a data-control-name="received_invites" routerLink="/manageview" id="ember55" class="send_link">Received</a></span>
                  <span style="margin-left: 10px; font-weight: bold; box-shadow: 0 0 1px 0; padding: 5px; border-radius: 3px;background-color: #337ab7;"><a data-control-name="sent_invites" routerLink="/manageviewrec" id="ember56" class="received_link" style="color:white;">Sent</a></span> 
                  <span style="float:right;"><button class="" style="background-color: #2c4f71; color: white; border-radius: 6px;" routerLink="/network">Go To Network</button></span>                  
                </nav>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" *ngFor="let name of requestSent" style="border-bottom: 1px solid grey; height: 125px;width: 100%;margin-left: 0px;">
            <div class="row im2">
              <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2" *ngIf="name.front_photo==''">
                <span><img src="assets/images/people.png" class="imgg7" alt="Avatar"></span>
              </div>
              <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2" *ngIf="!name.front_photo==''">
                <span><img src="{{name.front_photo}}" class="imgg7" alt="Avatar"></span>
              </div>
              <div class="col-md-8 col-sm-8 col-xs-4 col-lg-8" id="resdn">
                <h3 aria-hidden="true">{{name.full_name}}</h3>
                <p>{{name.designation}}</p>
              </div>
              <div class="col-md-2 col-sm-2 col-xs-6 col-lg-2" style="padding-top:25px;">
                <button type="button" class="btn btn-primary" (click)="deleteRequestSent(name)">Cancel</button>
              </div>
            </div>
          </div>
          <p *ngIf="requestSent.length==0" style="text-align:center;">No Sent Requests found!</p>
        </div> -->
        <div class="col-md-3 col-sm-6 col-xs-6 card common" *ngFor="let take of requestSent" style="margin: 8px;">
          <div class="" *ngIf="take.front_photo!=''">
              <img src="{{take.front_photo}}" class="imgg1" alt="Avatar"></div>
          <div class="" *ngIf="take.front_photo==''">
            <img src="assets/images/people.png" class="imgg1" alt="Avatar"></div>
          <h4 style="font-size: 14px; height:30px;overflow: hidden;"><b class="textt1">{{take.full_name}}</b></h4>
          <div class="ignr-acpt">
            <button class="invitation-card__action-btn button-secondary-medium" data-control-name="accept">
              <span aria-hidden="true" class="invitation-card__action-btn button-secondary-medium" (click)="deleteRequestSent(take)">Cancel</span>
            </button>
          </div>
        </div>
        <p *ngIf="requestSent.length==0" style="text-align:center;">No Sent Requests found!</p>
      </section>
    </div>
  </div>
  <!--  Responsive Part for Manage Invitation Sent page........................... -->
  <!--  Responsive Part for Manage Invitation Sent page........................... -->
  <!-- <div class="hidden-md hidden-sm col-xs-12 hidden-lg boxx div-scroll" style="margin-top: 50px;">
    <section id="core-rail" class="mb4 artdeco-card">
      <div style="font-weight: bold;">
        <br>
        <span style="margin-left: 10px;font-size: 20px;">Manage Invitations</span>
      </div>
      <div style="font-weight: bold;  border-bottom: 1px solid grey; height: 50px;width: 1070px;margin-left: 0px;">
        <br>
        <nav class="mn-invitation-manager__nav">
          <span style="margin-left: 10px; font-weight: bold;"><a data-control-name="received_invites" routerLink="/manageview" id="ember55" class="send_link">Received</a></span>
          <span style="margin-left: 150px; font-weight: bold; box-shadow: 0 0 1px 0; padding: 5px; border-radius: 3px;background-color: #337ab7;"><a data-control-name="sent_invites" routerLink="/manageviewrec" id="ember56" class="received_link" style="color:white;">Sent</a></span> </nav>
      </div>
      <div class="hidden-md col-sm-12 col-xs-12 hidden-lg" *ngFor="let name of requestSent" style="border-bottom: 1px solid grey; height: 125px;width: 100%;margin-left: 0px;">
        <div class="row im2">
          <div class="hidden-md col-sm-2 col-xs-3 hidden-lg" *ngIf="name.front_photo==''" style="text-align:right;">
            <span><img src="assets/images/people.png" class="img7" alt="Avatar"></span>
          </div>
          <div class="hidden-md col-sm-2 col-xs-3 hidden-lg" *ngIf="!name.front_photo==''" style="text-align:right;">
            <span><img src="{{name.front_photo}}" class="img7" alt="Avatar"></span>
          </div>
          <div class="hidden-md col-sm-10 col-xs-9 hidden-lg" id="txtres">
            <h4 aria-hidden="true">{{name.full_name}}</h4>
            <p>{{name.designation}}</p>
          </div>
        </div>
        <div class="row im3">
          <div class="hidden-md col-sm-offset-2 col-sm-10 col-xs-offset-3 col-xs-8 hidden-lg" id="btnres">
            <span>
              <button type="button" class="btn btn-primary" (click)="deleteRequestSent(name)">Cancel</button>
            </span>
          </div>
        </div>
      </div>
      <p *ngIf="requestSent.length==0" style="text-align:center;">No Sent Requests found!</p>
    </section>
  </div> -->
  <!--------------------Responsive Part End for Mobile view------------------------------->
</div>
