
.drgimgcs{
  width:100px;
  height: 85px;
  border-radius: 5px;
}
.boxdiv{
  border-radius: 5px;
  border: 1px solid #d6d4d4;
  cursor:pointer;
  padding: 5px;
  margin: 0px 5px;
  background-color: white;
}
.txtdiv{
  margin: 3px 0px 0px 0px;
}
.headingcs{
  margin: 0px;
  white-space: nowrap; 
  width: 75px; 
  overflow: hidden;
  text-overflow: ellipsis; 
}
.rmcolpad{
  padding: 0px
}
.post-profile{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.profilediv{
  margin-bottom: 3px;
}
.spantxt{
  font-size: 11px;
  white-space: nowrap;
  width: 60px; 
  max-width: 60px;
  overflow: hidden;
  padding-left: 3px;
  text-overflow: ellipsis; 
  display: inline-flex;
}
.noimgvdo{
  overflow: hidden;
  width:100px;
  height: 85px;
  font-size: 10px;
  white-space: pre-wrap
}
.imgComment{
  width:30px;
  height:30px;
  border-radius: 50%;
}


/* ===> MAIN BODY CSS <=== */
.homebody{
  margin-top: 7px;
}
.fullpostbox{
  box-shadow: 1px 1px 5px 1px #d6d4d4;
  padding: 5px;
  background-color: white;
}

.post-profile1{
  width:30px;
  height: 30px;
  border-radius: 50%;
}
.profile-name{
  font-size: 15px;
  font-weight: bold;
  margin-left: 10px;
}
.postprofile{
  border-bottom: 1px solid #d6d4d4;
}
.posttime{
  float: right;
  margin: 4px 5px 0px 0px;
}
.postheading{
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  overflow-wrap: break-word;
}
.pst-txt{
  overflow-wrap: break-word;
}
.posthead{
  padding: 3px 10px;
}
.postimg{
  width: 100%;
  height: 450px;
}
.post-txt{
  padding: 3px 10px;
  /*border-bottom: 1px solid #d6d4d4;*/
}
.adsdiv{
  margin: 20px;
  border: 1px solid #d6d4d4; 
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  background-color: white;
}
.adsimg{
  width: 100%;
  height: 250px;
  border-radius: 5px;
  background-color: white;
}
.hometop{
  background-color:#f5f5f5;
  margin-top:42px;
}
.commentbox{
  /*border-bottom: 1px solid #d6d4d4;*/
}
.btnspace{
  /*margin-left: 20px;*/
  border:none;
  outline: none;
}
.commentlist{
  margin-top: 10px;
  margin-bottom: 5px;
}
.comntedtime{
  float: right;
}

.likebtn{
  border:none;
  outline: none;
}

@media only screen and (min-width:360px) and (max-width: 800px) {
  .hometop{
    margin-top:60px;
  }
}

.colwidth{
  width:3.5%;
}
.colwidth1{
  width: 92.5%;
}
.rtbtn{
  text-align: right;
}
.movebtn{
  font-size: 50px;
  color:black;
  background-color: transparent;
  color: black;
  border-radius: 50%;
  cursor: pointer;
  z-index: 20;
}
.movebtn:hover{
  background-color:#9a9393;
  color:black;   
}
.movebtndiv{
  margin-top: 40px;
  position: absolute;
}
.movebtndiv1{
  margin-top: 40px;
  position: absolute;
   margin-left: 7px;
}





/*========================update profile=====================*/
.txtcntr{
  text-align: center;
}
.updatetop{
  margin-top: 40px;
}
.avatar-preview{
  margin-left:71px;
  width: 80px;
  height: 80px;
}
.avatar-edit> input{
  display: none;
}
.imggg{
  width: 80px;
  height: 80px;
}