<div class="signupPage1 col-md-12 col-sm-12 col-xs-12">
        <div>
                <h1 class="pagg">Update Organization Profile</h1></div>
        <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 signupbox2 updateall">
                        <div class="row">
                                <div class="modal-body">
                                        <div class="col-md-6">
                                                <div class="example-container">
                                                        <!-- <div class="tabheader"> FresherDetails</div> -->
                                                        <mat-form-field style="width:280px;">
                                                                <input matInput placeholder="Organization Type" [(ngModel)]="showorg[0].org_type">
                                                        </mat-form-field>
                                                        <br>
                                                        <mat-form-field style="width:280px;">
                                                                <input matInput placeholder="Organization Email" [(ngModel)]="showorg[0].email">
                                                        </mat-form-field>
                                                        <br>
                                                        <!-- <mat-form-field style="width:280px;">
                                        <input matInput placeholder="Address" formControlName="Address" [(ngModel)]="showorg.org_type">
                                    </mat-form-field>
                                    <br> -->
                                                        <mat-form-field style="width:280px;">
                                                                <mat-select placeholder="State" name="mystate" (ngModelChange)="onSelect($event)" [(ngModel)]="showorg[0].state">
                                                                        <mat-option *ngFor="let state of states" value={{state.mystate}}>{{state.mystate}}</mat-option>
                                                                </mat-select>
                                                        </mat-form-field>
                                                        <br>
                                                        <mat-form-field style="width:280px;">
                                                                <mat-select placeholder="District" name="mydistrict" [(ngModel)]="showorg[0].district">
                                                                        <mat-option *ngFor="let district of districts" value={{district.mydistrict}}>{{district.mydistrict}}</mat-option>
                                                                </mat-select>
                                                        </mat-form-field>
                                                        <mat-form-field style="width:280px;">
                                                                <input matInput [matDatepicker]="picker1" placeholder="Organization Start Date" [(ngModel)]="showorg[0].org_start_date">
                                                                <mat-datepicker-toggle matSuffix [for]="picker1" style="font-size:24px;">
                                                                </mat-datepicker-toggle>
                                                                <mat-datepicker #picker1></mat-datepicker>
                                                        </mat-form-field>
                                                        <br>
                                                </div>
                                        </div>
                                        <div class="col-md-6">
                                                <div class="example-container">
                                                        <!-- <div class="tabheader"> FresherDetails</div> -->
                                                        <mat-form-field style="width:280px;">
                                                                <input matInput placeholder="Organization Name" [(ngModel)]="showorg[0].org_name">
                                                        </mat-form-field>
                                                        <br>
                                                        <mat-form-field style="width:280px;">
                                                                <input matInput placeholder="Mobile Number" [(ngModel)]="showorg[0].phone">
                                                        </mat-form-field>
                                                        <br>
                                                        <mat-form-field style="width:280px;">
                                                                <input matInput placeholder="City" [(ngModel)]="showorg[0].city">
                                                        </mat-form-field>
                                                        <br>
                                                        <br>
                                                        <mat-form-field style="width:280px;">
                                                                <input matInput placeholder="Pincode" [(ngModel)]="showorg[0].pincode">
                                                        </mat-form-field>
                                                        <br>
                                                </div>
                                        </div>
                                        <div>
                                        </div>
                                </div>
                                <div style="margin-top:20px;">
                                <div>
                                        <button class="btn info upd5">Edit</button>
                                        &nbsp;&nbsp;
                                        <button class="btn info updd">Save</button>
                                        <!-- <button mat-raised-button color="basic" id="nxtbutton" type="submit"
                                (click)="submitregdetails1(user1)">
                                <mat-icon class="iconstyle">arrow_forward_ios</mat-icon>
                              </button> -->
                                </div>
                                <div>
                        </div>
                </div>
        </div>
</div>
