.backgroundclr{
	background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) ),url('../../../assets/images/2.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	color: white;  
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	/*background-color: black;*/
	position: fixed;
	overflow-y: scroll;

}

.backgroundclr::-webkit-scrollbar { 
    display: none; 
}
.p{
	text-decoration-color: yellow;
}
.btncls {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
  color: black;
  outline: none;
  text-align: center;
}

.active, .btncls:hover {
  background-color: #2c4f71;
  color: white;
}


/* === > Header CSS < === */
.hedr{
	top:0;
	left: 0;
	right: 0;
	position: fixed;
	/*background-color:#130c46;*/
	background-color: #2c4f71;
	z-index: 20;
}
.hedr1{
	margin: 5px;
}
.logo_img{
	/*width: 10%;*/
	height: 25px;
	margin: 0px 10px 0px 20px;
}
.text_path{
	font-size: 20px;
	color: white;
}
.datacenter{
	text-align: center;
	color: white;
	/*margin-top: 7px;*/
	vertical-align: center;
	cursor: pointer;
}
.mobview{
	color: white!important;
	font-size: 22px; 
	float: right;
	margin-right: 50px;
}
.routercls{
	margin-top: 5%
}
.bellicon{
	color:white;
	font-size: 25px;
	text-align: center;
	margin-top: 10px;
}
.proffi-img{
	width: 45px;
	height: 45px;
	border-radius: 50%;
	cursor: pointer;
}
.proffiicon-img{
	width: 45px;
	height: 45px;
	border-radius: 50%;
	cursor: pointer;
}
#login-dp{
    min-width: 100px;
    overflow:hidden;
    background-color:rgb(90, 89, 89);
    text-align: center;
}
.dropdown-menu{
	cursor: pointer;
}
.badgeicon{
	margin-top: -15px;
	background-color: #e81a1a;
	font-size:14px;
}
.bellbadge{
	margin-left: -10px;
	margin-top: -40px;
}
.logoo{
	margin-top: 5px;
}
@media screen and (min-width:300px) and (max-width:700px){
	.routercls{
		margin-top: 30%;
		margin-bottom: 10%;
	}
  	.mobview{
		font-size: 18px;
		margin-right: 20px;
		margin-top: 0px; 
	}
	.datacenter{
		margin-top: 7px;
	}
	.text_path{
		font-size: 20px;
	}


     .routercls{
  		margin-top: 30%;
  		margin-bottom: 5%;
     }
     

	.logo_img{
		width:13%;
	}
	.logoo{
		margin-top: 10px;
	}
	.proffi-img{
		width:50px;
		height: 50px;
	}
	.proffiicon-img{
		width: 40px;
		height: 40px;
	}
	.bellicon{
		margin-top: 5px;
	}
}
/* === > Profile CSS < === */

/* .profilediv{
	margin-top: 7%;
} */
/* .profile_img{
	border-radius: 50%;
	width: 20%;
	height: 20%;
} */
.prodiv{

    /*min-height: 20px;*/
    padding: 10px;
    margin-bottom: 20px;
    /*background-color: #4d4d4d;*/
    /*border: 1px solid #e3e3e3;*/
    border-radius: 4px;
    /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);*/
    box-shadow: 0px 0px 2px 0px #e6e6e6;
    text-align: center;
    /*background-color: rgba(80, 77, 77, 0.47); */

}
.clr{
	/*color:#2729bb;*/
	color: white;
	margin-top:2px;
}
.number{
	font-size: 25px;
}

.actionlink{
	margin-top: 30px;
}


* {box-sizing: border-box}

.container {
  width: 100%;
  background-color: #ddd;
  padding-right: 0px;
  padding-left: 0px;
  border-radius: 5px;
}

.skills {
  text-align: right;
  padding: 10px;
  color: white;
}
.css {
	width: 80%; 
	background-color: #337ab7;
	border-radius: 5px;
}

/* === > Education Table CSS < === */

.addbtn{
	text-align: right;
}
.addbtn1{
	margin-top: 10px; 
}
th, td{
	text-align: center;
	font-size: 16px;
	font-weight: bold;

}

.edicon{
	/*color:#4d4d4d;*/
	color: white;
	cursor: pointer;
}
.delicon{
	margin-left: 10px;
}
/*.statusicon{
	color:#8c8c8c;
	color: white;
}*/
.status-icon-approved{
	color:#5cb85c;
	/*color: white;*/
}
.status-icon-pending{
	color:yellow;
	/*color: white;*/
}
.status-icon-declined{
	color:#f7625e;
	/*color: white;*/
}

.status-txt-approved{
	/*color:green;*/
	color: white;
	/*margin-left: 10px;*/
}
.status-txt-pending{
	/*color:yellow;*/
	color: white;
	/*margin-left: 10px;*/
}
.status-txt-declined{
	/*color:red;*/
	color: white;
	/*margin-left: 10px;*/
}

.tablediv{
	box-shadow: 0px 0px 2px 0px #e6e6e6;
	margin-top: 20px;
	background-color: rgba(80, 77, 77, 0.47);
    height: 120px;
}
.tablediv1{
	margin-bottom: 2%;
	box-shadow: 0px 0px 2px 0px #e6e6e6;
	margin-top: 20px;
	background-color: rgba(80, 77, 77, 0.47);
}
.viewbtn{
	margin-right: 15px;
	margin-top: 10px; 
}
/* mobile view css */
.aa{
	text-align: center;
}
.doc1{
	margin:10px;
	padding: 10px;
	border:2px solid rgba(146, 140, 140, 0.47);
	cursor: pointer;
}
.pending{
	color:yellow;
	font-size: 20px;
	float:left;
}
.decline{
	color:red;
	font-size: 20px;
	float: left;
}
.approve{
	color:green;
	font-size: 20px;
	float: left;
}
.bb{
	margin-bottom: 20px;
	text-align: center;
}
.NoDataDiv{
	width:100%; 
	border:1px solid white; 
	margin-bottom: 20px
}
@media only screen and (min-width: 300px) and (max-width:700px){
	.bb{
	   margin-bottom: 20px;
		}
     .addbtn{
     	text-align: left;
     }
     h3{
     	font-size: 18px;
     }
   
}
/* Modal CSS */
.backdrop{ 
	background-color:rgba(0,0,0,0.6);	
	position:fixed;
	top:0;	
	left:0;	
	width:100%;	
	height:100vh;	
}





	
	
	
	
