<div class="scrlpage">
  <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
    <div class="col-md-3">
    </div>
    <div class="pagetop col-md-12">
      <div class="col-md-4 cardcs">
        <div class="divclas" routerLink="/DataOwner/View_Documents" (click)="viewDocuments(educationDocs, 'Education')">
          <div class="digitclas col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <i class="material-icons inc">school</i>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 c ol-xs-6">
              <h5 class="fontnum">{{educationDocs.length}}</h5>
            </div>
          </div>
          <div class="txtcs">
            <h3>EDUCATION</h3>
            <table class="table table-borderless">
              <tr>
                <td class="txt-td">Approved</td>
                <td class="cunt-td">{{eduApproved.length}}</td>
              </tr>
              <tr>
                <td class="txt-td">Pending</td>
                <td class="cunt-td">{{eduPending.length}}</td>
              </tr>
              <tr>
                <td class="txt-td">Declined</td>
                <td class="cunt-td">{{eduDeclined.length}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-4 cardcs">
        <div class="divclas" routerLink="/DataOwner/View_Documents" (click)="viewDocuments(experienceDocs, 'Experience')">
          <div class="digitclas col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <i class="material-icons inc">business_center</i>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 c ol-xs-6">
              <h5 class="fontnum">{{experienceDocs.length}}</h5>
            </div>
          </div>
          <div class="txtcs">
            <h3>EXPERIENCE</h3>
            <table class="table table-borderless">
              <tr>
                <td class="txt-td">Approved</td>
                <td class="cunt-td">{{expApproved.length}}</td>
              </tr>
              <tr>
                <td class="txt-td">Pending</td>
                <td class="cunt-td">{{expPending.length}}</td>
              </tr>
              <tr>
                <td class="txt-td">Declined</td>
                <td class="cunt-td">{{expDeclined.length}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-4 cardcs">
        <div class="divclas" routerLink="/DataOwner/View_Documents" (click)="viewDocuments(financialDocs, 'Financial')">
          <div class="digitclas col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <i class="material-icons inc">account_balance</i>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 c ol-xs-6">
              <h5 class="fontnum">{{financialDocs.length}}</h5>
            </div>
          </div>
          <div class="txtcs">
            <h3>FINANCE</h3>
            <table class="table table-borderless">
              <tr>
                <td class="txt-td">Approved</td>
                <td class="cunt-td">{{finApproved.length}}</td>
              </tr>
              <tr>
                <td class="txt-td">Pending</td>
                <td class="cunt-td">{{finPending.length}}</td>
              </tr>
              <tr>
                <td class="txt-td">Declined</td>
                <td class="cunt-td">{{finDeclined.length}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-4 cardcs">
        <div class="divclas" routerLink="/DataOwner/View_Documents" (click)="viewDocuments(socialDocs, 'Social')">
          <div class="digitclas col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <i class="material-icons inc">gavel</i>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 c ol-xs-6">
              <h5 class="fontnum">{{socialDocs.length}}</h5>
            </div>
          </div>
          <div class="txtcs">
            <h3>SOCIAL</h3>
            <table class="table table-borderless">
              <tr>
                <td class="txt-td">Approved</td>
                <td class="cunt-td">{{socApproved.length}}</td>
              </tr>
              <tr>
                <td class="txt-td">Pending</td>
                <td class="cunt-td">{{socPending.length}}</td>
              </tr>
              <tr>
                <td class="txt-td">Declined</td>
                <td class="cunt-td">{{socDeclined.length}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-4 cardcs">
        <div class="divclas" routerLink="/DataOwner/View_Documents" (click)="viewDocuments(personalDocs, 'Personal')">
          <div class="digitclas col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
             <i class="material-icons inc">person</i>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 c ol-xs-6">
              <h5 class="fontnum">{{personalDocs.length}}</h5>
            </div>
          </div>
          <div class="txtcs">
            <h3>PERSONAL</h3>
            <table class="table table-borderless">
              <tr>
                <td class="txt-td">Approved</td>
                <td class="cunt-td">{{persApproved.length}}</td>
              </tr>
              <tr>
                <td class="txt-td">Pending</td>
                <td class="cunt-td">{{persPending.length}}</td>
              </tr>
              <tr>
                <td class="txt-td">Declined</td>
                <td class="cunt-td">{{persDeclined.length}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-4 cardcs">
        <div class="divclas" routerLink="/DataOwner/Owner_Requests">
          <div class="digitclas col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <i class="material-icons inc">view_comfy</i>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 c ol-xs-6">
              <h5 class="fontnum">{{allSeekerReq.length}}</h5>
            </div>
          </div>
          <div class="txtcs">
            <h3>Seeker Requests</h3>
            <table class="table table-borderless">
              <tr>
                <td class="txt-td">Pending Requests</td>
                <td class="cunt-td">{{pendingSeekerReq.length}}</td>
              </tr>
              <tr>
                <td class="txt-td">Approved Requests</td>
                <td class="cunt-td">{{approvedSeekerReq.length}}</td>
              </tr>
              <tr>
                <td class="txt-td">Declined Requests</td>
                <td class="cunt-td">{{declinedSeekerReq.length}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style type="text/css">

.cardcs{
  margin-bottom: 7%;
  margin-top: 2%;
  outline: none;
}
.divclas{
  background-color: rgba(125, 125, 125, 0.5);
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform .9s;
}
.divclas:hover{
   transform: scale(1.1); 
}
.digitclas{
  /*background-color:#ef5350;*/
  /*background:linear-gradient(60deg,#563432,#ad2825)!important; */
  background: linear-gradient(60deg,#4a6977,#1bb5fb)!important;
  margin-top: -25px;
  border-radius: 5px;

}
.grpicn{
  /*color: white;*/
  margin-top: 7px;
  /*font-size: 30px;*/

}
.inc{
  /*color:white;*/
  font-size: 35px;
  margin-top: 7px;
}
.fontnum{
  font-size: 25px;
}
.txtcs{
  margin: 30px 0px 10px 0px; 
}
.table-borderless td,
.table-borderless th {
    border: 0;
}
.txt-td{
  text-align: left;
  padding-left: 10%;
}
.cunt-td{
  text-align: right;
  padding-right: 10%;
}
</style>
 

    
