<div class="col-md-10 col-md-offset-1">
   <div id="myDIV" class="row">		
		<div class="col-md-4">
			 <h4 class="btncls active" (click)="pendingreqfun()" id="pendingbtn"><span>Pending Requests ({{pendingSeekerReq1.length}})</span></h4>
		</div>
		<div class="col-md-4">
			<h4 class="btncls" (click)="approvereqfun()" id="approvedbtn"><span>Approved Requests ({{approvedSeekerReq1.length}})</span></h4>
	   </div>
		<div class="col-md-4">
			 <h4 class="btncls" (click)="declinedreqfun()" id="declinedbtn" ><span>Declined Requests ({{declinedSeekerReq1.length}})</span></h4>
		</div>
	</div>
<!-- 	<div class="row btntxt">
		<button class="btn btn-primary stbtns pendbtn" (click)="pendingreqfun()" id="pendingbtn">Pending Requests ({{pendingSeekerReq1.length}})</button>
		<button class="btn btn-primary stbtns" (click)="approvereqfun()" id="approvedbtn">Approved Requests ({{approvedSeekerReq1.length}})</button>
		<button class="btn btn-primary stbtns decbtn" (click)="declinedreqfun()" id="declinedbtn">Declined Requests ({{declinedSeekerReq1.length}})</button>
	</div> -->
	<!-- <br> -->
	<div class="row tablediv">
		<div class="row txt" *ngIf = "!ownerReqs[0]">
			<h4>No Requests.</h4>
		</div>
		<table class="table">
			<tr *ngFor='let ownerReq of ownerReqs'>
				<td>{{ownerReq.seeker_name}}</td>
				<td>{{ownerReq.seeker_phone}}</td>
				<td>{{ownerReq.seeker_email}}</td>
				<td>{{ownerReq.ReqDate | slice:0:19}}</td>
				<td *ngIf = "ownerReq.ownerReqStatus == 'PENDING' ">
					<button class="btn btn-success actionicon" matTooltip="Approve" aria-label="Button that displays a tooltip when focused or hovered over" (click) = "changeReqStatus('APPROVED',ownerReq.id)">Approve</button>
				     <button class="btn btn-danger actionicon pendicon" matTooltip="Decline" aria-label="Button that displays a tooltip when focused or hovered over" (click) = "changeReqStatus('DECLINED',ownerReq.id)">Decline</button>
				</td>
			</tr>
		</table>
	</div>
</div>

<div class="col-md-10 col-md-offset-1">
	<button class="btn btn-primary" routerLink="/DataOwner" style="margin-top:30px">Back</button>
</div>
  


<style type="text/css">
.actionicon{
	color:white;
	cursor: pointer;
}
.pendicon{
	margin-left: 10px;
}
/*.stbtns{
	background-color: white;
	color:black;
	border-radius: 0px;
	padding: 10px 20px;
	outline: line;
}*/

.txt{
	text-align: center;
}
/*.btntxt{
	text-align: right;
}*/
/*.pendbtn{
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
}
.decbtn{
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
}*/
.tablediv{
	box-shadow: 0px 0px 2px 0px #e6e6e6;
	/*margin-top: 0px;*/
	background-color: rgba(80, 77, 77, 0.47);
	/*padding-bottom: 5px;*/
}
</style>