<div  class="col-md-12 backgroundclr">
	<div class="row  hedr">
		<div class="row hedr1">
			<div class="col-sm-7 col-xs-7 col-md-4 col-lg-4 logoo">
				<img src="assets/images/Logonew.png" class="logo_img">
	        	<span class="text_path">PEHACHAIN</span>
			</div>
			<div class="col-md-5 col-lg-5">
				
			</div>		
			<div class="col-sm-5 col-xs-5 col-md-3 col-lg-3 datacenter">			
				<span class="glyphicon glyphicon-bell bellicon" routerLink="/DataOwner/Owner_notification"></span>
				<!-- <span class="badge badgeicon bellbadge">2</span> -->
	            <a class="mobview ">
	            	<div *ngIf="!profi" class="dropdown">
				      <img src="../../assets/images/people.png" class="proffiicon-img dropdown-toggle" data-toggle="dropdown">
				      	<ul id="login-dp" class="dropdown-menu">
							<li (click)="logoutPrivate()">Logout</li>
						</ul>
				    </div>
				    <div *ngIf="profi" class="dropdown">
				      <img src="{{profi}}" class="proffi-img dropdown-toggle" data-toggle="dropdown">
				    	<ul id="login-dp" class="dropdown-menu">
							<li (click)="logoutPrivate()">Logout</li>
						</ul>
				    </div>
	            </a>
			</div>
		</div>
	</div>
	<div  class="routercls">
		<router-outlet ></router-outlet>
	</div>
</div>