.bkbtn{
	margin-top: 20px;
}
.statustxt{
	color: green;
}
/*.pgtop{
	margin-top: 30px;
}

*/
.rs{
	display: block;
}


.btncls {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
  color: black;
  outline: none;
  text-align: center;
}

.active, .btncls:hover {
  /* background-color: #666; */
  background-color: #2c4f70;
  color: white;
}
.pagebotm{
	margin-bottom: 30px;
}

.bkbtndiv{
	bottom: 50;
	position: fixed;
}

.proffi-img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
}
.proffiicon-img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
}
.tpmargn{
  margin-top: 15px;
}

@media screen and (min-width:300px) and (max-width:700px){

.proffi-img{
    width:50px;
    height: 50px;
  }
  .proffiicon-img{
    width: 40px;
    height: 40px;
  }
}


mat-form-field{
  font-size: 16px;
  margin-bottom:10px;
}

.matvalue ::ng-deep .mat-select-value{
  color:white;
}
