<h1 style="text-align: center;">Credit Amount</h1>

<div class="col-md-10 col-md-offset-1 pagtop">
	<mat-accordion *ngFor="let wallet of creditWallets">
	  <mat-expansion-panel>
	    <mat-expansion-panel-header>
	      <mat-panel-title class="col-md-4">
		      <img src="../../assets/images/people.png" class="proffiicon-img" *ngIf="!wallet.owner_propic">
		      <img src="{{wallet.owner_propic}}" class="proffi-img" *ngIf="wallet.owner_propic">
	      </mat-panel-title>	      
	      <mat-panel-description class="col-md-4 tpmargn">
	        {{wallet.owner_fullname}}
	      </mat-panel-description>
	      <mat-panel-description class="col-md-4 tpmargn">
	        Rs.{{wallet.credit_amount}}
	      </mat-panel-description>
	    </mat-expansion-panel-header>
	    <div class="col-md-6">
	    	<p>Mobile: {{wallet.owner_mobile}}</p>
	    </div>
	    <div class="col-md-6">
	    	<p>Email: {{wallet.owner_email}} </p>
	    </div>
	    <!-- <div class="col-md-4">
	    	<p>Total Docs: {{creditWallets.docs_ids.length}}</p>
	    </div> -->
	  </mat-expansion-panel>
	  <mat-expansion-panel (opened)="panelOpenState = true"
	                       (closed)="panelOpenState = false">
	  </mat-expansion-panel>
	  <div style="margin-top: 10px;"></div>
	</mat-accordion>
</div>

