<h1 style="text-align: center;">Realised Amount</h1>

<div class="col-md-10 col-sm-10 col-xs-10 col-md-offset-2">
<mat-dialog-content>

    <form [formGroup]="realisedata" (ngSubmit)="walletbankdetails()">
      <div class="row fieldcs">
        <div class="col-md-6">
          <div class="example-container">
            <mat-form-field class="waletfrm">
              <input matInput placeholder="Name as per the Account" formControlName = "Name" (keypress)="keyPress($event)">
              <mat-error *ngIf="realisedata.invalid">Name is required</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="waletfrm">
             	<mat-select placeholder="Bank Name" formControlName="bank_name" class="matvalue">
				    <mat-option *ngFor="let bank of BankNames" value={{bank}}>{{bank}}
					</mat-option>
				</mat-select>
				<mat-error *ngIf="realisedata.invalid">Bank Name is required</mat-error>
            </mat-form-field>
            <br>
             <mat-form-field class="waletfrm">
              <input matInput placeholder="IFSC Code" formControlName = "ifsc_code" (keypress)="keyPress11($event)" minlength="11" maxlength="11">
              <mat-error *ngIf="realisedata.invalid">IFSC code is required</mat-error>
            </mat-form-field>
            <br>
        </div>
    </div>
    <div class="col-md-6">
          <div class="example-container">
            <mat-form-field class="waletfrm">
              <input matInput placeholder="Account Number" formControlName = "account_number" (keypress)="keyPress1($event);" minlength="8" maxlength="16">
               <mat-error *ngIf="realisedata.hasError('required', 'account_number')">Account Number is required</mat-error>
            </mat-form-field>
            <br>
             <mat-form-field class="waletfrm">
              <input matInput placeholder="Confirm Account Number" formControlName ="confirm_accountnum" (keypress)="keyPress1($event);" maxlength="16" [errorStateMatcher]="matcher">
             <mat-error style="color: red" class="bg-danger" *ngIf="realisedata.hasError('notSame')">Accout Number does not match</mat-error>
            </mat-form-field>
            <br>
             <mat-form-field class="waletfrm">
              <input matInput placeholder="Enter Amount" formControlName = "enter_amount" (keypress)="keyPress1($event);">
               <mat-error *ngIf="realisedata.invalid">please enter amount</mat-error>
            </mat-form-field>
            <br>
        </div>
    </div>
</div>
<div class="col-md-6 sendbtun">
	<button class="btn btn-primary sendbtn" [disabled]="realisedata.invalid" type="submit">Send Request</button>
</div>
    </form>
</mat-dialog-content>
</div>


<style type="text/css">
	
.fieldcs ::ng-deep .mat-form-field-ripple, .fieldcs  ::ng-deep .mat-form-field-underline{
	color:white !important;
	background-color: white !important;
}

.fieldcs ::ng-deep .mat-form-field-label {
	color:white !important;
}

.fieldcs ::ng-deep .mat-radio-outer-circle {
	border-color:white !important;
}
mat-form-field {
	/*font-size: 16px;*/
	/*margin-bottom:10px;*/
}
.waletfrm {
	width: 70%;
}
.fieldcs {
	margin-top: 10%;
}
.sendbtun {
	margin-top: 10%;
	margin-left: 65%;
}

.fieldcs .matvalue ::ng-deep .mat-select-value {
	color:white;
}
</style>