<div class="col-md-10 col-md-offset-1 pagtop">
	<!-- <div class="row">
		<button class="btn btn-primary bkbtn" routerLink="/DataAccessor">Back</button>
	</div> -->
	<div id="myDIV">
		
		<div class="col-md-4">
			 <h4 class="btncls" routerLink="/DataAccessor/Wallets/CreditAmount/" ><span>Credit Amount Rs. {{CreditedAmount}}</span></h4>
		</div>
		<div class="col-md-4">
			<h4 class="btncls active" routerLink="/DataAccessor/Wallets" ><span>Realized Amount Rs. {{RealisedAmount}}</span></h4>
	   </div>
		<div class="col-md-4">
			 <h4 class="btncls" routerLink="/DataAccessor/Wallets/AccessorPay" ><span>Payment History</span></h4>
		</div>
	</div>

	<div class="row">
		<router-outlet></router-outlet>
	</div>
	<div class="row bkbtndiv">
		<button class="btn btn-primary bkbtn" routerLink="/DataAccessor">Back</button>
	</div>
</div>

